Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/db/node: Cleanup node offline messages
  internal/server/db/node.go
Labels: none

api: network_bridge_multicast_snooping
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/network/bridge: Add bridge.multicast_snooping config key
  internal/server/network/driver_bridge.go
  internal/server/network/network_utils_bridge.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/storage: Use InstanceByVolumeName in qcow2MigrateVolume
  internal/server/storage/backend.go
Labels: none

incusd/storage: Add lock handling for NBD operations
  internal/server/storage/backend.go
  internal/server/storage/utils.go
Labels: none

incusd/locking: Add TryLock
  internal/server/locking/lock.go
Labels: none

incusd/storage/drivers: Add support for block.create_options
  doc/config_options.txt
  internal/server/metadata/configuration.json
  internal/server/storage/drivers/driver_btrfs.go
  internal/server/storage/drivers/driver_ceph_volumes.go
  internal/server/storage/drivers/driver_linstor_volumes.go
  internal/server/storage/drivers/driver_lvm_utils.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/driver_truenas_volumes.go
  internal/server/storage/drivers/driver_zfs_volumes.go
  internal/server/storage/drivers/utils.go
  internal/server/storage/drivers/utils_test.go
Labels: Documentation

tests: Add test for block.create_options
  test/includes/storage.sh
  test/suites/storage.sh
  test/suites/storage_driver_btrfs.sh
  test/suites/storage_driver_ceph.sh
  test/suites/storage_driver_linstor.sh
  test/suites/storage_driver_truenas.sh
  test/suites/storage_driver_zfs.sh
Labels: none

server/sys: Refactor selinux.go and add file labeling functions
  internal/server/sys/selinux.go
Labels: none

shared/subprocess: Extend to support SELinux
  shared/subprocess/proc.go
Labels: none

incusd/daemon: Initialize SELinux support on incusd init
  cmd/incusd/daemon.go
Labels: none

drivers/driver_common: Rename and extend selinuxContext(), use selinux package
  internal/server/instance/drivers/driver_common.go
Labels: none

drivers/driver_lxc.go: Refactor SELinux support, add file labeling
  internal/server/instance/drivers/driver_lxc.go
Labels: none

drivers/driver_qemu.go: Add SELinux support
  internal/server/instance/drivers/driver_qemu.go
  internal/server/project/permissions.go
Labels: none

server/project: Add permissions for SELinux config options
  internal/server/project/permissions.go
Labels: none

server/sys: Update SELinux support in OS struct, add global lock and helper functions
  internal/server/sys/os.go
Labels: none

shared/validate: Add SELinux validation functions
  shared/validate/validate.go
Labels: none

instance/config: Add SELinux config keys
  internal/instance/config.go
Labels: none

Add go-selinux package dependency
  go.mod
  go.sum
Labels: none

incusd: move most selinux functionality into new selinux package
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/selinux/alloc.go
  internal/server/selinux/instance.go
  internal/server/selinux/selinux.go
  internal/server/sys/os.go
  internal/server/sys/selinux.go
Labels: none

drivers/driver_common: add selinuxCollectUsedLevels()
  internal/server/instance/drivers/driver_common.go
Labels: none

instance/drivers: adapt to new selinux package
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

drivers/driver_qemu: add comment
  internal/server/instance/drivers/driver_qemu.go
Labels: none

sys/selinux: use aliased go-selinux functions
  internal/server/sys/selinux.go
Labels: none

server/selinux: v6 -> v7 in imports
  internal/server/selinux/alloc.go
  internal/server/selinux/instance.go
  internal/server/selinux/selinux.go
Labels: none

devcontainer: fix golangci-lint install source
  .devcontainer/Dockerfile
Labels: none

devcontainer: update golangci-lint install URL
  .devcontainer/Dockerfile
Labels: none

doc: add agent entry to config
  doc/config_options.txt
Labels: Documentation

internal/instance: add agent entry to config
  internal/instance/config.go
Labels: none

internal/server: add agent entry to metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

internal/server: fire agent events after checking current state
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
Labels: none

server/selinux: Improve error message if LsetFileLabel fails
  internal/server/selinux/selinux.go
Labels: none

selinux: remove dead code
  internal/server/selinux/selinux.go
Labels: none

shared/subprocess/proc.go: use alias for external selinux package
  shared/subprocess/proc.go
Labels: none

proc: lint: fix import order
  shared/subprocess/proc.go
Labels: none

selinux/alloc.go: lint: unexport AllocMaxAttempts
  internal/server/selinux/alloc.go
Labels: none

linter fixes
  internal/server/selinux/alloc.go
  internal/server/selinux/instance.go
  shared/subprocess/proc.go
Labels: none

incusd/storage/drivers: Restore config volume as part of VM block restoration
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none

doc: Update Ansible section with incus-client details
  doc/third_party.md
Labels: Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
