Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

internal/linux: Don't needlessly use format string functions
  internal/linux/discard.go
  internal/linux/filesystem.go
  internal/linux/poll.go
  internal/linux/pty.go
Labels: none

internal/instance: Don't needlessly use format string functions
  internal/instance/config.go
  internal/instance/device.go
  internal/instance/expiry.go
Labels: none

internal/filter: Don't needlessly use format string functions
  internal/filter/clause.go
  internal/filter/match.go
Labels: none

internal/cmd: Don't needlessly use format string functions
  internal/cmd/cancel.go
Labels: none

incus-migrate: Prompt for cluster target
  cmd/incus-migrate/main_migrate.go
  cmd/incus-migrate/migrate_instance.go
  cmd/incus-migrate/migrate_ova.go
  cmd/incus-migrate/migrate_volume.go
Labels: none

incus/instance/qmp: Implement our own QMP client
  internal/server/instance/drivers/qmp/qmp.go
Labels: none

incusd/instance/qmp: Add tests for in-house QMP
  internal/server/instance/drivers/qmp/qmp_test.go
Labels: none

incusd/instance/qmp: Switch to our own QMP client
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

incusd/instance/qmp: Don't export internal QMP implementation
  internal/server/instance/drivers/qmp/commands.go
  internal/server/instance/drivers/qmp/monitor.go
  internal/server/instance/drivers/qmp/qmp.go
  internal/server/instance/drivers/qmp/qmp_test.go
Labels: none

Make sure limits.memory <= root.size.state
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qmp: if else if to switch case
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

incusd/instance/qmp: Remove weird qemu qmp bug handling
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

incusd/db/node: Add GetPendingNodeByName
  internal/server/db/node.go
Labels: none

incusd/instance/qmp: Refactor qmpWriteMsg
  internal/server/instance/drivers/qmp/monitor.go
  internal/server/instance/drivers/qmp/qmp.go
Labels: none

api: network_ovn_external_nic_address
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/device/nic_ovn: Added the two new nic options
  internal/server/device/nic_ovn.go
Labels: none

incusd/network/ovn: Add support for applying external address
  internal/server/network/driver_ovn.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/db/cluster: Update generated files
  internal/server/db/cluster/certificates.mapper.go
  internal/server/db/cluster/cluster_groups.mapper.go
  internal/server/db/cluster/images.mapper.go
  internal/server/db/cluster/instances.mapper.go
  internal/server/db/cluster/mapper_boilerplate.go
  internal/server/db/cluster/network_acls.mapper.go
  internal/server/db/cluster/networks_integrations.mapper.go
  internal/server/db/cluster/nodes_cluster_groups.mapper.go
  internal/server/db/cluster/operations.mapper.go
  internal/server/db/cluster/profiles.mapper.go
  internal/server/db/cluster/projects.mapper.go
  internal/server/db/cluster/snapshots.mapper.go
  internal/server/db/cluster/warnings.mapper.go
Labels: none

api: network_physical_gateway_hwaddr
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/network/ovn: Bump base schema to 23.03.0
  Makefile
  internal/server/network/ovn/schema/ovn-ic-sb/model.go
  internal/server/network/ovn/schema/ovn-nb/chassis_template_var.go
  internal/server/network/ovn/schema/ovn-nb/logical_switch_port.go
  internal/server/network/ovn/schema/ovn-nb/mirror.go
  internal/server/network/ovn/schema/ovn-nb/model.go
  internal/server/network/ovn/schema/ovn-nb/nat.go
  internal/server/network/ovn/schema/ovn-nb/static_mac_binding.go
  internal/server/network/ovn/schema/ovn-sb/chassis_template_var.go
  internal/server/network/ovn/schema/ovn-sb/load_balancer.go
  internal/server/network/ovn/schema/ovn-sb/mac_binding.go
  internal/server/network/ovn/schema/ovn-sb/mirror.go
  internal/server/network/ovn/schema/ovn-sb/model.go
  internal/server/network/ovn/schema/ovn-sb/port_binding.go
  internal/server/network/ovn/schema/ovn-sb/static_mac_binding.go
Labels: none

incusd/network/physical: Add gateway hwaddr config
  internal/server/network/driver_physical.go
Labels: none

incusd/network/ovn: Add StaticBinding functions
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incusd/network/ovn: Add support for static MAC binding
  internal/server/network/driver_ovn.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

typo: mountabble -> mountable
  internal/server/storage/drivers/volume.go
Labels: none

typo: DIsk -> Disk
  shared/api/resource.go
Labels: API

typo: mount -> unmount
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

incusd/storage: fix squashfs unpacking to NFS destinations
  internal/linux/filesystem.go
  shared/archive/archive.go
Labels: none

incusd/cluster: Add support for pending nodes in Leave and Purge functions
  internal/server/cluster/membership.go
  internal/server/cluster/membership_test.go
Labels: none

client: Add DeletePendingClusterMember
  client/incus_cluster.go
  client/interfaces.go
Labels: none

incusd/instance/qmp: Associate request/reply with a command ID
  internal/server/instance/drivers/qmp/qmp.go
  internal/server/instance/drivers/qmp/qmp_test.go
Labels: none

incusd: Remove cluster member on join failure
  cmd/incusd/api_cluster.go
Labels: none

incusd/instance/qmp: Add command ID to runWithFile
  internal/server/instance/drivers/qmp/commands.go
  internal/server/instance/drivers/qmp/monitor.go
  internal/server/instance/drivers/qmp/qmp.go
Labels: none

incusd/instance/qmp: Add command ID to RunJSON
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/qmp/monitor.go
  internal/server/scriptlet/qemu.go
Labels: none

incusd/instance/qemu: Use switch statement
  internal/server/instance/drivers/driver_qemu.go
Labels: none

internal/instance: Add RTC volatile keys
  internal/instance/config.go
Labels: none

incusd/instance/qemu: Handle RTC base adjustments
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
