Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/instance: Treat pool and project changes as migrations
  cmd/incusd/instance_post.go
Labels: none

api: network_bridge_dns_include_hosts
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/network/bridge: Add dns.include_hosts
  internal/server/network/driver_bridge.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

tests: Add dns.include_hosts test
  test/suites/network.sh
Labels: none

incusd/db/query: Fix giving-up warning in Retry
  internal/server/db/query/retry.go
Labels: none

incusd/cluster: Fix IsCowsqlNode return value
  internal/server/cluster/gateway.go
Labels: none

incusd/cluster: Fix lock leak in heartbeat Send
  internal/server/cluster/heartbeat.go
Labels: none

incusd/cluster: Fix typos
  internal/server/cluster/heartbeat.go
  internal/server/cluster/membership.go
Labels: none

doc: Mention FreeBSD client
  doc/installing.md
Labels: Documentation

incusd: Restore in-memory config when update triggers fail
  cmd/incusd/api_1.0.go
Labels: none

incusd/config: Distinguish unset keys from explicit defaults
  internal/server/config/map.go
  internal/server/config/map_test.go
Labels: none

tests: Add server config default value test
  test/suites/serverconfig.sh
Labels: none

incusd: Allow unsetting OVN connection when no OVN network exists
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
Labels: none

tests: Add OVN server config test
  test/suites/serverconfig.sh
Labels: none

incusd/network/ovn: Inherit uplink bridge MTU when none is configured
  internal/server/network/driver_ovn.go
Labels: none

tests: Check OVN uplink veth MTU
  test/suites/network_ovn.sh
Labels: none

incusd: Don't close a nil pipe reader on backup failure
  cmd/incusd/instance_backup.go
  cmd/incusd/storage_buckets_backup.go
  cmd/incusd/storage_volumes_backup.go
Labels: none

incusd/storage/ceph: Fix qemu-nbd image spec
  internal/server/storage/drivers/driver_ceph_utils.go
Labels: none

tests: Add ceph librbd test
  test/main.sh
  test/suites/storage_driver_ceph.sh
Labels: none

github: Install qemu with librbd support for ceph tests
  .github/workflows/tests.yml
Labels: none

cmd/incus: Remove url escape for spice socket path.
  cmd/incus/console.go
Labels: none

incusd/storage/drivers: Add ReconnectQemuNbd and DisconnectQemuNbdWait
  internal/server/storage/drivers/utils_qcow2.go
Labels: none

incusd/storage/ceph: Reconnect NBD devices in place after resize
  internal/server/storage/drivers/driver_ceph_utils.go
  internal/server/storage/drivers/driver_ceph_volumes.go
Labels: none

tests: Add ceph-librbd driver to VM storage suites
  test/suites/storage_vm.sh
  test/suites/storage_volumes_vm.sh
Labels: none

github: Run VM storage tests on ceph-librbd
  .github/workflows/tests.yml
Labels: none

incus-agent: Fix paths on BSDs
  cmd/incus-agent/os_bsd.go
  cmd/incus-agent/os_darwin.go
  cmd/incus-agent/os_freebsd.go
  cmd/incus-agent/os_netbsd.go
Labels: none

incus-agent: Factor code for UNIXes
  cmd/incus-agent/os_bsd.go
  cmd/incus-agent/os_common.go
  cmd/incus-agent/os_linux.go
  cmd/incus-agent/os_unix.go
  cmd/incus-agent/os_windows.go
Labels: none

incusd/instance/qemu/qmp: Be lenient about events with trailing \r
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

incus-agent: Please gofumpt
  cmd/incus-agent/os_windows.go
Labels: none

incusd/instance/qemu: Disable multiport serial on NetBSD
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incusd/instance/qemu: Remove unused argument
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd: Fix typo
  cmd/incusd/instance_post.go
Labels: none

incusd/instance/drivers: Update serial tests
  internal/server/instance/drivers/driver_qemu_config_test.go
Labels: none

incusd/instance/qemu: Make template application more robust
  internal/server/instance/drivers/driver_qemu.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instance/config: Add volatile.last_state.agent.once
  internal/instance/config.go
Labels: none

doc/instance/create: Document new NetBSD tuning
  doc/howto/instances_create.md
Labels: Documentation

incusd/instance/agent-loader: Log agent output
  internal/server/instance/drivers/agent-loader/rc.d-freebsd/incus-agent
  internal/server/instance/drivers/agent-loader/rc.d-netbsd/incus-agent
Labels: none

doc: Add multiport to wordlist
  doc/.wordlist.txt
Labels: Documentation
