Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

generate-config: Move to cmd package
  Makefile
  cmd/generate-config/README.md
  cmd/generate-config/incus_doc.go
  cmd/generate-config/incus_doc_test.go
  cmd/generate-config/main.go
Labels: none

incus/storage/drivers: Fix issue with lvmcluster storage pool creation
  internal/server/storage/drivers/driver_lvm.go
  internal/server/storage/drivers/driver_lvm_utils.go
Labels: none

generate-database: Rename from incus-generate
  Makefile
  cmd/generate-database/README.md
  cmd/generate-database/file/write.go
  cmd/generate-database/root.go
  internal/server/db/cluster/certificate_projects.go
  internal/server/db/cluster/certificate_projects.mapper.go
  internal/server/db/cluster/certificates.go
  internal/server/db/cluster/certificates.mapper.go
  internal/server/db/cluster/cluster_groups.go
  internal/server/db/cluster/cluster_groups.mapper.go
  internal/server/db/cluster/config.go
  internal/server/db/cluster/config.mapper.go
  internal/server/db/cluster/devices.go
  internal/server/db/cluster/devices.mapper.go
  internal/server/db/cluster/images.go
  internal/server/db/cluster/images.mapper.go
  internal/server/db/cluster/instance_profiles.go
  internal/server/db/cluster/instance_profiles.mapper.go
  internal/server/db/cluster/instances.go
  internal/server/db/cluster/instances.mapper.go
  internal/server/db/cluster/networks_integrations.go
  internal/server/db/cluster/networks_integrations.mapper.go
  internal/server/db/cluster/nodes.go
  internal/server/db/cluster/nodes.mapper.go
  internal/server/db/cluster/nodes_cluster_groups.go
  internal/server/db/cluster/nodes_cluster_groups.mapper.go
  internal/server/db/cluster/operations.go
  internal/server/db/cluster/operations.mapper.go
  internal/server/db/cluster/profiles.go
  internal/server/db/cluster/profiles.mapper.go
  internal/server/db/cluster/projects.go
  internal/server/db/cluster/projects.mapper.go
  internal/server/db/cluster/snapshots.go
  internal/server/db/cluster/snapshots.mapper.go
  internal/server/db/cluster/update.go
  internal/server/db/cluster/warnings.go
  internal/server/db/cluster/warnings.mapper.go
  internal/server/db/schema.go
Labels: none

generate-config: Rename from incus-doc
  Makefile
  cmd/generate-config/README.md
  cmd/generate-config/incus_doc.go
  cmd/generate-config/incus_doc_test.go
  cmd/generate-config/main.go
  doc/config_options.txt
Labels: Documentation

DEBUG
  .github/workflows/tests.yml
Labels: none

github: Workaround permission problems
  .github/workflows/tests.yml
Labels: none

internal/instance: Move user config key doc string
  internal/instance/config.go
Labels: none

internal/instance: Add environment config keys docstring
  internal/instance/config.go
Labels: none

incusd/internal/server/instance: Add qemuEscapeCmdline
  internal/server/instance/drivers/util.go
Labels: none

incusd/internal/server/instance: Use qemuEscapeCmdline
  internal/server/instance/drivers/driver_qemu.go
Labels: none

api: instance_smbios
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

internal/instance: Add smbios config keys
  internal/instance/config.go
Labels: none

incusd/instance/drivers/qemu: Implement smbios config keys
  internal/server/instance/drivers/driver_qemu.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/cluster/config: Add Linstor storage config options
  internal/server/cluster/config/config.go
Labels: none

incusd/node/config: Add storage.linstor.satellite.name
  internal/server/node/config.go
Labels: none

incus: Fix instance copy error when using '--refresh' flag
  cmd/incusd/instance_snapshot.go
  cmd/incusd/instances_post.go
Labels: none

incusd/storage/linstor: Linstor client setup
  go.mod
  go.sum
  internal/server/storage/linstor/linstor.go
Labels: none

cmd/incusd: Trigger Linstor client setup on server config changes
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
Labels: none

incusd/state: Add Linstor client to server state
  internal/server/state/state.go
Labels: none

incusd/storage/linstor: Volume creation and deletion
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

shared/validate: Add string length validator
  shared/validate/validate.go
Labels: none

incusd/storage/linstor: Storage pool creation and deletion
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/load.go
Labels: none

doc/network_load_balancers: Fix backend add instructions
  doc/howto/network_load_balancers.md
Labels: Documentation

doc: Add frontend to wordlist
  doc/.wordlist.txt
Labels: Documentation

incusd/instance/utils: Only check uid/gid for containers
  internal/server/instance/instance_utils.go
Labels: none

incusd/main_nsexec: Fix change_namespaces fallback to handle multiple namespaces
  cmd/incusd/main_nsexec.go
Labels: none

incusd/main_nsexec: Fix change_namespaces fallback to handle multiple namespaces
  cmd/incusd/main_nsexec.go
Labels: none

incusd/instance/utils: Only check uid/gid for containers
  internal/server/instance/instance_utils.go
Labels: none

incus/storage: implement the Filler function for Linstor volumes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add mount and unmount support for volumes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

generate-database: Use types.Package
  cmd/generate-database/db/mapping.go
  cmd/generate-database/db/method.go
  cmd/generate-database/db/parse.go
  cmd/generate-database/db/parse_test.go
  cmd/generate-database/db/stmt.go
  cmd/generate-database/lex/parse.go
  cmd/generate-database/lex/parse_test.go
Labels: none

generate-database: Remove support for separate database package
  cmd/generate-database/db.go
  cmd/generate-database/db/mapping.go
  cmd/generate-database/db/method.go
  cmd/generate-database/db/stmt.go
Labels: none

Add error message detail
  internal/cmd/table.go
Labels: none

list/format: ignore extra comma
  internal/cmd/table.go
Labels: none

test: Add standalone LINSTOR tests
  test/backends/linstor.sh
  test/includes/storage.sh
  test/main.sh
  test/suites/basic.sh
  test/suites/storage_driver_linstor.sh
Labels: none

incusd/storage/linstor: Add trivial renaming support for volumes
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

test: Fix database test cleanup
  test/suites/database.sh
Labels: none

internal/migration: Update protobuf
  internal/migration/migrate.pb.go
  internal/migration/migrate.proto
Labels: none

doc: Linstor driver documentation
  doc/.wordlist.txt
  doc/explanation/storage.md
  doc/reference/storage_ceph.md
  doc/reference/storage_drivers.md
  doc/reference/storage_linstor.md
Labels: Documentation
