Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/storage/linstor: Add support for mounting and unmounting snapshot volumes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

api: storage_driver_linstor
  doc/api-extensions.md
Labels: API, Documentation

incusd/storage/linstor: Add support for resizing volumes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

internal/migration: Update protobuf
  internal/migration/migrate.pb.go
  internal/migration/migrate.proto
Labels: none

incusd/storage: Add more parameters to MigrationTypes
  cmd/incusd/migrate_storage_volumes.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
  internal/server/storage/drivers/driver_btrfs.go
  internal/server/storage/drivers/driver_ceph.go
  internal/server/storage/drivers/driver_cephfs.go
  internal/server/storage/drivers/driver_cephobject.go
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_zfs.go
  internal/server/storage/drivers/interface.go
  internal/server/storage/pool_interface.go
Labels: none

incusd/instance/drivers: Populate StorageMove and StoragePool when migrating lxc instances
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/storage/linstor: Add basic support for same-pool migration
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Fallback to generic migration implementation
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add support for generic refreshing of volumes
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

test: Fix deprecated chown syntax
  test/suites/basic.sh
Labels: none

incusd/storage: Populate StorageMove and StoragePool when migrating volumes
  internal/server/storage/backend.go
Labels: none

incusd/storage/linstor: Add support for non optimized backups
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add support for listing volumes
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add support for updating storage pool config
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
Labels: none

github: Add LINSTOR CI tests
  .github/workflows/tests.yml
Labels: none

incusd/storage/linstor: Ensure volumes are available locally when retrieving device paths
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Use aux property to map incus names to linstor resource definitions
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

test: Add clustered LINSTOR tests
  test/includes/clustering.sh
  test/includes/incusd.sh
  test/suites/clustering.sh
Labels: none

incusd/storage/linstor: Implement GetResources
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
Labels: none

test: Add standalone LINSTOR tests
  test/backends/linstor.sh
  test/includes/storage.sh
  test/main.sh
  test/suites/backup.sh
  test/suites/basic.sh
  test/suites/container_move.sh
  test/suites/migration.sh
  test/suites/projects.sh
  test/suites/remote.sh
  test/suites/snapshots.sh
  test/suites/storage.sh
  test/suites/storage_buckets.sh
  test/suites/storage_driver_linstor.sh
  test/suites/storage_local_volume_handling.sh
  test/suites/storage_snapshots.sh
Labels: none

incusd/storage/linstor: Encode snapshot names in metadata
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

test: Fix database test cleanup
  test/suites/database.sh
Labels: none

incusd/storage/linstor: List snapshots to support non optimized copying of volumes with snapshots
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add support for fetching volume disk usage
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add support for optimized images
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/instance_types: Introduce INCUS_SKIP_INSTANCE_TYPES
  cmd/incusd/instance_instance_types.go
Labels: none

doc/environment: Add INCUS_SKIP_INSTANCE_TYPES
  doc/environment.md
Labels: Documentation

doc/environment: Sort the environment variables
  doc/environment.md
Labels: Documentation

add classless static route support to the forknet dhcp client so that the ipv4.dhcp.routes setting works with OCI containers Signed-off-by: Gwendolyn <me@gwendolyn.dev>
  cmd/incusd/main_forknet.go
Labels: none

bridge network ipv4.dhcp.routes setting, passed through to dnsmasq
  doc/reference/network_bridge.md
  internal/server/network/driver_bridge.go
Labels: Documentation

ovn network ipv4.dhcp.routes setting, passed through to ovsdb
  doc/.wordlist.txt
  doc/reference/network_ovn.md
  internal/server/network/driver_ovn.go
  internal/server/network/ovn/ovn_nb_actions.go
  shared/validate/validate.go
Labels: Documentation

tests for ipv4.dhcp.routes
  test/main.sh
  test/suites/network_dhcp_routes.sh
Labels: none

incusd/ip: Error message styling
  internal/server/ip/link.go
Labels: none

incusd/ip: Only parse MAC on ethernet links
  internal/server/ip/link.go
Labels: none

internal/instance: Clarify security.secureboot setting
  internal/instance/config.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/network/ovn: Fallback to OVN router address as DNS server
  internal/server/network/driver_ovn.go
Labels: none

api: network_ipv4_dhcp_routes
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/validate: Add IsDHCPRouteList
  shared/validate/validate.go
Labels: none

incusd/network/ovn: Add ipv4.dhcp.routes
  internal/server/network/driver_ovn.go
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none
