Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

api: instances_tpm_platform_cert
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/devices: Set volatileGet on Refresh
  internal/server/device/device_load.go
  internal/server/instance/drivers/driver_common.go
Labels: none

incusd/cluster/config: Add instances.tpm.platform keys
  internal/server/cluster/config/config.go
Labels: none

incusd/device/tpm: Provision vTPM with platform CA when configured
  internal/server/device/tpm.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Add PEM to wordlist
  doc/.wordlist.txt
Labels: Documentation

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

Translated using Weblate (Russian)
  po/ru.po
Labels: none

incus/cluster: Fix typo in description
  cmd/incus/cluster.go
Labels: none

incus/launch: Clarify examples
  cmd/incus/launch.go
Labels: none

incus/remote_unix: Clarify socket type
  cmd/incus/remote_unix.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incus/network/forward: Fix typo in description
  cmd/incus/network_forward.go
Labels: none

incus/launch: Update examples
  cmd/incus/launch.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incus/config: Fix YAML file name in help text
  cmd/incus/config.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

shared/simplestreams: Add combined_type
  shared/simplestreams/products.go
Labels: none

incus-simplestreams: Support split container images
  cmd/incus-simplestreams/main_add.go
  cmd/incus-simplestreams/main_remove.go
Labels: none

incus-simplestreams: Detect type of unified images
  cmd/incus-simplestreams/main_add.go
Labels: none

Translated using Weblate (Greek)
  po/el.po
Labels: none

Translated using Weblate (Georgian)
  po/ka.po
Labels: none

Translated using Weblate (Georgian)
  po/ka.po
Labels: none

Translated using Weblate (Dutch)
  po/nl.po
Labels: none

Translated using Weblate (Dutch)
  po/nl.po
Labels: none

Translated using Weblate (Portuguese (Brazil))
  po/pt_BR.po
Labels: none

Translated using Weblate (Portuguese (Brazil))
  po/pt_BR.po
Labels: none

Translated using Weblate (Portuguese (Brazil))
  po/pt_BR.po
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

Translated using Weblate (Chinese (Traditional Han script))
  po/zh_Hant.po
Labels: none

Translated using Weblate (Chinese (Traditional Han script))
  po/zh_Hant.po
Labels: none

Translated using Weblate (French)
  po/fr.po
Labels: none

Translated using Weblate (French)
  po/fr.po
Labels: none

Translated using Weblate (French)
  po/fr.po
Labels: none

Translated using Weblate (French)
  po/fr.po
Labels: none

Translated using Weblate (French)
  po/fr.po
Labels: none

Translated using Weblate (French)
  po/fr.po
Labels: none

Translated using Weblate (French)
  po/fr.po
Labels: none

Translated using Weblate (French)
  po/fr.po
Labels: none
