Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/scriptlet: Add function args checks in scriptlet validation
  internal/server/scriptlet/load/load.go
Labels: none

incus/project: Fix get-current for default (unset) project
  cmd/incus/project.go
Labels: none

fixup! Removed ceph.conf parsing and replaced with calls to ceph(-conf)
  internal/server/metadata/configuration.json
  internal/server/storage/drivers/utils_ceph.go
Labels: none

replaced ceph.conf parsing with shelling out to mount.ceph
  internal/server/device/device_utils_disk.go
  internal/server/device/disk.go
  internal/server/storage/drivers/driver_cephfs.go
  internal/server/storage/drivers/driver_cephfs_utils.go
  internal/server/storage/drivers/utils.go
  internal/server/storage/drivers/utils_ceph.go
Labels: none

formatting cleanup
  internal/server/device/device_utils_disk.go
  internal/server/storage/drivers/utils_ceph.go
Labels: none

Removed ceph.conf parsing and replaced with calls to ceph(-conf)
  internal/server/metadata/configuration.json
  internal/server/storage/drivers/utils_ceph.go
Labels: none

Documentation for incoming cephfs config options
  doc/config_options.txt
  doc/reference/storage_cephfs.md
  internal/server/device/disk.go
  internal/server/metadata/configuration.json
  internal/server/storage/drivers/driver_cephfs.go
Labels: Documentation

added ceph-common to system-tests dependencies
  .github/workflows/tests.yml
Labels: none

educated spellcheck & myself
  doc/.wordlist.txt
  doc/reference/storage_cephfs.md
Labels: Documentation

added temporary dev workflow
  .github/workflows/dev.yml
Labels: none

speling fixup
  doc/config_options.txt
  internal/server/device/disk.go
  internal/server/metadata/configuration.json
Labels: Documentation

extend dev workflow
  .github/workflows/dev.yml
Labels: none

moved call to `ceph.mount` to it's own function
  internal/server/device/device_utils_disk.go
  internal/server/storage/drivers/utils.go
  internal/server/storage/drivers/utils_ceph.go
Labels: none

remove ceph-common from test
  .github/workflows/dev.yml
Labels: none

fixup! speling fixup
  internal/server/device/disk.go
Labels: none

fixup! moved call to `ceph.mount` to it's own function
  internal/server/device/device_utils_disk.go
Labels: none

fixup! speling fixup
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

fixup! moved call to `ceph.mount` to it's own function
  internal/server/storage/drivers/utils_ceph.go
Labels: none

cleanup dev tests a bit
  .github/workflows/dev.yml
Labels: none

incus/project: Fix get-current for default (unset) project
  cmd/incus/project.go
Labels: none

moved call to `ceph.mount` to it's own function
  internal/server/device/device_utils_disk.go
  internal/server/storage/drivers/utils.go
  internal/server/storage/drivers/utils_ceph.go
Labels: none

speling fixup
  doc/config_options.txt
  internal/server/device/disk.go
  internal/server/metadata/configuration.json
Labels: Documentation

extend dev workflow
  .github/workflows/dev.yml
Labels: none

incus/project: Fix get-current for default (unset) project
  cmd/incus/project.go
Labels: none

added temporary dev workflow
  .github/workflows/dev.yml
Labels: none

cleanup dev tests a bit
  .github/workflows/dev.yml
Labels: none

remove ceph-common from test
  .github/workflows/dev.yml
Labels: none

Translated using Weblate (Japanese)
  po/ja.po
Labels: none

incusd: Add support for '--force' flag
  cmd/incusd/instance_console.go
Labels: none

cmd/console: Add '--force' flag
  cmd/incus/console.go
Labels: none

api: Add console_force extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/api: Add Force field to InstanceConsolePost
  shared/api/instance_console.go
Labels: API

client: Check 'console_force' API extenstion
  client/incus_instances.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
Labels: none

internal/cmd: Have RenderTable take in an io.Writer
  internal/cmd/table.go
Labels: none

incus: Update for RenderTable
  cmd/incus/admin_sql.go
  cmd/incus/alias.go
  cmd/incus/cluster.go
  cmd/incus/cluster_group.go
  cmd/incus/config_template.go
  cmd/incus/config_trust.go
  cmd/incus/image.go
  cmd/incus/image_alias.go
  cmd/incus/info.go
  cmd/incus/list.go
  cmd/incus/network.go
  cmd/incus/network_acl.go
  cmd/incus/network_allocations.go
  cmd/incus/network_forward.go
  cmd/incus/network_integration.go
  cmd/incus/network_load_balancer.go
  cmd/incus/network_peer.go
  cmd/incus/network_zone.go
  cmd/incus/operation.go
  cmd/incus/profile.go
  cmd/incus/project.go
  cmd/incus/remote.go
  cmd/incus/snapshot.go
  cmd/incus/storage.go
  cmd/incus/storage_bucket.go
  cmd/incus/storage_volume.go
  cmd/incus/top.go
  cmd/incus/warning.go
Labels: none

incus-simplestreams: Update for RenderTable
  cmd/incus-simplestreams/main_list.go
Labels: none

incusd: Update for RenderTable
  cmd/incusd/main_cluster.go
Labels: none

incusd: Cleanup in cmdClusterListDatabase
  cmd/incusd/main_cluster.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
