Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/instance/qemu: Allow live-update of security.tags
  internal/server/instance/drivers/driver_qemu.go
Labels: none

Revert "goreleaser: Temporarily disable netbsd artifacts"
  .goreleaser.yaml
Labels: none

incus: Allow building for NetBSD
  cmd/incus/utils_notwindows.go
Labels: none

Update gomod
  go.mod
  go.sum
Labels: none

incusd: Allow the server certificate update over HTTPS
  cmd/incusd/daemon.go
Labels: none

incus/admin: Support remotes in update-certificate
  cmd/incus/admin_other.go
  cmd/incus/admin_update_certificate.go
Labels: none

i18n: Update translation templates
  po/incus.pot
Labels: none

incusd/instance: Fix nil dereference in canMigrate on device load error
  internal/server/instance/drivers/driver_common.go
Labels: none

incusd/instance: Only let a migration inherit its own lock when stopping
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance: Wait for state changes before migrating
  cmd/incusd/instance_post.go
Labels: none

incusd/instance: Don't fail a move on source cleanup errors
  cmd/incusd/instance_post.go
Labels: none

incusd/instance/qmp: Add agent TEMPLATED status
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

incusd/instance/qemu: Clear template state when the agent reports applying them
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incus-agent: Report template application before rebooting for cloud-init
  cmd/incus-agent/main_agent.go
Labels: none

tests: Add VM cloud-init test
  test/main.sh
  test/suites/cloud_init_vm.sh
Labels: none

github: Run the VM cloud-init test
  .github/workflows/tests.yml
Labels: none

Translated using Weblate (Georgian)
  po/ka.po
Labels: none

shared/api: Add disk I/O counters to instance state
  shared/api/instance_state.go
Labels: API

incusd/instance/qemu: Report disk I/O counters in instance state
  internal/server/instance/drivers/driver_qemu.go
Labels: none

api: instance_state_disk_counters
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

api: Add instances_state_tpm extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/api: Add TPM state to instance state
  shared/api/instance_state.go
Labels: API

incusd/device/tpm: Record and expose endorsement keys
  internal/server/device/tpm.go
Labels: none

incusd/instance: Report TPM devices in instance state
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incus/info: Show TPM endorsement keys
  cmd/incus/info.go
Labels: none

doc: Document TPM endorsement key exposure
  doc/reference/devices_tpm.md
Labels: Documentation

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

tests: Add OVN network reparenting tests
  test/suites/network_ovn.sh
Labels: none

incusd/network/ovn: Allow changing a networks parent
  internal/server/network/driver_ovn.go
Labels: none

doc: Update OVN network parent documentation
  doc/reference/network_ovn.md
Labels: Documentation

incus/server/network/driver/ovn: Fire LoadBalancerHealthChanged event
  internal/server/network/driver_ovn.go
Labels: none

doc/events: Add loadbalancer lifecycle events to doc/events.md
  doc/events.md
Labels: Documentation

incusd/network/ovn: add counter support to network state
  internal/server/network/driver_ovn.go
Labels: none

shared/logger: Add WarnOnErrorExcept to the Logger interface
  shared/logger/types.go
  shared/logger/wrapper.go
Labels: none

shared/resources: Fix double close of ethtool socket
  shared/resources/network_ethtool.go
Labels: none

shared/resources: Base memory usage on MemAvailable
  shared/resources/memory.go
Labels: none

client: Drop the context-free VM agent connection debug line
  client/connection.go
Labels: none

incusd/cluster: Fix swapped CPU and memory usage in rebalance scoring
  cmd/incusd/api_cluster_rebalance.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
