Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

api: instance_publish_split
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/api: Add field for image type to ImagePost struct
  shared/api/image.go
Labels: API

incusd/instance: Change instance interface to add support for exporting to split images
  internal/server/instance/instance_interface.go
Labels: none

incusd/instance/lxc: Add support for publishing split images for containers
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/instance/qemu: Add support for publishing split images for VMs
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/images: Add support for publishing split images
  cmd/incusd/images.go
Labels: none

incus/publish: Add new flag to publish command for split images
  cmd/incus/publish.go
Labels: none

shared/cliconfig: Added DefaultSettings to Config Struct
  shared/cliconfig/config.go
  shared/cliconfig/default.go
Labels: none

incus: Added defaultListFormat helper function
  cmd/incus/main.go
Labels: none

incus: Added Default List Format calls in List Commands
  cmd/incus/admin_sql.go
  cmd/incus/alias.go
  cmd/incus/cluster.go
  cmd/incus/cluster_group.go
  cmd/incus/config_template.go
  cmd/incus/config_trust.go
  cmd/incus/image.go
  cmd/incus/image_alias.go
  cmd/incus/list.go
  cmd/incus/network.go
  cmd/incus/network_acl.go
  cmd/incus/network_allocations.go
  cmd/incus/network_forward.go
  cmd/incus/network_integration.go
  cmd/incus/network_load_balancer.go
  cmd/incus/network_peer.go
  cmd/incus/network_zone.go
  cmd/incus/operation.go
  cmd/incus/profile.go
  cmd/incus/project.go
  cmd/incus/remote.go
  cmd/incus/snapshot.go
  cmd/incus/storage.go
  cmd/incus/storage_bucket.go
  cmd/incus/storage_volume.go
  cmd/incus/top.go
  cmd/incus/warning.go
Labels: none

tests: Add test for publishing split images
  test/main.sh
  test/suites/image.sh
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd/device/sriov: Handle cards without configurable spoof checking
  internal/server/device/device_utils_network.go
  internal/server/device/nic_ovn.go
  internal/server/device/nic_sriov.go
Labels: none

incusd/firewall/nftables: disable UDP checksum validation for packets on bridged network
  internal/server/firewall/drivers/drivers_nftables_templates.go
Labels: none

cmd/generate-database/db: Use snake case entity names for ID column names
  cmd/generate-database/db/method.go
Labels: none

incusd/db/network_acls: Move to generated functions
  internal/server/db/cluster/network_acls.go
  internal/server/db/cluster/network_acls.interface.mapper.go
  internal/server/db/cluster/network_acls.mapper.go
  internal/server/db/network_acls.go
Labels: none

incusd: Switch to new GetNetworkACLs
  cmd/incusd/network_acls.go
  cmd/incusd/patches.go
  internal/server/db/network_acls.go
  internal/server/network/acl/acl_load.go
  internal/server/network/driver_common.go
Labels: none

api: init_preseed_certificates
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

client: Add certificate handling to ApplyServerPreseed
  client/incus_server.go
Labels: none

shared/api: Add Certificates to InitLocalPreseed
  shared/api/init.go
Labels: API

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd: Switch to new GetNetworkACLsAllProjects
  cmd/incusd/network_acls.go
  internal/server/db/network_acls.go
Labels: none

shared/api: Add URL function on NetworkACL
  shared/api/network_acl.go
Labels: API

incusd: Switch to new GetNetworkACLURIs
  cmd/incusd/api_project.go
  internal/server/db/network_acls.go
Labels: none

incusd: Switch to new DeleteNetworkACL
  cmd/incusd/api_project.go
  internal/server/db/cluster/network_acls.go
  internal/server/db/cluster/network_acls.interface.mapper.go
  internal/server/db/cluster/network_acls.mapper.go
  internal/server/db/network_acls.go
  internal/server/network/acl/driver_common.go
Labels: none

incusd: Switch to new RenameNetworkACL
  internal/server/db/network_acls.go
  internal/server/network/acl/driver_common.go
Labels: none

incusd: Switch to new CreateNetworkACL
  internal/server/db/network_acls.go
  internal/server/network/acl/acl_load.go
Labels: none

incusd: Switch to new GetNetworkACLNameAndProjectWithID
  internal/server/db/entity.go
  internal/server/db/network_acls.go
Labels: none

incusd: Switch to new GetNetworkACLIDsByNames
  internal/server/db/network_acls.go
  internal/server/network/acl/acl_ovn.go
  internal/server/network/acl/driver_common.go
  internal/server/network/driver_ovn.go
Labels: none

incusd/storage/zfs: Use compression and large-blocks on backups
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

incusd: Move remaining network ACLs DB functions
  cmd/incusd/patches.go
  internal/server/db/cluster/network_acls.go
  internal/server/db/network_acls.go
  internal/server/network/acl/acl_firewall.go
  internal/server/network/acl/acl_load.go
  internal/server/network/acl/acl_ovn.go
  internal/server/network/acl/driver_common.go
  internal/server/network/driver_common.go
Labels: none

incusd: Move cluster resource caching logic
  cmd/incusd/daemon.go
  internal/server/instance/drivers/util.go
Labels: none

lint/govulncheck: Don't test stdlib
  test/lint/govulncheck.sh
Labels: none

incus: Move sshfs helpers to utils
  cmd/incus/file.go
  cmd/incus/utils.go
Labels: none

CONTRIBUTING: Clearly ban LLMs
  CONTRIBUTING.md
Labels: none

doc/wordlist: Extend acronyms
  doc/.wordlist.txt
Labels: Documentation

incusd/response: Move SFTPResponse
  cmd/incusd/instance_sftp.go
  internal/server/response/response.go
Labels: none

api: custom_volume_sftp
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/storage_volumes: Add SFTP endpoint
  cmd/incusd/api_1.0.go
  cmd/incusd/storage_volumes.go
  cmd/incusd/storage_volumes_sftp.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
