Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/forknet: Time out DHCPv4 lease acquisition
  cmd/incusd/main_forknet.go
Labels: none

incusd/forknet: Time out DHCPv6 lease acquisition
  cmd/incusd/main_forknet.go
Labels: none

incusd/forknet: Handle zero wait time for DHCPv6
  cmd/incusd/main_forknet.go
Labels: none

incusd/forknet: Filter the DHCPv4 raw socket
  cmd/incusd/main_forknet.go
Labels: none

Makefile: Use older incus-os for Go 1.25
  Makefile
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

incusd/storage: Allow skipping validation for more prefixes
  internal/server/storage/drivers/driver_common.go
Labels: none

incusd/storage/linstor: Allow setting raw DRBD properties on storage pools
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
Labels: none

incusd/storage/linstor: Allow setting raw DRBD properties on storage volumes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

tests: Add quick raw DRBD key checks
  test/suites/storage_driver_linstor.sh
Labels: none

api: linstor_raw
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/network/ovn: Use dnat_and_snat for fully mapped external addresses
  internal/server/network/driver_ovn.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

api: network_address_set_ip_ranges
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/network/address-set: Support IP ranges
  internal/server/network/address-set/address_set_firewall.go
  internal/server/network/address-set/address_set_ovn.go
  internal/server/network/address-set/driver_common.go
Labels: none

doc: Document IP range support in network address sets
  doc/howto/network_address_sets.md
Labels: Documentation

tests: Add IP range coverage for network address sets
  test/suites/network_address_set.sh
Labels: none

inucsd/devices/tpm: Enable tpm live migration
  internal/server/device/tpm.go
Labels: none

incusd/storage/zfs: Use latest common GUID as refresh base
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

incusd/instances: Only reset NVRAM on secureboot change for VMs
  cmd/incusd/instance_post.go
  cmd/incusd/instances_post.go
Labels: none

incus/file: Fix push behavior with UID/GID/mode overrides
  cmd/incus/file.go
  cmd/incus/storage_volume.go
  cmd/incus/utils_sftp.go
Labels: none

incus/file: Fix typo
  cmd/incus/utils_copy.go
Labels: none

tests: Add thorough tests for incus file push with UID/GID/mode overrides
  test/suites/filemanip.sh
Labels: none

incus/storage_volume: Fix push behavior with UID/GID/mode overrides
  cmd/incus/storage_volume.go
Labels: none

incus/info: Handle negative usage values (unknown)
  cmd/incus/info.go
Labels: none

incusd/storage: Return -1 as disk usage when the driver doesn't support it
  internal/server/storage/backend.go
Labels: none

incusd/instance: Handle negative disk usage values
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/lxc: Use os.Root for templating
  internal/server/instance/drivers/driver_lxc.go
Labels: none

tests: Update btrfs test for new behavior
  test/suites/storage.sh
Labels: none

incusd/storage: Add missing doc comments on exported symbols (revive:exported)
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
Labels: none

incusd/storage: Rename locals that shadow imports (revive:import-shadowing)
  internal/server/storage/pool_load.go
  internal/server/storage/utils.go
Labels: none

incusd/storage: Simplify if/else with early return (revive:early-return)
  internal/server/storage/backend.go
Labels: none

incusd/storage: Check type assertion result (revive:unchecked-type-assertion)
  internal/server/storage/backend.go
Labels: none

incusd/storage: Use tagged switch statements (staticcheck:QF1003)
  internal/server/storage/backend.go
  internal/server/storage/pool_load.go
  internal/server/storage/storage.go
Labels: none

incusd/storage: Simplify boolean with De Morgan's law (staticcheck:QF1001)
  internal/server/storage/utils.go
Labels: none

incusd/storage/drivers: Add missing doc comments on exported symbols (revive:exported)
  internal/server/storage/drivers/driver_btrfs.go
  internal/server/storage/drivers/driver_ceph.go
  internal/server/storage/drivers/driver_cephobject_buckets.go
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_lvm.go
  internal/server/storage/drivers/driver_mock.go
  internal/server/storage/drivers/driver_zfs.go
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

incusd/storage/drivers: Rename locals that shadow imports (revive:import-shadowing)
  internal/server/storage/drivers/driver_btrfs_utils.go
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_zfs.go
  internal/server/storage/drivers/interface.go
  internal/server/storage/drivers/load.go
  internal/server/storage/drivers/utils.go
Labels: none

incusd/storage/drivers: Avoid deferring inside loops (revive:defer)
  internal/server/storage/drivers/driver_btrfs_volumes.go
Labels: none

incusd/storage/drivers: Simplify if/else with early return (revive:early-return)
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_lvm_utils.go
  internal/server/storage/drivers/utils.go
Labels: none

incusd/storage/drivers: Remove extra blank lines at start of block (revive:empty-lines)
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none
