Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/task: Fix wait group logic (more entries than running tasks)
  internal/server/task/group.go
Labels: none

incusd/instance: Add ETag function
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/instance_interface.go
Labels: none

incusd/instance/qemu: Fix random ordering in ETag
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/lxc: Fix random ordering in ETag
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd: Use new ETag instance function
  cmd/incusd/instance_patch.go
  cmd/incusd/instance_put.go
Labels: none

api: image_import_alias
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/image: Allow passing alias list through X-Incus-aliases
  cmd/incusd/images.go
Labels: none

client: Set X-Incus-aliases on image imports
  client/incus_images.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd/image: Fix context for alias add
  cmd/incusd/images.go
Labels: none

incusd/image: Handle all alias cases
  cmd/incusd/images.go
Labels: none

Makefile: Use fga for model conversion
  Makefile
Labels: none

incusd/auth: Introduce EntitlementCanViewSensitive
  internal/server/auth/authorization_types.go
  internal/server/auth/driver_tls.go
Labels: none

incusd/api_10: Use EntitlementCanViewSensitive
  cmd/incusd/api_1.0.go
Labels: none

incusd/auth/openfga: Introduce server-wide read-only access
  internal/server/auth/driver_openfga_model.openfga
Labels: none

incusd/auth/openfga: Rebuild model
  internal/server/auth/driver_openfga_model.go
Labels: none

incusd/auth/openfga: Migrate public permissions
  internal/server/auth/driver_openfga.go
Labels: none

incusd/auth: Implement ApplyPatch
  internal/server/auth/authorization.go
  internal/server/auth/driver_common.go
Labels: none

incusd/auth/fga: Change model refresh logic to rely on patches
  internal/server/auth/driver_openfga.go
Labels: none

incusd/patches: Add auth patch logic
  cmd/incusd/patches.go
Labels: none

incusd/patches: Skip patches until their assigned stage
  cmd/incusd/patches.go
Labels: none

doc/authorization: Remove outdated OpenFGA model description
  doc/authorization.md
Labels: Documentation

tests: Tweak openfga test
  test/suites/openfga.sh
Labels: none

tests: Update copy with refresh test
  test/suites/storage_local_volume_handling.sh
Labels: none

incusd/storage: Add CreatedAt during custom volume copy with refresh
  internal/server/storage/backend.go
Labels: none

incusd/migrate: Set CreationDate during custom volume snapshot copy with refresh
  cmd/incusd/migrate_storage_volumes.go
Labels: none

doc/instance/properties: Add missing instance properties
  doc/reference/instance_properties.md
Labels: Documentation

incusd/daemon_storage: Ensure corect symlinks for images/backups
  cmd/incusd/daemon_storage.go
Labels: none

incusd/storage/lvm: Handle newer LVM
  internal/server/storage/drivers/driver_lvm_utils.go
Labels: none

doc/sphinx: Upgrade MyST
  doc/.sphinx/requirements.txt
Labels: Documentation

doc/manpage: Tweak manpage synopsis rendering
  doc/conf.py
Labels: Documentation

incusd/storage/lvm: Require 512-bytes physical block size for VM images
  internal/server/storage/drivers/driver_lvm_utils.go
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none

incus: Improve instance and remote names completion
  cmd/incus/cluster.go
  cmd/incus/cluster_group.go
  cmd/incus/completion.go
  cmd/incus/copy.go
  cmd/incus/image.go
  cmd/incus/list.go
  cmd/incus/move.go
  cmd/incus/network.go
  cmd/incus/network_acl.go
  cmd/incus/network_zone.go
  cmd/incus/profile.go
  cmd/incus/project.go
  cmd/incus/publish.go
  cmd/incus/storage.go
Labels: none

incusd: Fill ExpiryDate and remove LastUsedDate in volumeSnapshotToProtobuf
  cmd/incusd/migrate_storage_volumes.go
Labels: none

incusd/device/tpm: Wait for swtpm to be ready
  internal/server/device/tpm.go
Labels: none

incus: Improve completion for `file push` and `file pull`
  cmd/incus/completion.go
  cmd/incus/file.go
Labels: none

incusd/auth/tls: Restrict config access to non-admin
  internal/server/auth/driver_tls.go
Labels: none

incusd/storage: Handle default disk size in GetInstanceUsage
  internal/server/storage/backend.go
Labels: none

incus: Improve completion for `file create`
  cmd/incus/file.go
Labels: none

incus: Improve completion for `file delete`
  cmd/incus/file.go
Labels: none
