Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

doc: Note that allow-stateless is OVN only
  doc/howto/network_acls.md
Labels: Documentation

client: Fail clearly when OIDC provider has no device authorization endpoint
  client/incus_oidc.go
Labels: none

tests: Check concurrent isolated ID map allocation
  test/suites/idmap.sh
Labels: none

incusd/instance/lxc: Hold the ID map lock until the allocation is persisted
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/network/ovn: Match IPv6 load balancer health monitors
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incusd/instance: Add OCI config helpers
  internal/server/instance/oci.go
Labels: none

incusd/instance/lxc: Export the OCI image environment as defaults
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd: Use the OCI image environment as exec defaults
  cmd/incusd/instance_exec.go
Labels: none

incusd: Stop copying the OCI environment into the instance config
  cmd/incusd/instance.go
Labels: none

tests: Check OCI environment overrides and rebuild
  test/suites/container_oci.sh
Labels: none

api: instance_project_move_live
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/instance: Reject project moves when an attached volume can't follow
  cmd/incusd/instance_post.go
Labels: none

incusd/instance: Reject project moves of instances with backups
  cmd/incusd/instance_post.go
Labels: none

incusd/instance: Allow live project moves within a cluster
  cmd/incusd/instance_post.go
Labels: none

incusd/instance: Resolve the volume project when removing dependent volumes
  cmd/incusd/instance_post.go
Labels: none

incusd/storage: Fix migration type negotiation for dependent volumes
  internal/server/storage/backend.go
  internal/server/storage/utils.go
Labels: none

incusd/instance: Pass the cluster move flag when negotiating dependent volume types
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance: Let dependent volumes follow an instance across projects
  cmd/incusd/instance_post.go
  cmd/incusd/instance_post_nearlive.go
  cmd/incusd/instances_post.go
Labels: none

doc: Document live project moves
  doc/howto/move_instances.md
Labels: Documentation

tests: Add cross-project move tests
  test/suites/clustering_move.sh
  test/suites/container_move.sh
Labels: none

tests: Add network peer group tests
  test/main.sh
  test/suites/network_peer_groups.sh
Labels: none

incusd/auth: Add network peer group functions
  cmd/incusd/daemon.go
  internal/server/auth/authorization.go
  internal/server/auth/authorization_objects.go
  internal/server/auth/authorization_types.go
  internal/server/auth/driver_common.go
  internal/server/auth/driver_openfga.go
  internal/server/auth/driver_openfga_model.go
  internal/server/auth/driver_openfga_model.openfga
  internal/server/auth/router.go
Labels: none

api: Add network_peer_groups extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/db: Add network peer group membership functions
  internal/server/db/network_peer_groups.go
Labels: none

incusd/lifecycle: Add network peer group events
  internal/server/lifecycle/network_peer_group.go
Labels: none

shared/api: Add lifecycle events for network peer groups
  shared/api/event_lifecycle.go
Labels: API

incus/network: Add peer-group command
  cmd/incus/network.go
  cmd/incus/network_peer_group.go
  cmd/incus/usage/usage.go
Labels: none

shared/api: Add network peer groups
  shared/api/network_peer_group.go
Labels: API

incusd/network: Add peer group support to network drivers
  internal/server/network/driver_common.go
  internal/server/network/driver_ovn.go
  internal/server/network/network_interface.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/db/cluster: Add generated DB code for network peer groups
  internal/server/db/cluster/network_peer_groups.go
  internal/server/db/cluster/network_peer_groups.interface.mapper.go
  internal/server/db/cluster/network_peer_groups.mapper.go
Labels: none

client: Add network peer group functions
  client/incus_network_peer_groups.go
  client/interfaces.go
Labels: none

doc: add network peer group documentation
  doc/howto/network_configure.md
  doc/howto/network_ovn_peer_groups.md
  doc/reference/network_ovn.md
  doc/rest-api.yaml
Labels: API, Documentation

incusd: Add network peer group API
  cmd/incusd/api_1.0.go
  cmd/incusd/network_peer_groups.go
Labels: none

incusd/db/cluster: Add network_peer_groups tables
  internal/server/db/cluster/schema.go
  internal/server/db/cluster/update.go
Labels: none

incusd/instance/qemu: Reject live migration of filesystem dependent volumes
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance: Let dependent volumes on local pools follow a project move to another member
  cmd/incusd/instance_post.go
Labels: none

incusd/storage: Resolve the volume project for dependent volumes
  internal/server/storage/backend.go
  internal/server/storage/utils.go
Labels: none

incusd/instance: Resolve the volume project when deleting dependent volumes
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

tests: Add tests for dependent volumes in projects sharing storage volumes
  test/suites/dependent_volumes.sh
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
