Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/acme: Include CA in generate certificate
  internal/server/acme/acme.go
Labels: none

shared/ask: Fix bad validation logic
  shared/ask/ask.go
Labels: none

incus-migrate: Fix golangci-lint warnings
  cmd/incus-migrate/main.go
  cmd/incus-migrate/main_migrate.go
  cmd/incus-migrate/main_netcat.go
  cmd/incus-migrate/transfer.go
  cmd/incus-migrate/utils.go
Labels: none

incus-migrate: Rework command validation
  cmd/incus-migrate/main_migrate.go
Labels: none

incus-migrate: Require an instance type
  cmd/incus-migrate/main_migrate.go
Labels: none

incus-migrate: Clarify arguments
  cmd/incus-migrate/main_migrate.go
Labels: none

Tidied cmd/incus/action.go
  cmd/incus/action.go
Labels: none

Tidied cmd/incus/action.go
  cmd/incus/action.go
Labels: none

Tidied cmd/incus/admin_init.go
  cmd/incus/admin_init.go
Labels: none

Tidied cmd/incus/admin_init_interactive.go
  cmd/incus/admin_init_interactive.go
Labels: none

Tidied cmd/incus/admin_init_auto.go
  cmd/incus/admin_init_auto.go
Labels: none

Tidied cmd/incus/admin_recover.go
  cmd/incus/admin_recover.go
Labels: none

Tidied cmd/incus/admin_sql.go
  cmd/incus/admin_sql.go
Labels: none

client/incus: Fix non-constant format strings
  client/incus.go
Labels: none

doc/cluster: mDNS setup for cluster access
  doc/.wordlist.txt
  doc/howto/cluster_access.md
Labels: Documentation

cmd/storage_volume: Support filtering by a single keyword
  cmd/incus/storage_volume.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/instance/qemu: Clean leftover sockets on startup
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd: Implement Incus OS API forwarding
  cmd/incusd/api.go
  cmd/incusd/api_os.go
Labels: none

incus/server/logging: Add new logging mechanism with syslog and loki support
  internal/server/logging/common.go
  internal/server/logging/controller.go
  internal/server/logging/loki.go
  internal/server/logging/loki_batch.go
  internal/server/logging/loki_types.go
  internal/server/logging/syslog.go
  internal/server/logging/util.go
Labels: none

incus/server/config: Support for new logging.* config keys
  internal/server/cluster/config/config.go
  internal/server/config/logging.go
  internal/server/config/map.go
  internal/server/config/validators.go
Labels: none

doc: Documentation for new logging mechanism
  doc/config_options.txt
  doc/howto/network_ovn_setup.md
  doc/metrics.md
  doc/server_config.md
  internal/server/metadata/configuration.json
Labels: Documentation

incus/server/loki: Remove loki package
  internal/server/loki/batch.go
  internal/server/loki/loki.go
  internal/server/loki/types.go
Labels: none

incusd: Use new logging mechanism
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
Labels: none

incus/server/events: Fix issue with race condition
  internal/server/events/internalListener.go
Labels: none

incusd/network/bridge: Port to gendoc
  internal/server/network/driver_bridge.go
Labels: none

doc/network/bridge: Use gendoc
  doc/reference/network_bridge.md
Labels: Documentation

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Use `$USER` instead of YOUR-USERNAME
  doc/tutorial/first_steps.md
Labels: Documentation

doc: Ignore link that's blocking Azure
  doc/conf.py
Labels: Documentation

incusd/storage: Avoid querying pending pool status
  internal/server/storage/backend.go
Labels: none

incusd/storage/linstor: Fix pool size reporting
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
Labels: none

incusd/patches: Refresh OpenFGA model for address sets
  cmd/incusd/patches.go
Labels: none

incusd/network/common: Add gendoc comments for forward configurations
  internal/server/network/driver_common.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc/network/forward: Use gendoc for network forwards
  doc/howto/network_forwards.md
Labels: Documentation

api: server_logging
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incus/server/logging: Add new logging mechanism with syslog and loki support
  internal/server/logging/common.go
  internal/server/logging/controller.go
  internal/server/logging/driver_loki.go
  internal/server/logging/driver_loki_batch.go
  internal/server/logging/driver_loki_types.go
  internal/server/logging/driver_syslog.go
  internal/server/logging/util.go
Labels: none

incus/server/config: Support for new logging.* config keys
  internal/server/cluster/config/config.go
  internal/server/config/logging.go
  internal/server/config/map.go
  internal/server/config/validators.go
Labels: none

incusd: Use new logging mechanism
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
