Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd: Add additional validation when joining a new cluster member
  cmd/incusd/api_cluster.go
Labels: none

incusd: Upgrade flosch/pongo2 to v6
  cmd/incusd/storage_volumes_snapshot.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_utils.go
  internal/server/network/driver_ovn.go
  internal/util/template.go
Labels: none

doc: Bump minimum kernel to 5.15
  doc/requirements.md
Labels: Documentation

Makefile: Bump minimal Go to 1.23
  Makefile
Labels: none

doc: Bump minimum Go to 1.23
  doc/requirements.md
Labels: Documentation

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

github: Re-order code tests tasks
  .github/workflows/tests.yml
Labels: none

incusd/resources: Prevent concurrent runs and cache data for 10s
  internal/server/resources/resources.go
Labels: none

incusd/node/config: Add storage.linstor.satellite.name
  internal/server/node/config.go
Labels: none

incusd/cluster/config: Add Linstor storage config options
  internal/server/cluster/config/config.go
Labels: none

incusd/storage/linstor: Add mount and unmount support for volumes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incus/storage/linstor: Remove filesystem volume and mount path
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/storage/linstor: Add support for optimized images
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

github: Add LINSTOR CI tests
  .github/workflows/tests.yml
Labels: none

incusd/storage/linstor: Volume creation and deletion
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add support for resizing volumes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/state: Add Linstor client to server state
  internal/server/state/state.go
Labels: none

internal/migration: Update protobuf
  internal/migration/migrate.pb.go
  internal/migration/migrate.proto
Labels: none

incusd/storage/linstor: Copy volumes on the same pool
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add basic support for same-pool migration
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add support for mounting and unmounting snapshot volumes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

cmd/incusd: Trigger Linstor client setup on server config changes
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
Labels: none

incus/storage: implement the Filler function for Linstor volumes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

test: Add standalone LINSTOR tests
  test/backends/linstor.sh
  test/includes/storage.sh
  test/main.sh
  test/suites/basic.sh
  test/suites/storage_driver_linstor.sh
Labels: none

incusd/storage/linstor: Storage pool creation and deletion
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/load.go
Labels: none

shared/validate: Add string length validator
  shared/validate/validate.go
Labels: none

incusd/storage/linstor: Add basic snapshot support
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

doc: Linstor driver documentation
  doc/.wordlist.txt
  doc/explanation/storage.md
  doc/reference/storage_ceph.md
  doc/reference/storage_drivers.md
  doc/reference/storage_linstor.md
Labels: Documentation

test: Fix deprecated chown syntax
  test/suites/basic.sh
Labels: none

api: storage_driver_linstor
  doc/api-extensions.md
Labels: API, Documentation

incusd/storage/linstor: Add common volume config validation
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Linstor client setup
  go.mod
  go.sum
  internal/server/storage/linstor/linstor.go
Labels: none

incusd/storage/linstor: Add trivial renaming support for volumes
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

test: Fix database test cleanup
  test/suites/database.sh
Labels: none

test: Add clustered LINSTOR tests
  test/includes/clustering.sh
  test/includes/incusd.sh
  test/suites/clustering.sh
Labels: none

incusd/storage/linstor: Encode snapshot names in metadata
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Ensure volumes are available locally when retrieving device paths
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add support for listing volumes
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add support for updating storage pool config
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
Labels: none
