Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

shared/resources: Parse the PCI ID database only once
  shared/resources/gpu.go
  shared/resources/network.go
  shared/resources/pci.go
  shared/resources/utils.go
Labels: none

shared/resources: Avoid over-allocating when reading sysfs files
  shared/resources/cpu.go
  shared/resources/gpu.go
  shared/resources/load.go
  shared/resources/memory.go
  shared/resources/network.go
  shared/resources/pci.go
  shared/resources/serial.go
  shared/resources/storage.go
  shared/resources/system.go
  shared/resources/usb.go
  shared/resources/utils.go
Labels: none

shared/resources: Resolve udev links once and count processes cheaply
  shared/resources/load.go
  shared/resources/storage.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incus/file: Contain recursive pull symlinks
  cmd/incus/utils_sftp.go
Labels: none

incusd: Don't follow symlinks when receiving migration data
  internal/linux/filesystem.go
  internal/rsync/rsync.go
  internal/server/storage/drivers/driver_btrfs_utils.go
  internal/server/storage/drivers/generic_vfs.go
Labels: none

incusd/storage: Treat volume creation with a source as a copy
  cmd/incusd/storage_volumes.go
Labels: none

incusd/storage/drivers: Confine btrfs subvolume paths
  internal/server/storage/drivers/driver_btrfs_utils.go
  internal/server/storage/drivers/driver_btrfs_volumes.go
Labels: none

incusd/storage: Validate dependent volume names on backup import
  internal/server/storage/backend.go
Labels: none

incusd/storage: Ignore backup project for dependent volumes
  internal/server/storage/backend.go
Labels: none

incusd/storage/s3: Require x-amz-* headers to be signed
  internal/server/storage/s3/local/auth.go
  internal/server/storage/s3/types.go
Labels: none

incusd/operations: Check project access on operation get and wait
  cmd/incusd/operations.go
Labels: none

incusd/operations: Hide access token operations from non-admins
  cmd/incusd/operations.go
Labels: none

incusd/storage/buckets: Require can_edit to read bucket keys
  cmd/incusd/storage_buckets.go
Labels: none

incusd/project: Restrict volume options on update and copy
  cmd/incusd/storage_volumes.go
  internal/server/project/permissions.go
  internal/server/storage/backend.go
Labels: none

incusd/instances: Check project restrictions on clustered refresh
  cmd/incusd/instances_post.go
  internal/server/project/permissions.go
  internal/server/project/permissions_test.go
Labels: none

Update gomod
  go.mod
  go.sum
Labels: none

goreleaser: Temporarily disable netbsd artifacts
  .goreleaser.yaml
Labels: none

Release Incus 7.5.1
  internal/version/flex.go
Labels: none

goreleaser: Temporarily disable netbsd artifacts
  .goreleaser.yaml
Labels: none

incus/file: Contain recursive pull symlinks
  cmd/incus/utils_sftp.go
Labels: none

incusd: Don't follow symlinks when receiving migration data
  internal/linux/filesystem.go
  internal/rsync/rsync.go
  internal/server/storage/drivers/driver_btrfs_utils.go
  internal/server/storage/drivers/generic_vfs.go
Labels: none

incusd/storage: Treat volume creation with a source as a copy
  cmd/incusd/storage_volumes.go
Labels: none

incusd/storage/drivers: Confine btrfs subvolume paths
  internal/server/storage/drivers/driver_btrfs_utils.go
  internal/server/storage/drivers/driver_btrfs_volumes.go
Labels: none

incusd/operations: Check project access on operation get and wait
  cmd/incusd/operations.go
Labels: none

incusd/operations: Hide access token operations from non-admins
  cmd/incusd/operations.go
Labels: none

incusd/storage/buckets: Require can_edit to read bucket keys
  cmd/incusd/storage_buckets.go
Labels: none

incusd/profiles: Check project restrictions on profile creation
  cmd/incusd/profiles.go
  internal/server/project/permissions.go
  internal/server/project/permissions_test.go
Labels: none

incusd/instances: Check project restrictions on clustered refresh
  cmd/incusd/instances_post.go
  internal/server/project/permissions.go
  internal/server/project/permissions_test.go
Labels: none

Makefile: Switch to new golangci-lint install script
  Makefile
Labels: none

gomod: Update go-cowsql
  go.mod
  go.sum
Labels: none

shared/archive: Avoid concurrent calls to Wait
  shared/archive/archive.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

devcontainer: bump Go to 1.26
  .devcontainer/Dockerfile
Labels: none

incus/server/cluster/gateway: Export IsLeader function to determine cluster leader
  internal/server/cluster/gateway.go
  internal/server/cluster/gateway_export_test.go
Labels: none

shared/api: Add NetworkLoadBalancerHealthChanged event
  shared/api/event_lifecycle.go
Labels: API

incus/server/lifecycle/network_load_balancer: Add NetworkLoadBalancerHealthChanged event
  internal/server/lifecycle/network_load_balancer.go
Labels: none

doc/events: Add loadbalancer lifecycle events to doc/events.md
  doc/events.md
Labels: Documentation

incus/server/network/driver/ovn: Fire LoadBalancerHealthChanged event
  internal/server/network/driver_ovn.go
Labels: none

incus/server/state: Add IsLeader to clusterGateway interface
  internal/server/state/state.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
