Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

doc: Update metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/device/config: Add 'BackingPath' to track backing chain for qcow2 volumes
  internal/server/device/config/device_runconfig.go
Labels: none

api: Add storage_lvmcluster_qcow2 extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/storage/drivers: Add support for creating and renaming qcow2 volume snapshots
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none

incusd/storage/drivers: Add GetQcow2BackingFilePath
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/interface.go
Labels: none

incusd/storage: Add support for creating, renaming, restoring and deleting qcow2 instance volumes
  internal/server/storage/backend.go
Labels: none

Feature: restrict agent features from the guest
  cmd/incus-agent/config.go
  cmd/incus-agent/exec.go
  cmd/incus-agent/main.go
  cmd/incus-agent/metrics.go
Labels: none

Translated using Weblate (Swedish)
  po/sv.po
Labels: none

Translated using Weblate (Japanese)
  po/ja.po
Labels: none

Translated using Weblate (Japanese)
  po/ja.po
Labels: none

Translated using Weblate (Japanese)
  po/ja.po
Labels: none

incusd/network/bridge: Don't listen for incoming RAs
  internal/server/network/driver_bridge.go
Labels: none

incusd/network/zone: Allow trailing dot in NS records
  internal/server/network/zone/zone.go
Labels: none

incusd/device/physical: Allow live-migration of bridged physical NICs
  internal/server/device/nic_physical.go
Labels: none

shared/tls: Move ACME challenge to shared/tls
  shared/tls/acme.go
  shared/tls/acme_test.go
Labels: none

internal/server/acme: Update certificate renewal call
  internal/server/acme/acme.go
  internal/server/acme/acme_test.go
Labels: none

incusd/instance/qemu: Don't attempt agent connections on frozen VMs
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qemu: Rework state reporting
  internal/server/instance/drivers/driver_qemu.go
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

incusd/operations: Return a copy of the metadata to avoid concurrent access
  internal/server/operations/operations.go
Labels: none

Attempt to make the Incus Agent on Windows better integrated.
  cmd/incus-agent/api_1.0.go
  cmd/incus-agent/daemon.go
  cmd/incus-agent/dev_incus.go
  cmd/incus-agent/main.go
  cmd/incus-agent/main_agent.go
  cmd/incus-agent/network.go
  cmd/incus-agent/os_windows.go
  internal/server/instance/drivers/agent-loader/incus-agent-setup.bat
  internal/server/instance/drivers/agent-loader/incus-agent-setup.ps1
  internal/server/instance/drivers/agent-loader/install.ps1
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incus/cluster: Add 'cluster join' command
  cmd/incus/cluster.go
Labels: none

incus/admin/init: Prepare code for adding initialized server to cluster
  cmd/incus/admin_init.go
  cmd/incus/admin_init_interactive.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/instance/qemu: Fix regression in reported state
  internal/server/instance/drivers/driver_qemu.go
Labels: none

Translated using Weblate (Japanese)
  po/ja.po
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

gomod: Get latest umoci
  go.mod
  go.sum
Labels: none

incus/io: #2636 fix linter complaints in `internal/io`
  .golangci.yml
  internal/io/filesystem_unix.go
  internal/io/readseeker.go
  internal/io/writer.go
  internal/rsync/rsync.go
Labels: none

generate-database: Allow overwriting the target column for a join
  cmd/generate-database/README.md
  cmd/generate-database/db/mapping.go
Labels: none

incusd/storage_volumes: Fix state handling in getVolumeFull
  cmd/incusd/storage_volumes.go
Labels: none

internal/jmap: Refactor Map methods and add comprehensive tests
  internal/jmap/map.go
  internal/jmap/map_test.go
Labels: none

shared/tls: implement Happy Eyeballs (RFC 8305) in RFC3493Dialer
  shared/tls/tls.go
  shared/tls/tls_test.go
Labels: none

incusd/devices/tpm: Make incompatible with live-migration
  internal/server/device/tpm.go
Labels: none

incus/util: #2636 fix linter complaints in `internal/filter`
  internal/filter/match.go
Labels: none

incus/network_load_balancer: Fix typo in cmd info description
  cmd/incus/network_load_balancer.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

api: Add storage_lvmcluster_qcow2 extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/storage/drivers: Add utils for qcow2 manipulation
  internal/server/storage/drivers/utils_qcow2.go
Labels: none

incusd/instance/drivers: Add qcow2 block device utility functions
  internal/server/instance/drivers/util.go
Labels: none
