Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/storage: Add reuse support to GetInstanceAllDisksNBD
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
  internal/server/storage/pool_interface.go
Labels: none

incusd/instances: Add NBD reuse parameter
  cmd/incusd/instance_nbd.go
Labels: none

incus/debug: Support multiple NBD client connections
  cmd/incus/debug.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incus/server/storage/driver/ceph: Shrink images to minimal size after unpacking
  internal/server/storage/drivers/driver_ceph_volumes.go
Labels: none

doc/incus-cli: Add CLI configuration file reference
  doc/client-config.md
  doc/client.md
Labels: Documentation

Makefile: add incremental spellcheck that skips the sphinx and cli setups
  Makefile
Labels: none

Makefile: Improve target padding in make help
  Makefile
Labels: none

incusd/linux: Add ListenUnix helper
  internal/linux/socket.go
Labels: none

incusd/qemu: Handle long run paths for the migration socket
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/qemu: Handle long run paths for the console socket
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/qemu: Handle long run paths for the virtiofs socket
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/images: Mention images available for other instance types
  cmd/incusd/daemon_images.go
Labels: none

incusd/device/nic_routed: Add neighbour proxy entries on the on-link interface
  internal/server/device/nic_routed.go
Labels: none

incusd/network/ovn: Don't use missing router IP as DNS server
  internal/server/network/driver_ovn.go
Labels: none

doc: Update preseed description to match with reality
  doc/howto/initialize.md
Labels: Documentation

incus/utils_copy: Fix wrong error returned
  cmd/incus/utils_copy.go
Labels: none

doc: Ignore criu.org link checking
  doc/conf.py
Labels: Documentation

api: network_bridge_bgp_instances
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/network: Add BGP instance advertisement config keys
  internal/server/network/driver_bridge.go
Labels: none

incusd/device: Advertise individual instance addresses over BGP
  internal/server/device/device_utils_network.go
Labels: none

doc: Document BGP advertisement of instance addresses
  doc/howto/network_bgp.md
Labels: Documentation

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Add NIC's to wordlist
  doc/.wordlist.txt
Labels: Documentation

incusd: Use IsNoneOrEmpty helper
  internal/server/device/device_utils_network.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
  internal/server/network/driver_bridge.go
  internal/server/network/driver_ovn.go
Labels: none

incusd/device: Add configOrVolatile helper
  internal/server/device/device_common.go
  internal/server/device/device_utils_network.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
Labels: none

incus/remote: Add set-keepalive subcommand
  cmd/incus/remote.go
  cmd/incus/usage/usage.go
Labels: none

incus/keepalive: Fix comment typo
  shared/cliconfig/keepalive.go
Labels: none

doc/remote: Update docs with keepalive configuration via CLI commands
  doc/remotes.md
Labels: Documentation

incus/alias: Fix wrong example command typo
  cmd/incus/alias.go
Labels: none

api: core_https_allowed_websocket_origin
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/ws: Validate websocket origin against trusted origins
  shared/ws/upgrader.go
Labels: none

incusd: Add core.https_allowed_websocket_origin server config key
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
  internal/server/cluster/config/config.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incus: close web UI probe response body
  cmd/incus/webui_unix.go
Labels: none

ci: authenticate OpenFGA release lookups
  .github/workflows/tests.yml
Labels: none

storage/zfs: factor out send receive helper
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

storage/zfs: avoid raw sends for encrypted snapshot copies
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

tests: cover encrypted ZFS snapshot copies
  test/suites/storage_driver_zfs.sh
Labels: none

incus/server/storage/driver/volume: Ensure cached image can grow to needed size and not be restricted by pool size config.
  internal/server/storage/drivers/volume.go
Labels: none
