Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/ip: Add support for nic burst limits
  internal/server/ip/class.go
  internal/server/ip/filter.go
Labels: none

incusd/device: Add support for nic burst limits
  internal/server/device/burst_limits_test.go
  internal/server/device/device_utils_network.go
  internal/server/device/nic.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
  internal/server/device/nic_p2p.go
  internal/server/device/nic_routed.go
Labels: none

incusd/network/ovn: Add support for nic burst limits
  internal/server/network/driver_ovn.go
Labels: none

tests: Add tests for nic burst limits
  test/suites/container_devices_nic_bridged.sh
  test/suites/container_devices_nic_p2p.sh
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

api: device_burst_limits
  doc/api-extensions.md
Labels: API, Documentation

incusd/instance/qmp: Set a write deadline on monitor commands
  internal/server/instance/drivers/qmp/qmp.go
Labels: none

api: Add storage_ceph_rbd_backend extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/storage/ceph: Add ceph.rbd.backend config key
  internal/server/storage/drivers/driver_ceph.go
  internal/server/storage/drivers/driver_ceph_utils.go
  internal/server/storage/drivers/driver_ceph_volumes.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/images: Consider both architecture names when filtering
  cmd/incusd/images.go
Labels: none

incus/image: Consider both architecture names when filtering
  cmd/incus/image.go
Labels: none

incusd: Allow recovering shared storage pools when clustered
  cmd/incusd/api_internal_recover.go
Labels: none

incus/admin: Allow recovering shared storage pools when clustered
  cmd/incus/admin_recover.go
Labels: none

doc: Cover shared pool recovery on clusters
  doc/howto/disaster_recovery.md
Labels: Documentation

shared/cmd: Fix progress rendering on non-terminals
  shared/cmd/progress.go
Labels: none

incusd/events: Don't warn when the peer closed the connection first
  internal/server/events/connections.go
Labels: none

incus/network: Use global --project flag in list-allocations
  cmd/incus/network_allocations.go
Labels: none

incus: Add shell completion for --project flag
  cmd/incus/completion.go
  cmd/incus/main.go
Labels: none

incus: Add shell completion for --target-project flag
  cmd/incus/completion.go
  cmd/incus/copy.go
  cmd/incus/image.go
  cmd/incus/main.go
  cmd/incus/move.go
  cmd/incus/profile.go
  cmd/incus/storage_volume.go
Labels: none

client: Fix event connection cleanup on listener failure
  client/incus_events.go
Labels: none

client: Make operation reconnection more resilient
  client/operations.go
Labels: none

incusd/instance/lxc: Don't fail Stop when the container stopped on its own
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd: Block instance creation from backup while evacuated
  cmd/incusd/instances_post.go
Labels: none

incusd/cluster: Wait for ongoing instance creations before evacuating
  cmd/incusd/api_cluster_evacuation.go
Labels: none

incusd/instance/qemu: Include stderr output in restore crash errors
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance: Factor memory into balanced NUMA node selection
  internal/server/instance/drivers/driver_common.go
Labels: none

incusd: Validate project in bulk instance state update
  cmd/incusd/instances_put.go
Labels: none

incusd/cluster: Collect per-instance evacuation and restore errors
  cmd/incusd/api_cluster_evacuation.go
Labels: none

incusd/instance/qmp: Add MigrateCancel
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/instance/qemu: Treat live migration hand-over as cut-off
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd: Keep instance database location in sync after live migration hand-over
  cmd/incusd/instance_post.go
Labels: none

shared/uefi: Add Incus GUID
  shared/uefi/guid.go
Labels: none

incus/low-level: Use new Incus vendor
  cmd/incus/low_level.go
Labels: none

shared/util: Add ESLGUIDVar
  shared/util/uefi.go
Labels: none

cmd/low-level: Use util.ESLGUIDVar
  cmd/incus/low_level.go
Labels: none

shared/validate: Add IsRawNVRAMVariable and IsPEM
  shared/validate/validate.go
Labels: none

incusd/instance/config: Add initial.nvram.*, initial.nvram-binary.* and initial.secureboot.*
  internal/instance/config.go
  internal/server/instance/instance_utils.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instance/qemu: Add support for NVRAM config overrides
  internal/server/instance/drivers/driver_qemu.go
Labels: none
