Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd: Add API endpoints for managing dirty bitmaps
  cmd/incusd/api_1.0.go
  cmd/incusd/instance_bitmap.go
  cmd/incusd/instances.go
  cmd/incusd/storage_volumes_bitmap.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd/instance/lxc: Don't return nil when not implemented
  internal/server/instance/drivers/driver_lxc.go
Labels: none

client: Forward skopeo errors
  client/connection.go
  client/oci.go
  client/oci_images.go
Labels: none

incusd/storage: Add instanceStateful flag to volume snapshot operations
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
  internal/server/storage/pool_interface.go
Labels: none

incusd/device: Pass instanceStateful flag during instance snapshot
  internal/server/device/disk.go
Labels: none

incusd: Pass instanceStateful flag during instance snapshot
  cmd/incusd/storage_volumes_snapshot.go
Labels: none

incusd/apparmor/qemuimg: Expand symlinks
  internal/server/apparmor/qemuimg.go
Labels: none

incus: Fix Windows absolute paths
  cmd/incus/file.go
  cmd/incus/storage_volume.go
  cmd/incus/utils.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

tests: Add strict pull checks for directories
  test/suites/filemanip.sh
  test/suites/storage_volume_filemanip.sh
Labels: none

incus: Enforce stricter directory checks
  cmd/incus/utils_copy.go
Labels: none

incusd: Return bitmap endpoints by default, objects with recursion=1
  cmd/incusd/storage_volumes_bitmap.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd/instance/qemu: Fix RTC handling on Windows
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/drivers: Allow exposing dirty bitmaps through NBD export in online mode
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/storage: Allow exposing dirty bitmaps through NBD export in offline mode
  internal/server/storage/backend.go
  internal/server/storage/drivers/utils_qcow2.go
Labels: none

incusd/storage/drivers: Fix ordering in Qcow2DeletionCleanup
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none

incusd/instance/drivers: Improve snapshot creation rollback handling
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/storage: Improve snapshot creation rollback handling
  internal/server/storage/backend.go
Labels: none

internal/instance: Introduce volatile.vm.boot_state
  internal/instance/config.go
Labels: none

incusd/instance/qemu: Rename internal structs
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qemu: Add new migration state volatile
  internal/server/instance/drivers/driver_qemu_stateful.go
Labels: none

incusd/instance/qemu: Move topology functions to new file
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_machine.go
Labels: none

incusd/instance/qemu: Make use of new migration state logic
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qemu: Don't export internal vcpus and numa nodes maps
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_machine.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instance/qemu: Handle stateful detection corner case
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_stateful.go
Labels: none

incusd/migrate: Set short timeouts on read/write of control data
  cmd/incusd/migrate.go
Labels: none

client: Fix bad error handling
  client/incus_instances.go
Labels: none

incusd/response/upgrade: Add small delay for NBD
  internal/server/response/response.go
Labels: none

incus/server/network/ovn/driver: Only add discard route if it doesn't exist already
  internal/server/network/driver_ovn.go
  internal/server/network/network_utils.go
Labels: none

incus/server/network/ovn/nb: Mark route as discord when nexthop is 'discard'
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incusd/storage: Improve qcow2 volume handling
  internal/server/storage/backend.go
Labels: none

incusd/storage/drivers: Add syncBtrfs
  internal/server/storage/drivers/utils_qcow2.go
Labels: none

incusd/storage/drivers: Use 'qemu-img info' in read-only mode
  internal/server/storage/drivers/utils_qcow2.go
Labels: none

incusd/instances: Don't delete ephemeral instances on system shutdown
  cmd/incusd/instances.go
Labels: none

api: Add projects_restricted_storage_pool_access extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/project: Add support for restricted.storage-pools.access
  cmd/incusd/api_project.go
  cmd/incusd/storage_pools.go
  internal/server/project/permissions.go
  internal/server/project/project.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
