Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

cmd/incusd: refactoring instance args model for import snapshot
  cmd/incusd/api_internal_recover.go
Labels: none

internal/server/db: add properties table and migrate out of date columns
  internal/server/db/cluster/schema.go
Labels: none

internal/server/db: add snapshot args model
  internal/server/db/snapshots.go
Labels: none

internal/server rebase upstream
  internal/server/instance/drivers/driver_lxc.go
Labels: none

internal/server/db: add snapshot property table
  internal/server/db/cluster/snapshots_property.go
  internal/server/db/cluster/snapshots_property.interface.mapper.go
  internal/server/db/cluster/snapshots_property.mapper.go
Labels: none

internal/server/db: add snapshot property table
  internal/server/db/cluster/update.go
Labels: none

internal/server/instance: refactoring instance utils to handle snapshot properties
  internal/server/instance/instance_utils.go
Labels: none

internal/server/instance: refactoring qemu driver to handle with snapshot description
  internal/server/instance/drivers/driver_qemu.go
Labels: none

internal/server/db: add snapshot property fill function and few other refactoring
  internal/server/db/instances.go
Labels: none

shared/api: add snapshot description
  shared/api/instance_snapshot.go
Labels: API

internal/server/instance: refactoring common driver to handle with snapshot description
  internal/server/instance/drivers/driver_common.go
Labels: none

internal/server: format code to ensure codebase pattern
  cmd/incusd/api_internal.go
  cmd/incusd/api_internal_recover.go
  cmd/incusd/instance.go
  cmd/incusd/instance_snapshot.go
  internal/server/db/cluster/snapshots_property.go
  internal/server/db/cluster/update.go
  internal/server/db/instances.go
  internal/server/db/snapshots.go
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_utils.go
Labels: none

internal/server/db: remove stateful from snapshot and refactoring snapshot parser
  internal/server/db/cluster/snapshots.go
Labels: none

internal/server/db: remove stateful from snapshot mapper
  internal/server/db/cluster/snapshots.mapper.go
Labels: none

internal/server/instance: add snapshot description on driver interface
  internal/server/instance/instance_interface.go
Labels: none

i18n: update message translation
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

internal/server: format newline after block
  cmd/incusd/instance.go
  internal/server/db/instances.go
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/instance_utils.go
Labels: none

internal/server: add issnapshot field on instance args
  internal/server/db/instances.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_utils.go
Labels: none

i18n: update translation
  po/incus.pot
Labels: none

internal/server: add is snapshot flag on instance args
  internal/server/db/instances.go
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_utils.go
Labels: none

i18n: update translation
  po/incus.pot
Labels: none

cmd/incusd: add is snapshot flag on instance args
  cmd/incusd/api_internal.go
  cmd/incusd/api_internal_recover.go
  cmd/incusd/instance.go
  cmd/incusd/instance_snapshot.go
  cmd/incusd/profiles_utils.go
  cmd/incusd/storage_volumes_utils.go
Labels: none

Translated using Weblate (Japanese)
  po/ja.po
Labels: none

internal/server: format comment based on lint
  internal/server/instance/instance_utils.go
Labels: none

shared/util: Fix SingleQuote to actually quote
  shared/util/string.go
Labels: none

make update-metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

cmd/incusd: fix update snapshot
  cmd/incusd/instance_snapshot.go
Labels: none

internal/server: fix update snapshot
  internal/jmap/map.go
  internal/server/db/snapshots.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

Translated using Weblate (French)
  po/fr.po
Labels: none

cmd/incus: Fix get-client-certificate ignoring per-remote certs
  cmd/incus/remote.go
Labels: none

Translated using Weblate (French)
  po/fr.po
Labels: none

Translated using Weblate (French)
  po/fr.po
Labels: none

Translated using Weblate (French)
  po/fr.po
Labels: none

incusd/storage/lvm: Move IncusOS check to pool creation
  internal/server/storage/drivers/driver_lvm.go
Labels: none

i18n: fix unsolved rebase
  po/de.po
  po/incus.pot
  po/sv.po
Labels: none

internal/server: change if to switch case due to static-check
  cmd/incusd/storage_volumes.go
  internal/server/sys/selinux.go
Labels: none

feat: Implement uptime metrics (except windows)
  cmd/incus-agent/metrics.go
  internal/server/metrics/api.go
  internal/server/metrics/metrics.go
  internal/server/metrics/types.go
Labels: none

Translated using Weblate (French)
  po/fr.po
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

Translated using Weblate (French)
  po/fr.po
Labels: none
