Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/storage/linstor: Mount snapshot volumes read-only
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incus/create: Allow --environment-file to be passed multiple times
  cmd/incus/create.go
Labels: none

incus: Mention repeatable flags in help strings
  cmd/incus/copy.go
  cmd/incus/create.go
  cmd/incus/exec.go
  cmd/incus/image.go
  cmd/incus/import.go
  cmd/incus/monitor.go
  cmd/incus/move.go
  cmd/incus/network_integration.go
  cmd/incus/project.go
  cmd/incus/publish.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

shared/simplestreams: Include variant in image description
  shared/simplestreams/products.go
Labels: none

client: Fix crash on listener disconnect without error
  client/operations.go
Labels: none

incusd/network/zone: Allow underscore-prefixed names
  internal/server/network/zone/zone.go
Labels: none

incusd/patches: Upgrade OpenFGA model
  cmd/incusd/patches.go
Labels: none

incusd: Fix header definitions in swagger comments
  cmd/incusd/images.go
  cmd/incusd/instance_file.go
  cmd/incusd/instance_nvram.go
  cmd/incusd/storage_volumes_file.go
Labels: none

incusd: Fix body parameters in swagger comments
  cmd/incusd/images.go
  cmd/incusd/instance_file.go
  cmd/incusd/instance_metadata.go
  cmd/incusd/instances_post.go
  cmd/incusd/storage_volumes_file.go
Labels: none

incusd/instance_nvram: Mark var path parameter as required
  cmd/incusd/instance_nvram.go
Labels: none

incusd: Fix response examples in swagger comments
  cmd/incusd/api_cluster.go
  cmd/incusd/api_cluster_group.go
  cmd/incusd/api_project.go
  cmd/incusd/certificates.go
  cmd/incusd/images.go
  cmd/incusd/instance_backup.go
  cmd/incusd/instance_file.go
  cmd/incusd/instance_logs.go
  cmd/incusd/instance_metadata.go
  cmd/incusd/instance_nvram.go
  cmd/incusd/instance_snapshot.go
  cmd/incusd/instances_get.go
  cmd/incusd/network_acls.go
  cmd/incusd/network_address_sets.go
  cmd/incusd/network_forwards.go
  cmd/incusd/network_integrations.go
  cmd/incusd/network_load_balancers.go
  cmd/incusd/network_peers.go
  cmd/incusd/network_zones.go
  cmd/incusd/network_zones_records.go
  cmd/incusd/networks.go
  cmd/incusd/operations.go
  cmd/incusd/profiles.go
  cmd/incusd/storage_buckets.go
  cmd/incusd/storage_buckets_backup.go
  cmd/incusd/storage_pools.go
  cmd/incusd/storage_volumes.go
  cmd/incusd/storage_volumes_backup.go
  cmd/incusd/storage_volumes_bitmap.go
  cmd/incusd/storage_volumes_file.go
  cmd/incusd/storage_volumes_snapshot.go
  cmd/incusd/warnings.go
Labels: none

shared/api: Drop invalid examples from preseed structs
  shared/api/init.go
Labels: API

shared/api: Drop swagger:model from metadata map key types
  shared/api/metadata.go
Labels: API

incusd/metadata: Fix swagger definition of configuration endpoint
  cmd/incusd/metadata.go
Labels: none

incusd/storage: Fix swagger body definition for volume backup rename
  cmd/incusd/storage_volumes_backup.go
Labels: none

test/lint: Validate swagger spec
  test/lint/rest-api-up-to-date.sh
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd: Fix storage volume project expansion
  cmd/incusd/daemon.go
Labels: none

tests: Cover inherited storage volume authorization
  test/suites/openfga.sh
Labels: none

incusd/storage/linstor: Retry resource definition deletion
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

tests: Use future expiry for volume snapshot property test
  test/suites/config.sh
Labels: none

incusd: Make cluster role handover resilient to leader changes
  cmd/incusd/api_cluster.go
  internal/server/cluster/gateway.go
  internal/server/cluster/membership.go
Labels: none

shared/tls: Renew certificates at 80% of validity period
  shared/tls/acme.go
  shared/tls/acme_test.go
Labels: none

incusd/acme: Update for CertificateNeedsUpdate change
  internal/server/acme/acme.go
Labels: none

incusd/acme: Run renewal check hourly
  cmd/incusd/api_acme.go
Labels: none

incusd: Give up on cluster database after failed role handover
  cmd/incusd/daemon.go
Labels: none

incusd/images: Propagate old image deletion errors during refresh
  cmd/incusd/images.go
Labels: none

incusd/storage/btrfs: Wait for quota rescan after enabling quotas
  internal/server/storage/drivers/driver_btrfs_volumes.go
Labels: none

incusd: Bound global database close during shutdown
  cmd/incusd/daemon.go
Labels: none

incusd/instance/qemu: Record maxcpus in boot state
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_machine.go
  internal/server/instance/drivers/driver_qemu_stateful.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incusd/db/cluster: Make node_cluster_group deletion a DeleteMany
  internal/server/db/cluster/nodes_cluster_groups.go
  internal/server/db/cluster/nodes_cluster_groups.mapper.go
Labels: none

incusd: Fix PATCH of cluster group with multiple members
  cmd/incusd/api_cluster_group.go
Labels: none

global: Fix warnings on double file close
  cmd/generate-database/file/write.go
  cmd/incus-agent/templates.go
  cmd/incus-benchmark/benchmark_report.go
  internal/instancewriter/instance_tar_writer.go
  internal/server/backup/backup_config_utils.go
  internal/server/cluster/recover.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/storage/backend.go
  internal/server/storage/drivers/driver_btrfs_volumes.go
  internal/server/storage/drivers/driver_zfs_volumes.go
  internal/server/storage/drivers/generic_vfs.go
  internal/server/storage/drivers/utils.go
Labels: none

incusd: Simplify global database shutdown
  cmd/incusd/daemon.go
Labels: none

incusd/events: Send events outside of the lock
  internal/server/events/events.go
Labels: none

gomod: Update go-cowsql
  go.mod
  go.sum
Labels: none

incusd/storage/linstor: Enforce minimum DRBD volume size
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Enforce exact DRBD volume sizes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/lvm: Only grow snapshot CoW capacity when needed
  internal/server/storage/drivers/driver_lvm_utils.go
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none
