Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

incusd/device/device_load.go: Added gendoc for nicType
  internal/server/device/device_load.go
Labels: none

incusd/server/device/infiniband: Added gendoc for parent, mtu, hwaddr
  internal/server/device/infiniband_physical.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Use gendoc for infiniband
  doc/reference/devices_infiniband.md
Labels: Documentation

shared/validate: Move to adhocore/gronx
  shared/validate/validate.go
Labels: none

incusd: Move to adhocore/gronx
  cmd/incusd/snapshot_common.go
  cmd/incusd/snapshot_common_test.go
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

incus/internal/server/device/nic_routed.go: Added host_tables
  internal/server/device/nic_routed.go
Labels: none

incus/storage: Correct help messsage for `incus storage list`
  cmd/incus/storage.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

api/scriptlet: Add yaml struct tags
  shared/api/scriptlet/instance.go
Labels: API

incusd/storage/migration: Check instance size during migration
  internal/server/storage/backend.go
Labels: none

incusd/main_forknet: Add dhcp static routes via 0.0.0.0 as scope link
  cmd/incusd/main_forknet.go
Labels: none

incusd/main_forknet: Use logrus for logging and add a command argument for the logfile path
  cmd/incusd/main_forknet.go
Labels: none

incusd/instance/lxc: Pass log file to forknet dhcp
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/device/disk: Fix registration of custom volumes
  internal/server/device/disk.go
Labels: none

incusd/device/disk: Register with pool from device config instead of instance pool
  internal/server/device/disk.go
Labels: none

blah blah lah
  internal/server/device/nic_routed.go
Labels: none

client: Add server-side filtering for profiles
  client/incus_profiles.go
  client/interfaces.go
Labels: none

incus/profile: Use server-side filtering
  cmd/incus/profile.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

Fix reference passing when yaml unmarshal
  cmd/incus-agent/templates.go
  internal/server/instance/drivers/driver_qemu.go
  shared/cliconfig/file.go
Labels: none

Limit new() calls
  cmd/incus-agent/templates.go
  cmd/incus/utils_properties_test.go
  cmd/incus/utils_test.go
  cmd/incusd/api_cluster_evacuation.go
  cmd/incusd/instance_test.go
  cmd/incusd/snapshot_common_test.go
  internal/cmd/sort_test.go
  internal/instancewriter/instance_tar_writer.go
  internal/server/auth/authorization_objects_test.go
  internal/server/db/db_internal_test.go
  internal/server/dns/handler.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/version/version_test.go
  shared/osarch/release_test.go
  shared/util/struct.go
Labels: none

incusd/network/bridge: Fix children interface delete issue
  internal/server/network/driver_bridge.go
Labels: none

doc/reference/instance: Clarify VM memory behavior
  doc/reference/instance_options.md
Labels: Documentation

incus/admin/init: Allow passing a file to --preseed
  cmd/incus/admin_init.go
  cmd/incus/admin_init_preseed.go
Labels: none

incusd/network/ovn: Notify whole cluster on uplink changes
  internal/server/network/driver_ovn.go
Labels: none

incus: Use a random image in first use message
  cmd/incus/main.go
Labels: none

incus: Replace distro examples
  cmd/incus/create.go
  cmd/incus/launch.go
Labels: none

incus-benchmark: Replace default distro
  cmd/incus-benchmark/main_init.go
  cmd/incus-benchmark/main_launch.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

doc: Replace Ubuntu in documentation examples
  doc/cloud-init.md
  doc/howto/benchmark_performance.md
  doc/howto/cluster_groups.md
  doc/howto/cluster_manage_instance.md
  doc/howto/images_manage.md
  doc/howto/images_remote.md
  doc/howto/incus_alias.md
  doc/howto/instances_create.md
  doc/howto/instances_manage.md
  doc/howto/instances_routed_nic_vm.md
  doc/howto/network_ovn_setup.md
  doc/howto/projects_work.md
  doc/howto/server_migrate_lxd.md
  doc/howto/storage_linstor_setup.md
  doc/instance-exec.md
  doc/reference/image_format.md
  doc/tutorial/first_steps.md
Labels: Documentation

doc/requirements: Refresh a bit
  doc/requirements.md
Labels: Documentation

scriptlet: Return proper error
  internal/server/scriptlet/instance_placement.go
Labels: none

incusd/instance: Also consider local CPU flags
  internal/server/instance/drivers/util.go
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

incusd/instance/qemu: Cap maxmem to host mem maximum
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_config_test.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

Release Incus 6.12
  internal/version/flex.go
Labels: none

client: Add server-side filtering for networks
  client/incus_networks.go
  client/interfaces.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
