Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/instance/drivers: Add writable argument to NBDBlockExportAdd
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/instance: Add ExportQcow2Disk
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
Labels: none

incusd/storage: Support live migration of qcow2 volumes
  internal/server/storage/backend.go
  internal/server/storage/drivers/utils_qcow2.go
Labels: none

doc: Add information about lvmcluster limitations
  doc/reference/storage_lvm.md
Labels: Documentation

incusd/config: Add storage logs_volume option
  internal/server/node/config.go
Labels: none

incusd/metadata: Update metadata to include storage logs_volume option
  internal/server/metadata/configuration.json
Labels: none

doc/config: Add storage logs_volume option
  doc/config_options.txt
Labels: Documentation

incusd/db: Add query to retrieve the number of running instances
  internal/server/db/instances.go
Labels: none

incusd/instance/drivers: Update logs location if 'storage.logs_volume' option is being used
  internal/server/instance/drivers/driver_common.go
Labels: none

incusd/daemon_storage: Add storage operation for 'storage.logs_volume'
  cmd/incusd/daemon_storage.go
Labels: none

incusd/api: Add validation and management of 'storage.logs_volume'
  cmd/incusd/api_1.0.go
Labels: none

doc: Add description of incus_node_boot_time_seconds and incus_node_time_seconds
  cmd/incus-agent/metrics.go
  doc/reference/provided_metrics.md
Labels: Documentation

incusd/instance: Add QCOW2 live migration support for instances with snapshots
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
Labels: none

incusd/storage: Add QCOW2 live migration support for instances with snapshots
  internal/server/storage/backend.go
Labels: none

incusd: Remove ensureMigratable as checks are no longer valid
  cmd/incusd/instance_post.go
  cmd/incusd/instance_snapshot.go
  cmd/incusd/migrate_instance.go
Labels: none

doc: Remove outdated doc about live QCOW2 migration limitation
  doc/reference/storage_lvm.md
Labels: Documentation

internal/server/db: organize fields from instance and snapshots
  internal/server/db/cluster/instances.go
  internal/server/db/cluster/instances.mapper.go
  internal/server/db/cluster/schema.go
  internal/server/db/cluster/snapshots.go
  internal/server/db/cluster/snapshots.mapper.go
  internal/server/db/cluster/snapshots_property.go
  internal/server/db/cluster/snapshots_property.interface.mapper.go
  internal/server/db/cluster/snapshots_property.mapper.go
  internal/server/db/cluster/update.go
  internal/server/db/instances.go
  internal/server/db/snapshots.go
Labels: none

internal/server: update drivers to handle snapshot description
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
  internal/server/instance/instance_utils.go
Labels: none

internal/server: remove unused expire date field
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/instance_utils.go
Labels: none

cmd/incusd: update instance args to handle new snapshot fields
  cmd/incusd/api_cluster_evacuation.go
  cmd/incusd/api_internal.go
  cmd/incusd/api_internal_recover.go
  cmd/incusd/instance.go
  cmd/incusd/instance_patch.go
  cmd/incusd/instance_put.go
  cmd/incusd/instance_snapshot.go
  cmd/incusd/instances_post.go
  cmd/incusd/profiles_utils.go
  cmd/incusd/storage_volumes_utils.go
Labels: none

internal/migration: Add snapshot description in protobuf
  internal/migration/migrate.pb.go
  internal/migration/migrate.proto
Labels: none

internal/version: Add snapshot description extension
  internal/version/api.go
Labels: none

doc: Add extension and document snapshot description
  doc/api-extensions.md
  doc/rest-api.yaml
Labels: API, Documentation

shared/api: Add snapshot description on snapshot endpoint
  shared/api/instance_snapshot.go
Labels: API

client: add snapshot description extension
  client/incus_instances.go
Labels: none

cmd/incus: add snapshot description on create and list
  cmd/incus/snapshot.go
Labels: none

internal/jmap: add new function to validate if map is empty
  internal/jmap/map.go
Labels: none

i18n: update translation
  po/incus.pot
Labels: none

test: add functional test for snapshot description validation
  test/main.sh
  test/suites/config.sh
  test/suites/snapshots.sh
Labels: none

incusd/instance/drivers: Propagate live migration information
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/storage: Skip final filesystem sync for VMs during migration
  internal/server/storage/backend.go
  internal/server/storage/drivers/generic_vfs.go
Labels: none

test: add property flag on config test
  doc/api-extensions.md
  test/suites/snapshots.sh
Labels: API, Documentation

incusd/metrics: Make linter happy
  internal/server/metrics/types.go
Labels: none

doc/requirements: Bump minimal requirements
  doc/requirements.md
Labels: Documentation

Validate requested storage pool during instance migration
  cmd/incusd/instance_post.go
Labels: none

incusd/instance/qemu: Rename onDisconnectEvent to initialized
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

incusd/instance/qemu: Add EventVMReset
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

incusd/instance/qemu: Use standard QEMU actions and catch in handler
  internal/server/instance/drivers/driver_qemu.go
Labels: none

internal/instance: Add volatile.vm.needs_reset
  internal/instance/config.go
Labels: none

incusd/instance/qemu: Implement fast reboot
  internal/server/instance/drivers/driver_qemu.go
Labels: none
