Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/instance/qmp added qmp event log
  internal/server/instance/drivers/qmp/qmp.go
Labels: none

incus-migrate: Fix calculating volume size for block device
  cmd/incus-migrate/utils.go
Labels: none

incusd/instance/qmp: Prevent initialization of qmpLog with an empty log file path
  internal/server/instance/drivers/qmp/log.go
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

incus/info: Fix --show-log
  cmd/incus/info.go
Labels: none

delint: spelling, shadows, comment periods, newlines after blocks, trailing spaces
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
  test/suites/backup.sh
Labels: none

incusd: Remove target check when server clustered
  cmd/incusd/storage_volumes.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

client: Don't swallow error if incusParseResponse is successful
  client/incus.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

incusd/cluster: Return the cluster certificate after bootstrap
  cmd/incusd/api_cluster.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

incusd/network/ovn: Fix regression in stateful DHCPv6 handling
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incusd: Update for new network peer functions
  cmd/incusd/network_integrations.go
  cmd/incusd/network_peers.go
  internal/server/network/acl/acl_ovn.go
  internal/server/network/driver_common.go
  internal/server/network/driver_ovn.go
  internal/server/network/network_utils.go
Labels: none

incusd/db/cluster: Port network peer to database generator
  internal/server/db/cluster/networks_peers.go
  internal/server/db/cluster/networks_peers.interface.mapper.go
  internal/server/db/cluster/networks_peers.mapper.go
  internal/server/db/network_peers.go
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

incusd/apparmor/forkproxy: Expand /dev exception
  internal/server/apparmor/instance_forkproxy.profile.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

internal/instance: Add exported error
  internal/instance/expiry.go
Labels: none

incus/snapshot: Implement --expiry
  cmd/incus/snapshot.go
Labels: none

incus/storage/snapshot: Implement --expiry
  cmd/incus/storage_volume.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

api: snapshot_manual_expiry
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc/storage: Add snapshots.expiry.manual
  doc/reference/storage_btrfs.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_dir.md
  doc/reference/storage_linstor.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
Labels: Documentation

internal/instance: Add snapshots.expiry.manual
  internal/instance/config.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/storage: Add snapshots.expiry.manual validation
  internal/server/storage/utils.go
Labels: none

incusd/instance_snapshot: Add snapshots.expiry.manual
  cmd/incusd/instance_snapshot.go
Labels: none

incusd/storage_volume_snapshot: Add snapshots.expiry.manual
  cmd/incusd/storage_volumes_snapshot.go
Labels: none

shared/tls: Export TLSConfigWithTrustedCert
  shared/tls/tls.go
Labels: none

internal/server/db/cluster: Generate functions using DB generator
  internal/server/db/cluster/networks_forwards.go
  internal/server/db/cluster/networks_forwards.interface.mapper.go
  internal/server/db/cluster/networks_forwards.mapper.go
  internal/server/db/network_forwards.go
Labels: none

incusd/scriptlet: Allow sets
  internal/server/scriptlet/load/utils.go
Labels: none

internal/server/network: Port to generated functions
  cmd/incusd/network_allocations.go
  cmd/incusd/network_forwards.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
  internal/server/device/proxy.go
  internal/server/network/driver_bridge.go
  internal/server/network/driver_common.go
  internal/server/network/driver_ovn.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

incusd/ip/neigh: Switch to netlink
  internal/server/device/nic_bridged.go
  internal/server/ip/neigh.go
Labels: none

incusd/ip/vdpa: Switch to vishvananda/netlink library instead of doing netlink ourselves
  internal/server/ip/vdpa.go
Labels: none

incusd/ip/neigh_proxy: Switch to netlink
  internal/server/ip/neigh_proxy.go
Labels: none

incusd/ip: Refactor family from string to `Family` type
  internal/server/device/nic_ipvlan.go
  internal/server/ip/addr.go
  internal/server/ip/route.go
  internal/server/ip/utils.go
Labels: none

incusd/ip/utils: Switch to netlink
  internal/server/ip/utils.go
Labels: none
