Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/device: Move reusable code into getNumaNodeSet helper
  internal/server/device/device_utils_generic.go
  internal/server/device/gpu_sriov.go
Labels: none

incusd/network: Add SRIOVCountFreeVirtualFunctions
  internal/server/network/network_utils_sriov.go
Labels: none

incusd/device: Add support for nic SR-IOV selection by vendorid, productid and pci
  internal/server/device/nic.go
  internal/server/device/nic_sriov.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

api: Add 'nic_sriov_select_ext' extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/storage/drivers: Allow setting 'vg_name' for non-clustered LVM during init
  internal/server/storage/drivers/driver_lvm.go
Labels: none

incus: Implement "incus wait"
  cmd/incus/main.go
  cmd/incus/wait.go
Labels: none

incusd/instance/drivers: Rename hashName to hashValue
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/util.go
  internal/server/instance/drivers/util_test.go
Labels: none

incusd/instance/drivers: Hash serial value if it exceeds the maximum length
  internal/server/instance/drivers/driver_qemu.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/network/bridge: Skip dnsmasq on non-routed IPv6
  internal/server/network/driver_bridge.go
Labels: none

Update Rocky Linux instructions
  doc/installing.md
Labels: Documentation

incusd/network/zone: Use the standard SOA format
  internal/server/network/zone/zone.go
  internal/server/network/zone/zone_templates.go
Labels: none

incusd/network/zone: Allow setting DNS admin contact
  internal/server/network/zone/zone.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

api: network_zones_dns_contact
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/network: Remove automatic increasing of SR-IOV VF count
  internal/server/network/network_utils_sriov.go
Labels: none

doc: Add warning about long device names
  doc/reference/devices_disk.md
Labels: Documentation

incusd/device/nic: Add `attached` configuration key
  internal/server/device/device_utils_network.go
  internal/server/device/nic.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ipvlan.go
  internal/server/device/nic_macvlan.go
  internal/server/device/nic_ovn.go
  internal/server/device/nic_p2p.go
  internal/server/device/nic_physical.go
  internal/server/device/nic_routed.go
  internal/server/device/nic_sriov.go
Labels: none

incusd/device/nic: Add `connected` configuration key
  internal/server/device/device_common.go
  internal/server/device/nic.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_macvlan.go
  internal/server/device/nic_ovn.go
  internal/server/device/nic_p2p.go
  internal/server/device/nic_physical.go
  internal/server/device/nic_routed.go
  internal/server/device/nic_sriov.go
Labels: none

incusd/instance/qemu: Properly update detached devices
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/lxc: Properly update detached devices
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/device/nic_ovn: Factor common options
  internal/server/device/nic_ovn.go
Labels: none

incusd/device/nic_p2p: Fix boot.priority spelling in gendoc
  internal/server/device/nic_p2p.go
Labels: none

incusd/instance/qemu: Implement NIC connected config key
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/ip/link: Relax parent detection logic
  internal/server/ip/link.go
Labels: none

incusd/instance/lxc: Implement NIC connected config key
  internal/server/instance/drivers/driver_lxc.go
Labels: none

api: nic_attached_connected
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instance/lxc: Restrict path of template files and targets
  cmd/incusd/instance_console.go
Labels: none

tests: Add NIC tests for attached and connected keys
  test/suites/container_devices_nic_bridged.sh
  test/suites/container_devices_nic_macvlan.sh
  test/suites/container_devices_nic_p2p.sh
  test/suites/container_devices_nic_physical.sh
  test/suites/container_devices_nic_routed.sh
  test/suites/container_devices_nic_sriov.sh
Labels: none

mini-oidc: Update for newer Zitadel
  test/mini-oidc/storage/storage.go
Labels: none

incusd/cluster: Skip first re-balance
  cmd/incusd/api_cluster_rebalance.go
Labels: none

incusd/auth/tls: Fix handling of GetPermissionChecker
  internal/server/auth/driver_tls.go
Labels: none

incusd/instance: Report clear error on concurent migrations
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/device/nic: Fix connected logic for non-NIC QEMU devices
  internal/server/device/nic_ovn.go
  internal/server/device/nic_sriov.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instance/qmp: Prevent setting link up at initialization
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/instance/qemu: Properly initialize connected status
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/storage/zfs: Set IncusOS storage usage property
  internal/server/storage/drivers/driver_zfs.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
