Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/auth/openfga: Rebuild model
  internal/server/auth/driver_openfga_model.go
Labels: none

incusd/db/network_peers: Fix querying of integrations
  internal/server/db/cluster/networks_peers.go
Labels: none

api: disk_wwn
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/validate: Add IsWWN
  shared/validate/validate.go
Labels: none

incusd/device/disk: Add wwn property
  internal/server/device/disk.go
Labels: none

incusd/instance/qemu: Add support for setting WWN
  internal/server/instance/drivers/driver_qemu.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/network/bridge: Allow automatic host-specific IPv6 addresses
  internal/server/network/driver_bridge.go
Labels: none

incusd/auth/oidc: Expose scopes list
  internal/server/auth/oidc/oidc.go
Labels: none

client: Use server-advertised OIDC scopes
  client/incus_oidc.go
Labels: none

incusd/instance/qmp: Properly handle lost connections
  internal/server/instance/drivers/qmp/qmp.go
Labels: none

incusd/instance/qmp: Fix monitor failure test
  internal/server/instance/drivers/qmp/qmp_test.go
Labels: none

incusd/instance/qemu: Fix lifecycle events
  internal/server/instance/drivers/driver_qemu.go
Labels: none

shared/cliconfig: Add support for credentials helper
  shared/cliconfig/remote.go
Labels: none

client/oci: Refactor skopeo logic and add credentials support
  client/oci_images.go
Labels: none

incusd/device: Add IsPhysicalNICWithBridge and make hwaddr optional
  internal/server/device/nic_physical.go
Labels: none

incusd/instance/drivers: Fill the MAC address for physical NIC with bridge parent
  internal/server/instance/drivers/driver_qemu.go
Labels: none

api: server_logging_webhook
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/logging/loki: Set default retry
  internal/server/logging/driver_loki.go
Labels: none

incusd/logging/webhook: Initial webhook logger
  internal/server/cluster/config/config.go
  internal/server/config/logging.go
  internal/server/logging/controller.go
  internal/server/logging/driver_webhook.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc/wordlist: Add webhook
  doc/.wordlist.txt
Labels: Documentation

incusd/device/disk: prevent file mounts on VMs
  internal/server/device/disk.go
Labels: none

incusd/devices/disk: Improve documentation for the path key
  internal/server/device/disk.go
Labels: none

doc: Update metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Sort word list
  doc/.wordlist.txt
Labels: Documentation

tests: Bump cleanup timeouts
  test/includes/incusd.sh
Labels: none

tests/clustering: Use elif in driver conditions
  test/suites/clustering.sh
Labels: none

incusd/instance/qemu: Cleanup volume eject/detach logic
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/db/images: Associate image with default profile from default project
  internal/server/db/images.go
Labels: none

incusd/db/images: Set cached option for projects with 'features.images' disabled
  internal/server/db/images.go
Labels: none

incus-agent: Handle path mount removal
  cmd/incus-agent/events.go
  cmd/incus-agent/os_linux.go
  cmd/incus-agent/os_windows.go
Labels: none

incus-agent/events: Remove fmt import
  cmd/incus-agent/events.go
Labels: none

test: Fix mountpoint detection logic
  test/suites/config.sh
Labels: none

incusd/instance/lxc: Only remove mountpoints in /dev
  internal/server/instance/drivers/driver_lxc.go
Labels: none

shared/cliconfig: Introduce GetClientCertificate
  shared/cliconfig/cert.go
  shared/cliconfig/remote.go
Labels: none

incus/remote: Use GetClientCertificate
  cmd/incus/remote.go
Labels: none

client: Add SkipGetEvents
  client/connection.go
  client/incus.go
  client/incus_events.go
  client/incus_server.go
Labels: none

incusd: Consistently set SkipGetEvents and SkipGetServer
  cmd/incusd/daemon_images.go
  cmd/incusd/images.go
  cmd/incusd/instance_post.go
  internal/server/cluster/connect.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_utils.go
Labels: none

client: Add configurable temp directory
  client/connection.go
  client/incus.go
  client/incus_images.go
  client/oci.go
  client/oci_images.go
  client/simplestreams.go
  client/simplestreams_images.go
Labels: none
