Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/storage/truenas: strip out truenas.config_file support
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
Labels: none

docs/storage/truenas: strip out truenas.config_file support
  doc/howto/storage_pools.md
Labels: Documentation

docs: escape truenas.example.com
  doc/howto/storage_pools.md
Labels: Documentation

tests/storage/truenas: stripout TRUENAS_CONFIG_FILE support
  test/README.md
  test/backends/truenas.sh
  test/suites/backup.sh
  test/suites/storage_snapshots.sh
Labels: none

tests/storage/truenas: remove main-tn.sh test file
  test/main-tn.sh
Labels: none

docs/storage/truenas: update truenas storage documention with more detail
  doc/howto/storage_pools.md
Labels: Documentation

tests: delint supprt -> support
  test/main.sh
Labels: none

docs: spelling
  doc/howto/storage_pools.md
Labels: Documentation

tests: fix truenas cluster exclusion logic
  test/main.sh
Labels: none

docs: attempt to fix "spelling"
  doc/howto/storage_pools.md
Labels: Documentation

docs/storage: correct url coding
  doc/howto/storage_pools.md
Labels: Documentation

test/storage: delint trailing space
  test/suites/storage.sh
Labels: none

tests/truenas: standardize indention
  test/backends/truenas.sh
  test/includes/clustering.sh
  test/includes/incusd.sh
  test/includes/storage.sh
  test/main.sh
  test/suites/backup.sh
  test/suites/snapshots.sh
  test/suites/storage_driver_truenas.sh
  test/suites/storage_snapshots.sh
Labels: none

tests/storage/truenas: iteratively delete instances
  test/suites/storage_driver_truenas.sh
Labels: none

incus/cmd/incus/config_template.go: Adding ls alias to list command
  cmd/incus/config_template.go
Labels: none

incus/cmd/incus/snapshot.go: Adding ls alias to snapshot command
  cmd/incus/snapshot.go
Labels: none

incus/cmd/incus/storage_volume.go: Adding ls alias to list command
  cmd/incus/storage_volume.go
Labels: none

docs: spelling
  doc/.wordlist.txt
  doc/howto/storage_pools.md
Labels: Documentation

docs/truenas: removed "Passed as ..." uncessary detail
  doc/howto/storage_pools.md
Labels: Documentation

incusd/instance/lxc: Fix handling of multiple USB device removal
  internal/server/instance/drivers/driver_lxc.go
Labels: none

tests: Bump timeout a little
  test/suites/basic.sh
Labels: none

api: storage_driver_truenas
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/storage/truenas: Introduce TrueNAS driver
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
  internal/server/storage/drivers/load.go
Labels: none

docs: Update word list
  doc/.wordlist.txt
Labels: Documentation

docs: Add TrueNAS storage driver
  doc/explanation/storage.md
  doc/reference/storage_drivers.md
  doc/reference/storage_truenas.md
Labels: Documentation

tests: Add TrueNAS tests (and tweak testsuite)
  test/README.md
  test/backends/truenas.sh
  test/includes/clustering.sh
  test/includes/storage.sh
  test/main.sh
  test/suites/backup.sh
  test/suites/clustering.sh
  test/suites/container_move.sh
  test/suites/migration.sh
  test/suites/projects.sh
  test/suites/snapshots.sh
  test/suites/storage.sh
  test/suites/storage_driver_truenas.sh
  test/suites/storage_local_volume_handling.sh
  test/suites/storage_snapshots.sh
Labels: none

Translated using Weblate (German)
  po/de.po
Labels: none

incusd/device: Fix logic for checking if parent is a bridge in IsPhysicalWithBridge
  internal/server/device/nic_physical.go
Labels: none

incusd/device/disk: Enable posix ACL support for virtiofsd
  internal/server/device/device_utils_disk.go
Labels: none

incusd/os: Forward within cluster
  cmd/incusd/api_os.go
Labels: none

incusd/ip/neigh: Fix MAC filtering
  internal/server/ip/neigh.go
Labels: none

test/basic_usage: improve auto-restart test loop
  test/suites/basic.sh
Labels: none

tests/truenas: add INCUS_TRUENAS_ALLOW_INSECURE
  test/README.md
  test/backends/truenas.sh
  test/suites/backup.sh
  test/suites/clustering.sh
  test/suites/container_move.sh
  test/suites/storage.sh
  test/suites/storage_local_volume_handling.sh
  test/suites/storage_snapshots.sh
Labels: none

tests: remove obsolete truenas exclusions
  test/suites/projects.sh
  test/suites/storage.sh
Labels: none

incusd: Move IncusOS detection to OS struct
  cmd/incusd/api_metrics.go
  cmd/incusd/api_os.go
  internal/server/sys/os.go
  internal/util/os.go
Labels: none

incusd/networks: Filter network list on Incus OS
  cmd/incusd/networks.go
  go.mod
  go.sum
Labels: none

incusd/storage/truenas: add IPv6 support to source property
  internal/server/storage/drivers/driver_truenas.go
Labels: none

tests: delint
  test/suites/basic.sh
Labels: none

incusd/storage: Fix EnsureMountPath to avoid resetting permissions
  internal/server/storage/backend.go
  internal/server/storage/drivers/driver_btrfs_volumes.go
  internal/server/storage/drivers/driver_ceph_volumes.go
  internal/server/storage/drivers/driver_cephfs_volumes.go
  internal/server/storage/drivers/driver_dir_volumes.go
  internal/server/storage/drivers/driver_linstor_volumes.go
  internal/server/storage/drivers/driver_lvm_utils.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/driver_zfs_volumes.go
  internal/server/storage/drivers/generic_vfs.go
  internal/server/storage/drivers/volume.go
Labels: none

shared/tls: Ignore expiration date of trusted certificates
  shared/tls/tls.go
Labels: none
