Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

proc: lint: fix import order
  shared/subprocess/proc.go
Labels: none

selinux/alloc.go: lint: unexport AllocMaxAttempts
  internal/server/selinux/alloc.go
Labels: none

linter fixes
  internal/server/selinux/alloc.go
  internal/server/selinux/instance.go
  shared/subprocess/proc.go
Labels: none

incusd: rename subcommand forklimits to forkqemu
  cmd/incusd/main.go
  cmd/incusd/main_forkqemu.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd: rename subcommand forkstart to forklxc
  cmd/incusd/main.go
  cmd/incusd/main_forklxc.go
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd: add secontext= to forkqemu subcommand
  cmd/incusd/main_forkqemu.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

subprocess/proc: cleanup now unused SELinux fork logic
  cmd/incusd/daemon.go
  shared/subprocess/proc.go
Labels: none

selinux/alloc: Fix label leak in case of collision
  internal/server/selinux/alloc.go
Labels: none

fix linter findings
  cmd/incusd/main_forkqemu.go
  internal/server/selinux/instance.go
  shared/subprocess/proc.go
Labels: none

drivers: Add missing no-op returns to lxc and qemu drivers
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

config: update condition for selinux config keys
  internal/instance/config.go
Labels: none

config: update condition for selinux config key
  internal/instance/config.go
Labels: none

fix lints
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/selinux/instance.go
  internal/server/selinux/selinux.go
Labels: none

doc: add MCS to wordlist
  doc/.wordlist.txt
Labels: Documentation

instance/config: fix spelling
  internal/instance/config.go
Labels: none

instance/config: Improve security.selinux.label_rootfs doc
  internal/instance/config.go
Labels: none

update metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

server: Fix assign+test found by linter
  internal/server/instance/drivers/driver_qemu.go
  internal/server/selinux/alloc.go
  internal/server/selinux/instance.go
  internal/server/selinux/selinux.go
Labels: none

Translated using Weblate (Russian)
  po/ru.po
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

Translated using Weblate (Swedish)
  po/sv.po
Labels: none

doc/devices/disk: Fix broken link
  doc/reference/devices_disk.md
Labels: Documentation

incusd/instance/qemu: Fix version detection for qemu-kvm
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd: Re-introduce core scheduling detection
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/sys/os.go
Labels: none

incusd/instance/lxc: Fix swap=false failure
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/forknet: Persist DHCPv6 client DUID across restarts
  cmd/incusd/main_forknet.go
Labels: none

incusd/forknet: Include FQDN in DHCPv6 INFO requests
  cmd/incusd/main_forknet.go
Labels: none

incusd/forknet: Properly renew stateful DHCPv6
  cmd/incusd/main_forknet.go
Labels: none

incusd/forknet: Add jitter to DHCPv6 renewal
  cmd/incusd/main_forknet.go
Labels: none

incusd/device/nic_bridged: Fix swapped IPv4/IPv6 DNS record
  internal/server/device/nic_bridged.go
Labels: none

doc/authorization: Fix reference to old "manager" relation
  doc/authorization.md
Labels: Documentation

incusd/network/acl: Fix issue with instances in different project than ACL
  internal/server/network/acl/acl_bridge.go
  internal/server/network/acl/acl_load.go
Labels: none

incusd/projects: Fix targeting on project delete
  cmd/incusd/api_project.go
Labels: none

incusd/storage_volume_nbd: Fix incorrect swagger
  cmd/incusd/storage_volumes_nbd.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

test/network_acl: Add test for ACL used by instance in different project
  test/suites/network_acl.sh
Labels: none

incusd/instance/qemu: Remove deprecated QEMU flag
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/cluster: Re-order evacuations to happen earlier on shutdown
  cmd/incusd/daemon.go
Labels: none

incusd/endpoints: Fix Wait() race in Tomb shutdown
  internal/server/endpoints/endpoints.go
Labels: none

incusd/instance/qemu: Pass SMBIOS type 11 entries via files
  internal/server/instance/drivers/driver_qemu.go
Labels: none
