Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

internal/instance: Clarify security.secureboot setting
  internal/instance/config.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/network/ovn: Fallback to OVN router address as DNS server
  internal/server/network/driver_ovn.go
Labels: none

api: network_ipv4_dhcp_routes
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/validate: Add IsDHCPRouteList
  shared/validate/validate.go
Labels: none

incusd/network/ovn: Add ipv4.dhcp.routes
  internal/server/network/driver_ovn.go
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incusd/network/bridge: Add ipv4.dhcp.routes
  internal/server/network/driver_bridge.go
Labels: none

tests: Add tests for ipv4.dhcp.routes
  test/main.sh
  test/suites/network_dhcp_routes.sh
Labels: none

doc: Add documentation for ipv4.dhcp.routes config
  doc/.wordlist.txt
  doc/reference/network_bridge.md
  doc/reference/network_ovn.md
Labels: Documentation

github: Pass shell type to shellcheck
  .github/workflows/tests.yml
Labels: none

generate-database: Handle constraint err in Create
  cmd/generate-database/db/constants.go
  cmd/generate-database/db/method.go
Labels: none

incusd/db: Update generated code
  internal/server/db/cluster/certificate_projects.mapper.go
  internal/server/db/cluster/certificates.mapper.go
  internal/server/db/cluster/cluster_groups.mapper.go
  internal/server/db/cluster/instance_profiles.mapper.go
  internal/server/db/cluster/instances.mapper.go
  internal/server/db/cluster/networks_integrations.mapper.go
  internal/server/db/cluster/nodes_cluster_groups.mapper.go
  internal/server/db/cluster/operations.mapper.go
  internal/server/db/cluster/profiles.mapper.go
  internal/server/db/cluster/projects.mapper.go
  internal/server/db/cluster/snapshots.mapper.go
Labels: none

generate-database: Check for tx if necessary
  cmd/generate-database/db/method.go
Labels: none

incusd/db: Update generated code
  internal/server/db/cluster/certificate_projects.mapper.go
  internal/server/db/cluster/config.mapper.go
  internal/server/db/cluster/devices.mapper.go
  internal/server/db/cluster/instance_profiles.mapper.go
  internal/server/db/cluster/instances.mapper.go
  internal/server/db/cluster/networks_integrations.mapper.go
  internal/server/db/cluster/profiles.mapper.go
  internal/server/db/cluster/projects.mapper.go
  internal/server/db/cluster/snapshots.mapper.go
Labels: none

cmd/incus: Use the file extension of the edited file for the temp file, to help with syntax highlighting
  cmd/incus/file.go
Labels: none

incusd/api_internal: Centralize all internal API endpoints
  cmd/incusd/api_cluster.go
  cmd/incusd/api_internal.go
Labels: none

tests: Update for re-organized internal endpoints
  test/suites/clustering.sh
  test/suites/fdleak.sh
  test/suites/network_forward.sh
  test/suites/warnings.sh
Labels: none

incus/drivers: Fix ZFS CreateVolume deletes pre-existing data on failure
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

incus/rebuild: Correct help message
  cmd/incus/rebuild.go
Labels: none

incusd/cluster/config: Set default value for acme.ca_url
  internal/server/cluster/config/config.go
Labels: none

incusd/cluster/config: Return acme.provider.environment as a slice
  internal/server/cluster/config/config.go
Labels: none

incusd/acme: Remove DNS-01 provider (now using lego externally)
  internal/server/acme/dns-01-provider.go
Labels: none

incusd/acme: Move DNS-01 to external lego binary
  cmd/incusd/acme.go
  internal/server/acme/acme.go
Labels: none

incusd/api_1_0: Trigger ACME on all ACME config options
  cmd/incusd/api_1.0.go
Labels: none

incus/file: Always use 1MB chunks for SFTP
  cmd/incus/file.go
Labels: none

incusd/instance/lxc: Fail immediately if no idmap found
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/acme: use correct path
  internal/server/acme/acme.go
Labels: none

incusd/bgp: Rework start/stop logic
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
  internal/server/bgp/server.go
Labels: none

incusd/network/ovn: Skip existing static routes
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incusd/instance/qemu: Set caching-mode with intel-iommu
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incus-agent: Improve SFTP performance
  cmd/incus-agent/sftp.go
Labels: none

incusd/instance/qemu: Move Windows check to a function
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qemu: Set RTC base to localtime on Windows
  internal/server/instance/drivers/driver_qemu.go
Labels: none

doc/api-extensions: Fix formatting
  doc/api-extensions.md
Labels: API, Documentation

api: network_state_ovn_ls
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/network/ovn: Export LogicalRouter and LogicalSwitch names as needed
  internal/server/network/driver_ovn.go
Labels: none

shared/api: Add LogicalSwitch to OVN state
  shared/api/network.go
Labels: API

incus/network: Add Logical Switch for OVN
  cmd/incus/network.go
Labels: none

incus/network: Better handle partial OVN state
  cmd/incus/network.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
