Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

shared/subprocess: Allow overriding Cwd
  shared/subprocess/proc.go
Labels: none

incusd/device/tpm: Fix handling of long instance names
  internal/server/device/tpm.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qemu: Don't take over operations on console retrieval
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance_post: Provide target project to relocation scriptlet
  cmd/incusd/instance_post.go
Labels: none

incusd/cluster/request: Add new internal user-agent
  internal/server/cluster/request/clienttype.go
Labels: none

incusd/instances_post: Don't re-run placement on internal requests
  cmd/incusd/instances_post.go
Labels: none

incusd/api: Handle new user agent
  cmd/incusd/api.go
  cmd/incusd/daemon.go
Labels: none

incusd/instance_post: Pass in internal user agent during relocation
  cmd/incusd/instance_post.go
Labels: none

Consume websocket pings for stderr
  cmd/incusd/instance_exec.go
Labels: none

incus-simplestreams: Add prune command
  cmd/incus-simplestreams/main.go
  cmd/incus-simplestreams/main_prune.go
Labels: none

internal/instance: Fix validation of volatile.cpu.nodes
  internal/instance/config.go
Labels: none

shared/util: Add a function to clone maps
  shared/util/map.go
Labels: none

Use `util.CloneMap` where appropriate
  cmd/incusd/api_1.0.go
  cmd/incusd/api_cluster.go
  cmd/incusd/networks.go
  cmd/incusd/storage_pools.go
  internal/server/device/config/devices.go
  internal/server/operations/operations.go
  internal/server/storage/backend.go
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/volume.go
  internal/server/util/config.go
  shared/cliconfig/default.go
Labels: none

golangci: Enable goimports
  .golangci.yml
Labels: none

incusd: Fix duplicate imports
  cmd/incusd/main_cluster.go
  internal/server/cluster/upgrade.go
Labels: none

incusd: Fix import ordering
  cmd/incusd/main_callhook.go
  cmd/incusd/main_shutdown.go
Labels: none

instance/config: Mark user keys as live updatable
  internal/instance/config.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

Fix incorrect Vars file mapping in edk2 driver
  internal/server/instance/drivers/edk2/driver_edk2.go
Labels: none

incusd/storage/zfs: Fix deletion of unavailable pools
  internal/server/storage/drivers/driver_zfs.go
Labels: none

zfs: load keys for encrypted datasets during pool import
  internal/server/storage/drivers/driver_zfs.go
Labels: none

tests: zfs: add native zfs encryption tests
  test/suites/storage_driver_zfs.sh
Labels: none

incusd/instance: Lock image access
  cmd/incusd/instance.go
Labels: none

incus/image: Make use of server-side alias handling
  cmd/incus/image.go
Labels: none

client: Fix image aliases in push mode
  client/incus_images.go
Labels: none

client: Fix image aliases in relay mode
  client/incus_images.go
Labels: none

incusd/cluster: Validate address on join too
  cmd/incusd/api_cluster.go
Labels: none

incusd/network: Remove duplicated logic
  internal/server/endpoints/endpoints.go
  internal/server/util/net.go
  internal/server/util/net_test.go
  internal/util/network_test.go
Labels: none

incusd/util: Cover DNS and wildcard coverage
  internal/util/network_test.go
Labels: none

incusd/storage: Add initial.* config options for storage volume
  internal/server/storage/utils.go
Labels: none

incusd/storage/drivers: Add ability to set the initial owner of a custom volume
  internal/server/storage/drivers/volume.go
Labels: none

tests: Add test for setting initial owner of a cutom volume
  test/suites/storage_volume_initial_config.sh
Labels: none

api: Add storage_initial_owner extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc/reference: Add initial.* config keys
  doc/reference/storage_btrfs.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_dir.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
Labels: Documentation

shared/cliconfig: Improve configuration loading
  shared/cliconfig/file.go
Labels: none

incus: Simplify configuration loading
  cmd/incus/main.go
  cmd/incus/main_aliases.go
Labels: none

incus: Add aliases completion
  cmd/incus/main.go
Labels: none

incusd/storage/drivers/lvm: Remove metadata info from space usage calculation
  internal/server/storage/drivers/driver_lvm_utils.go
Labels: none

incus/migration: Add StoragePool to VolumeTargetArgs and StorageMove to VolumeSourceArgs
  internal/server/migration/migration_volumes.go
Labels: none

incus/instance: Add StoragePool to MigrateArgs
  internal/server/instance/instance_interface.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
