Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/seccomp: Skip swap in sysinfo when swap accounting is unavailable
  internal/server/seccomp/seccomp.go
Labels: none

incusd/instance/lxc: Handle missing swap accounting
  internal/server/instance/drivers/driver_lxc.go
Labels: none

api: acme_eab
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/tls: Add EAB support to RunACMEChallenge
  shared/tls/acme.go
Labels: none

incusd/cluster/config: Add acme.eab.kid and acme.eab.hmac
  internal/server/cluster/config/config.go
Labels: none

incusd/acme: Pass EAB configuration to lego
  internal/server/acme/acme.go
Labels: none

doc/authentication: Mention External Account Binding
  doc/authentication.md
Labels: Documentation

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Add EAB and HMAC to wordlist
  doc/.wordlist.txt
Labels: Documentation

incusd/instance: Prevent root disk re-creation on running instances
  internal/server/instance/drivers/driver_common.go
Labels: none

incusd/instance/qemu: Prevent root disk hot-unplug
  internal/server/instance/drivers/driver_qemu.go
Labels: none

Translated using Weblate (Russian)
  po/ru.po
Labels: none

Translated using Weblate (Swedish)
  po/sv.po
Labels: none

incusd/instance-types: Use clouds.yaml for the list of clouds
  cmd/incusd/instance_instance_types.go
Labels: none

incusd/instance-types: Add support for root disk size
  cmd/incusd/instance_instance_types.go
  cmd/incusd/instances_post.go
Labels: none

incusd: Document HTTP 201 return code in Swagger specs
  cmd/incusd/api_cluster_group.go
  cmd/incusd/api_project.go
  cmd/incusd/certificates.go
  cmd/incusd/images.go
  cmd/incusd/network_acls.go
  cmd/incusd/network_address_sets.go
  cmd/incusd/network_forwards.go
  cmd/incusd/network_integrations.go
  cmd/incusd/network_load_balancers.go
  cmd/incusd/network_peers.go
  cmd/incusd/network_zones.go
  cmd/incusd/network_zones_records.go
  cmd/incusd/networks.go
  cmd/incusd/profiles.go
  cmd/incusd/storage_buckets.go
  cmd/incusd/storage_pools.go
  cmd/incusd/storage_volumes.go
Labels: none

incusd: Fix incorrect return codes in Swagger specs
  cmd/incusd/api_cluster.go
  cmd/incusd/certificates.go
  cmd/incusd/events.go
  cmd/incusd/images.go
  cmd/incusd/instance_bitmap.go
  cmd/incusd/instance_rebuild.go
  cmd/incusd/network_peers.go
  cmd/incusd/operations.go
  cmd/incusd/storage_buckets.go
  cmd/incusd/storage_volumes_bitmap.go
Labels: none

incusd/network_integrations: Return 201 with Location on rename
  cmd/incusd/network_integrations.go
Labels: none

incusd: Document HTTP 412 on instance and snapshot PUT/PATCH
  cmd/incusd/instance_patch.go
  cmd/incusd/instance_put.go
  cmd/incusd/instance_snapshot.go
Labels: none

incusd/response: Add Conflict swagger response definition
  internal/server/response/swagger.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd/storage: Strip sub-path from dependent volume sources
  internal/server/storage/backend.go
  internal/server/storage/utils.go
Labels: none

incusd/migration: Strip sub-path from dependent volume source overrides
  internal/server/migration/migration_volumes.go
Labels: none

incusd/instance: Strip sub-path from dependent volume sources
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd: Strip sub-path from dependent volume sources
  cmd/incusd/instance_post.go
  cmd/incusd/instances_post.go
Labels: none

incusd/storage: Allow unattached volumes in qcow2 migration
  internal/server/storage/backend.go
Labels: none

incusd/instance/qmp: Add copy-before-write export helpers
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/instance/qemu: Use copy-before-write overlays for NBD exports
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/main_forkfile: Set SFTP max packet size to 128KiB
  cmd/incusd/main_forkfile.go
Labels: none

incus-agent: Set SFTP max packet size to 128KiB
  cmd/incus-agent/sftp.go
Labels: none

internal/linux: detect initial user namespace by inode
  internal/linux/userns.go
Labels: none

incus/launch: Link to the supported instance types
  cmd/incus/launch.go
Labels: none

doc/howto/instances_create: Update instance types link
  doc/howto/instances_create.md
Labels: Documentation

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/storage/ceph: Bound RBD unmap with a 30s timeout
  internal/server/storage/drivers/driver_ceph_utils.go
Labels: none

shared/archive: Add CompressionThreads
  shared/archive/compression.go
Labels: none

incusd/images: Support reproducible pigz output
  cmd/incusd/images.go
Labels: none

shared/archive: Prefer pigz for decompression when available
  shared/archive/detect.go
Labels: none

incusd/images: Prefer pigz for compression when available
  cmd/incusd/images.go
Labels: none

Update gomod
  go.mod
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
