Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incus/server/events: Fix issue with race condition
  internal/server/events/internalListener.go
Labels: none

incus/server/loki: Remove loki package
  internal/server/loki/batch.go
  internal/server/loki/loki.go
  internal/server/loki/types.go
Labels: none

doc: Documentation for new logging mechanism
  doc/howto/network_ovn_setup.md
  doc/metrics.md
  doc/server_config.md
Labels: Documentation

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: update reliability status of Btrfs & ZFS
  doc/reference/storage_drivers.md
Labels: Documentation

incusd/device/tpm: Add gendoc comments
  internal/server/device/tpm.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Use gendoc for TPM devices
  doc/reference/devices_tpm.md
Labels: Documentation

incusd/firewall/nftables: Cleanup rule formatting
  internal/server/firewall/drivers/drivers_nftables_templates.go
Labels: none

incusd/firewall: Add basic rules on nftables
  internal/server/device/nic_bridged.go
  internal/server/firewall/drivers/drivers_nftables.go
  internal/server/firewall/drivers/drivers_nftables_templates.go
  internal/server/firewall/drivers/drivers_xtables.go
  internal/server/firewall/firewall_interface.go
Labels: none

incusd/storage/zfs: Make CacheVolumeSnapshots failures non-fatal
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

incusd/instance/lxc: Restrict unprivileged ping to recent kernels
  internal/server/instance/drivers/driver_lxc.go
Labels: none

api: network_forward_snat
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc/network_forwards: Add snat key
  doc/howto/network_forwards.md
Labels: Documentation

shared/api: Add SNAT to NetworkForwardPort
  shared/api/network_forward.go
Labels: API

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd/network/common: Add validation for SNAT
  internal/server/network/driver_common.go
Labels: none

incusd/network: Pass SNAT field to firewall driver
  internal/server/firewall/drivers/drivers_consts.go
  internal/server/network/driver_bridge.go
  internal/server/network/driver_common.go
Labels: none

incusd/firewall: Add support for forward SNAT rules
  internal/server/firewall/drivers/drivers_nftables.go
  internal/server/firewall/drivers/drivers_nftables_templates.go
  internal/server/firewall/drivers/drivers_xtables.go
Labels: none

doc: Add SNAT/DNAT to wordlist
  doc/.wordlist.txt
Labels: Documentation

incusd/apparmor/lxc: Allow write access to /proc/sys/user
  internal/server/apparmor/instance_lxc.profile.go
Labels: none

incusd/instance/lxc: Defer calls to the scheduler
  internal/server/instance/drivers/driver_lxc.go
Labels: none

shared/archive: Prevent xattr errors from crashing unsquashfs
  shared/archive/archive.go
Labels: none

incusd/storage/zfs: Extend use of the cache
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

incusd/instance: Pre-fetch snapshot data in RenderFull
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incus-simplestreams: Add import and delete aliases to add and remove
  cmd/incus-simplestreams/main_add.go
  cmd/incus-simplestreams/main_remove.go
Labels: none

incus: Add remove alias to delete
  cmd/incus/delete.go
Labels: none

incusd/http: Support passing bearer authentication token through access_token parameter
  internal/server/util/http.go
Labels: none

tests: Test the access_token handling
  test/suites/tls2jwt.sh
Labels: none

incusd/instance/qmp: Add utility functions for memory manipulation
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/instance/drivers: Extract getCPUOpts for reuse
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/drivers: Add support for memory hotplug
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_templates.go
  internal/server/instance/drivers/util.go
Labels: none

api: memory_hotplug
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

tests: Add tests for memory hotplug helper functions
  internal/server/instance/drivers/driver_qemu_config_test.go
  internal/server/instance/drivers/util_test.go
Labels: none

incusd/instances_post: Properly handle refresh migrations
  cmd/incusd/instances_post.go
Labels: none

incusd/storage/zfs: Rework ZFS setting enforcement
  internal/server/storage/drivers/driver_zfs.go
Labels: none

incusd: Remove old routing logic
  cmd/incusd/images.go
  cmd/incusd/instance.go
  cmd/incusd/instance_access.go
  cmd/incusd/instance_backup.go
  cmd/incusd/instance_console.go
  cmd/incusd/instance_debug.go
  cmd/incusd/instance_delete.go
  cmd/incusd/instance_exec.go
  cmd/incusd/instance_file.go
  cmd/incusd/instance_get.go
  cmd/incusd/instance_logs.go
  cmd/incusd/instance_metadata.go
  cmd/incusd/instance_patch.go
  cmd/incusd/instance_post.go
  cmd/incusd/instance_put.go
  cmd/incusd/instance_rebuild.go
  cmd/incusd/instance_sftp.go
  cmd/incusd/instance_snapshot.go
  cmd/incusd/instance_state.go
  cmd/incusd/instances_get.go
  cmd/incusd/instances_post.go
  cmd/incusd/response.go
  cmd/incusd/storage_volumes_state.go
  internal/server/cluster/connect.go
  internal/server/db/instances.go
  internal/server/db/instances_test.go
  internal/server/storage/backend.go
Labels: none

incusd/instances_post: Fix bad function call
  cmd/incusd/instances_post.go
Labels: none

incusd/devices: Don't require a serial number for USB hotplug
  cmd/incusd/devices.go
Labels: none

Infiniband Device Documentation Ported to GenDoc
  doc/config_options.txt
  doc/reference/devices_infiniband.md
  internal/server/device/infiniband_physical.go
  internal/server/metadata/configuration.json
Labels: Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
