Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/qemu: Handle long run paths for the virtiofs socket
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/images: Mention images available for other instance types
  cmd/incusd/daemon_images.go
Labels: none

incusd/device/nic_routed: Add neighbour proxy entries on the on-link interface
  internal/server/device/nic_routed.go
Labels: none

incusd/network/ovn: Don't use missing router IP as DNS server
  internal/server/network/driver_ovn.go
Labels: none

doc: Update preseed description to match with reality
  doc/howto/initialize.md
Labels: Documentation

incus/utils_copy: Fix wrong error returned
  cmd/incus/utils_copy.go
Labels: none

doc: Ignore criu.org link checking
  doc/conf.py
Labels: Documentation

api: network_bridge_bgp_instances
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/network: Add BGP instance advertisement config keys
  internal/server/network/driver_bridge.go
Labels: none

incusd/device: Advertise individual instance addresses over BGP
  internal/server/device/device_utils_network.go
Labels: none

doc: Document BGP advertisement of instance addresses
  doc/howto/network_bgp.md
Labels: Documentation

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Add NIC's to wordlist
  doc/.wordlist.txt
Labels: Documentation

incusd: Use IsNoneOrEmpty helper
  internal/server/device/device_utils_network.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
  internal/server/network/driver_bridge.go
  internal/server/network/driver_ovn.go
Labels: none

incusd/device: Add configOrVolatile helper
  internal/server/device/device_common.go
  internal/server/device/device_utils_network.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
Labels: none

incus/remote: Add set-keepalive subcommand
  cmd/incus/remote.go
  cmd/incus/usage/usage.go
Labels: none

incus/keepalive: Fix comment typo
  shared/cliconfig/keepalive.go
Labels: none

doc/remote: Update docs with keepalive configuration via CLI commands
  doc/remotes.md
Labels: Documentation

incus/alias: Fix wrong example command typo
  cmd/incus/alias.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

api: core_https_allowed_websocket_origin
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/ws: Validate websocket origin against trusted origins
  shared/ws/upgrader.go
Labels: none

incusd: Add core.https_allowed_websocket_origin server config key
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
  internal/server/cluster/config/config.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incus: close web UI probe response body
  cmd/incus/webui_unix.go
Labels: none

ci: authenticate OpenFGA release lookups
  .github/workflows/tests.yml
Labels: none

storage/zfs: factor out send receive helper
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

Translated using Weblate (Greek)
  po/el.po
Labels: none

Translated using Weblate (German)
  po/de.po
Labels: none

Translated using Weblate (German)
  po/de.po
Labels: none

Translated using Weblate (German)
  po/de.po
Labels: none

Translated using Weblate (German)
  po/de.po
Labels: none

Translated using Weblate (German)
  po/de.po
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

Translated using Weblate (Georgian)
  po/ka.po
Labels: none

Translated using Weblate (Georgian)
  po/ka.po
Labels: none

Translated using Weblate (Spanish)
  po/es.po
Labels: none

Translated using Weblate (Spanish)
  po/es.po
Labels: none
