Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Dutch)
  po/nl.po
Labels: none

Translated using Weblate (Dutch)
  po/nl.po
Labels: none

Translated using Weblate (Norwegian Bokmål)
  po/nb_NO.po
Labels: none

Translated using Weblate (Norwegian Bokmål)
  po/nb_NO.po
Labels: none

Translated using Weblate (Portuguese (Brazil))
  po/pt_BR.po
Labels: none

Translated using Weblate (Portuguese (Brazil))
  po/pt_BR.po
Labels: none

Translated using Weblate (Portuguese (Brazil))
  po/pt_BR.po
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

doc/authorization: Fix markdownlint
  doc/authorization.md
Labels: Documentation

shared/tls: Add support for Lego v5
  shared/tls/acme.go
Labels: none

incusd/instance/lxc: Fix environment quoting
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/storage/zfs: Refuse refresh only when snapshots have no common base
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

shared/tls: Detect Lego version/behavior based on help
  shared/tls/acme.go
Labels: none

doc/cloud-init: Clarify VM behavior
  doc/cloud-init.md
Labels: Documentation

github: Force Java 21
  .github/workflows/tests.yml
Labels: none

github: Remove pre-installed java
  .github/workflows/tests.yml
Labels: none

incus: Make unset commands accept several keys
  cmd/incus/cluster.go
  cmd/incus/cluster_group.go
  cmd/incus/config.go
  cmd/incus/config_device.go
  cmd/incus/network.go
  cmd/incus/network_acl.go
  cmd/incus/network_address_set.go
  cmd/incus/network_forward.go
  cmd/incus/network_integration.go
  cmd/incus/network_load_balancer.go
  cmd/incus/network_peer.go
  cmd/incus/network_zone.go
  cmd/incus/profile.go
  cmd/incus/project.go
  cmd/incus/storage.go
  cmd/incus/storage_bucket.go
  cmd/incus/storage_volume.go
  cmd/incus/utils.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

server/network: fix comment alignment
  internal/server/network/driver_ovn.go
Labels: none

server/network: fix scope of node specific network configs
  internal/server/network/driver_bridge.go
  internal/server/network/driver_macvlan.go
  internal/server/network/driver_ovn.go
  internal/server/network/driver_physical.go
  internal/server/network/driver_sriov.go
Labels: none

doc: update generated metadata
  doc/config_options.txt
Labels: Documentation

server/metadata: update generated metadata
  internal/server/metadata/configuration.json
Labels: none

internal/server/instance/drivers: Add migration-compatible hv flags with migration.stateful=true
  internal/server/instance/drivers/driver_qemu_machine.go
Labels: none

cmd/generate-database/db: Add joinas db tag
  cmd/generate-database/README.md
  cmd/generate-database/db/mapping.go
  cmd/generate-database/db/parse.go
  cmd/generate-database/lex/form.go
Labels: none

cmd/generate-database/lex: Fix pluralizations ending in y
  cmd/generate-database/lex/form.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

incusd/storage: Fix qcow2 custom volume backups
  internal/server/storage/backend.go
Labels: none

incusd/instance/qemu: Remove stale migrate.sock before qcow2 export
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/response: Abort piped exports that fail mid-stream
  internal/server/response/response.go
Labels: none

incusd/migration: Detect target migration errors
  cmd/incusd/migrate.go
  internal/migration/wsproto.go
Labels: none

incusd: Reject migration onto existing instance of different type
  cmd/incusd/instances_post.go
Labels: none

incusd/instance/qemu: Tweak migration fallback for VMs
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/migrate: Bump migration handshake timeouts to 2 minutes
  cmd/incusd/migrate.go
Labels: none

Remove lxd-to-incus
  .github/workflows/tests.yml
  .gitignore
  .goreleaser.yaml
  README.md
  cmd/lxd-to-incus/db.go
  cmd/lxd-to-incus/main.go
  cmd/lxd-to-incus/ovn.go
  cmd/lxd-to-incus/paths.go
  cmd/lxd-to-incus/sources.go
  cmd/lxd-to-incus/sources_apk.go
  cmd/lxd-to-incus/sources_copr.go
  cmd/lxd-to-incus/sources_deb.go
  cmd/lxd-to-incus/sources_manual.go
  cmd/lxd-to-incus/sources_snap.go
  cmd/lxd-to-incus/sources_xbps.go
  cmd/lxd-to-incus/targets.go
  cmd/lxd-to-incus/targets_openrc.go
  cmd/lxd-to-incus/targets_systemd.go
  cmd/lxd-to-incus/targets_xbps.go
  cmd/lxd-to-incus/validate.go
  doc/howto/server_migrate_lxd.md
  doc/installing.md
  doc/packaging.md
  doc/server.md
  doc/tutorial/first_steps.md
Labels: Documentation

shared/api: Remove legacy logic
  shared/api/headers.go
Labels: API

incusd/cluster: Remove legacy logic
  internal/server/cluster/gateway.go
Labels: none
