Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

api: metrics_cluster_members
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/metrics: Add cluster member metric types
  internal/server/metrics/metrics.go
  internal/server/metrics/types.go
Labels: none

incusd/metrics: Add cluster member info, status and role metrics
  cmd/incusd/api_metrics.go
Labels: none

tests: Check cluster member metrics
  test/suites/clustering.sh
Labels: none

doc: Document cluster member metrics
  doc/reference/provided_metrics.md
Labels: Documentation

Document location of source of webpages
  doc/faq.md
Labels: Documentation

Added incant to the list of third party software
  doc/.wordlist.txt
  doc/third_party.md
Labels: Documentation

incusd/instance/lxc: Record migration transfer errors before signaling completion
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/instance/qemu: Record migration transfer error before signaling completion
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/project: Delete network peers on forced project deletion
  cmd/incusd/api_project.go
Labels: none

tests: Check forced project deletion with OVN peers
  test/suites/network_ovn.sh
Labels: none

incusd/images: Return error on invalid export request
  cmd/incusd/images.go
Labels: none

incusd/images: Preserve image type on push mode copy
  cmd/incusd/images.go
Labels: none

incusd/network/ovn: Limit initial connection setup
  internal/server/network/ovn/ovn_icnb.go
  internal/server/network/ovn/ovn_icsb.go
  internal/server/network/ovn/ovn_nb.go
  internal/server/network/ovn/ovn_sb.go
Labels: none

incusd/network/ovn: Fail fast and name the database when unavailable
  internal/server/network/ovn/client.go
Labels: none

incusd/network/acl: Resolve profile projects in a single transaction
  internal/server/network/acl/acl_load.go
Labels: none

incusd/network/address-set: Resolve profile projects in a single transaction
  internal/server/network/address-set/address_set_load.go
Labels: none

incusd/network/ovn: Scope mutual peer lookups to the target network
  internal/server/network/driver_ovn.go
Labels: none

incusd/instance/qemu: Don't pass nil exec streams to the agent client
  internal/server/instance/drivers/driver_qemu.go
Labels: none

internal/server/storage/drivers: Handle dotted Ceph client IDs
  internal/server/storage/drivers/utils_ceph.go
Labels: none

internal/server/util: Recognize named unconfined AppArmor profiles
  internal/server/util/apparmor.go
Labels: none

internal/server/instance/drivers: Unmount residual Unix devices during cleanup
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/project: Fix unrestricted project check on volatile keys
  internal/server/project/permissions.go
Labels: none

incusd/project: Allow snapshot restore with changed volatile keys
  cmd/incusd/instance_put.go
  internal/server/project/permissions.go
Labels: none

tests: Add restricted project snapshot restore test
  test/suites/projects.sh
Labels: none

tests: Cover OVN peering with several peers on one network
  test/suites/network_ovn.sh
Labels: none

incusd/instance/qmp: Make clearing the event handler sticky
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

incusd/instance/qemu: Ignore duplicate stop hooks
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/lxc: Reuse exact-sized ID map gaps
  internal/server/instance/drivers/driver_lxc.go
Labels: none

tests: Check exact-sized isolated ID map reuse
  test/suites/idmap.sh
Labels: none

api: gpu_physical_clique
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/device/gpu: Add clique option to physical GPUs in VMs
  internal/server/device/gpu.go
  internal/server/device/gpu_physical.go
Labels: none

incusd/instance/qemu: Set x-nv-gpudirect-clique on passed-through GPUs
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_config_test.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

doc: Document GPU clique option
  doc/reference/devices_gpu.md
Labels: Documentation

doc: Add DMA and GPUDirect to wordlist
  doc/.wordlist.txt
Labels: Documentation

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instance: Fix project change dropped on cross-member moves
  cmd/incusd/instance_post.go
Labels: none

tests: Add cross-project cluster move tests
  test/suites/clustering_move.sh
Labels: none

client: Don't attempt reconnection on websocket operations
  client/operations.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
