Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

shared/ask: Fix static analysis
  shared/ask/ask.go
Labels: none

incusd/instance/lxc: Fix OCI entrypoint escaping
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/seccomp: Report FUSE mount helper failures
  internal/server/seccomp/seccomp.go
Labels: none

incusd/storage/drivers: Fix volume activation of filesystem snapshots
  internal/server/storage/drivers/driver_lvm_utils.go
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none

Fix bug in s3 bucket authorization
  cmd/incusd/daemon.go
  internal/server/auth/authorization_objects.go
Labels: none

incusd/instance/qemu: Resize metadata image on disk size change
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd: Drop metadata image on instance copy and import
  cmd/incusd/instance.go
  cmd/incusd/instances_post.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/storage: Strip unsafe symlinks in externally-supplied instance data
  internal/server/storage/backend.go
Labels: none

incusd/storage/s3: Reject symlinks in bucket backups
  internal/server/storage/s3/transfer_manager.go
Labels: none

incusd/instance/qemu: Fix publish of qcow2-backed volumes
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/auth: Fill missing local bucket location
  cmd/incusd/daemon.go
  internal/server/auth/authorization_objects.go
Labels: none

doc: Ignore bugzilla.opensuse.org in linkcheck
  doc/conf.py
Labels: Documentation

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

incus: Don't persist INCUS_REMOTE as the default remote
  cmd/incus/remote.go
  shared/cliconfig/config.go
  shared/cliconfig/file.go
Labels: none

incusd/storage/s3: Support conditional writes
  internal/server/storage/s3/local/multipart.go
  internal/server/storage/s3/local/object.go
  internal/server/storage/s3/types.go
Labels: none

incusd/instance/qmp: Rework block job monitoring
  internal/server/instance/drivers/qmp/commands.go
  internal/server/instance/drivers/qmp/qmp.go
Labels: none

incusd/instance/qemu: Harden ephemeral snapshot teardown
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qmp: Remove unused event channel logic
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

client: Always set TLS ServerName on dial
  client/util.go
Labels: none

incusd/storage/btrfs: Restrict subvolume sources under the daemon dir
  internal/server/storage/drivers/driver_btrfs.go
Labels: none

incusd: Don't warn on double close of downloaded image files
  cmd/incusd/daemon_images.go
Labels: none

incus/cluster_group: Change group separator in assign subcommand
  cmd/incus/cluster_group.go
Labels: none

incus/profile: Change profile separator in assign subcommand
  cmd/incus/profile.go
Labels: none

test: Fix assign separator
  test/suites/clustering.sh
  test/suites/clustering_move.sh
  test/suites/config.sh
  test/suites/storage_profiles.sh
Labels: none

incus/file: Fix progress reporting on stdin push
  cmd/incus/file.go
Labels: none

incus/import: Fix progress reporting on stdin import
  cmd/incus/import.go
Labels: none

incus/storage_bucket: Fix progress reporting on stdin import
  cmd/incus/storage_bucket.go
Labels: none

incus/storage_volume: Fix progress reporting on stdin import
  cmd/incus/storage_volume.go
Labels: none

incus/storage_volume_file: Fix progress reporting on stdin push
  cmd/incus/storage_volume_file.go
Labels: none

incusd/network/zone: Return a single SOA record on plain SOA queries
  internal/server/network/zone/zone.go
  internal/server/network/zone/zone_templates.go
Labels: none

incusd/storage: Fix races in connectOfflineNBD
  internal/server/storage/backend.go
Labels: none

incusd/locking: Make unlock functions release only their own lock
  internal/server/locking/lock.go
Labels: none

incusd/storage: Hold NBD operation lock for the whole session
  internal/server/storage/backend.go
Labels: none

incusd/network/ovn: Detect stale database connections
  internal/server/network/ovn/ovn_icnb.go
  internal/server/network/ovn/ovn_icsb.go
  internal/server/network/ovn/ovn_nb.go
  internal/server/network/ovn/ovn_sb.go
Labels: none

incusd/network/ovn: Remove NB client singleton
  internal/server/network/ovn/ovn_nb.go
Labels: none

incusd/storage: Use qcow2 virtual size as instance block size
  internal/server/storage/utils.go
Labels: none

incusd/storage: Skip root disk size check on remote cluster move
  internal/server/storage/backend.go
Labels: none

incusd/device: Make disk I/O limit parsing reusable
  internal/server/device/disk.go
Labels: none

api: Add unix_block_limits extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/device: Add I/O limits for unix-block devices
  internal/server/device/unix_block_limits.go
  internal/server/device/unix_common.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
