Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

doc: Update configuration option metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

cmd/incus-agent: Implement Windows osLoadModules to check viosock service
  cmd/incus-agent/os_common.go
  cmd/incus-agent/os_darwin.go
  cmd/incus-agent/os_freebsd.go
  cmd/incus-agent/os_windows.go
Labels: none

cmd/incus-agent: Only start agent http server if osLoadModules succeeds
  cmd/incus-agent/main_agent.go
  cmd/incus-agent/os_windows.go
Labels: none

cmd/incus-agent: Write state data to ringbuffer if no http server present
  cmd/incus-agent/main_agent.go
Labels: none

internal/server/instance/drivers/qmp: Bump ringbuffer size to 16K
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

internal/server/instance/drivers/qmp: Record instance state retrieved from ringbuffer
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

internal/server/instance/drivers: Treat degraded agent as offline, except when fetching state
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qmp: Bump some more timeouts
  internal/server/instance/drivers/qmp/qmp.go
Labels: none

incusd/instance/qemu: Use a shared memory backend on all architectures
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_config_test.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incus/server/storage/driver/backend: Wait, if image is already in the unpacking stage on another cluster member.
  internal/server/storage/backend.go
Labels: none

incus/server/storage/driver/cephfs: Implement stub for IsImageCloneSourceReady function
  internal/server/storage/drivers/driver_cephfs_volumes.go
Labels: none

incus/server/storage/driver/common: Implement stub for IsImageCloneSourceReady function
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_mock.go
  internal/server/storage/drivers/interface.go
Labels: none

incus/server/storage/driver/linstor: Implement stub for IsImageCloneSourceReady function
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incus/server/storage/driver/lvm: Implement stub for IsImageCloneSourceReady function
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none

incus/server/storage/driver/truenas: Implement stub for IsImageCloneSourceReady function
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/network/ovn: Add Enabled option to OVNSwitchPortOpts
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incusd/network/ovn: Add UpdateLogicalSwitchPortEnabled
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incusd/network/ovn: Add GetLogicalSwitchActivePorts
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incusd/network/ovn: Make SetLogicalSwitchQoSRules replace existing rules
  internal/server/network/driver_ovn.go
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incusd/network/ovn: Extract instanceDevicePortOpts
  internal/server/network/driver_ovn.go
Labels: none

incusd/network/ovn: Only consider enabled switch ports as active
  internal/server/network/driver_ovn.go
Labels: none

incusd/network/ovn: Tweak instance port startup logic
  internal/server/network/driver_ovn.go
Labels: none

incusd/network/ovn: Keep instance ports until device removal
  internal/server/network/driver_ovn.go
Labels: none

incusd/network/ovn: Create instance ports on device add
  internal/server/network/driver_ovn.go
Labels: none

incusd/forknet: Wait up to 5s for initial DHCP configuration
  cmd/incusd/main_forknet.go
Labels: none

api: network_bgp_peer_interface
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/bgp: Add support for unnumbered peers
  internal/server/bgp/debug.go
  internal/server/bgp/server.go
Labels: none

incusd/network: Add bgp.peers.NAME.interface
  internal/server/network/driver_bridge.go
  internal/server/network/driver_common.go
  internal/server/network/driver_physical.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc/network/bgp: Document BGP unnumbered
  doc/howto/network_bgp.md
Labels: Documentation

incusd/network/ovn: Fix NAT for network forward default targets
  internal/server/network/driver_ovn.go
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incsd/device/config: Add DataFilePath field to MountEntryItem
  internal/server/device/config/device_runconfig.go
Labels: none

incusd/instance/drivers: Add support for raw-format block devices
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance: Allow security.nesting on VMs
  internal/instance/config.go
Labels: none

incusd/instance/qemu: Turn off svm and vmx when security.nesting is disabled
  internal/server/instance/drivers/driver_qemu_machine.go
Labels: none

api: projects_restricted_virtual_machines_nesting
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/project: Add restricted.virtual-machines.nesting
  cmd/incusd/api_project.go
  internal/server/project/permissions.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/auth: Move OpenFGA config to authorization.* namespace
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
  cmd/incusd/patches.go
  internal/server/auth/driver_openfga.go
  internal/server/cluster/config/config.go
Labels: none

doc/authorization: Update for authorization config namespace
  doc/authorization.md
  doc/server_config.md
Labels: Documentation
