Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

internal/server/project: fix linter complaints - #2636
  internal/server/project/permissions.go
Labels: none

internal/server/util: fix linter complaints - #2636
  .golangci.yml
  internal/server/util/http.go
  internal/server/util/net.go
Labels: none

internal/server/seccomp: fix linter complaints - #2636
  internal/server/seccomp/seccomp.go
Labels: none

internal/server/migration: fix linter complaints - #2636
  internal/server/migration/migration_volumes.go
  internal/server/migration/utils.go
Labels: none

internal/server/task: fix linter complaints - #2636
  internal/server/task/task.go
  internal/server/task/task_test.go
Labels: none

api: instances_debug_repair
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/api: Add InstanceDebugRepairPost
  shared/api/instance_debug.go
Labels: API

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd/storage: Implement ActivateTask
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/interface.go
Labels: none

incusd/instance/debug: Implement instance repair API
  cmd/incusd/api_1.0.go
  cmd/incusd/instance_debug.go
  cmd/incusd/instances.go
Labels: none

Makefile: Properly set POT encoding
  Makefile
Labels: none

incusd/operations: Fix missing Unlock
  internal/server/operations/operations.go
Labels: none

doc: Fix typo
  doc/howto/projects_confine.md
Labels: Documentation

incusd: Fix typo
  cmd/incusd/api_internal.go
Labels: none

incusd/metrics: Increase node-exporter timeout to 5s
  cmd/incusd/api_metrics.go
Labels: none

doc: Add preselects to wordlist
  doc/.wordlist.txt
Labels: Documentation

incusd/instance_logs: Prevent bad values for exec-output
  cmd/incusd/instance_logs.go
Labels: none

incus-migrate: Restrict OVA unpack path
  cmd/incus-migrate/migrate_ova.go
Labels: none

incusd/network_allocations: Use canAccessNetwork
  cmd/incusd/network_allocations.go
Labels: none

incusd/instance/qemu: Relax SEV check
  internal/server/instance/drivers/driver_qemu.go
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
Labels: none

incus: Fix import shadowing
  cmd/incus/export.go
  cmd/incus/storage.go
  cmd/incus/storage_bucket.go
  cmd/incus/storage_volume.go
Labels: none

incusd/storage_volumes: Use switch statement
  cmd/incusd/storage_volumes.go
Labels: none

incusd/network/common: Use FPrintf instead of WriteString
  internal/server/network/driver_common.go
Labels: none

incus: Fix import shadowing
  cmd/incus/export.go
  cmd/incus/storage.go
  cmd/incus/storage_bucket.go
  cmd/incus/storage_volume.go
Labels: none

incusd/storage_volumes: Use switch statement
  cmd/incusd/storage_volumes.go
Labels: none

incusd/network/common: Use FPrintf instead of WriteString
  internal/server/network/driver_common.go
Labels: none

incusd/device/nic_physical: Drop support for connected key
  internal/server/device/nic_physical.go
Labels: none

incusd/device/nic_ovn: Add io.bus key for OVN NICs
  internal/server/device/nic_ovn.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

api: network_io_bus_ovn
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/api: add new instance-agent events
  shared/api/event_lifecycle.go
Labels: API

internal/server: fire instance-agent events when agent status changes
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/qmp/monitor.go
  internal/server/lifecycle/instance.go
Labels: none

doc: add instance-agent entries to lifecycle events
  doc/events.md
Labels: Documentation

github: Remove mention of Linstor
  .github/workflows/tests.yml
Labels: none

doc: Remove mention of Linstor and TrueNAS
  doc/howto/storage_volumes.md
Labels: Documentation

doc: Add snapshotted to wordlist
  doc/.wordlist.txt
Labels: Documentation

incus/usage: Defer remote connection
  cmd/incus/usage/usage.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
