Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

tests: Add NVRAM config override test
  test/suites/nvram_vm.sh
Labels: none

api: instance_nvram_config
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/dns: Add NOTIFY support
  internal/server/dns/handler.go
  internal/server/dns/notify.go
  internal/server/dns/server.go
Labels: none

incusd/network/zone: Bump SOA refresh to 15min
  internal/server/network/zone/zone_templates.go
Labels: none

incusd/network/zone: Send NOTIFY on zone and record changes
  internal/server/network/zone/record.go
  internal/server/network/zone/zone.go
Labels: none

incusd/network: Add DNSNotifyZones helper
  internal/server/network/network_utils.go
Labels: none

incusd/network/zone: Add dnsmasq file watcher
  internal/server/network/zone/watcher.go
Labels: none

incusd: Start network zones watcher
  cmd/incusd/daemon.go
Labels: none

incusd/network/ovn: Send NOTIFY on port and uplink changes
  internal/server/network/driver_ovn.go
Labels: none

incusd/networks: Send NOTIFY on network create, update and delete
  cmd/incusd/networks.go
Labels: none

doc: Document network zone DNS NOTIFY
  doc/.wordlist.txt
  doc/howto/network_zones.md
Labels: Documentation

incusd/instance/lxc: Fix instance directory ownership with raw.idmap
  internal/server/instance/drivers/driver_lxc.go
Labels: none

tests: Add raw.idmap host root mapping test
  test/suites/idmap.sh
Labels: none

api: Add storage_cephobject_endpoint_cert extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/storage/cephobject: Replace endpoint_cert_file with endpoint_cert
  internal/server/storage/drivers/driver_cephobject.go
  internal/server/storage/drivers/driver_cephobject_buckets.go
Labels: none

incusd/patches: Convert cephobject.radosgw.endpoint_cert_file
  cmd/incusd/patches.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

shared/validate: Make IsPEM match anchor regexes
  shared/validate/validate.go
Labels: none

Makefile: Bump minimum to Go 1.26
  Makefile
Labels: none

gomod: Bump minimum to Go 1.26
  go.mod
Labels: none

doc/requirements: Bump minimum to Go 1.26
  doc/requirements.md
Labels: Documentation

Use new(expr) instead of protobuf pointer helpers
  internal/migration/wsproto.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/migration/migration_volumes.go
Labels: none

Use range over int in counting loops
  internal/server/selinux/alloc.go
Labels: none

Use standard library iterators
  cmd/incus/utils.go
Labels: none

Use strings.Builder for string concatenation
  internal/server/instance/drivers/driver_qemu_machine.go
  internal/server/storage/s3/local/auth.go
Labels: none

Use fmt.Appendf
  internal/server/instance/drivers/driver_common.go
Labels: none

Use errors.AsType
  cmd/incusd/daemon.go
  internal/linux/error.go
  internal/server/device/device_utils_disk.go
  internal/server/storage/backend.go
  internal/server/storage/drivers/driver_ceph_utils.go
  internal/server/storage/drivers/driver_ceph_volumes.go
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_lvm_utils.go
  shared/api/error.go
  shared/cliconfig/remote.go
Labels: API

Use slices.Backward for reverse iteration
  cmd/incusd/instances_post.go
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

Use strings.Cut
  internal/server/cluster/connect.go
Labels: none

incusd/cgroup: Fix parse error messages
  internal/server/cgroup/abstraction.go
Labels: none

incusd/db: Return Conflict error on duplicate storage volume record
  internal/server/db/storage_volumes.go
Labels: none

incusd/storage: Fix error wrapping in VolumeDBCreate
  internal/server/storage/utils.go
Labels: none

incusd/storage/linstor: Set resource definition properties at clone time
  internal/server/storage/drivers/driver_linstor_utils.go
Labels: none

incusd/storage/linstor: Implement IsImageCloneSourceReady
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage: Handle concurrent image volume creation across cluster members
  internal/server/storage/backend.go
Labels: none

Use httputil.ReverseProxy.Rewrite
  cmd/incus/remote_unix.go
  cmd/incusd/api_os.go
Labels: none

incusd/network_integrations: Validate PEM blobs
  cmd/incusd/network_integrations.go
Labels: none

incusd/cluster/config: Remove unused LokiServer
  internal/server/cluster/config/config.go
Labels: none

incusd/cluster/config: Validate PEM blobs
  internal/server/cluster/config/config.go
Labels: none

incus/server/config: Validate PEM blobs
  internal/server/config/logging.go
Labels: none
