Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

tests: fix truenas cluster exclusion logic
  test/main.sh
Labels: none

typo: remove spurious x
  doc/howto/storage_pools.md
Labels: Documentation

incusd/storage/truenas: gofumpt
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

test/cluster/truenas: skip cluster tests for truenas
  test/main-tn.sh
  test/main.sh
Labels: none

incusd/storage/truenas: sync devices before snapshot
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: work-around of iscsiadm race condition
  internal/server/storage/drivers/driver_truenas_utils.go
Labels: none

incusd/storage/truenas: remove args from POST EOF error
  internal/server/storage/drivers/driver_truenas_utils.go
Labels: none

incusd/storage/truenas: de-lint: functional blocks are followed by newlines
  internal/server/storage/drivers/driver_truenas_utils.go
Labels: none

tests: add storage_driver_truenas
  test/backends/truenas.sh
  test/suites/storage_driver_truenas.sh
Labels: none

tests/truenas: refuse to run cluster tests with TrueNAS backend
  test/main.sh
Labels: none

tests/truenas: add main-tn.sh
  test/main-tn.sh
Labels: none

tests: delint supprt -> support
  test/main.sh
Labels: none

docs: attempt to fix "spelling"
  doc/howto/storage_pools.md
Labels: Documentation

incusd/storage/truenas: add explicit error handling when for locate create activate failure
  internal/server/storage/drivers/driver_truenas_utils.go
Labels: none

tests/truenas: standardize indention
  test/backends/truenas.sh
  test/includes/clustering.sh
  test/includes/incusd.sh
  test/includes/storage.sh
  test/main.sh
  test/suites/backup.sh
  test/suites/snapshots.sh
  test/suites/storage_driver_truenas.sh
  test/suites/storage_snapshots.sh
Labels: none

incusd/storage/truenas: de-lint oneline assign & test
  internal/server/storage/drivers/driver_truenas_utils.go
Labels: none

tests/truenas: restore uuidgen for test pool naming
  test/backends/truenas.sh
Labels: none

incusd/storage/trunas: remove non-desirable wordlist entries
  doc/.wordlist.txt
Labels: Documentation

incusd/storage/truenas: update EnsureMountPath usage
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

tests/basic_usage: Improve auto-restart test loop
  test/suites/basic.sh
Labels: none

api: storage_driver_truenas
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/storage/truenas: Introduce TrueNAS driver
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
  internal/server/storage/drivers/load.go
Labels: none

docs: Update word list
  doc/.wordlist.txt
Labels: Documentation

docs: Add TrueNAS storage driver
  doc/explanation/storage.md
  doc/reference/storage_drivers.md
  doc/reference/storage_truenas.md
Labels: Documentation

tests: Add TrueNAS tests (and tweak testsuite)
  test/README.md
  test/backends/truenas.sh
  test/includes/clustering.sh
  test/includes/storage.sh
  test/main.sh
  test/suites/backup.sh
  test/suites/clustering.sh
  test/suites/container_move.sh
  test/suites/migration.sh
  test/suites/snapshots.sh
  test/suites/storage.sh
  test/suites/storage_driver_truenas.sh
  test/suites/storage_local_volume_handling.sh
  test/suites/storage_snapshots.sh
Labels: none

incusd/resources: Clean golangci-lint
  internal/server/resources/cpu.go
  internal/server/resources/gpu.go
  internal/server/resources/network.go
  internal/server/resources/network_ethtool.go
  internal/server/resources/utils.go
Labels: none

internal/usbid: Clean golangci-lint
  internal/usbid/parse.go
Labels: none

incusd/resources: Move usbid as sub-package
  internal/server/resources/usb.go
  internal/server/resources/usbid/README.md
  internal/server/resources/usbid/load.go
  internal/server/resources/usbid/parse.go
  internal/server/resources/usbid/types.go
Labels: none

incusd: Move resources package to shared package
  cmd/incusd/devices.go
  cmd/incusd/networks.go
  cmd/incusd/resources.go
  internal/server/device/gpu_mdev.go
  internal/server/device/gpu_mig.go
  internal/server/device/gpu_physical.go
  internal/server/device/gpu_sriov.go
  internal/server/device/infiniband_physical.go
  internal/server/device/infiniband_sriov.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
  internal/server/device/nic_physical.go
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_templates.go
  internal/server/instance/drivers/util.go
  internal/server/instance/instance_utils.go
  internal/server/network/driver_common.go
  internal/server/scriptlet/instance_placement.go
  shared/resources/cpu.go
  shared/resources/gpu.go
  shared/resources/load.go
  shared/resources/memory.go
  shared/resources/network.go
  shared/resources/network_ethtool.go
  shared/resources/pci.go
  shared/resources/pci_vpd.go
  shared/resources/resources.go
  shared/resources/storage.go
  shared/resources/system.go
  shared/resources/usb.go
  shared/resources/usbid/README.md
  shared/resources/usbid/load.go
  shared/resources/usbid/parse.go
  shared/resources/usbid/types.go
  shared/resources/utils.go
Labels: none

shared/resources: Restrict to Linux
  shared/resources/cpu.go
  shared/resources/gpu.go
  shared/resources/load.go
  shared/resources/memory.go
  shared/resources/network.go
  shared/resources/network_ethtool.go
  shared/resources/pci.go
  shared/resources/pci_vpd.go
  shared/resources/resources.go
  shared/resources/storage.go
  shared/resources/system.go
  shared/resources/usb.go
  shared/resources/utils.go
Labels: none

incusd/db/cluster: Port network peer to database generator
  internal/server/db/cluster/networks_peers.go
  internal/server/db/cluster/networks_peers.interface.mapper.go
  internal/server/db/cluster/networks_peers.mapper.go
  internal/server/db/network_peers.go
Labels: none

incusd: Update for new network peer functions
  cmd/incusd/network_integrations.go
  cmd/incusd/network_peers.go
  internal/server/network/acl/acl_ovn.go
  internal/server/network/driver_common.go
  internal/server/network/driver_ovn.go
  internal/server/network/network_utils.go
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

incusd/apparmor/forkproxy: Expand /dev exception
  internal/server/apparmor/instance_forkproxy.profile.go
Labels: none

internal/instance: Add exported error
  internal/instance/expiry.go
Labels: none

incus/snapshot: Implement --expiry
  cmd/incus/snapshot.go
Labels: none

incus/storage/snapshot: Implement --expiry
  cmd/incus/storage_volume.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
Labels: none

api: snapshot_manual_expiry
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc/storage: Add snapshots.expiry.manual
  doc/reference/storage_btrfs.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_dir.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
Labels: Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
