Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

Translated using Weblate (Georgian)
  po/ka.po
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

incusd/instance: Mention images available for other instance types
  internal/server/instance/instance_utils.go
Labels: none

shared/api: Add network peer groups
  shared/api/network_peer_group.go
Labels: API

incusd/network: Add peer group support to network drivers
  internal/server/network/driver_common.go
  internal/server/network/driver_ovn.go
  internal/server/network/network_interface.go
Labels: none

incusd/db: Add network peer group membership functions
  internal/server/db/network_peer_groups.go
Labels: none

incusd/db/cluster: Add generated DB code for network peer groups
  internal/server/db/cluster/network_peer_groups.go
  internal/server/db/cluster/network_peer_groups.interface.mapper.go
  internal/server/db/cluster/network_peer_groups.mapper.go
Labels: none

shared/api: Add lifecycle events for network peer groups
  shared/api/event_lifecycle.go
Labels: API

incusd/db/cluster: Add network_peer_groups tables
  internal/server/db/cluster/schema.go
  internal/server/db/cluster/update.go
Labels: none

incus/network: Add peer-group command
  cmd/incus/network.go
  cmd/incus/network_peer_group.go
  cmd/incus/usage/usage.go
Labels: none

api: Add network_peer_groups extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/auth: Add network peer group functions
  cmd/incusd/daemon.go
  internal/server/auth/authorization.go
  internal/server/auth/authorization_objects.go
  internal/server/auth/authorization_types.go
  internal/server/auth/driver_common.go
  internal/server/auth/driver_openfga.go
  internal/server/auth/driver_openfga_model.go
  internal/server/auth/driver_openfga_model.openfga
  internal/server/auth/router.go
Labels: none

incusd/lifecycle: Add network peer group events
  internal/server/lifecycle/network_peer_group.go
Labels: none

client: Add network peer group functions
  client/incus_network_peer_groups.go
  client/interfaces.go
Labels: none

incusd: Add network peer group API
  cmd/incusd/api_1.0.go
  cmd/incusd/network_peer_groups.go
Labels: none

tests: Add network peer group tests
  test/main.sh
  test/suites/network_peer_groups.sh
Labels: none

doc: add network peer group documentation
  doc/howto/network_configure.md
  doc/howto/network_ovn_peer_groups.md
  doc/reference/network_ovn.md
  doc/rest-api.yaml
Labels: API, Documentation

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/images: Check source instance access on publish
  cmd/incusd/images.go
Labels: none

incusd/cluster: Wait for all blocking instance operations before evacuating
  cmd/incusd/api_cluster_evacuation.go
Labels: none

incusd/instance: Apply evacuation guard to forwarded state changes
  cmd/incusd/instance_state.go
Labels: none

incusd/instance/lxc: Check liblxc state when tolerating stop failures
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/instance: Balance NUMA nodes on committed memory
  internal/server/instance/drivers/driver_common.go
Labels: none

incusd/cluster: Stop Ready and Frozen instances before a restore migration
  cmd/incusd/api_cluster_evacuation.go
Labels: none

incusd/instance: Reject stateless cluster moves of running instances
  cmd/incusd/instance_post.go
  test/suites/clustering.sh
Labels: none

incusd/device/tpm: Mount the instance volume when removing state
  internal/server/device/tpm.go
Labels: none

incusd/instances: Prefer images.default_architecture for multi-arch sources
  cmd/incusd/instances_post.go
Labels: none

incusd/instance/qmp: Split query and operational command timeouts
  internal/server/instance/drivers/qmp/errors.go
  internal/server/instance/drivers/qmp/qmp.go
Labels: none

incusd/instance/qmp: Tolerate monitor timeouts in blockJobWait
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/instance/qemu: Report busy monitor as running
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qemu: Log failure to resume after failed migration
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qemu: Wait for the NBD server before blockdev-add
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qemu: Accept qemu-kvm binary name in PID validation
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incus/image: Don't warn on already closed files during import
  cmd/incus/image.go
Labels: none

Set PKCE challenge and verifier values
  client/incus_oidc.go
Labels: none

cmd/generate-database/db: Add nullable field support
  cmd/generate-database/README.md
  cmd/generate-database/db/method.go
  cmd/generate-database/db/stmt.go
Labels: none

incusd/network/bridge: Clean up tunnel interfaces on failed start
  internal/server/network/driver_bridge.go
Labels: none

incusd/network/physical: Restore the original MTU on stop
  internal/server/network/driver_physical.go
Labels: none
