Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/storage/linstor: Add basic snapshot support
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Ensure volumes are available locally when retrieving device paths
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/instance/drivers: Populate StorageMove and StoragePool when migrating lxc instances
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/storage/linstor: Add support for updating storage pool config
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
Labels: none

test: Add clustered LINSTOR tests
  test/includes/clustering.sh
  test/includes/incusd.sh
  test/suites/clustering.sh
Labels: none

incusd/storage/linstor: Add support for listing volumes
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add support for fetching volume disk usage
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

internal/migration: Update protobuf
  internal/migration/migrate.pb.go
  internal/migration/migrate.proto
Labels: none

incusd/storage/linstor: Use aux property to map incus names to linstor resource definitions
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add drbd resource config options
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add support for generic refreshing of volumes
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

api: instance_state_cpu_time
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/api: Add AllocatedTime CPU field
  shared/api/instance_state.go
Labels: API

incusd/instance/lxc: Add AllocatedTime CPU field
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/cgroup: Add GetCPUCfsLimit
  internal/server/cgroup/abstraction.go
Labels: none

incusd/instance/qemu: Add AllocatedTime CPU field
  internal/server/instance/drivers/driver_qemu.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

test: Check CPU allocated time
  test/suites/basic.sh
Labels: none

incusd/certificates: Properly handle bad PEM data
  cmd/incusd/certificates.go
Labels: none

cmd/generate-database/lex: Fix pluralization
  cmd/generate-database/lex/form.go
Labels: none

cmd/generate-database/db: Consider marshal tagged fields as columns
  cmd/generate-database/db/parse.go
Labels: none

cmd/generate-database/db: Add GetNames
  cmd/generate-database/db/method.go
  cmd/generate-database/db/stmt.go
Labels: none

cmd/generate-database/db: Import entities from non-local packages
  cmd/generate-database/db/lex.go
  cmd/generate-database/db/mapping.go
  cmd/generate-database/db/method.go
Labels: none

cmd/generate-database: Update docs
  cmd/generate-database/README.md
Labels: none

cmd/generate-database/db: Support multi-package parsing
  cmd/generate-database/db.go
  cmd/generate-database/db/mapping.go
  cmd/generate-database/db/method.go
  cmd/generate-database/db/parse.go
  cmd/generate-database/db/stmt.go
Labels: none

cmd/generate-database/file/boilerplate: Use tx for multi-queries
  cmd/generate-database/db/method.go
  cmd/generate-database/file/boilerplate/boilerplate.go
Labels: none

cmd/generate-database/db: Fix generator tests
  cmd/generate-database/db/parse_test.go
Labels: none

internal/server/db/cluster: Update generated code
  internal/server/db/cluster/certificate_projects.interface.mapper.go
  internal/server/db/cluster/certificate_projects.mapper.go
  internal/server/db/cluster/certificates.interface.mapper.go
  internal/server/db/cluster/certificates.mapper.go
  internal/server/db/cluster/cluster_groups.interface.mapper.go
  internal/server/db/cluster/cluster_groups.mapper.go
  internal/server/db/cluster/config.mapper.go
  internal/server/db/cluster/devices.interface.mapper.go
  internal/server/db/cluster/devices.mapper.go
  internal/server/db/cluster/instance_profiles.interface.mapper.go
  internal/server/db/cluster/instance_profiles.mapper.go
  internal/server/db/cluster/instances.interface.mapper.go
  internal/server/db/cluster/instances.mapper.go
  internal/server/db/cluster/mapper_boilerplate.go
  internal/server/db/cluster/networks_integrations.interface.mapper.go
  internal/server/db/cluster/networks_integrations.mapper.go
  internal/server/db/cluster/nodes.interface.mapper.go
  internal/server/db/cluster/nodes.mapper.go
  internal/server/db/cluster/nodes_cluster_groups.mapper.go
  internal/server/db/cluster/profiles.interface.mapper.go
  internal/server/db/cluster/profiles.mapper.go
  internal/server/db/cluster/projects.interface.mapper.go
  internal/server/db/cluster/projects.mapper.go
  internal/server/db/cluster/snapshots.interface.mapper.go
  internal/server/db/cluster/snapshots.mapper.go
  internal/server/db/cluster/warnings.interface.mapper.go
  internal/server/db/cluster/warnings.mapper.go
Labels: none

incusd/network/common: Handle missing BGP peer
  internal/server/network/driver_common.go
Labels: none

incusd/cluster/evacuate: Don't live-migrate stopped instances
  cmd/incusd/api_cluster_evacuation.go
Labels: none

cmd/generate-database/db: Directly pass reference table and column names
  cmd/generate-database/db/method.go
Labels: none

internal/server/db/cluster: Specify table name on method declarations
  internal/server/db/cluster/cluster_groups.go
Labels: none

cmd/incusd: Update calls to generated code
  cmd/incusd/api_internal_recover.go
  cmd/incusd/instance_patch.go
  cmd/incusd/instance_post.go
  cmd/incusd/instance_put.go
  cmd/incusd/instances_post.go
  cmd/incusd/profiles.go
  internal/server/backup/backup_config_utils.go
  internal/server/db/cluster/instances.go
  internal/server/db/cluster/profiles.go
  internal/server/db/cluster/projects.go
  internal/server/db/instances.go
  internal/server/db/node.go
  internal/server/db/profiles.go
  internal/server/network/acl/acl_load.go
  internal/server/network/network_utils.go
  internal/server/project/permissions.go
  internal/server/scriptlet/instance_placement.go
  internal/server/storage/storage.go
  internal/server/storage/utils.go
Labels: none

cmd/generate-database/db: Make linter happy (defer loops)
  cmd/generate-database/db/method.go
Labels: none

internal/server/db/cluster: Update generated code
  internal/server/db/cluster/cluster_groups.mapper.go
  internal/server/db/cluster/config.interface.mapper.go
  internal/server/db/cluster/config.mapper.go
  internal/server/db/cluster/devices.interface.mapper.go
  internal/server/db/cluster/devices.mapper.go
  internal/server/db/cluster/instances.mapper.go
  internal/server/db/cluster/networks_integrations.mapper.go
  internal/server/db/cluster/profiles.mapper.go
  internal/server/db/cluster/projects.mapper.go
  internal/server/db/cluster/snapshots.mapper.go
Labels: none

api: network_io_bus
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/device/config: Add USB bus override
  internal/server/device/config/device_runconfig.go
Labels: none

incusd/instance: Add support for USB NICs
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/device/nic: Add support for io.bus
  internal/server/device/nic.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_macvlan.go
  internal/server/device/nic_p2p.go
  internal/server/device/nic_routed.go
Labels: none

incusd/storage/s3 Fixed minio client mc too ambious issue
  internal/server/storage/s3/miniod/miniod.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
