Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

doc: Document offline OVN lifecycle and migration limits
  doc/.sphinx/overrides/config-options.js
  doc/conf.py
  doc/config_options.txt
  doc/howto/move_instances.md
  doc/reference/network_ovn.md
  doc/rest-api.yaml
Labels: API, Documentation

incusd: Collect unused OVN ACL groups after deletion
  cmd/incusd/api_project.go
  cmd/incusd/api_project_network_cleanup_test.go
  internal/server/instance/drivers/driver_common_ovn_delete_acl.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_ovn_delete_acl_test.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incus/network: Preserve ordinary OVN updates and ACL collection
  doc/reference/network_ovn.md
  internal/server/db/networks_ovn_ingress_debt.go
  internal/server/db/networks_ovn_ingress_debt_test.go
  internal/server/instance/drivers/driver_common_ovn.go
  internal/server/instance/drivers/driver_common_ovn_acl_collection.go
  internal/server/instance/drivers/driver_ovn_acl_collection_test.go
  internal/server/network/acl/acl_ovn_collection.go
  internal/server/network/acl/acl_physical_references.go
  internal/server/network/driver_ovn.go
  internal/server/network/ovn/ovn_network_infrastructure.go
  internal/server/network/ovn/ovn_ordinary_network_update_test.go
  internal/server/network/ovn/ovn_reference_mutation.go
  internal/server/network/ovn_acl_collection.go
Labels: Documentation

network/ovn: Preserve NIC provenance across parent changes
  internal/server/network/driver_ovn.go
  internal/server/network/ovn/ovn_nic_parent_prefix_reload.go
  internal/server/network/ovn/ovn_nic_parent_prefix_reload_test.go
  internal/server/network/ovn/ovn_nic_parent_refusal_test.go
  internal/server/network/ovn/ovn_nic_publication.go
  internal/server/network/ovn_parent_refusal_test.go
Labels: none

tests: Cover lifecycle and cleanup CI regressions
  cmd/incusd/main_daemon_test.go
  internal/server/db/networks_ovn_cleanup_precopy_test.go
  internal/server/db/networks_ovn_cleanup_retry_test.go
  internal/server/instance/drivers/driver_common_ovn_identity_test.go
  internal/server/network/ovn/ovn_peer_policy_retirement_test.go
  test/suites/network_ovn.sh
Labels: none

incus/db: Preserve ordinary copy stop hooks
  internal/server/db/networks_ovn_cleanup.go
Labels: none

doc: Describe committed instance deletion cleanup retries
  doc/reference/network_ovn.md
Labels: Documentation

incus/network: Retire child peer policies and unused ACLs
  internal/server/network/driver_ovn.go
  internal/server/network/ovn/ovn_peer_policy_retirement.go
  internal/server/network/ovn/ovn_physical_references.go
  internal/server/network/ovn/ovn_reference_mutation.go
  internal/server/network/ovn_nic_replay.go
  internal/server/network/ovn_peer_delete.go
Labels: none

incus/storage: Commit instance listing before snapshot repair
  internal/server/storage/backend_patches.go
  internal/server/storage/backend_patches_test.go
Labels: none

incus/instance: Persist OVN rollback device identity
  internal/server/instance/drivers/driver_common_ovn.go
Labels: none

internal/server/cluster: Notify reachable returning members
  internal/server/cluster/notify.go
  internal/server/cluster/notify_members_test.go
Labels: none

internal/server/network/ovn: Preserve owned live ACL rule subjects
  internal/server/network/ovn/ovn_acl_live_rules_test.go
  internal/server/network/ovn/ovn_reference_mutation.go
Labels: none

test: Wait for cluster member heartbeat after respawn
  test/suites/clustering.sh
Labels: none

test: Wait for rebalance role after member returns
  test/suites/clustering.sh
Labels: none

internal/server/network/ovn: Allow owned ACL route subjects during deletion
  internal/server/network/ovn/ovn_network_acl_retirement_test.go
  internal/server/network/ovn/ovn_physical_references.go
Labels: none

internal/server/storage: Avoid nested snapshot repair transactions
  internal/server/storage/backend_patches.go
  internal/server/storage/backend_patches_test.go
Labels: none

cmd/incus: Enable persistent hook traversal
  cmd/incus/main.go
  cmd/incus/main_test.go
Labels: none

incusd/storage: Fix qcow2 volume size after live snapshot
  internal/server/storage/backend.go
Labels: none

internal/server/db/query: Report canceled transactions
  internal/server/db/query/transaction.go
  internal/server/db/query/transaction_test.go
Labels: none

internal/server/bgp: Preserve shared peer counts
  internal/server/bgp/server.go
  internal/server/bgp/server_test.go
Labels: none

test/clustering: Wait for returning member readiness
  test/suites/clustering.sh
Labels: none

cmd/incus: Extend client certificate generation
  cmd/incus/remote.go
  cmd/incus/remote_test.go
Labels: none

tests: Cover per-remote certificate generation
  test/suites/remote.sh
Labels: none

doc: Document encrypted per-remote certificate generation
  doc/.wordlist.txt
  doc/authentication.md
  doc/remotes.md
Labels: Documentation

i18n: Update translation templates
  po/incus.pot
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
