Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

Translated using Weblate (Indonesian)
  po/id.po
Labels: none

Translated using Weblate (Indonesian)
  po/id.po
Labels: none

tests: cover encrypted ZFS snapshot copies
  test/suites/storage_driver_zfs.sh
Labels: none

storage/zfs: avoid raw sends for encrypted snapshot copies
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

incus/server/storage/driver/volume: Ensure cached image can grow to needed size and not be restricted by pool size config.
  internal/server/storage/drivers/volume.go
Labels: none

tests: Add more tests for ConfigSizeFromSource
  internal/server/storage/drivers/volume_test.go
Labels: none

doc: Update AI/LLM policy
  AGENTS.md
  CONTRIBUTING.md
Labels: none

doc: Add GPG to wordlist
  doc/.wordlist.txt
Labels: Documentation

client: use a custom PoC oci registry client for GetImageAlias()
  client/oci.go
  client/oci_images.go
  internal/oci/registry.go
  internal/oci/registry_test.go
Labels: none

Translated using Weblate (Swedish)
  po/sv.po
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

Translated using Weblate (Russian)
  po/ru.po
Labels: none

client: Default to port 443 for raw connections
  client/incus_instances.go
Labels: none

incusd/util: Fix JWT validation
  internal/server/util/http.go
Labels: none

api: Add storage_btrfs_compression extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Document the "btrfs.compression" volume option
  doc/reference/storage_btrfs.md
Labels: Documentation

incusd/storage/drivers: Add "btrfs.compression" volume option
  internal/server/storage/drivers/driver_btrfs_volumes.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incus/server/storage/driver/ceph: Don't return error if image size is larger than cached image size
  internal/server/storage/drivers/driver_ceph_volumes.go
Labels: none

incusd/instance/lxc: Restrict OCI configuration keys to OCI containers
  internal/server/instance/drivers/driver_lxc.go
Labels: none

api: Add oci_network_config extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

internal/instance: Add OCI DNS configuration keys
  internal/instance/config.go
Labels: none

internal/instance: Simplify OCI key descriptions
  internal/instance/config.go
Labels: none

incusd/device: Apply OCI static network configuration on NICs
  internal/server/device/device_utils_instance.go
  internal/server/device/device_utils_network.go
  internal/server/device/nic.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
Labels: none

incusd/instance/lxc: Generate OCI container network files
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/main_forknet: Handle static interfaces and DNS in forknet dhcp
  cmd/incusd/main_forknet.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/storage/btrfs: Fix daemon dir prefix check
  internal/server/storage/drivers/driver_btrfs.go
Labels: none

doc/cloud-init: Change YAML spec domain
  doc/cloud-init.md
Labels: Documentation

incus/server/device: Persist NIC host_name before creating interface
  internal/server/device/device_common.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
  internal/server/device/nic_p2p.go
  internal/server/device/nic_routed.go
Labels: none

incusd/images: Tolerate concurrent image record creation in a cluster
  cmd/incusd/daemon_images.go
  internal/server/db/images.go
Labels: none

incus/events: Forward info-level log events across the cluster
  internal/server/events/events.go
Labels: none

incus/vm: Select OVMF.amdsev.fd firmware for SEV guests
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/edk2/driver_edk2.go
Labels: none

incus/vm: Skip vmcoreinfo device for SEV guests
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incus/console: Ignore not-exist error when removing temporary socket
  cmd/incus/console.go
Labels: none

github: Block LLM/AI attribution in commit messages
  .github/workflows/commits.yml
Labels: none

incusd: Skip br_netfilter proxy/forward handling on IncusOS
  internal/server/device/nic_bridged.go
  internal/server/device/proxy.go
  internal/server/network/driver_bridge.go
Labels: none

incusd/storage/zfs: Batch snapshot GUID lookups
  internal/server/storage/drivers/driver_zfs_utils.go
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

incusd/endpoints: Fix infinite loop in network error log writer
  internal/server/endpoints/network_util.go
Labels: none
