Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/storage/lvm: Prevent use of lvmcluster with loop files
  internal/server/storage/drivers/driver_lvm.go
Labels: none

incusd/operations: Prevent concurrent access to metadata
  internal/server/operations/operations.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/cluster: Restrict join token to database servers
  cmd/incusd/api_cluster.go
Labels: none

incusd/instance/drivers: Pass information about whether migration is live
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/storage/drivers: Load NBD module for lvmcluster
  internal/server/storage/drivers/driver_lvm.go
Labels: none

incusd/storage: Add support for renaming qcow2 volumes
  internal/server/storage/backend.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/utils_qcow2.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

incusd/instances/agent-loader: Silence semanage
  internal/server/instance/drivers/agent-loader/install-linux.sh
Labels: none

incusd/storage: Add support for qcow2 volume migration
  internal/server/storage/backend.go
  internal/server/storage/drivers/utils_qcow2.go
  internal/server/storage/utils.go
Labels: none

doc/howto/instances: Mention keeping agent drive attached
  doc/howto/instances_create.md
Labels: Documentation

incusd/storage: Add snapshot mount paths parameter to the task function
  internal/server/storage/backend.go
  internal/server/storage/drivers/volume.go
Labels: none

incusd/device/nic_riov: Retry MAC setting logic
  internal/server/device/device_utils_network.go
Labels: none

doc/cloud-init: Fix bad link
  doc/cloud-init.md
Labels: Documentation

incusd: Search OVS switch external_interfaces
  internal/server/network/driver_bridge.go
Labels: none

incusd/ip/link: Add support for virtual function trusted property
  internal/server/ip/link.go
Labels: none

api: nic_sriov_security_trusted
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/cluster: Also transfer public key on join
  cmd/incusd/api_cluster.go
Labels: none

doc: Update config for SR-IOV security.trusted
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

tests: Add tests for SR-IOV `security.trusted` property
  test/suites/container_devices_nic_sriov.sh
Labels: none

incusd/device/nic: Add `security.trusted` configuration key
  internal/server/device/device_utils_network.go
  internal/server/device/nic.go
  internal/server/device/nic_sriov.go
Labels: none

internal/instance: Add `volatile.<name>.last_state.vf.trusted`
  internal/instance/config.go
Labels: none

doc/backup: Fix MarkdownLint warnings
  doc/.sphinx/.markdownlint/doc-lint.sh
  doc/backup.md
Labels: Documentation

incusd/storage_volumes_snapshot: Treat pongo templates as unique
  cmd/incusd/storage_volumes_snapshot.go
Labels: none

feat: Implement incus_node_boot_time_seconds and incus_node_time_seconds in metrics
  cmd/incus-agent/metrics.go
  internal/server/metrics/api.go
  internal/server/metrics/metrics.go
  internal/server/metrics/types.go
Labels: none

incusd/metrics: Implement incus_node_boot_time_seconds and incus_node_time_seconds
  internal/server/metrics/api.go
  internal/server/metrics/metrics.go
  internal/server/metrics/types.go
Labels: none

incus-agent: Implement incus_node_boot_time_seconds and incus_node_time_seconds
  cmd/incus-agent/metrics.go
Labels: none

incus/drivers: Implement disk-only restore logic in lxc driver
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incus/instance: Adjust interface for diskOnly parameter
  internal/server/instance/instance_interface.go
Labels: none

cmd/incusd: Add DiskOnly option and check for mismatching options
  cmd/incusd/instance_put.go
Labels: none

shared/api: Add DiskOnly option in InstancePut
  shared/api/instance.go
Labels: API

incus/drivers: Implement disk-only restore logic in qemu driver
  internal/server/instance/drivers/driver_qemu.go
Labels: none

doc: Add instance_snapshot_disk_only_restore api extension to documentation
  doc/api-extensions.md
Labels: API, Documentation

cmd/incus: Add disk only restore feature to incus cli
  cmd/incus/snapshot.go
Labels: none

client: Check for diskOnly api extension when invoked
  client/incus_instances.go
Labels: none

api: Add instance_snapshot_disk_only_restore API extension
  internal/version/api.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/instance/drivers: Propagate error when adding qcow2 backing block device
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/drivers: Add limits.memory.balloon config option
  doc/config_options.txt
  doc/reference/instance_options.md
  internal/instance/config.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/metadata/configuration.json
Labels: Documentation
