Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/storage/linstor: List snapshots to support non optimized copying of volumes with snapshots
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/network/bridge: Fix deletion of tunnels and dummy devices
  internal/server/network/driver_bridge.go
Labels: none

incusd/storage/linstor: Fallback to generic migration implementation
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

test: Adjust standalone tests for Linstor
  test/suites/migration.sh
  test/suites/remote.sh
  test/suites/snapshots.sh
Labels: none

incusd/instance/drivers: Populate StorageMove and StoragePool when migrating lxc instances
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/storage: Populate StorageMove and StoragePool when migrating volumes
  internal/server/storage/backend.go
Labels: none

incusd/device/disk: Include cluster name and config path in RBD string
  internal/server/device/device_utils_disk.go
Labels: none

incusd/instance/qemu: Provide the RBD keyring to QEMU
  internal/server/instance/drivers/driver_qemu.go
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

allow unprivileged users in application containers to bind to all ports
  internal/server/instance/drivers/driver_lxc.go
Labels: none

adding filtering to address sets
  cmd/incusd/network_address_sets.go
Labels: none

cleaning code and generation of garbage rules
  internal/server/firewall/drivers/drivers_nftables.go
Labels: none

fixing logic for address sets in ovnRuleSubjectToOVNACLMatch
  internal/server/network/acl/acl_ovn.go
Labels: none

fixing remove logic for ensure address sets in ovn
  internal/server/network/address_set/address_set_ovn.go
Labels: none

adding check for duplicate addresses
  internal/server/network/address_set/driver_common.go
Labels: none

update to ovn driver cleaning address set support
  internal/server/network/driver_ovn.go
Labels: none

adding full scope tests for address sets
  test/main.sh
  test/suites/network_address_set.sh
Labels: none

temp tests for address sets
  test/tests-address_set.sh
Labels: none

basic skeleton documentation
  doc/api-extensions.md
  doc/howto/network_address_sets.md
  doc/networks.md
Labels: API, Documentation

changing cmd for address deletion from remove-addr to del-addr
  cmd/incus/network_address_set.go
  test/suites/network_address_set.sh
  test/tests-address_set.sh
Labels: none

update docs for address sets
  doc/howto/network_address_sets.md
Labels: Documentation

adding referece to address set in acls how to
  doc/howto/network_acls.md
Labels: Documentation

update docs for address sets adding reference to acls how to
  doc/howto/network_address_sets.md
Labels: Documentation

i18n: Update translation templates
  Makefile
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

reformatting for swagger
  cmd/incusd/network_address_sets.go
Labels: none

removing json marshalling of description, uneeded and appends escape characters indefinetly
  internal/server/db/network_address_sets.go
Labels: none

api: security_iommu
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

internal/instance: Add security.iommu
  internal/instance/config.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instance/qemu: Simplify Windows detection
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qemu: Implement security.iommu
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qemu: Add IOMMU for Windows
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incusd/instance/qemu: Configure irqchip for split mode with IOMMU
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

doc: Add passthrough and IOMMU to wordlist
  doc/.wordlist.txt
Labels: Documentation

incusd/storage/ceph: Re-introduce keyring parsing
  internal/server/storage/drivers/utils_ceph.go
Labels: none

Release Incus 6.10.1
  internal/version/flex.go
Labels: none

doc: Clarify virtiofsd requirements
  doc/requirements.md
Labels: Documentation

incusd/instance/lxc: Allow unprivileged users to use ping in application containers
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/instance/lxc: Allow unprivileged users in application containers to bind to all ports
  internal/server/instance/drivers/driver_lxc.go
Labels: none
