Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incus: Use platform-specific cache directory
  cmd/incus/main.go
Labels: none

incusd/device/disk: Reject pool property with special sources
  internal/server/device/disk.go
Labels: none

incusd/network/bridge: Clarify nat.order has no effect on nftables
  internal/server/network/driver_bridge.go
Labels: none

incusd/metadata: Update generated metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

shared/osinfo: Add osinfo package
  shared/osinfo/compatibility.go
  shared/osinfo/linux.go
  shared/osinfo/os.go
  shared/osinfo/os_test.go
  shared/osinfo/windows.go
Labels: none

internal/server/instance/drivers: Use DetermineOS and osinfo.OSType for instance GuestOS value
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
Labels: none

internal/server/instance/drivers: Update GuestOS usages
  internal/server/device/device_utils_disk.go
  internal/server/device/disk.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_machine.go
Labels: none

internal/server/instance/drivers: Add OS version specific QEMU options
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_machine.go
Labels: none

incusd/storage/drivers: Apply nodatacow directly for btrfs.compression=none
  internal/server/storage/drivers/driver_btrfs_volumes.go
Labels: none

incusd/storage/drivers: Allow btrfs.compression as a pool-wide default
  internal/server/storage/drivers/driver_btrfs.go
  internal/server/storage/drivers/driver_btrfs_volumes.go
Labels: none

test: Cover btrfs.compression nodatacow and pool-wide default
  test/suites/storage_driver_btrfs.sh
Labels: none

incusd/network: Add GetNeighbourAddresses helper
  internal/server/network/network_utils.go
Labels: none

incusd/device: Add shared instance neighbour scan helper
  internal/server/device/device_utils_network.go
Labels: none

incusd/firewall: Allow wildcard listen address in proxy NAT
  internal/server/firewall/drivers/drivers_nftables.go
  internal/server/firewall/drivers/drivers_nftables_templates.go
Labels: none

incusd/device: Support dynamic addresses in proxy NAT mode
  internal/server/device/proxy.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Document proxy NAT dynamic addresses
  doc/reference/devices_proxy.md
Labels: Documentation

tests: Add proxy NAT wildcard and dynamic address tests
  test/suites/container_devices_proxy.sh
Labels: none

incusd: Rename neighbour to neighbor for US english
  internal/server/device/device_utils_network.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ipvlan.go
  internal/server/device/nic_routed.go
  internal/server/device/proxy.go
  internal/server/firewall/drivers/drivers_nftables_templates.go
  internal/server/ip/neigh.go
  internal/server/ip/neigh_proxy.go
  internal/server/network/acl/acl_ovn.go
  internal/server/network/network_utils.go
  test/suites/container_devices_nic_routed.sh
  test/suites/container_devices_proxy.sh
Labels: none

incusd: Reject rootfs symlink for instances
  internal/server/storage/backend.go
  internal/server/storage/utils.go
Labels: none

incusd/exec: Reject exec-output symlink
  cmd/incusd/instance_exec.go
Labels: none

incusd/instance: Enforce project restrictions on snapshot restore
  cmd/incusd/instance_put.go
Labels: none

api: instance_selinux
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

internal/server/sys: Extend SELinux context detection
  internal/server/sys/os.go
  internal/server/sys/selinux.go
Labels: none

internal/server/selinux: Add SELinux package
  internal/server/selinux/alloc.go
  internal/server/selinux/instance.go
  internal/server/selinux/selinux.go
Labels: none

shared/validate: Add SELinux validation functions
  shared/validate/validate.go
Labels: none

internal/instance: Add SELinux configuration keys
  doc/.wordlist.txt
  internal/instance/config.go
Labels: Documentation

internal/server/project: Add SELinux config permissions
  internal/server/project/permissions.go
Labels: none

incusd: Rename forkstart to forklxc and forklimits to forkqemu
  cmd/incusd/main.go
  cmd/incusd/main_forklxc.go
  cmd/incusd/main_forkqemu.go
Labels: none

incusd: Add SELinux exec context to forkqemu
  cmd/incusd/main_forkqemu.go
Labels: none

internal/server/instance/drivers: Add SELinux support
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

Update gomod
  go.mod
  go.sum
Labels: none

incusd/instance: Confine template access to instance root
  cmd/incusd/instance_metadata.go
Labels: none

shared/validate: Reject compression algorithm arguments
  shared/validate/validate.go
Labels: none

incusd/images: Validate fingerprint on direct download
  cmd/incusd/daemon_images.go
  shared/validate/validate.go
Labels: none

incusd/storage: Check source volume access on copy
  cmd/incusd/storage_volumes.go
Labels: none

incusd/instances: Check source instance access on copy
  cmd/incusd/instances_post.go
Labels: none

incus/default: Add incus default commands
  cmd/incus/default.go
  cmd/incus/main.go
  cmd/incus/usage/usage.go
Labels: none

cmd/incusd: `isolated` on `restricted.containers.privilege` prevents setting `security.idmap.isolated` to `false`
  cmd/incusd/api_project.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
