Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

cmd/incusd: Add tables on sql dump Signed-off-by: Helder Ardachnikoff Gomes <helder.versatti@gmail.com>
  cmd/incusd/api_internal.go
Labels: none

internal/server: Add tables on sql dump Signed-off-by: Helder Ardachnikoff Gomes <helder.versatti@gmail.com>
  internal/server/db/query/dump.go
  internal/server/db/query/dump_test.go
Labels: none

internal/server: Add comments on dump options Signed-off-by: Helder Ardachnikoff Gomes <helder.versatti@gmail.com>
  internal/server/db/query/dump.go
Labels: none

internal/server: Add period on comment
  internal/server/db/query/dump.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

internal/server: add new line after block
  internal/server/db/query/dump.go
Labels: none

cmd/incusd: add new line after block
  cmd/incusd/api_internal.go
Labels: none

doc: Change command to `snapshot delete`
  doc/howto/storage_backup_volume.md
Labels: Documentation

incusd: Use 'Patch' method for PATCH requests
  cmd/incusd/api_1.0.go
Labels: none

internal/server: Add tables on sql dump
  internal/server/db/query/dump.go
  internal/server/db/query/dump_test.go
Labels: none

incusd: Add tables on sql dump
  cmd/incusd/api_internal.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incus/admin/sql: Add tables on sql dump
  cmd/incus/admin_sql.go
Labels: none

incus/admin/os: Update for current API prefix
  cmd/incus/admin_os.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

Fixed grammar in README.md
  README.md
Labels: none

incus: Add a date format with second granularity
  cmd/incus/utils.go
Labels: none

incus/admin/os: Improve debug log command
  cmd/incus/admin_os.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

cmd/incusd: add logs volume config
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon_storage.go
  internal/server/metadata/configuration.json
  internal/server/node/config.go
Labels: none

incusd/cluster: Don't use proxy when joining
  internal/server/cluster/connect.go
Labels: none

incusd/instance/qemu: Add support for SPICE audio
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incusd/device/usb: Add attached configuration key
  internal/server/device/usb.go
Labels: none

doc: Update metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Remove outdated warning
  doc/howto/instances_backup.md
Labels: Documentation

incusd/device/disk: Remove dead code
  internal/server/device/disk.go
Labels: none

api: usb_attached
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/instancewriter: Add raw instance writer
  internal/instancewriter/instance_raw_writer.go
Labels: none

incusd/storage: Generalize InstanceTarWriter
  internal/instancewriter/instance_tar_writer.go
  internal/instancewriter/instance_writer_interface.go
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
  internal/server/storage/drivers/driver_btrfs_volumes.go
  internal/server/storage/drivers/driver_ceph_volumes.go
  internal/server/storage/drivers/driver_cephfs_volumes.go
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_dir_volumes.go
  internal/server/storage/drivers/driver_linstor_volumes.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/driver_mock.go
  internal/server/storage/drivers/driver_truenas_volumes.go
  internal/server/storage/drivers/driver_zfs_volumes.go
  internal/server/storage/drivers/generic_vfs.go
  internal/server/storage/drivers/interface.go
  internal/server/storage/pool_interface.go
Labels: none

incus: Handle ISO export
  cmd/incus/storage_volume.go
Labels: none

test: Incus now allows ISO export
  test/suites/storage_volume_import.sh
Labels: none

incusd/storage: Add ISO volume export
  cmd/incusd/backup.go
  internal/server/storage/backend.go
  internal/server/storage/drivers/generic_vfs.go
Labels: none

incusd/storage/generic: Use proper custom volume size for backup if possible
  internal/instancewriter/instance_raw_writer.go
  internal/server/storage/drivers/generic_vfs.go
Labels: none

api: backup_iso
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/metrics: Always include internal metrics
  cmd/incusd/api_metrics.go
Labels: none

incusd/auth: log the error if getting the oidc provider fails
  internal/server/auth/oidc/oidc.go
Labels: none

incusd/main_forkbpf: Create forkbpf helper for bpf token delegation.
  cmd/incusd/main.go
  cmd/incusd/main_forkbpf.go
  cmd/incusd/main_nsexec.go
  shared/cgo/incus.h
Labels: none

incusd/instance: Add bpf token delegation feature.
  internal/instance/config.go
  internal/server/instance/drivers/driver_lxc.go
Labels: none

doc: Add documentation for bpf token delegation
  doc/explanation/bpf-tokens.md
  doc/security.md
Labels: Documentation
