Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

tests/basic_usage: Improve auto-restart test loop
  test/suites/basic.sh
Labels: none

api: storage_driver_truenas
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/storage/truenas: Introduce TrueNAS driver
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
  internal/server/storage/drivers/load.go
Labels: none

docs: Update word list
  doc/.wordlist.txt
Labels: Documentation

docs: Add TrueNAS storage driver
  doc/explanation/storage.md
  doc/reference/storage_drivers.md
  doc/reference/storage_truenas.md
Labels: Documentation

tests: Add TrueNAS tests (and tweak testsuite)
  test/README.md
  test/backends/truenas.sh
  test/includes/clustering.sh
  test/includes/storage.sh
  test/main.sh
  test/suites/backup.sh
  test/suites/clustering.sh
  test/suites/container_move.sh
  test/suites/migration.sh
  test/suites/snapshots.sh
  test/suites/storage.sh
  test/suites/storage_driver_truenas.sh
  test/suites/storage_local_volume_handling.sh
  test/suites/storage_snapshots.sh
Labels: none

incus: Replace IsNetworkName with IsInterfaceName
  cmd/incus/admin_init_interactive.go
Labels: none

shared/validate: Remove unused IsNetworkName
  shared/validate/validate.go
Labels: none

shared/validate: Implement IsAPIName
  shared/validate/validate.go
Labels: none

doc/installing: Update Ubuntu versions in Zabbly repository
  doc/installing.md
Labels: Documentation

incusd: Consistently validate object names
  cmd/incusd/api_cluster.go
  cmd/incusd/api_cluster_group.go
  cmd/incusd/api_project.go
  cmd/incusd/images.go
  cmd/incusd/instance_snapshot.go
  cmd/incusd/network_integrations.go
  cmd/incusd/network_peers.go
  cmd/incusd/networks.go
  cmd/incusd/profiles.go
  cmd/incusd/storage_buckets.go
  cmd/incusd/storage_buckets_backup.go
  cmd/incusd/storage_pools.go
  cmd/incusd/storage_pools_utils.go
  cmd/incusd/storage_volumes.go
  cmd/incusd/storage_volumes_backup.go
  cmd/incusd/storage_volumes_snapshot.go
  internal/server/network/acl/acl_validation.go
  internal/server/network/address-set/address_set_validation.go
  internal/server/network/driver_common.go
  internal/server/network/zone/record.go
  internal/server/network/zone/zone.go
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
  internal/server/storage/pool_interface.go
Labels: none

tests: Fix invalid image alias name
  test/suites/basic.sh
Labels: none

tests: We no longer allow slashes in zones
  test/suites/network_zone.sh
Labels: none

incusd/instance: Move migration.stateful check to CanLiveMigrate
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
Labels: none

incusd/instance/qemu: Fix zero-value check regression
  internal/server/instance/drivers/driver_qemu.go
Labels: none

internal/instance: Add volatile.<name>.io.bus
  internal/instance/config.go
Labels: none

incusd/device/disk: Refactor bus=XXX setting logic
  internal/server/device/disk.go
Labels: none

incusd/network/bridge: Always set DHCPv6 dns-server field
  internal/server/network/driver_bridge.go
Labels: none

incusd/device/disk: Revamp virtiofs+9p handling
  internal/server/device/disk.go
Labels: none

doc: Update metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incus-agent: Remove dual mount type handling
  cmd/incus-agent/os_linux.go
Labels: none

incusd/instance/qemu: Allocate ports for 9p and virtiofs
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qemu: Make virtiofs shares fully hotpluggable and refactor 9p logic
  internal/server/instance/drivers/driver_qemu.go
Labels: none

Make the agent aware of the actual FSType
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qemu: Fix typing regression
  internal/server/instance/drivers/driver_qemu.go
Labels: none

shared/scriptlet: Move scriptlet utils to shared
  shared/scriptlet/marshal.go
  shared/scriptlet/marshal_test.go
  shared/scriptlet/utils.go
Labels: none

internal/server/scriptlet: Update usages
  internal/server/scriptlet/auth/auth.go
  internal/server/scriptlet/instance_placement.go
  internal/server/scriptlet/load/load.go
  internal/server/scriptlet/qemu.go
Labels: none

incusd/sys/os: Tweak IncusOS detection
  internal/server/sys/os.go
Labels: none

Translated using Weblate (Japanese)
  po/ja.po
Labels: none

generate-database: Fix sqlite3 error detection
  cmd/generate-database/db/method.go
Labels: none

incusd/database: Re-generate code
  internal/server/db/cluster/certificate_projects.mapper.go
  internal/server/db/cluster/certificates.mapper.go
  internal/server/db/cluster/cluster_groups.mapper.go
  internal/server/db/cluster/instance_profiles.mapper.go
  internal/server/db/cluster/instances.mapper.go
  internal/server/db/cluster/networks_acls.mapper.go
  internal/server/db/cluster/networks_address_sets.mapper.go
  internal/server/db/cluster/networks_forwards.mapper.go
  internal/server/db/cluster/networks_integrations.mapper.go
  internal/server/db/cluster/networks_load_balancers.mapper.go
  internal/server/db/cluster/networks_peers.mapper.go
  internal/server/db/cluster/networks_zones.mapper.go
  internal/server/db/cluster/networks_zones_records.mapper.go
  internal/server/db/cluster/nodes_cluster_groups.mapper.go
  internal/server/db/cluster/operations.mapper.go
  internal/server/db/cluster/profiles.mapper.go
  internal/server/db/cluster/projects.mapper.go
  internal/server/db/cluster/snapshots.mapper.go
Labels: none

incusd/instances: Improve instance creation errors
  cmd/incusd/instances_post.go
Labels: none

incusd/storage_volumes: Fix error message
  cmd/incusd/storage_volumes.go
Labels: none

incusd/instance/qemu: Fix vTPM on arm64 systems
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_config_test.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incus/console: Add default console command in configuration file
  cmd/incus/console.go
  cmd/incus/main.go
  shared/cliconfig/default.go
Labels: none

incus/utils: Added support for server-side filtering by instance name
  cmd/incus/utils.go
Labels: none

incus/list: Added support for server-side filtering by instance name
  cmd/incus/list.go
Labels: none

incus/image: Adjustments made after modifying getServerSupportedFilters
  cmd/incus/image.go
Labels: none

tests: Adjustments made after modifying getServerSupportedFilters
  cmd/incus/list_test.go
  cmd/incus/utils_test.go
Labels: none

cmd/list: Support server-side filtering
  cmd/incus/list.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
