Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd: Move ReverseDNS to util
  internal/server/network/zone/zone.go
  internal/server/util/dns.go
Labels: none

incusd/network/ovn: Set PTR records
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

doc/openfga: Clarify required config keys
  doc/authorization.md
Labels: Documentation

doc/openfga: Improve required config keys
  doc/authorization.md
Labels: Documentation

incusd/network/ovn: Drop now obsolete DNS check
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

cmd/incus-user: Don't reset setup if user has access
  cmd/incus-user/server.go
Labels: none

api: oidc_allowed_subnets
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/auth/oidc: Introduce incus.restricted_subnets
  internal/server/auth/oidc/oidc.go
Labels: none

doc/authentication: Mentioned incus.allowed_subnets claim
  doc/authentication.md
Labels: Documentation

internal/instance: Tweak handling of boot.autostart
  internal/instance/config.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instances: Support last-state value for boot.autostart
  cmd/incusd/instances.go
Labels: none

incusd/network/physical: Allow parent re-use for bridges
  internal/server/network/driver_physical.go
Labels: none

incusd/network/physical: Allow vlan.tagged
  internal/server/network/driver_physical.go
Labels: none

incusd/device: Add vlan.tagged to physical NICs
  internal/server/device/nic.go
  internal/server/device/nic_physical.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/device/nic_physical: Fix internal bridge handling
  internal/server/device/nic_physical.go
Labels: none

incusd: Add X-Incus-force header for file operations
  cmd/incusd/instance_file.go
  cmd/incusd/storage_volumes_file.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

api: file_delete_force
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc/network_ovn: Add note about advanced external_interfaces syntax
  doc/reference/network_ovn.md
Labels: Documentation

incusd: Parallelize instance startup on daemon start
  cmd/incusd/instances.go
Labels: none

incusd/instance/drivers: Add size parameter to UpdateBlockSize method
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/storage/drivers: Export roundAbove function
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_lvm.go
  internal/server/storage/drivers/driver_zfs.go
  internal/server/storage/drivers/utils.go
Labels: none

incusd/storage/drivers: Add Qcow2Resize and export isQcow2Block function
  internal/server/storage/drivers/driver_lvm_utils.go
  internal/server/storage/drivers/utils_qcow2.go
Labels: none

incusd/storage: Add support for resizing qcow2 volumes
  internal/server/storage/backend.go
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none

generate-database: Respect "primary" config for Identifier in mappings
  cmd/generate-database/db/mapping.go
Labels: none

internal/server/endpoints/listeners: Use new proxyproto package
  internal/server/endpoints/listeners/fancytls.go
Labels: none

generate-database: fix import type for association tables
  cmd/generate-database/db/method.go
Labels: none

incusd/instance/drivers: Fix adding disk with a device name longer than 31 bytes
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/util.go
Labels: none

incusd/instance/drivers: Add tests for hashName
  internal/server/instance/drivers/util_test.go
Labels: none

shared/validate: Don't allow $ in API names
  shared/validate/validate.go
Labels: none

shared/util: Add SingleQuote
  shared/util/string.go
Labels: none

incusd/instance/lxc: Use SingleQuote instead of Quote
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/device/disk: Use isRequired
  internal/server/device/disk.go
Labels: none

incusd/device/disk: Move check for attached property
  internal/server/device/disk.go
Labels: none

incusd/device/disk: Handle required=false on custom volumes
  internal/server/device/disk.go
Labels: none

incusd/api_internal: Block instance hooks until daemon is ready
  cmd/incusd/api_internal.go
Labels: none

incusd/instance_console: Align cleanup logic with exec
  cmd/incusd/instance_console.go
Labels: none

incusd: pass firmware opt from device/pci to instance/qemu
  internal/server/device/pci.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none
