Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/instance/lxc: Simplify findIdmap
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/isntance/lxc: Respect restrict.idmap.size on un-isolated containers
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/instance/lxc: Refactor findIdmap
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/instance/lxc: Fix off by one idmap check
  internal/server/instance/drivers/driver_lxc.go
Labels: none

shared: Move internal "ask" library into shared
  shared/ask/ask.go
Labels: none

shared: Update import path for "ask" library
  cmd/incus-migrate/main.go
  cmd/incus-simplestreams/main_generate_metadata.go
  cmd/incus/main.go
  cmd/lxd-to-incus/main.go
  shared/ask/ask.go
Labels: none

shared: Add godoc comment for NewAsker
  shared/ask/ask.go
Labels: none

doc/network/resolved: Add disabling DNSSEC and DNSOverTLS
  doc/howto/network_bridge_resolved.md
Labels: Documentation

incusd/device/nic/bridged: Handle invalid configuration
  internal/server/device/nic_bridged.go
Labels: none

doc: Add Kubernetes to wordlist
  doc/.wordlist.txt
Labels: Documentation

incusd/storage_volumes_snapshots: Respect pattern on manual creation
  cmd/incusd/storage_volumes_snapshot.go
Labels: none

tests: Add test for custom storage volume snapshots pattern
  test/suites/storage_snapshots.sh
Labels: none

doc/installing: Update for Chimera Linux
  doc/installing.md
Labels: Documentation

incus/top: Fix usage
  cmd/incus/top.go
Labels: none

shared/util: Add OpenBrowser
  client/incus_oidc.go
  client/util.go
  shared/util/browser.go
Labels: none

incus/remote/proxy: Add token authentication
  cmd/incus/remote_unix.go
Labels: none

incusd/api: Only expose UI if index.html exists
  cmd/incusd/api.go
Labels: none

incus: Add webui command
  cmd/incus/main.go
  cmd/incus/webui.go
  cmd/incus/webui_unix.go
  cmd/incus/webui_windows.go
Labels: none

incusd/scriptlet: Make set_target fail with invalid members
  internal/server/scriptlet/instance_placement.go
Labels: none

tests: Update for scriptlet placement error handling
  test/suites/clustering_instance_placement_scriptlet.sh
  test/suites/clustering_move.sh
Labels: none

incusd/instance/qmp: Make Run public
  internal/server/instance/drivers/qmp/commands.go
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

incusd/scriptlet: Add useful QMP functions
  internal/server/scriptlet/load/load.go
  internal/server/scriptlet/qemu.go
Labels: none

doc/ref/instance_options: Mention QEMU raw QMP commands
  doc/reference/instance_options.md
Labels: Documentation

incusd/network/ovn: Add support to ipv4.dhcp.ranges
  internal/server/network/driver_ovn.go
Labels: none

api: instances_scriptlet_get_instances_count
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/scriptlet/instances: Fix error messages
  internal/server/scriptlet/instance_placement.go
Labels: none

incusd/db/instances: Add GetInstancesCount
  internal/server/db/instances.go
Labels: none

incusd/scriptlet/instances: Add get_instances_count
  internal/server/scriptlet/instance_placement.go
  internal/server/scriptlet/load/load.go
Labels: none

doc/cluster/placement: Add get_instances_count
  doc/explanation/clustering.md
Labels: Documentation

incusd/db/node: Sort members in GetCandidateMembers
  internal/server/db/node.go
Labels: none

incusd/instances: Rely on candidateMembers being sorted
  cmd/incusd/api_cluster_evacuation.go
  cmd/incusd/instance_post.go
  cmd/incusd/instances_post.go
Labels: none

incusd/db/node: Remove unused GetNodeWithLeastInstances
  internal/server/db/node.go
Labels: none

incusd/db/node: Update tests to use GetCandidateMembers
  internal/server/db/node_test.go
Labels: none

internal/server: Log QMP interaction to a file
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_metrics.go
  internal/server/instance/drivers/qmp/monitor.go
  internal/server/scriptlet/qemu.go
Labels: none

incusd/instance/qemu: Log QEMU command line
  internal/server/instance/drivers/driver_qemu.go
Labels: none

tests: Update instance placement tests for new ordering
  test/suites/clustering_instance_placement_scriptlet.sh
  test/suites/clustering_move.sh
Labels: none

incusd/instance_logs: Update log file list
  cmd/incusd/instance_logs.go
Labels: none

incusd/network/ovn/sb: Only monitor required tables
  internal/server/network/ovn/ovn_sb.go
Labels: none

incusd/network/ovn: Implement OVN SB event handlers
  internal/server/network/ovn/events.go
  internal/server/network/ovn/ovn_sb.go
  internal/server/network/ovn/ovn_sb_events.go
Labels: none

incusd/instance/qmp: Handle disabling log file
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
