Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/db/node: Cleanup node offline messages
  internal/server/db/node.go
Labels: none

api: network_bridge_multicast_snooping
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/network/bridge: Add bridge.multicast_snooping config key
  internal/server/network/driver_bridge.go
  internal/server/network/network_utils_bridge.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/locking: Add TryLock
  internal/server/locking/lock.go
Labels: none

incusd/storage: Use InstanceByVolumeName in qcow2MigrateVolume
  internal/server/storage/backend.go
Labels: none

incusd/storage: Add lock handling for NBD operations
  internal/server/storage/backend.go
  internal/server/storage/utils.go
Labels: none

devcontainer: fix golangci-lint install source
  .devcontainer/Dockerfile
Labels: none

incusd/storage/drivers: Restore config volume as part of VM block restoration
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none

doc: Update Ansible section with incus-client details
  doc/third_party.md
Labels: Documentation

Update list of Ubuntu LTS releases that get pre-built Incus packages
  doc/installing.md
Labels: Documentation

Use correct host:port format for ClusterAddress
  cmd/incus/cluster.go
Labels: none

incusd/cluster: Better handle misisng OVS/OVN
  cmd/incusd/api_cluster.go
  cmd/incusd/daemon.go
Labels: none

incusd/storage/zfs: Avoid recursive zfs list in GetResources
  internal/server/storage/drivers/driver_zfs.go
Labels: none

incusd/network/ovn: Skip per-IP NAT for external routes when no uplink
  internal/server/network/driver_ovn.go
Labels: none

incusd/instances: Skip offline members in bulk state changes
  cmd/incusd/instances_put.go
Labels: none

incusd/instance/drivers/lxc: Quote values in lxc.environment
  internal/server/instance/drivers/driver_lxc.go
Labels: none

test: Disable volume shrinking with LINSTOR
  test/backends/linstor.sh
  test/includes/clustering.sh
  test/suites/storage_driver_linstor.sh
Labels: none

doc/storage_volume: Fix outdated information
  doc/howto/storage_volumes.md
Labels: Documentation

incusd/storage/s3: Implement S3 CopyObject
  internal/server/storage/s3/local/object.go
  internal/server/storage/s3/local/server.go
Labels: none

incus/storage_volume: Add --create flag to attach
  cmd/incus/storage_volume.go
Labels: none

tests/storage_volume_attach: Test --create on attach
  test/suites/storage_volume_attach.sh
Labels: none

incusd/storage/s3: Implement ACL placeholder
  internal/server/storage/s3/local/object.go
  internal/server/storage/s3/local/server.go
Labels: none

tests/storage: Add S3 CopyObject coverage
  test/suites/storage_buckets.sh
Labels: none

incusd/storage/drivers: Add workaround for shared VG removal failures
  internal/server/storage/drivers/driver_lvm.go
Labels: none

incusd/networks: Parallelize network startup and OVN restart
  cmd/incusd/networks.go
Labels: none

incusd/ip: Set NUD_PERMANENT on neighbour proxy entries
  internal/server/ip/neigh_proxy.go
Labels: none

incusd/device/nic_bridged: Drop redundant accept_ra=0
  internal/server/device/nic_bridged.go
Labels: none

incusd/device/nic_bridged: Recover orphaned veth on startup
  internal/server/device/nic_bridged.go
Labels: none

incusd/forknet: Use space separator for DNS search domains
  cmd/incusd/main_forknet.go
Labels: none

incusd/db/node: Allow using a fixed time in Offline checks
  internal/server/db/instances.go
  internal/server/db/node.go
Labels: none

incus: Print console log when attaching via --console
  cmd/incus/action.go
  cmd/incus/console.go
  cmd/incus/launch.go
  cmd/incus/utils.go
Labels: none

incusd/storage/ceph: Refuse pool deletion when unexpected images exist
  internal/server/storage/drivers/driver_ceph.go
  internal/server/storage/drivers/driver_ceph_utils.go
Labels: none

shared/api: Fix swagger examples
  shared/api/devices.go
  shared/api/image.go
  shared/api/resource.go
Labels: API

cmd/incus: Clarify --expiry flag format
  cmd/incus/snapshot.go
  cmd/incus/storage_volume.go
Labels: none

doc: Clarify snapshots.expiry
  doc/substitutions.yaml
  internal/instance/config.go
  internal/server/storage/drivers/driver_btrfs_volumes.go
  internal/server/storage/drivers/driver_ceph_volumes.go
  internal/server/storage/drivers/driver_cephfs_volumes.go
  internal/server/storage/drivers/driver_dir_volumes.go
  internal/server/storage/drivers/driver_linstor_volumes.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/driver_truenas_volumes.go
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: Documentation

doc: Update metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd/firewall/nftables: Use terse mode to improve performance
  internal/server/firewall/drivers/drivers_nftables.go
Labels: none

client/oci: Pass --no-tags to skopeo inspect
  client/oci_images.go
Labels: none
