Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/auth: Add shared network support to OpenFGA
  internal/server/auth/driver_openfga.go
  internal/server/auth/driver_openfga_model.openfga
Labels: none

incusd/auth: Update generated OpenFGA model
  internal/server/auth/driver_openfga_model.go
Labels: none

incusd: Maintain OpenFGA network shares
  cmd/incusd/api_project.go
  cmd/incusd/daemon.go
  cmd/incusd/networks.go
Labels: none

incusd: Add auth_openfga_shared_networks patch
  cmd/incusd/patches.go
Labels: none

tests: Add OpenFGA shared network coverage
  test/suites/openfga.sh
Labels: none

incus/low-level: Fix unset capability of nvram set
  cmd/incus/low_level.go
Labels: none

incusd/network/ovn: Add DeleteMACBindings
  internal/server/network/ovn/ovn_sb_actions.go
Labels: none

incusd/network/ovn: Delete stale MAC bindings on instance port stop
  internal/server/network/driver_ovn.go
Labels: none

shared/scriptlet: Implement bytes (un)marshalling
  shared/scriptlet/marshal.go
Labels: none

tests: Add NVRAM VM tests
  test/main.sh
  test/suites/nvram_vm.sh
Labels: none

incusd/scriptlet/qemu: Add NVRAM manipulation funs
  internal/server/instance/drivers/driver_qemu.go
  internal/server/scriptlet/load/load.go
  internal/server/scriptlet/qemu.go
Labels: none

incusd/instance/qemu: Pass NVRAM to QEMU scriptlet
  internal/server/instance/drivers/driver_qemu.go
Labels: none

shared/uefi: Make formatters more robust
  shared/uefi/vars.go
Labels: none

doc/ref/instance_options: Update QEMU scriptlet functions
  doc/reference/instance_options.md
Labels: Documentation

github: Add NVRAM VM tests job
  .github/workflows/tests.yml
Labels: none

tests: Add NVRAM scriptlet test
  test/suites/nvram_vm.sh
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

shared/uefi: Add getters and setters to the store
  shared/uefi/store.go
Labels: none

incusd/instance/qemu: Avoid needlessly rewriting the NVRAM
  internal/server/instance/drivers/driver_qemu.go
Labels: none

api: qemu_scriptlet_nvram
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/instances: Use new store interface
  cmd/incusd/instance_nvram.go
Labels: none

incusd/ip: Add Addr.FlushDynamic
  internal/server/ip/addr.go
Labels: none

incusd/device: Allow "none" NIC addresses without filtering
  internal/server/device/nic_bridged.go
Labels: none

incusd/forknet: Disable IPv6 autoconf on statically configured interfaces
  cmd/incusd/main_forknet.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/ip: Add support for nic burst limits
  internal/server/ip/class.go
  internal/server/ip/filter.go
Labels: none

incusd/network/ovn: Add support for nic burst limits
  internal/server/network/driver_ovn.go
Labels: none

incusd/device: Add support for nic burst limits
  internal/server/device/burst_limits_test.go
  internal/server/device/device_utils_network.go
  internal/server/device/nic.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
  internal/server/device/nic_p2p.go
  internal/server/device/nic_routed.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

tests: Add tests for nic burst limits
  test/suites/container_devices_nic_bridged.sh
  test/suites/container_devices_nic_p2p.sh
Labels: none

api: device_burst_limits
  doc/api-extensions.md
Labels: API, Documentation

incusd/networks: Notify cluster members before local deletion
  cmd/incusd/networks.go
Labels: none

incusd/cluster: Fail fast when target member is offline
  internal/server/cluster/resolve.go
Labels: none

incusd/cluster: Mark offline members as unavailable for event connections
  internal/server/cluster/events.go
Labels: none

incusd/cluster: Avoid expensive connectivity probes in NewNotifier
  internal/server/cluster/notify.go
Labels: none

incusd/cluster: Add connection timeouts to intra-cluster TLS dialer
  internal/server/cluster/tls.go
Labels: none

incusd/images: Surface write errors from compression pipeline
  cmd/incusd/images.go
Labels: none

incusd/instance/qemu: Cancel incoming state transfer on source failure
  internal/server/instance/drivers/driver_qemu.go
Labels: none

client: Reconnect operation event listener on connection failure
  client/events.go
  client/operations.go
Labels: none

doc: explain how to resize virtual-machine/* volumes
  doc/howto/storage_volumes.md
Labels: Documentation
