Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/device: Fix gofumpt
  internal/server/device/device_utils_network.go
  internal/server/device/device_utils_unix.go
  internal/server/device/disk.go
  internal/server/device/gpu_mdev.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ipvlan.go
  internal/server/device/pci/pci.go
  internal/server/device/proxy.go
  internal/server/device/tpm.go
Labels: none

incusd/dnsmasq: Fix gofumpt
  internal/server/dnsmasq/dhcpalloc/dhcpalloc.go
  internal/server/dnsmasq/dnsmasq.go
Labels: none

incusd/endpoints: Fix gofumpt
  internal/server/endpoints/dev_incus.go
  internal/server/endpoints/endpoints_test.go
  internal/server/endpoints/local.go
Labels: none

incusd/events: Fix gofumpt
  internal/server/events/logging.go
Labels: none

incusd/firewall: Fix gofumpt
  internal/server/firewall/drivers/drivers_nftables.go
  internal/server/firewall/drivers/drivers_xtables.go
Labels: none

incusd/ip: Fix gofumpt
  internal/server/ip/link_veth.go
Labels: none

incusd/metrics: Fix gofumpt
  internal/server/metrics/types.go
Labels: none

incusd/operations: Fix gofumpt
  internal/server/operations/operations.go
Labels: none

incusd/resources: Fix gofumpt
  internal/server/resources/gpu.go
  internal/server/resources/memory.go
  internal/server/resources/resources.go
  internal/server/resources/storage.go
  internal/server/resources/system.go
Labels: none

incusd/scriptlet: Fix gofumpt
  internal/server/scriptlet/load/load.go
  internal/server/scriptlet/marshal/marshal.go
Labels: none

incusd/seccomp: Fix gofumpt
  internal/server/seccomp/seccomp.go
Labels: none

incusd/sys: Fix gofumpt
  internal/server/sys/fs.go
Labels: none

incusd/util: Fix gofumpt
  internal/server/util/net.go
  internal/server/util/random.go
Labels: none

Makefile: Switch to gofumpt
  Makefile
Labels: none

golangci: Switch to gofumpt
  .golangci.yml
Labels: none

generate-config: Use RunE
  cmd/generate-config/main.go
Labels: none

internal/linux: Fix missing export comments
  internal/linux/ioctls.go
  internal/linux/socket_linux_cgo.go
Labels: none

incusd/seccomp: Fix import shadowing
  internal/server/seccomp/seccomp.go
Labels: none

incusd/cluster: Remove duplicate type declaration
  internal/server/cluster/events.go
Labels: none

incusd/bgp: Fix comment
  internal/server/bgp/server.go
Labels: none

incusd/network/ovn: Don't run bgpSetup twice
  internal/server/network/driver_ovn.go
Labels: none

incusd/network/physical: Do full start following change of parent
  internal/server/network/driver_physical.go
Labels: none

incusd/apparmor: Move AppArmor profiles to separate files
  internal/server/apparmor/archive.go
  internal/server/apparmor/archive.profile.go
  internal/server/apparmor/instance_forkproxy.go
  internal/server/apparmor/instance_forkproxy.profile.go
  internal/server/apparmor/instance_lxc.profile.go
  internal/server/apparmor/instance_qemu.profile.go
  internal/server/apparmor/network_dnsmasq.go
  internal/server/apparmor/network_dnsmasq.profile.go
  internal/server/apparmor/qemuimg.go
  internal/server/apparmor/qemuimg.profile.go
Labels: none

doc: Fix spelling errors found by codespell
  doc/config_options.txt
  doc/reference/storage_zfs.md
  doc/rest-api.yaml
Labels: API, Documentation

shared: Fix spelling errors found by codespell
  shared/api/event.go
  shared/api/operation.go
  shared/archive/archive.go
  shared/cgo/incus_bpf.h
  shared/cliconfig/errors.go
  shared/idmap/shift_linux.go
  shared/logger/log.go
Labels: API

tests: Fix spelling errors found by codespell
  test/extras/stresstest.sh
  test/mini-oidc/README.md
  test/mini-oidc/storage/oidc.go
  test/suites/backup.sh
  test/suites/basic.sh
  test/suites/clustering.sh
  test/suites/container_devices_nic_bridged.sh
  test/suites/container_devices_nic_bridged_filtering.sh
  test/suites/container_devices_nic_ipvlan.sh
  test/suites/container_devices_nic_macvlan.sh
  test/suites/container_devices_nic_routed.sh
  test/suites/snapshots.sh
  test/suites/storage_buckets.sh
  test/suites/storage_local_volume_handling.sh
Labels: none

lint: Run codespell automatically
  .codespell-ignore
  .devcontainer/Dockerfile
  .github/workflows/tests.yml
  Makefile
  shell.nix
  test/lint/codespell.sh
Labels: none

incusd/instance/common: Check PID validity
  internal/server/instance/drivers/driver_common.go
Labels: none

client: Fix gofumpt
  client/connection.go
  client/incus_oidc.go
  client/interfaces.go
  client/oci_images.go
Labels: none

incusd: Fix gofumpt
  cmd/incusd/api_1.0.go
  cmd/incusd/api_cluster_certificate.go
  cmd/incusd/api_cluster_evacuation.go
  cmd/incusd/api_cluster_group.go
  cmd/incusd/api_metrics.go
  cmd/incusd/api_project.go
  cmd/incusd/backup.go
  cmd/incusd/daemon.go
  cmd/incusd/daemon_storage.go
  cmd/incusd/dev_incus.go
  cmd/incusd/dev_incus_test.go
  cmd/incusd/devices.go
  cmd/incusd/events.go
  cmd/incusd/images.go
  cmd/incusd/instance_access.go
  cmd/incusd/instance_exec.go
  cmd/incusd/instance_file.go
  cmd/incusd/instance_instance_types.go
  cmd/incusd/instance_metadata.go
  cmd/incusd/instance_test.go
  cmd/incusd/instances.go
  cmd/incusd/main_forkproxy.go
  cmd/incusd/main_forkstart.go
  cmd/incusd/main_netcat.go
  cmd/incusd/network_zones.go
  cmd/incusd/patches.go
  cmd/incusd/snapshot_common.go
  cmd/incusd/storage.go
  cmd/incusd/storage_volumes.go
Labels: none

incusd/instance: Fix gofumpt
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_bus.go
  internal/server/instance/drivers/driver_qemu_templates.go
  internal/server/instance/drivers/edk2/driver_edk2_test.go
  internal/server/instance/drivers/load.go
  internal/server/instance/drivers/qmp/monitor.go
  internal/server/instance/operationlock/operationlock.go
Labels: none

cmd: Fix spelling errors found by codespell
  cmd/generate-database/README.md
  cmd/generate-database/db/parse.go
  cmd/generate-database/file/boilerplate/boilerplate.go
  cmd/incus-user/main_daemon.go
  cmd/incus/admin_init_interactive.go
  cmd/incus/copy.go
  cmd/incus/move.go
  cmd/incus/storage_bucket.go
  cmd/incusd/api_cluster.go
  cmd/incusd/api_internal_recover.go
  cmd/incusd/api_project.go
  cmd/incusd/daemon.go
  cmd/incusd/daemon_images.go
  cmd/incusd/dev_incus.go
  cmd/incusd/instance.go
  cmd/incusd/instance_access.go
  cmd/incusd/instance_test.go
  cmd/incusd/main_test.go
  cmd/incusd/migration_connection.go
  cmd/incusd/networks.go
  cmd/incusd/snapshot_common.go
  cmd/incusd/storage.go
  cmd/incusd/storage_pools.go
  cmd/incusd/storage_volumes.go
  cmd/lxc-to-incus/main_migrate_test.go
  cmd/lxd-to-incus/db.go
  cmd/lxd-to-incus/validate.go
Labels: none

incus/file: Properly handle relative source paths
  cmd/incus/file.go
Labels: none

cmd/storage: Typo 'Examples:' create storage
  cmd/incus/storage.go
Labels: none

incusd/events: Don't open needless transactions
  cmd/incusd/events.go
Labels: none

incusd/instances: Re-order evacuated check to limit DB calls
  cmd/incusd/instances_post.go
Labels: none

incusd: Limit calls to LocalNodeIsEvacuated
  cmd/incusd/daemon.go
  cmd/incusd/instance_state.go
  cmd/incusd/instances.go
  cmd/incusd/instances_post.go
Labels: none

incusd/instances_post: Move non-DB logic outside of transaction
  cmd/incusd/instances_post.go
Labels: none

incusd/network/ovn: Fix default DNS IPv4 server
  internal/server/network/driver_ovn.go
Labels: none

shared/osarch: Extend OS detection logic
  shared/osarch/release.go
  shared/osarch/release_test.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
