Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/cluster: Use the instance's project when rebalancing
  cmd/incusd/api_cluster_rebalance.go
Labels: none

incusd/instance: Log placement scriptlet refusals
  cmd/incusd/instance_post.go
  cmd/incusd/instances_post.go
Labels: none

incusd/instance: Only warn on unexpected metrics and state query errors
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_metrics.go
Labels: none

incusd/instance: Remove devices before deleting the instance volume
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance: Fix error messages altered by variable rename
  internal/server/instance/instance_utils.go
Labels: none

incusd/device/nic: Only warn on MTU lookup failures for existing host interfaces
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
Labels: none

incusd/storage: Don't fail UnmountInstance on a volume still in use
  internal/server/storage/backend.go
Labels: none

incusd/storage/zfs: Tolerate deleted datasets when filling the property cache
  internal/server/storage/drivers/driver_zfs_cache.go
Labels: none

incusd/images: Don't ignore move errors when importing a split image from a member
  cmd/incusd/images.go
Labels: none

incusd/images: Keep expired cached image files still used by other projects
  cmd/incusd/images.go
Labels: none

incusd/images: Return not found when exporting an image whose file is missing
  cmd/incusd/images.go
Labels: none

incusd/auth/openfga: Tolerate tuple conflicts during resource sync
  internal/server/auth/driver_openfga.go
Labels: none

incusd/auth/openfga: Read tuples page by page when syncing resources
  internal/server/auth/driver_openfga.go
Labels: none

doc/clustering: Document member count, latency and clock requirements
  doc/.wordlist.txt
  doc/explanation/clustering.md
  doc/howto/cluster_form.md
Labels: Documentation

incusd/network/ovn: Add UpdateLogicalSwitchPortSecurity
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incusd/network/ovn: Apply port security to instance ports
  internal/server/network/driver_ovn.go
Labels: none

incusd/device/nic_ovn: Add security filtering options
  internal/server/device/nic_ovn.go
Labels: none

api: Add ovn_nic_security_filtering extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

tests: Cover OVN NIC port security filtering
  test/suites/network_ovn.sh
Labels: none

incusd/network/ovn: Restrict the IC southbound monitor to used tables
  internal/server/network/ovn/ovn_icsb.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

incusd/storage/zfs: Only list snapshots when a snapshot is queried
  internal/server/storage/drivers/driver_zfs_cache.go
Labels: none

incusd/storage/zfs: Wait for snapshot device removal on unmount
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

incusd/network/ovn: Allow ipv4.nat.address and ipv6.nat.address under l2proxy ingress mode
  internal/server/network/driver_ovn.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

tests: Add test for NAT addresses under l2proxy ingress mode
  test/suites/network_ovn.sh
Labels: none

api: Add network_ovn_nat_address_l2proxy extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

internal/server/db/cluster: Add certificate fetch statement
  internal/server/db/cluster/certificates.go
  internal/server/db/cluster/certificates.mapper.go
Labels: none

internal/server/warnings: Add ClusterTx methods for warning resolution
  internal/server/db/warnings.go
  internal/server/warnings/warnings.go
Labels: none

shared/tls: Add CertInfo constructor
  shared/tls/cert.go
Labels: none

internal/server/db: Add wrapper for NodeInfo
  cmd/incusd/main_cluster.go
  internal/server/db/node.go
  internal/server/db/raft.go
  internal/server/node/raft.go
Labels: none

cmd/incusd: Update daemon
  cmd/incusd/daemon.go
Labels: none

cmd/incusd: Update API packages
  cmd/incusd/api.go
  cmd/incusd/api_1.0.go
  cmd/incusd/api_cluster.go
  cmd/incusd/api_cluster_certificate.go
  cmd/incusd/api_cluster_evacuation.go
  cmd/incusd/api_cluster_rebalance.go
  cmd/incusd/api_metrics.go
  cmd/incusd/images.go
  cmd/incusd/networks.go
  cmd/incusd/networks_utils.go
  cmd/incusd/operations.go
  cmd/incusd/patches.go
  cmd/incusd/storage_pools.go
Labels: none

cmd/incusd: Update joiner accept logic
  cmd/incusd/api_cluster.go
Labels: none

cmd/incusd: Implement go-cowsql transaction.DB with Node and Cluster
  cmd/incusd/api_internal.go
  cmd/incusd/patches.go
  internal/server/db/certificates.go
  internal/server/db/config.go
  internal/server/db/db.go
  internal/server/db/patches.go
  internal/server/db/query/retry.go
  internal/server/db/query/transaction.go
  internal/server/db/raft.go
  internal/server/db/testing.go
  internal/server/db/transaction.go
Labels: none

internal/server/cluster: Add COWSQL cluster implementations
  internal/server/cluster/cluster.go
  internal/server/cluster/gateway.go
  internal/server/cluster/node.go
  internal/server/cluster/state.go
Labels: none

internal/server/state: Update other packages
  internal/server/cluster/state.go
  internal/server/network/driver_ovn.go
  internal/server/scriptlet/instance_placement.go
  internal/server/state/state.go
Labels: none

internal/server/cluster: Update cluster package
  internal/server/cluster/connect.go
  internal/server/cluster/events.go
  internal/server/cluster/heartbeat.go
  internal/server/cluster/info.go
  internal/server/cluster/membership.go
  internal/server/cluster/notify.go
  internal/server/cluster/options.go
  internal/server/cluster/recover.go
  internal/server/cluster/tls.go
  internal/server/cluster/upgrade.go
Labels: none

internal/server/cluster: Update cluster package tests
  internal/server/cluster/gateway_export_test.go
  internal/server/cluster/gateway_test.go
  internal/server/cluster/heartbeat_test.go
  internal/server/cluster/membership_test.go
  internal/server/cluster/notify_test.go
  internal/server/cluster/raft_test.go
  internal/server/cluster/tls_export_test.go
  internal/server/cluster/upgrade_test.go
  internal/server/db/raft_test.go
  internal/server/node/raft_test.go
Labels: none
