Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/cluster/config: Set default value for acme.ca_url
  internal/server/cluster/config/config.go
Labels: none

incusd/cluster/config: Return acme.provider.environment as a slice
  internal/server/cluster/config/config.go
Labels: none

incusd/acme: Remove DNS-01 provider (now using lego externally)
  internal/server/acme/dns-01-provider.go
Labels: none

incusd/acme: Move DNS-01 to external lego binary
  cmd/incusd/acme.go
  internal/server/acme/acme.go
Labels: none

incusd/api_1_0: Trigger ACME on all ACME config options
  cmd/incusd/api_1.0.go
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

incus/file: Always use 1MB chunks for SFTP
  cmd/incus/file.go
Labels: none

incusd/instance/lxc: Fail immediately if no idmap found
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/acme: use correct path
  internal/server/acme/acme.go
Labels: none

incusd/bgp: Rework start/stop logic
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
  internal/server/bgp/server.go
Labels: none

incusd/network/ovn: Skip existing static routes
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incusd/instance/qemu: Skip to link nvram to itself
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qemu: Set caching-mode with intel-iommu
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incus-agent: Improve SFTP performance
  cmd/incus-agent/sftp.go
Labels: none

incusd/instance/qemu: Move Windows check to a function
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/qemu: Set RTC base to localtime on Windows
  internal/server/instance/drivers/driver_qemu.go
Labels: none

doc/api-extensions: Fix formatting
  doc/api-extensions.md
Labels: API, Documentation

api: network_state_ovn_ls
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/network/ovn: Export LogicalRouter and LogicalSwitch names as needed
  internal/server/network/driver_ovn.go
Labels: none

shared/api: Add LogicalSwitch to OVN state
  shared/api/network.go
Labels: API

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incus/network: Add Logical Switch for OVN
  cmd/incus/network.go
Labels: none

incus/network: Better handle partial OVN state
  cmd/incus/network.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incus/network: Support for missing counters
  cmd/incus/network.go
Labels: none

shared/api: Make NetworkStateCounters a pointer
  shared/api/network.go
Labels: API

incusd/resources: Update for Counters being a pointer
  internal/server/resources/network.go
Labels: none

incus/copy: Clear full device when overriding with type=none
  cmd/incus/copy.go
Labels: none

doc/instance/create: Cover behavior on Windows
  doc/.wordlist.txt
  doc/howto/instances_create.md
Labels: Documentation

api: network_dns_nameservers
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/network/bridge: Add dns.nameservers
  internal/server/network/driver_bridge.go
Labels: none

incusd/network/ovn: Add dns.nameservers
  internal/server/network/driver_ovn.go
Labels: none

doc/network: Add dns.nameservers to bridge and OVN
  doc/.wordlist.txt
  doc/reference/network_bridge.md
  doc/reference/network_ovn.md
Labels: Documentation

incusd/network/ovn: Correctly remove individual DHCP options from OVN when they are unset
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incusd/node/config: Add node-level LINSTOR config options
  internal/server/node/config.go
Labels: none

incusd/cluster/config: Add cluster-level LINSTOR config options
  internal/server/cluster/config/config.go
Labels: none

gomod: Tidy dependencies and add LINSTOR
  go.mod
  go.sum
Labels: none

incusd/storage/linstor: Linstor client setup
  internal/server/storage/linstor/linstor.go
Labels: none

incusd/storage/linstor: Add mount and unmount support for volumes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none
