Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/storage: Block custom volume snapshot create/delete when attached to an instance
  internal/server/storage/backend.go
Labels: none

api: cluster_evacuating_restoring
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/cluster: Implement evacuating and restoring states
  cmd/incusd/api_cluster.go
  cmd/incusd/api_cluster_evacuation.go
  internal/server/db/node.go
Labels: none

shared/api: Align JSON and YAML behavior for preseeding
  shared/api/init.go
Labels: API

client: Update for InitPreseed change
  client/incus_server.go
Labels: none

incus: Update for InitPreseed change
  cmd/incus/admin_init_auto.go
  cmd/incus/admin_init_interactive.go
  cmd/incus/cluster.go
Labels: none

incusd: Update for InitPreseed change
  cmd/incusd/api_cluster.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd/device/nic_ovn: Fix nested NIC state
  internal/server/device/nic_ovn.go
Labels: none

incusd/metrics: Implement incus_boot_time_seconds and incus_time_seconds
  internal/server/metrics/api.go
  internal/server/metrics/metrics.go
  internal/server/metrics/types.go
Labels: none

incus-agent: Implement incus_boot_time_seconds and incus_time_seconds
  cmd/incus-agent/metrics.go
Labels: none

incusd/instance/lxc: Implement time metrics
  internal/server/instance/drivers/driver_lxc.go
Labels: none

doc: Add description of incus_boot_time_seconds and incus_time_seconds
  doc/reference/provided_metrics.md
Labels: Documentation

shared/validate: Allow a specific set of compressors
  shared/validate/validate.go
Labels: none

incusd: Validate CompressionAlgorithm everywhere it's received
  cmd/incusd/images.go
  cmd/incusd/instance_backup.go
  cmd/incusd/storage_volumes_backup.go
Labels: none

tests: Check compression algorithm validation
  test/suites/basic.sh
Labels: none

incusd/project: Prevent restricted projects from pulling data
  internal/server/project/permissions.go
Labels: none

api: projects_restricted_image_servers
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/project: Introduce restricted.images.servers
  cmd/incusd/api_project.go
  internal/server/project/permissions.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/project: Implement image server restrictions
  internal/server/project/permissions.go
Labels: none

incusd/images: Check project restrictions on image download
  cmd/incusd/images.go
Labels: none

incusd/db: Turn NodeSpecificStorageConfig into driver aware function
  internal/server/db/storage_pools.go
Labels: none

incusd: Switch usages to NodeSpecificStorageConfig function
  cmd/incusd/api_cluster.go
  cmd/incusd/storage_pools.go
Labels: none

incusd/storage: Add support for expanding lvmcluster storage pool
  internal/server/storage/backend.go
  internal/server/storage/drivers/driver_lvm.go
  internal/server/storage/drivers/driver_lvm_utils.go
  internal/server/storage/drivers/utils.go
Labels: none

incusd/storage: Add DisallowedStorageConfigForCreation and ClusterWideStorageConfig
  internal/server/storage/utils.go
Labels: none

incusd: Add additional checks fro re-sizing lvmcluster pool
  cmd/incusd/storage_pools.go
Labels: none

api: Add storage_lvmcluster_size extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/certificates: Store full API objects in the cache
  cmd/incusd/certificates.go
  internal/server/certificate/cache.go
  internal/server/db/cluster/certificates.go
Labels: none

incusd/project: Update permissions test for new certificate cache
  internal/server/project/permissions_test.go
Labels: none

incusd/certificate: Allow to retrieve a single API certificate
  internal/server/certificate/cache.go
Labels: none

incusd/auth/scriptlet: Expose API certificate and request TLS chain to the scriptlet
  internal/server/auth/driver_scriptlet.go
  internal/server/scriptlet/auth/auth.go
Labels: none

doc/authorization: Document new scriptlet details fields
  doc/authorization.md
Labels: Documentation

api: authorization_scriptlet_cert
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/images: Simplify image URL check
  cmd/incusd/daemon_images.go
  cmd/incusd/images.go
  internal/server/project/permissions.go
Labels: none

api: lvmcluster_remove_snapshots
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/storage/drivers: Add 'lvmcluster.remove_snapshots' config key
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none

incusd/storage: Handle snapshot restore when 'lvmcluster.remove_snapshots' is set
  internal/server/storage/backend.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
