Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

api: Add bpf_token_delegation extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Update wordlist
  doc/.wordlist.txt
Labels: Documentation

incusd/project: Require lowlevel access for bpffs options
  internal/server/project/permissions.go
Labels: none

incusd/server/drivers: Add gendoc for storage config keys
  internal/server/storage/drivers/driver_btrfs.go
  internal/server/storage/drivers/driver_btrfs_volumes.go
  internal/server/storage/drivers/driver_ceph.go
  internal/server/storage/drivers/driver_ceph_volumes.go
  internal/server/storage/drivers/driver_cephfs.go
  internal/server/storage/drivers/driver_cephfs_volumes.go
  internal/server/storage/drivers/driver_cephobject.go
  internal/server/storage/drivers/driver_cephobject_buckets.go
  internal/server/storage/drivers/driver_dir.go
  internal/server/storage/drivers/driver_dir_volumes.go
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_volumes.go
  internal/server/storage/drivers/driver_lvm.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_volumes.go
  internal/server/storage/drivers/driver_zfs.go
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

doc: Include doc for storage configuration from config_options.txt file
  doc/reference/storage_btrfs.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_cephobject.md
  doc/reference/storage_dir.md
  doc/reference/storage_linstor.md
  doc/reference/storage_lvm.md
  doc/reference/storage_truenas.md
  doc/reference/storage_zfs.md
Labels: Documentation

doc: Update metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

Fix `file push` cmd help typo
  cmd/incus/file.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/instance/qemu: Remove attached attribute handling for disks
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/device/disk: Handle attached attribute early
  internal/server/device/config/device_runconfig.go
  internal/server/device/disk.go
Labels: none

incusd/server/drivers: Add gendoc for storage config keys
  internal/server/storage/drivers/driver_btrfs.go
  internal/server/storage/drivers/driver_btrfs_volumes.go
  internal/server/storage/drivers/driver_ceph.go
  internal/server/storage/drivers/driver_ceph_volumes.go
  internal/server/storage/drivers/driver_cephfs.go
  internal/server/storage/drivers/driver_cephfs_volumes.go
  internal/server/storage/drivers/driver_cephobject.go
  internal/server/storage/drivers/driver_cephobject_buckets.go
  internal/server/storage/drivers/driver_dir.go
  internal/server/storage/drivers/driver_dir_volumes.go
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_volumes.go
  internal/server/storage/drivers/driver_lvm.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_volumes.go
  internal/server/storage/drivers/driver_zfs.go
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

doc: Include doc for storage configuration from config_options.txt file
  doc/reference/storage_btrfs.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_cephobject.md
  doc/reference/storage_dir.md
  doc/reference/storage_linstor.md
  doc/reference/storage_lvm.md
  doc/reference/storage_truenas.md
  doc/reference/storage_zfs.md
Labels: Documentation

doc: Update metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/storage/lvm: Clarify doc strings
  internal/server/storage/drivers/driver_lvm.go
Labels: none

incusd/storage: Don't skip zeroes on qcow2 unpack to LVM
  internal/server/storage/backend.go
  internal/server/storage/drivers/driver_btrfs_volumes.go
  internal/server/storage/drivers/driver_ceph_volumes.go
  internal/server/storage/drivers/driver_cephfs_volumes.go
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_dir_volumes.go
  internal/server/storage/drivers/driver_linstor_volumes.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/driver_truenas_volumes.go
  internal/server/storage/drivers/driver_types.go
  internal/server/storage/drivers/driver_zfs_volumes.go
  internal/server/storage/drivers/generic_vfs.go
  internal/server/storage/utils.go
Labels: none

incusd/device: Fix gofumpt
  internal/server/device/disk.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

Update translations from Weblate
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/network/ovn: Check the correct config on uplink validation
  internal/server/network/driver_ovn.go
Labels: none

incusd/instance/qemu: Add support for SPICE audio
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incusd/console: Close remote connection on console disconnect
  cmd/incusd/instance_console.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

incus/bug: Implement incus bug command
  cmd/incus/bug.go
  cmd/incus/main.go
Labels: none

incus: Allow more formats in the editor
  cmd/incus/admin_os.go
  cmd/incus/cluster.go
  cmd/incus/cluster_group.go
  cmd/incus/config.go
  cmd/incus/config_metadata.go
  cmd/incus/config_template.go
  cmd/incus/config_trust.go
  cmd/incus/file.go
  cmd/incus/image.go
  cmd/incus/network.go
  cmd/incus/network_acl.go
  cmd/incus/network_address_set.go
  cmd/incus/network_forward.go
  cmd/incus/network_integration.go
  cmd/incus/network_load_balancer.go
  cmd/incus/network_peer.go
  cmd/incus/network_zone.go
  cmd/incus/profile.go
  cmd/incus/project.go
  cmd/incus/storage.go
  cmd/incus/storage_bucket.go
  cmd/incus/storage_volume.go
  cmd/incus/utils.go
Labels: none

incus/config: Refactor reused codepath
  cmd/incus/config.go
Labels: none

incus/bug: Implement incus bug report subcommand
  cmd/incus/bug.go
  go.mod
  go.sum
Labels: none

incus/info: Refactor reused codepath
  cmd/incus/info.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

github: Update for the new incus bug command
  .github/ISSUE_TEMPLATE/bug-reports.yml
Labels: none

lint: Update ignored strings
  .codespell-ignore
Labels: none

shared/resources: Fix caching mechanism
  shared/resources/resources.go
Labels: none

shared/validate: Add IsBase64
  shared/validate/validate.go
Labels: none

incusd/instance/config: Add systemd.credential.* and systemd.credential-binary.*
  internal/instance/config.go
  internal/server/instance/instance_utils.go
Labels: none

incusd/instance/qemu: Add support for systemd credentials through SMBIOS-11
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance/lxc: Add support for systemd credentials through CREDENTIALS_DIRECTORY
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/instance/lxc: Allow live-updating systemd credentials
  internal/server/instance/drivers/driver_lxc.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incus-agent: Pass more information to osUmount
  cmd/incus-agent/events.go
  cmd/incus-agent/os_linux.go
  cmd/incus-agent/os_windows.go
Labels: none

api: instance_systemd_credentials
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation
