Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

api: instance_protection_start
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

internal/instance: Add security.protection.start
  internal/instance/config.go
Labels: none

incusd/instance: Add support for security.protection.start
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instance: Clarify protection errors
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/forknet: Fix concurrent DHCP resolv.conf handling
  cmd/incusd/main_forknet.go
Labels: none

incusd/instance: Update oci.dns.* descriptions
  internal/instance/config.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instance/lxc: Enable edns0 in OCI resolv.conf
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/forknet: Enable edns0 in resolv.conf
  cmd/incusd/main_forknet.go
Labels: none

incus: Add support for client-side near-live migration
  cmd/incus/copy.go
  cmd/incus/move_nearlive.go
Labels: none

incus: Add refresh flag to move
  cmd/incus/move.go
Labels: none

incusd/instance/drivers: Prevent migration of dependent disk during final sync
  internal/server/instance/drivers/driver_lxc.go
Labels: none

shared/uefi: Various device path fixes
  shared/uefi/dissector_devicepath.go
Labels: none

api: instance_nvram_bulk_update
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

client: Add NVRAM bulk update
  client/incus_instances.go
  client/interfaces.go
Labels: none

incusd/instances: Add NVRAM bulk update
  cmd/incusd/instance_nvram.go
  cmd/incusd/instances.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incus/low-level: Accept multiple arguments for nvram set and unset
  cmd/incus/low_level.go
Labels: none

client: use a copy of ProtocolIncus for WithContext
  client/incus.go
Labels: none

incus/low-level: Allow unsetting nvram with empty set value
  cmd/incus/low_level.go
Labels: none

client: Preserve tempPath in UseProject and UseTarget
  client/incus_server.go
Labels: none

incusd/network/ovn: Replace stale SNAT rule on external address change
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incusd/device/nic_ovn: Allow live update of ipv4/ipv6.address.external
  internal/server/device/nic_ovn.go
Labels: none

incusd/db: Add generated network, network_config and network_node entities
  internal/server/db/cluster/networks.go
  internal/server/db/cluster/networks.interface.mapper.go
  internal/server/db/cluster/networks.mapper.go
  internal/server/db/cluster/networks_config.go
  internal/server/db/cluster/networks_config.interface.mapper.go
  internal/server/db/cluster/networks_config.mapper.go
  internal/server/db/cluster/networks_nodes.go
  internal/server/db/cluster/networks_nodes.interface.mapper.go
  internal/server/db/cluster/networks_nodes.mapper.go
Labels: none

incusd/db: Add GetCreatedNetworksInfo
  internal/server/db/networks.go
  internal/server/db/networks_test.go
Labels: none

incusd/network: Add LoadAllCreated
  internal/server/network/network_load.go
Labels: none

incusd/network: Reduce database queries in OVN network startup
  internal/server/network/driver_ovn.go
Labels: none

incusd/networks: Reduce database queries during network startup
  cmd/incusd/networks.go
Labels: none

incusd: Use cached server name for warning operations
  cmd/incusd/api_cluster_certificate.go
  cmd/incusd/daemon.go
  cmd/incusd/instances.go
  cmd/incusd/networks.go
  cmd/incusd/storage.go
  internal/server/cluster/heartbeat.go
  internal/server/db/warnings.go
  internal/server/device/disk.go
  internal/server/device/proxy.go
  internal/server/network/driver_bridge.go
  internal/server/warnings/warnings.go
Labels: none

incusd/cluster: Add ConnectIfBucketIsRemote
  internal/server/cluster/connect.go
Labels: none

incusd: Add forwardedResponseIfBucketIsRemote
  cmd/incusd/response.go
Labels: none

incusd: Forward storage bucket requests to the cluster member holding the bucket
  cmd/incusd/storage_buckets.go
  cmd/incusd/storage_buckets_backup.go
Labels: none

doc: Document storage bucket handling in clusters
  doc/explanation/storage.md
  doc/howto/storage_buckets.md
Labels: Documentation

internal/migration: Don't double close websocket writer
  internal/migration/wsproto.go
Labels: none

incusd/instance/qmp: Ignore timeouts during migration
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/network/ovn: Don't replace DNAT rules sharing a logical IP
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

incusd/network/ovn: Use tag_request on nested switch ports
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

tests: Add OVN test suite
  test/suites/network_ovn.sh
Labels: none

tests: Register OVN tests
  test/main.sh
Labels: none
