Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd: Use unsafe.Add for pointer arithmetic in forkproxy
  cmd/incusd/main_forkproxy.go
Labels: none

incusd/instance/drivers: Use the min builtin for memory capping
  internal/server/instance/drivers/driver_qemu_machine.go
Labels: none

global: Use strings.Cut instead of strings.Split/SplitN
  cmd/generate-database/db/stmt.go
  cmd/incus/completion.go
  cmd/incus/project.go
  cmd/incusd/images.go
  cmd/incusd/storage_volumes_utils.go
  internal/server/device/disk.go
  internal/server/instance/drivers/driver_qemu_machine.go
  internal/server/storage/drivers/driver_lvm_utils.go
  internal/server/storage/drivers/driver_truenas_cache.go
  internal/server/storage/drivers/driver_zfs.go
  internal/server/storage/drivers/driver_zfs_cache.go
  shared/cmd/sort.go
  test/mini-oidc/storage/user.go
Labels: none

global: Use strings.CutSuffix instead of HasSuffix/TrimSuffix
  internal/instance/config.go
  internal/server/cgroup/cgroup_cpu.go
  internal/server/device/disk.go
  internal/server/storage/drivers/driver_ceph_utils.go
Labels: none

global: Use slices.Backward for reverse iteration
  cmd/incus-simplestreams/main_prune.go
  cmd/incus/main_aliases.go
  cmd/incus/utils.go
  cmd/incusd/api_cluster_rebalance.go
  cmd/incusd/profiles_utils.go
  internal/server/cluster/heartbeat_test.go
  internal/server/util/dns.go
Labels: none

shared/api: Drop no-op omitempty on nested struct fields
  shared/api/resource.go
Labels: API

global: Use strings.Builder for string concatenation in loops
  cmd/generate-database/db/method.go
  cmd/generate-database/file/write.go
  cmd/incus/info.go
  cmd/incusd/instances_put.go
  cmd/incusd/profiles_utils.go
  internal/linux/kernel.go
  internal/server/apparmor/instance.go
  internal/server/cluster/recover.go
  internal/server/logging/driver_loki.go
  internal/server/metrics/metrics.go
Labels: none

incus/remote: Add support for multiple URLs
  cmd/incus/remote.go
  shared/cliconfig/default.go
  shared/cliconfig/remote.go
Labels: none

incus: Remove global mutable state from the parser
  cmd/incus/main.go
  cmd/incus/usage/parse.go
Labels: none

incus: Keep track of last working remote
  cmd/incus/main.go
  cmd/incus/remote.go
  cmd/incus/usage/parse.go
  cmd/incus/usage/usage.go
  cmd/incus/usage/utils.go
  shared/cliconfig/remote.go
Labels: none

doc: Update command name
  doc/remotes.md
Labels: Documentation

incus/storage/s3: Support SigV4 presigned URLs
  internal/server/storage/s3/local/auth.go
Labels: none

incus/storage/s3: Support SigV2 presigned URLs
  internal/server/storage/s3/local/auth.go
Labels: none

tests: Add storage bucket presigned URL test
  test/suites/storage_buckets.sh
Labels: none

client: handle absolute paths for simplestream files
  client/simplestreams_images.go
Labels: none

shared/api/url: Add URL fragment setter
  shared/api/url.go
Labels: API

incusd/storage: Improve handling of daemon volumes
  cmd/incusd/storage_volumes.go
  cmd/incusd/storage_volumes_snapshot.go
  cmd/incusd/storage_volumes_utils.go
  internal/server/storage/utils.go
Labels: none

incusd/db/cluster/entities: Add TypeServer and fix map sorting
  internal/server/db/cluster/entities.go
Labels: none

incusd/project: Handle server objects
  internal/server/project/permissions.go
Labels: none

api: api_fragments
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/storage: Prevent creating daemon volumes on shared pools
  cmd/incusd/daemon_storage.go
Labels: none

incusd/images: Revert 36f513c
  cmd/incusd/images.go
Labels: none

incus/remote: Improve usage
  cmd/incus/remote.go
Labels: none

incus/storage/volume: Improve usage
  cmd/incus/storage_volume.go
Labels: none

incus/move: Improve usage
  cmd/incus/move.go
Labels: none

incus/image: Improve usage
  cmd/incus/image.go
Labels: none

incus/config: Fix typo in usage
  cmd/incus/config.go
Labels: none

incusd/devices: Cleanup leftover forkproxy on startup
  cmd/incusd/daemon.go
  cmd/incusd/devices.go
Labels: none

incus/storage_volume: Put big subcommands into their own files
  cmd/incus/storage_volume.go
  cmd/incus/storage_volume_file.go
  cmd/incus/storage_volume_snapshot.go
Labels: none

incus/file: Make recursive push apply UID/GID overrides recursively
  cmd/incus/file.go
  cmd/incus/utils_sftp.go
Labels: none

tests: Switch to recursive chown on file push
  test/suites/filemanip.sh
Labels: none

api: instance_limits_cpu_topology
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/validate: Add CPU topology parsing helper
  shared/validate/validate.go
Labels: none

internal/instance: Allow CPU topology syntax for limits.cpu
  internal/instance/config.go
Labels: none

incusd/instance: Support CPU topology for VM limits.cpu
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_machine.go
  internal/server/instance/instance_utils.go
Labels: none

doc: Document CPU topology support for limits.cpu
  doc/reference/instance_options.md
Labels: Documentation

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instance/drivers: Apply standard API object name checks
  internal/server/instance/drivers/load.go
Labels: none

incusd/device: Encode device names in DevicesPath storage paths
  internal/server/device/disk.go
  internal/server/device/proxy.go
  internal/server/device/tpm.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/storage: Fix unsafe access to backup data
  internal/server/storage/backend.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
