Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

cmd: Fix spelling errors found by codespell
  cmd/generate-database/README.md
  cmd/generate-database/db/parse.go
  cmd/generate-database/file/boilerplate/boilerplate.go
  cmd/incus-user/main_daemon.go
  cmd/incus/admin_init_interactive.go
  cmd/incus/copy.go
  cmd/incus/move.go
  cmd/incus/storage_bucket.go
  cmd/incusd/api_cluster.go
  cmd/incusd/api_internal_recover.go
  cmd/incusd/api_project.go
  cmd/incusd/daemon.go
  cmd/incusd/daemon_images.go
  cmd/incusd/dev_incus.go
  cmd/incusd/instance.go
  cmd/incusd/instance_access.go
  cmd/incusd/instance_test.go
  cmd/incusd/main_test.go
  cmd/incusd/migration_connection.go
  cmd/incusd/networks.go
  cmd/incusd/snapshot_common.go
  cmd/incusd/storage.go
  cmd/incusd/storage_pools.go
  cmd/incusd/storage_volumes.go
  cmd/lxc-to-incus/main_migrate_test.go
  cmd/lxd-to-incus/db.go
  cmd/lxd-to-incus/validate.go
Labels: none

doc: Fix spelling errors found by codespell
  doc/config_options.txt
  doc/reference/storage_zfs.md
  doc/rest-api.yaml
Labels: API, Documentation

shared: Fix spelling errors found by codespell
  shared/api/event.go
  shared/api/operation.go
  shared/archive/archive.go
  shared/cgo/incus_bpf.h
  shared/cliconfig/errors.go
  shared/idmap/shift_linux.go
  shared/logger/log.go
Labels: API

tests: Fix spelling errors found by codespell
  test/extras/stresstest.sh
  test/mini-oidc/README.md
  test/mini-oidc/storage/oidc.go
  test/suites/backup.sh
  test/suites/basic.sh
  test/suites/clustering.sh
  test/suites/container_devices_nic_bridged.sh
  test/suites/container_devices_nic_bridged_filtering.sh
  test/suites/container_devices_nic_ipvlan.sh
  test/suites/container_devices_nic_macvlan.sh
  test/suites/container_devices_nic_routed.sh
  test/suites/snapshots.sh
  test/suites/storage_buckets.sh
  test/suites/storage_local_volume_handling.sh
Labels: none

lint: Run codespell automatically
  .codespell-ignore
  .devcontainer/Dockerfile
  .github/workflows/tests.yml
  Makefile
  shell.nix
  test/lint/codespell.sh
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/instance/common: Check PID validity
  internal/server/instance/drivers/driver_common.go
Labels: none

incus/file: Properly handle relative source paths
  cmd/incus/file.go
Labels: none

cmd/storage: Typo 'Examples:' create storage
  cmd/incus/storage.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/events: Don't open needless transactions
  cmd/incusd/events.go
Labels: none

incusd/instances: Re-order evacuated check to limit DB calls
  cmd/incusd/instances_post.go
Labels: none

incusd: Limit calls to LocalNodeIsEvacuated
  cmd/incusd/daemon.go
  cmd/incusd/instance_state.go
  cmd/incusd/instances.go
  cmd/incusd/instances_post.go
Labels: none

incusd/instances_post: Move non-DB logic outside of transaction
  cmd/incusd/instances_post.go
Labels: none

incusd/network/ovn: Fix default DNS IPv4 server
  internal/server/network/driver_ovn.go
Labels: none

shared/osarch: Extend OS detection logic
  shared/osarch/release.go
  shared/osarch/release_test.go
Labels: none

incus-agent: Update for osarch change
  cmd/incus-agent/state.go
Labels: none

incusd: Update for osarch change
  internal/server/sys/os.go
Labels: none

internal/version: Update UserAgent logic for osarch change
  internal/version/platform_linux.go
Labels: none

api: storage_driver_linstor
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/storage/linstor: List snapshots to support non optimized copying of volumes with snapshots
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Implement GetResources
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
Labels: none

incusd/storage/linstor: Copy volumes on the same pool
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

doc: Linstor driver documentation
  doc/.wordlist.txt
  doc/explanation/storage.md
  doc/howto/storage_linstor_setup.md
  doc/reference/storage_ceph.md
  doc/reference/storage_drivers.md
  doc/reference/storage_linstor.md
  doc/reference/storage_linstor_internals.md
Labels: Documentation

incusd/storage: Add more parameters to MigrationTypes
  cmd/incusd/migrate_storage_volumes.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
  internal/server/storage/drivers/driver_btrfs.go
  internal/server/storage/drivers/driver_ceph.go
  internal/server/storage/drivers/driver_cephfs.go
  internal/server/storage/drivers/driver_cephobject.go
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_zfs.go
  internal/server/storage/drivers/interface.go
  internal/server/storage/pool_interface.go
Labels: none

incusd/storage/linstor: Add support for mounting and unmounting snapshot volumes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add support for non optimized backups
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

github: Add LINSTOR CI tests
  .github/workflows/tests.yml
Labels: none

incusd/storage/linstor: Fallback to generic migration implementation
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

test: Fix deprecated chown syntax
  test/suites/basic.sh
Labels: none

test: Fix test cleanup
  test/suites/database.sh
  test/suites/remote.sh
Labels: none

incusd/storage/linstor: Freeze and sync filesystem when snapshotting volumes
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Encode snapshot names in metadata
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Delete diskless resources when unmounting volumes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add basic support for same-pool migration
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage: Populate StorageMove and StoragePool when migrating volumes
  internal/server/storage/backend.go
Labels: none

incusd/storage/linstor: Add support for resizing volumes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Cleanup temporary resource definitions from snapshots
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

test: Add standalone LINSTOR tests
  test/backends/linstor.sh
  test/includes/storage.sh
  test/main.sh
  test/suites/backup.sh
  test/suites/basic.sh
  test/suites/container_move.sh
  test/suites/incremental_copy.sh
  test/suites/migration.sh
  test/suites/projects.sh
  test/suites/snapshots.sh
  test/suites/storage.sh
  test/suites/storage_buckets.sh
  test/suites/storage_driver_linstor.sh
  test/suites/storage_local_volume_handling.sh
  test/suites/storage_snapshots.sh
Labels: none

incusd/storage/linstor: Add support for optimized images
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none
