Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incus/cluster_group: Change group separator in assign subcommand
  cmd/incus/cluster_group.go
Labels: none

incus/profile: Change profile separator in assign subcommand
  cmd/incus/profile.go
Labels: none

test: Fix assign separator
  test/suites/clustering.sh
  test/suites/clustering_move.sh
  test/suites/config.sh
  test/suites/storage_profiles.sh
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incus/file: Fix progress reporting on stdin push
  cmd/incus/file.go
Labels: none

incus/import: Fix progress reporting on stdin import
  cmd/incus/import.go
Labels: none

incus/storage_bucket: Fix progress reporting on stdin import
  cmd/incus/storage_bucket.go
Labels: none

incus/storage_volume: Fix progress reporting on stdin import
  cmd/incus/storage_volume.go
Labels: none

incus/storage_volume_file: Fix progress reporting on stdin push
  cmd/incus/storage_volume_file.go
Labels: none

incusd/network/zone: Return a single SOA record on plain SOA queries
  internal/server/network/zone/zone.go
  internal/server/network/zone/zone_templates.go
Labels: none

incusd/storage: Fix races in connectOfflineNBD
  internal/server/storage/backend.go
Labels: none

incusd/locking: Make unlock functions release only their own lock
  internal/server/locking/lock.go
Labels: none

incusd/storage: Hold NBD operation lock for the whole session
  internal/server/storage/backend.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

incusd/network/ovn: Detect stale database connections
  internal/server/network/ovn/ovn_icnb.go
  internal/server/network/ovn/ovn_icsb.go
  internal/server/network/ovn/ovn_nb.go
  internal/server/network/ovn/ovn_sb.go
Labels: none

incusd/network/ovn: Remove NB client singleton
  internal/server/network/ovn/ovn_nb.go
Labels: none

incusd/storage: Use qcow2 virtual size as instance block size
  internal/server/storage/utils.go
Labels: none

incusd/storage: Skip root disk size check on remote cluster move
  internal/server/storage/backend.go
Labels: none

incusd/device: Make disk I/O limit parsing reusable
  internal/server/device/disk.go
Labels: none

api: Add unix_block_limits extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/device: Add I/O limits for unix-block devices
  internal/server/device/unix_block_limits.go
  internal/server/device/unix_common.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd: Set defaults for authorization.client.* keys
  cmd/incusd/patches.go
Labels: none

incusd/request: Add CtxUnixIsRoot
  internal/server/request/const.go
Labels: none

incusd: Add support for multiple authorizers
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
  internal/server/auth/driver_openfga.go
  internal/server/auth/router.go
  internal/server/cluster/config/config.go
Labels: none

incusd/auth: Add allow/deny authorizers
  internal/server/auth/authorization.go
  internal/server/auth/driver_allowdeny.go
Labels: none

tests: Set authorization.client.* keys
  test/suites/openfga.sh
Labels: none

tests: Add authorization router tests
  internal/server/auth/router_test.go
Labels: none

doc/authorization: Update for authorization client routing
  doc/.wordlist.txt
  doc/authorization.md
Labels: Documentation

api: authorization_client_routing
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

Translated using Weblate (Georgian)
  po/ka.po
Labels: none

incusd/device: Require CIDR address when NIC gateway is set
  internal/server/device/nic.go
Labels: none

incusd/storage: Honor writable flag on offline NBD exports
  internal/server/storage/backend.go
Labels: none

incusd/seccomp: Use namespace credentials for FUSE mounts
  internal/server/seccomp/seccomp.go
Labels: none

incusd/dev_incus: Detect LXC monitors from cgroup v2
  cmd/incusd/dev_incus.go
Labels: none

incus: Rename debug subcommand to low-level and advertise it
  cmd/incus/low_level.go
  cmd/incus/main.go
Labels: none

api: instance_nvram
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/api: Add InstanceNVRAMVariable struct
  shared/api/instance_nvram.go
Labels: API

shared/uefi: Add OVMF parsing primitives
  shared/uefi/guid.go
  shared/uefi/io.go
  shared/uefi/store.go
  shared/uefi/util.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
