Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd: rename Error struct and make it private
  internal/server/config/errors.go
  internal/server/config/safe.go
Labels: none

internal/iprange: add tests for the iprange.Range struct
  internal/iprange/range_test.go
Labels: none

internal/dnsutil: remove unused package dnsutil
  internal/dnsutil/dnsutil.go
Labels: none

incusd: rename instanceActionToOptype to instanceActionToOpType
  cmd/incusd/instance_state.go
  cmd/incusd/instances_put.go
Labels: none

incusd/instance/drivers: Adapt the tests to the new override logic
  internal/server/instance/drivers/driver_qemu_config_test.go
Labels: none

incusd/instance/drivers: Rewrite QEMU config override logic
  internal/server/instance/drivers/driver_qemu_config_override.go
Labels: none

incusd/instance/drivers: Drop old RegEx parser and return proper errors
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_config_override.go
Labels: none

incusd/instance/drivers: Update tests
  internal/server/instance/drivers/driver_qemu_config_test.go
Labels: none

tools: Add govulncheck
  .devcontainer/Dockerfile
  Makefile
  test/lint/govulncheck.sh
Labels: none

cmd/generate-config: remove redundant size 0 initialization for maps
  cmd/generate-config/incus_doc.go
Labels: none

incusd: remove redundant size 0 initialization for maps
  cmd/incusd/api_internal.go
  cmd/incusd/api_internal_recover.go
  cmd/incusd/api_internal_test.go
  cmd/incusd/instance.go
  cmd/incusd/patches.go
  internal/server/db/cluster/update.go
  internal/server/firewall/drivers/drivers_nftables.go
  internal/server/network/acl/acl_ovn.go
  internal/server/network/driver_common.go
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

cmd/lxc-to-incus: remove redundant size 0 initialization for maps
  cmd/lxc-to-incus/main_migrate_test.go
Labels: none

client: Add server-side filtering for certificates
  client/incus_certificates.go
  client/incus_storage_volumes.go
  client/interfaces.go
  cmd/incus/config_trust.go
Labels: none

Use server-side filtering
  cmd/incus/config_trust.go
Labels: none

incusd/certificates: Properly handle PEM encoding on POST
  cmd/incusd/certificates.go
Labels: none

Update incus_certificates.go
  client/incus_certificates.go
Labels: none

incusd/network/macvlan: Add gendoc comments
  internal/server/network/driver_macvlan.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Use gendoc for macvlan
  doc/reference/network_macvlan.md
Labels: Documentation

incusd/instance/qemu: Don't allow QEMU RSS to exceed memory limit
  internal/server/instance/drivers/driver_qemu_metrics.go
Labels: none

lint: Exclude generated docs from codespell
  test/lint/codespell.sh
Labels: none

lint: Exclude generated manpages from codespell
  test/lint/codespell.sh
Labels: none

incusd/network/macvlan: Run gofumpt
  internal/server/network/driver_macvlan.go
Labels: none

client: Add server-side filtering for certificates
  client/incus_certificates.go
  client/interfaces.go
Labels: none

incus/config_trust: Use server-side filtering
  cmd/incus/config_trust.go
Labels: none

implemented get, post, head, delete -- check to see if matches, needs testing
  cmd/incusd/storage_volumes.go
Labels: none

incus-migrate: introduce Migrator interface with separate structs
  cmd/incus-migrate/main_migrate.go
  cmd/incus-migrate/migrate_instance.go
  cmd/incus-migrate/migrate_volume.go
Labels: none

incus-migrate: Add support for additional disks
  cmd/incus-migrate/migrate_instance.go
Labels: none

may have fixed syntax errors causing checks to fail
  cmd/incusd/storage_volumes.go
Labels: none

cmd/generate-database/lex: Support pluralizing entities ending in y
  cmd/generate-database/lex/form.go
Labels: none

cmd/generate-database/db: Support multi-word association tables
  cmd/generate-database/db/parse.go
Labels: none

cmd/generate-database/db: Don't duplicate join statements
  cmd/generate-database/db/stmt.go
Labels: none

incusd/dns: Restart DNS server on failure
  internal/server/dns/server.go
Labels: none

doc: Update yaml for api docs
  doc/rest-api.yaml
Labels: API, Documentation

cmd/instance_backup: added support for uploading instance backup to S3 bucket
  cmd/incusd/instance_backup.go
Labels: none

cmd/storage_volumes_backup: added support for uploading storage volume backup to S3 bucket
  cmd/incusd/storage_volumes_backup.go
Labels: none

shared/api: Added s3 target field to InstanceBackupsPost for changes to shared/api/
  shared/api/instance_backup.go
Labels: API

shared/api: Added s3 target field to StorageVolumesBackupsPost for changes to shared/api/
  shared/api/storage_pool_volume_backup.go
Labels: API

incusd/instance/qemu: Limit memory hotplug slots to 8
  internal/server/instance/drivers/driver_qemu_config_test.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

cmd/instance_backup: added support for uploading instance backup to S3 bucket
  cmd/incusd/instance_backup.go
Labels: none
