Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/db: do not shadow Go builtin function
  internal/server/db/schema/query.go
Labels: none

lint: disallow restricted licenses in go-licenses
  test/lint/licenses.sh
Labels: none

incus: Fix alias arguments handling
  cmd/incus/main.go
  cmd/incus/main_aliases.go
  cmd/incus/main_test.go
Labels: none

incus/file: Expand setOwnerMode
  cmd/incus/file.go
Labels: none

incus/file/push Use SFTP client instead of file API
  cmd/incus/file.go
Labels: none

incusd/instance/qemu: Set CLOEXEC for TPM sockets
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/patches: Run auth patches on all servers
  cmd/incusd/patches.go
Labels: none

incusd/auth/openfga: Get rid of applyPatches
  internal/server/auth/driver_openfga.go
Labels: none

incusd/auth/openfga: Force OpenFGA update on initial config and patching
  internal/server/auth/driver_openfga.go
Labels: none

incus: Clarify device override syntax
  cmd/incus/create.go
  cmd/incus/launch.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
Labels: none

incusd/auth/openfga: refresh model before applying patches
  internal/server/auth/driver_openfga.go
Labels: none

internal/scriptlet: Fix typo
  internal/server/scriptlet/load/load.go
Labels: none

incusd/scriptlet: Refactor log
  internal/server/scriptlet/instance_placement.go
  internal/server/scriptlet/log/logger.go
  internal/server/scriptlet/qemu.go
Labels: none

incusd/scriptlet: Add authorization scriptlet
  internal/server/scriptlet/auth/auth.go
  internal/server/scriptlet/load/load.go
Labels: none

incusd/scriptlet: refactor marshal
  internal/server/scriptlet/instance_placement.go
  internal/server/scriptlet/marshal/marshal.go
  internal/server/scriptlet/marshal/marshal_test.go
  internal/server/scriptlet/qemu.go
Labels: none

incusd/auth: Refactor drivers
  internal/server/auth/authorization.go
  internal/server/auth/common/common.go
  internal/server/auth/driver_common.go
  internal/server/auth/driver_openfga.go
  internal/server/auth/driver_tls.go
Labels: none

incusd/daemon: Handle authorization scriptlet reset
  cmd/incusd/daemon.go
Labels: none

doc/authorization: Add authorization scriptlet
  doc/authorization.md
Labels: Documentation

api: authorization_scriptlet
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/scriptlet: Add project and instance authorization getters
  internal/server/auth/driver_scriptlet.go
  internal/server/scriptlet/auth/auth.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/auth: Add authorization scriptlet driver
  internal/server/auth/authorization.go
  internal/server/auth/driver_common.go
  internal/server/auth/driver_scriptlet.go
  internal/server/scriptlet/auth/auth.go
Labels: none

incusd/auth: Comment exported methods and types
  internal/server/auth/driver_openfga.go
  internal/server/auth/driver_scriptlet.go
  internal/server/auth/driver_tls.go
Labels: none

incusd/config: Add scriptlet authorization key
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
  internal/server/cluster/config/config.go
Labels: none

tests: Authorization scriptlet
  test/suites/authorization_scriptlet.sh
Labels: none

replaced ceph.conf parsing with shelling out to mount.ceph
  internal/server/device/device_utils_disk.go
  internal/server/device/disk.go
  internal/server/storage/drivers/driver_cephfs.go
  internal/server/storage/drivers/driver_cephfs_utils.go
  internal/server/storage/drivers/utils.go
  internal/server/storage/drivers/utils_ceph.go
Labels: none

Add debug logging for oci image subprocess commands
  client/oci_images.go
Labels: none

Fix error string typo for oci connect errors
  cmd/incusd/daemon_images.go
Labels: none

temporary fix: default if remote.Project is ""
  cmd/incus/project.go
Labels: none

Fix var declaraation in last commit
  client/oci_images.go
Labels: none

using api.ProjectDfeaultName instead of raw "default" string
  cmd/incus/project.go
Labels: none

doc: add openSUSE installation instructions
  doc/.wordlist.txt
  doc/installing.md
Labels: Documentation

formatting cleanup
  internal/server/device/device_utils_disk.go
  internal/server/storage/drivers/utils_ceph.go
Labels: none

Documentation for incoming cephfs config options
  doc/reference/storage_cephfs.md
  internal/server/metadata/configuration.json
Labels: Documentation

Removed ceph.conf parsing and replaced with calls to ceph(-conf)
  internal/server/storage/drivers/utils_ceph.go
Labels: none

incusd/scriptlet: Rename prefixAuthorization to nameAuthorization
  internal/server/scriptlet/load/load.go
Labels: none

incusd/scriptlet: Add function checks in scriptlet validation
  internal/server/scriptlet/load/load.go
Labels: none

client/oci: Add debug logging for subprocess commands
  client/oci_images.go
Labels: none

incusd/daemon_images: Fix error string typo for OCI connect errors
  cmd/incusd/daemon_images.go
Labels: none
