Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/instance/qemu: Reject live migration of filesystem dependent volumes
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/storage: Resolve the volume project for dependent volumes
  internal/server/storage/backend.go
  internal/server/storage/utils.go
Labels: none

incusd/instance: Resolve the volume project when deleting dependent volumes
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance: Resolve the volume project for near-live dependent volume transfers
  cmd/incusd/instance_post_nearlive.go
Labels: none

incusd/instance: Let dependent volumes on local pools follow a project move to another member
  cmd/incusd/instance_post.go
Labels: none

doc: Document dependent volumes in project moves with shared storage volumes
  doc/howto/move_instances.md
Labels: Documentation

tests: Add tests for dependent volumes in projects sharing storage volumes
  test/suites/dependent_volumes.sh
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

incusd: Keep the OS API reachable during shutdown
  cmd/incusd/daemon.go
Labels: none

incusd: Bound instance stops during shutdown
  cmd/incusd/daemon.go
  cmd/incusd/instances.go
Labels: none

incusd: Let a forced shutdown override one in progress
  cmd/incusd/api_internal.go
  cmd/incusd/daemon.go
  cmd/incusd/main_daemon.go
Labels: none

incusd/storage/lvm: Use shared activation for ISO volumes on clustered pools
  internal/server/storage/drivers/driver_lvm_utils.go
Labels: none

incusd/storage/lvm: Rename both volumes of VM snapshots
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none

incusd/storage/lvm: Keep the original volumes until a restore fully succeeds
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none

tests: Rename VM snapshots before restoring them
  test/suites/storage_vm.sh
Labels: none

incusd/device: Reject unknown GPU types instead of passing through
  internal/server/device/device_load.go
Labels: none

incusd/apparmor: Allow reading the local QEMU data directory
  internal/server/apparmor/instance_qemu.profile.go
Labels: none

tests: Check unknown GPU types are refused
  test/suites/container_devices_gpu.sh
Labels: none

incusd/storage/zfs: Only reset datasets overriding the systemd ignore flag
  internal/server/storage/drivers/driver_zfs_utils.go
Labels: none

tests: Check delegated child datasets are reset
  test/suites/storage_driver_zfs.sh
Labels: none

incusd/instance: Don't shadow the project package name
  internal/server/instance/instance_utils.go
Labels: none

incusd/project: Re-check limits when recording instances and volumes
  internal/server/instance/instance_utils.go
  internal/server/project/permissions.go
  internal/server/project/permissions_test.go
  internal/server/storage/utils.go
Labels: none

incusd/storage: Check project limits when moving custom volumes
  cmd/incusd/storage_volumes.go
  internal/server/project/permissions.go
Labels: none

incusd/cluster: Don't run update trigger under the gateway lock
  internal/server/cluster/gateway.go
Labels: none

incusd/network/zone: Refresh TSIG cluster-wide and notify peers on creation
  internal/server/network/zone/load.go
Labels: none

incusd/network/bridge: Notify DNS peers on network update
  internal/server/network/driver_bridge.go
Labels: none

incus/remote: Make remote name checks stricter
  cmd/incus/remote.go
  cmd/incus/remote_unix.go
Labels: none

shared/cliconfig: Include diagnosis data in error path
  shared/cliconfig/remote.go
Labels: none

incus/usage: Defer remote error handling and clarify messages
  cmd/incus/usage/parse.go
  cmd/incus/usage/usage.go
Labels: none

incus/list: Clarify --all-remotes usage
  cmd/incus/list.go
Labels: none

incus: Hint missing space after remote on empty match list
  cmd/incus/cluster.go
  cmd/incus/config_trust.go
  cmd/incus/image.go
  cmd/incus/image_alias.go
  cmd/incus/list.go
  cmd/incus/network.go
  cmd/incus/profile.go
  cmd/incus/project.go
  cmd/incus/storage.go
  cmd/incus/usage/usage.go
Labels: none

api: metrics_cluster_members
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/metrics: Add cluster member metric types
  internal/server/metrics/metrics.go
  internal/server/metrics/types.go
Labels: none

incusd/metrics: Add cluster member info, status and role metrics
  cmd/incusd/api_metrics.go
Labels: none

tests: Check cluster member metrics
  test/suites/clustering.sh
Labels: none

doc: Document cluster member metrics
  doc/reference/provided_metrics.md
Labels: Documentation

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/cluster: Include member lookups in heartbeat round duration
  internal/server/cluster/heartbeat.go
Labels: none

incusd/cluster: Stamp member heartbeats at write time
  internal/server/cluster/heartbeat.go
Labels: none

incusd/db: Add GetNICConflictCandidateIDs
  internal/server/db/instances.go
  internal/server/db/instances_test.go
Labels: none
