Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/backup: Make extra sure backup.yaml is consistent on disk
  internal/server/backup/backup_config_utils.go
  internal/server/storage/backend.go
Labels: none

incus-agent/darwin: Factor BSD-like bits out
  cmd/incus-agent/os_bsd.go
  cmd/incus-agent/os_darwin.go
Labels: none

incus-agent/freebsd: Add FreeBSD agent
  cmd/incus-agent/os_bsd.go
  cmd/incus-agent/os_common.go
  cmd/incus-agent/os_freebsd.go
Labels: none

incusd/instance/agent-loader: Add FreeBSD files
  internal/server/instance/drivers/agent-loader/incus-agent-freebsd
  internal/server/instance/drivers/agent-loader/incus-agent-setup-freebsd
  internal/server/instance/drivers/agent-loader/install-freebsd.sh
  internal/server/instance/drivers/agent-loader/rc.d/incus-agent
Labels: none

incusd/instance/qemu: Support FreeBSD
  internal/server/instance/drivers/driver_qemu.go
Labels: none

doc/instance/create: Add details for FreeBSD
  doc/howto/instances_create.md
Labels: Documentation

doc/wordlist: Update wordlist
  doc/.wordlist.txt
Labels: Documentation

incusd/instance/lxc: Stop any forkfile instances prior to migration
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/storage/zfs: Freeze ZFS instances when using block_mode
  internal/server/storage/drivers/driver_zfs.go
Labels: none

incusd/storage/zfs: Don't create temporary snapshot for inactive volumes
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

incusd/storage/zfs: Don't unmap a mounted snapshot
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

incus/storage/volume: Fix image deletion
  cmd/incus/storage_volume.go
Labels: none

incusd/storage: Don't allow loop pools on IncusOS
  internal/server/storage/drivers/driver_btrfs.go
  internal/server/storage/drivers/driver_lvm.go
  internal/server/storage/drivers/driver_zfs.go
Labels: none

Translated using Weblate (Swedish)
  po/sv.po
Labels: none

cmd/incus: fix log in sftpRecursiveMkdir
  cmd/incus/utils_sftp.go
Labels: none

incusd/storage: Support restoring an instance with dependent volumes from a snapshot
  internal/server/storage/backend.go
Labels: none

incusd/backup: Add support for dependent volumes to backup
  internal/server/backup/backup_instance.go
Labels: none

incusd: Pass path info when exporting/importing custom volume
  cmd/incusd/backup.go
  cmd/incusd/storage_volumes.go
Labels: none

incusd/db: Read and write 'root_only' field in table operations
  internal/server/db/backups.go
Labels: none

doc: Update metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/device: Add 'dependent' config key to disk device
  internal/server/device/disk.go
Labels: none

incusd/export: Add support for root-only flag
  cmd/incus/export.go
Labels: none

tests: Add tests for dependent volumes
  test/main.sh
  test/suites/dependent_volumes.sh
Labels: none

incusd/instance: Pass rootOnly argument where needed
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_utils.go
Labels: none

incusd/backup: Add DefaultBackupPrefix constant
  internal/server/backup/backup_info.go
Labels: none

incusd/storage: Add support for exporting/importing dependent volumes
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
  internal/server/storage/pool_interface.go
Labels: none

incusd: Pass rootOnly argument where needed
  cmd/incusd/backup.go
  cmd/incusd/instance_backup.go
Labels: none

api: Add dependent extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/backup/config: Add DependentVolumes field to Config struct
  internal/server/backup/config/backup_config.go
Labels: none

incusd/storage: Create and delete dependent volume snapshots with instance snapshots
  internal/server/storage/backend.go
Labels: none

incusd/storage/drivers: Create QCOW2 config volume snapshot during unpack if needed
  internal/server/storage/backend.go
  internal/server/storage/drivers/generic_vfs.go
Labels: none

incusd/storage: Conditionally export dependent volumes
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
  internal/server/storage/pool_interface.go
Labels: none

incusd: Prevent direct snapshot creation and deletion on dependent volumes
  cmd/incusd/storage_volumes_snapshot.go
Labels: none

incusd/db/cluster: Add root_only column to instances_backups
  internal/server/db/cluster/schema.go
  internal/server/db/cluster/update.go
Labels: none

incusd/storage/drivers: Add ability to set archive files path when exporting/importing volumes
  internal/server/storage/drivers/driver_btrfs_volumes.go
  internal/server/storage/drivers/driver_ceph_volumes.go
  internal/server/storage/drivers/driver_cephfs_volumes.go
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_dir_volumes.go
  internal/server/storage/drivers/driver_linstor_volumes.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/driver_mock.go
  internal/server/storage/drivers/driver_truenas_volumes.go
  internal/server/storage/drivers/driver_zfs_volumes.go
  internal/server/storage/drivers/generic_vfs.go
  internal/server/storage/drivers/interface.go
Labels: none

shared/api: Add RootOnly to InstanceBackupsPost
  shared/api/instance_backup.go
Labels: API

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd/storage: Add readonly 'dependent' volume config key
  internal/server/storage/drivers/driver_btrfs_volumes.go
  internal/server/storage/drivers/driver_ceph_volumes.go
  internal/server/storage/drivers/driver_cephfs_volumes.go
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_dir_volumes.go
  internal/server/storage/drivers/driver_linstor_volumes.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/driver_truenas_volumes.go
  internal/server/storage/drivers/driver_zfs_volumes.go
  internal/server/storage/utils.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/device/nic_physical: Drop support for connected key
  internal/server/device/nic_physical.go
Labels: none
