Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

api: init_preseed_certificates
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

client: Add certificate handling to ApplyServerPreseed
  client/incus_server.go
Labels: none

shared/api: Add Certificates to InitLocalPreseed
  shared/api/init.go
Labels: API

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd: Switch to new GetNetworkACLsAllProjects
  cmd/incusd/network_acls.go
  internal/server/db/network_acls.go
Labels: none

shared/api: Add URL function on NetworkACL
  shared/api/network_acl.go
Labels: API

incusd: Switch to new GetNetworkACLURIs
  cmd/incusd/api_project.go
  internal/server/db/network_acls.go
Labels: none

incusd: Switch to new DeleteNetworkACL
  cmd/incusd/api_project.go
  internal/server/db/cluster/network_acls.go
  internal/server/db/cluster/network_acls.interface.mapper.go
  internal/server/db/cluster/network_acls.mapper.go
  internal/server/db/network_acls.go
  internal/server/network/acl/driver_common.go
Labels: none

incusd: Switch to new RenameNetworkACL
  internal/server/db/network_acls.go
  internal/server/network/acl/driver_common.go
Labels: none

incusd: Switch to new CreateNetworkACL
  internal/server/db/network_acls.go
  internal/server/network/acl/acl_load.go
Labels: none

incusd: Switch to new GetNetworkACLNameAndProjectWithID
  internal/server/db/entity.go
  internal/server/db/network_acls.go
Labels: none

incusd: Switch to new GetNetworkACLIDsByNames
  internal/server/db/network_acls.go
  internal/server/network/acl/acl_ovn.go
  internal/server/network/acl/driver_common.go
  internal/server/network/driver_ovn.go
Labels: none

incusd: Move remaining network ACLs DB functions
  cmd/incusd/patches.go
  internal/server/db/cluster/network_acls.go
  internal/server/db/network_acls.go
  internal/server/network/acl/acl_firewall.go
  internal/server/network/acl/acl_load.go
  internal/server/network/acl/acl_ovn.go
  internal/server/network/acl/driver_common.go
  internal/server/network/address-set/address_set_load.go
  internal/server/network/driver_common.go
Labels: none

commit msg
  internal/server/device/nic_physical.go
Labels: none

instantiation is fixed
  internal/server/device/nic_physical.go
Labels: none

internal/server/device/nic_physical: Used factory function to create bridged instance inside phyiscal NIC
  internal/server/device/nic_physical.go
Labels: none

client: Fix required extension for GetNetworkAddressSetsAllProjects
  client/incus_network_address_sets.go
Labels: none

internal/server/device/nic_physical.go: fixed static analysis errors for the device file
  internal/server/device/nic_physical.go
Labels: none

internal/server/device/nic_physical: Ported over bridge attachment logic from nic_bridged to allow physical NIC w/h bridge parent to attach
  internal/server/device/nic_physical.go
Labels: none

internal/server/device/nic_physical: ported over bridge configuration validation checks, updated Stop() and postStop() to reflect nic_bridged implementation
  internal/server/device/nic_physical.go
Labels: none

Revert "internal/server/device/nic_physical.go: fixed static analysis errors for the device file"
  internal/server/device/nic_physical.go
Labels: none

internal/server/device/nic_physical: temp removed new gen doc comments
  internal/server/device/nic_physical.go
Labels: none

internal/server/device/nic_physical: Removed logger statement and added comments
  internal/server/device/nic_physical.go
Labels: none

incusd/db/network_acls: Move to generated functions
  internal/server/db/cluster/network_acls.go
  internal/server/db/cluster/network_acls.interface.mapper.go
  internal/server/db/cluster/network_acls.mapper.go
  internal/server/db/network_acls.go
Labels: none

client: Add certificate handling to ApplyServerPreseed
  client/incus_server.go
Labels: none

shared/api: Add Certificates to InitLocalPreseed
  shared/api/init.go
Labels: API

internal/server/device/nic_physical: Removed unnecessary helper functions, expect preset filter configurations
  internal/server/device/nic_physical.go
Labels: none

incusd: Switch to new RenameNetworkACL
  internal/server/db/network_acls.go
  internal/server/network/acl/driver_common.go
Labels: none

incusd: Switch to new DeleteNetworkACL
  cmd/incusd/api_project.go
  internal/server/db/cluster/network_acls.go
  internal/server/db/cluster/network_acls.interface.mapper.go
  internal/server/db/cluster/network_acls.mapper.go
  internal/server/db/network_acls.go
  internal/server/network/acl/driver_common.go
Labels: none

incusd: Switch to new GetNetworkACLs
  cmd/incusd/network_acls.go
  cmd/incusd/patches.go
  internal/server/db/network_acls.go
  internal/server/network/acl/acl_load.go
  internal/server/network/address-set/address_set_load.go
  internal/server/network/driver_common.go
Labels: none

api: init_preseed_certificates
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

cmd/generate-database/db: Use snake case entity names for ID column names
  cmd/generate-database/db/method.go
Labels: none

incusd: Switch to new GetNetworkACLURIs
  cmd/incusd/api_project.go
  internal/server/db/network_acls.go
Labels: none

client: Fix required extension for GetNetworkAddressSetsAllProjects
  client/incus_network_address_sets.go
Labels: none

incusd: Move remaining network ACLs DB functions
  cmd/incusd/patches.go
  internal/server/db/cluster/network_acls.go
  internal/server/db/network_acls.go
  internal/server/network/acl/acl_firewall.go
  internal/server/network/acl/acl_load.go
  internal/server/network/acl/acl_ovn.go
  internal/server/network/acl/driver_common.go
  internal/server/network/address-set/address_set_load.go
  internal/server/network/driver_common.go
Labels: none

incusd: Switch to new GetNetworkACLIDsByNames
  internal/server/db/network_acls.go
  internal/server/network/acl/acl_ovn.go
  internal/server/network/acl/driver_common.go
  internal/server/network/driver_ovn.go
Labels: none

incusd: Switch to new CreateNetworkACL
  internal/server/db/network_acls.go
  internal/server/network/acl/acl_load.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd: Switch to new GetNetworkACLNameAndProjectWithID
  internal/server/db/entity.go
  internal/server/db/network_acls.go
Labels: none

shared/api: Add URL function on NetworkACL
  shared/api/network_acl.go
Labels: API
