Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

shared/subprocess: Write pid files atomically
  shared/subprocess/proc.go
Labels: none

shared/subprocess: Only signal the process that was recorded
  shared/subprocess/bgpm_test.go
  shared/subprocess/proc.go
Labels: none

incusd/dnsmasq: Remove pid file after killing dnsmasq
  internal/server/dnsmasq/dnsmasq.go
Labels: none

incusd/network: Use network config to detect dnsmasq use
  internal/server/network/network_utils.go
Labels: none

tests: Check stale dnsmasq.pid never signals other processes
  test/suites/network.sh
Labels: none

incusd/instance: Add HashName
  internal/instance/hash.go
  internal/instance/hash_test.go
Labels: none

incusd/instance/qemu: Use instance.HashName
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/util.go
  internal/server/instance/drivers/util_test.go
Labels: none

incus-agent: Hash long virtiofs mount tags on hotplug
  cmd/incus-agent/events.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

Update gomod
  go.mod
  go.sum
Labels: none

incusd/auth/openfga: Return offline error from GetPermissionChecker
  internal/server/auth/driver_openfga.go
Labels: none

incusd/auth/openfga: Don't hold online lock during requests
  internal/server/auth/driver_openfga.go
Labels: none

incusd/instance/agent-loader: Make macOS agent drive non-browsable
  internal/server/instance/drivers/agent-loader/incus-agent-setup-macos
Labels: none

api: authorization_scriptlet_request
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/auth: Expose request data to the authorization scriptlet
  internal/server/auth/common/common.go
  internal/server/auth/driver_common.go
Labels: none

doc: Add new fields to the authorization scriptlet
  doc/authorization.md
Labels: Documentation

tests: Fix race in OVN reparenting test
  test/suites/network_ovn.sh
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instances/qemu: Add fw_cfg configuration
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incusd/instance/qemu: Ignore skipped boot devices
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance: Add boot.pxe
  internal/instance/config.go
Labels: none

incusd/device/disk: Modify boot.priority handling
  internal/server/device/disk.go
Labels: none

incusd/device/nic: Modify boot.priority handling
  internal/server/device/nic.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_macvlan.go
  internal/server/device/nic_ovn.go
  internal/server/device/nic_p2p.go
  internal/server/device/nic_physical.go
  internal/server/device/nic_sriov.go
Labels: none

api: vm_boot_priority_skip
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc: Add PXE to wordlist
  doc/.wordlist.txt
Labels: Documentation

incus/systemd_report: Add node health systemd-report
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
  cmd/incusd/systemd_report.go
  cmd/incusd/systemd_report_integration_test.go
  go.mod
  go.sum
  internal/server/metadata/configuration.json
  internal/server/node/config.go
  internal/server/node/config_test.go
  internal/server/systemd_report/metrics.go
  internal/server/systemd_report/server.go
  internal/server/systemd_report/server_test.go
Labels: none

doc: Add node health systemd-report
  doc/server.md
  doc/systemd_report.md
Labels: Documentation

cmd/incusd: Use the environment_runtime_hooks extension
  cmd/incusd/daemon.go
Labels: none

incusd/instances/lxc: Use the environment_runtime_hooks extension
  internal/server/instance/drivers/driver_lxc.go
Labels: none

lxc-to-incus: support environment_runtime_hooks
  cmd/lxc-to-incus/config.go
  cmd/lxc-to-incus/main_migrate.go
Labels: none

tests: test environment changes
  test/suites/basic.sh
Labels: none

incusd/network/ovn: Allow ipv4.nat.address and ipv6.nat.address under l2proxy ingress mode
  internal/server/network/driver_ovn.go
Labels: none

api: Add network_ovn_nat_address_l2proxy extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

tests: Add test for NAT addresses under l2proxy ingress mode
  test/suites/network_ovn.sh
Labels: none

doc/network_ovn: Mention how NAT addresses are advertised
  doc/reference/network_ovn.md
Labels: Documentation

incusd/device: Add DiskVMVirtiofsSupported
  internal/server/device/device_utils_disk.go
Labels: none

incusd/instance/qemu: Use non-shared memory when virtiofs isn't wanted
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_config_test.go
  internal/server/instance/drivers/driver_qemu_machine.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incusd/instance: Document the memory allocation of nested virtual machines
  internal/instance/config.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation
