Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

doc: Update third party tool URLs
  doc/third_party.md
Labels: Documentation

doc: Hashicorp web servers don't like Github Runners
  doc/conf.py
Labels: Documentation

incusd/api_os: Set X-IncusOS-Proxy prefix
  cmd/incusd/api_os.go
Labels: none

incus/export: Fail fast if target already exists
  cmd/incus/export.go
Labels: none

tests: Cleanup backup files after use
  test/suites/backup.sh
  test/suites/projects.sh
  test/suites/storage_driver_btrfs.sh
  test/suites/storage_driver_zfs.sh
Labels: none

docs: Clarify clustered storage pools
  doc/howto/storage_volumes.md
Labels: Documentation

api: instance_limits_oom
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/instance/validate: Add OOM priority validation
  shared/validate/validate.go
Labels: none

incusd/instance/config: Add limits.memory.oom_priority config key
  internal/instance/config.go
Labels: none

doc: Update metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instance/driver_common: Add setOOMPriority shared method
  internal/server/instance/drivers/driver_common.go
Labels: none

incusd/instance/driver_lxc: Apply OOM priority to containers
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/instance/driver_qemu: Apply OOM priority to VMs
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/project/permissions: Forbid limits.memory.oom_priority in restricted projects
  internal/server/project/permissions.go
Labels: none

api: backup_override_config
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

client: Allow config/device override on backup import
  client/incus_instances.go
  client/interfaces.go
Labels: none

incus/import: Add override config and device
  cmd/incus/import.go
Labels: none

incusd/instances/import: Add device and config overrides
  cmd/incusd/api_internal.go
  cmd/incusd/instances_post.go
Labels: none

cmd/generate-database: fix linter complaints - #2636
  cmd/generate-database/db/lex.go
  cmd/generate-database/db/method.go
  cmd/generate-database/file/buffer.go
Labels: none

incusd/network/bridge: Support disabling DHCPv4 router announcement
  internal/server/network/driver_bridge.go
Labels: none

incusd/network/ovn: Implement ipv4.dhcp.gateway
  internal/server/network/driver_ovn.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

internal/server/firewall: fix linter complaints - #2636
  internal/server/firewall/drivers/drivers_nftables.go
  internal/server/firewall/drivers/drivers_xtables.go
  internal/server/firewall/firewall_interface.go
Labels: none

internal/server/sys: fix linter complaints - #2636
  internal/server/sys/selinux.go
  internal/server/sys/testing.go
Labels: none

internal/server/project: fix linter complaints - #2636
  internal/server/project/permissions.go
Labels: none

internal/server/util: fix linter complaints - #2636
  .golangci.yml
  internal/server/util/http.go
  internal/server/util/net.go
Labels: none

incusd/instance/lxc: Add /usr/bin/init to OCI PID1 list
  internal/server/instance/drivers/driver_lxc.go
Labels: none

internal/server/seccomp: fix linter complaints - #2636
  internal/server/seccomp/seccomp.go
Labels: none

internal/server/migration: fix linter complaints - #2636
  internal/server/migration/migration_volumes.go
  internal/server/migration/utils.go
Labels: none

internal/server/task: fix linter complaints - #2636
  internal/server/task/task.go
  internal/server/task/task_test.go
Labels: none

incus/usage: Small tweaks before adding parsers
  cmd/incus/usage/usage.go
Labels: none

incus/usage: Add a way to show the user a parsing rule different from the one in use
  cmd/incus/usage/usage.go
Labels: none

api: instances_debug_repair
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/api: Add InstanceDebugRepairPost
  shared/api/instance_debug.go
Labels: API

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd/storage: Implement ActivateTask
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/interface.go
Labels: none

incusd/instance/debug: Implement instance repair API
  cmd/incusd/api_1.0.go
  cmd/incusd/instance_debug.go
  cmd/incusd/instances.go
Labels: none

incus/usage: Add parsers
  cmd/incus/usage/parse.go
  cmd/incus/usage/usage.go
  cmd/incus/usage/utils.go
Labels: none

incus/cluster: Switch to new parser
  cmd/incus/cluster.go
  cmd/incus/utils.go
Labels: none

incus: Add --explain global flag
  cmd/incus/main.go
  cmd/incus/usage/parse.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
