Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/linux: Add DialUnix helper
  internal/linux/socket.go
Labels: none

incusd/qemu: Handle long run paths for the QMP socket
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

incusd/qemu: Handle long run paths for the SPICE socket
  internal/server/instance/drivers/driver_qemu.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

shared/cliconfig: Remove duplicate file closing
  shared/cliconfig/file.go
Labels: none

internal/server/instance/drivers: Separate GPU function conf from iommu_group loop
  internal/server/instance/drivers/driver_qemu.go
Labels: none

internal/server/device: Add 'functions' physical GPU config key
  internal/server/device/gpu.go
  internal/server/device/gpu_physical.go
Labels: none

internal/server/instance/drivers: Add requested GPU functions from other iommu groups
  internal/server/instance/drivers/driver_qemu.go
Labels: none

shared/validate: Add IsUniqueListOf validator
  shared/validate/validate.go
Labels: none

internal/server/metadata: Update metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

Makefile: Remove pinned incus-os
  Makefile
Labels: none

Update gomod
  go.mod
  go.sum
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

Translated using Weblate (Swedish)
  po/sv.po
Labels: none

Translated using Weblate (Russian)
  po/ru.po
Labels: none

doc/incus-alias: Refactor doc to create new use-case section and provide how-to examples
  doc/howto/incus_alias.md
Labels: Documentation

incus/alias: Add alias add command examples with args and numbered args
  cmd/incus/alias.go
Labels: none

Makefile: Fix sphinx build script to prevent issues with terminal colors
  Makefile
Labels: none

doc/incus-alias: Fix italic and ref modifers order to correctly apply both modifiers
  doc/howto/incus_alias.md
Labels: Documentation

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incus/debug: Fix NBD description
  cmd/incus/debug.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

client: Add reuse support to GetInstanceNBDConn
  client/incus_instances.go
  client/interfaces.go
Labels: none

incusd/instance/qmp: Add listen path support to NBDServerStart
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/instance/qmp: Allow multiple NBD server connections
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/instance/qemu: Update NBDServerStart calls
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance: Add reuse support to ConnectNBDAllDisks
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
Labels: none

incusd/storage: Add reuse support to GetInstanceAllDisksNBD
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
  internal/server/storage/pool_interface.go
Labels: none

incusd/instances: Add NBD reuse parameter
  cmd/incusd/instance_nbd.go
Labels: none

incus/debug: Support multiple NBD client connections
  cmd/incus/debug.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incus/server/storage/driver/ceph: Shrink images to minimal size after unpacking
  internal/server/storage/drivers/driver_ceph_volumes.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

Makefile: Improve target padding in make help
  Makefile
Labels: none

Makefile: add incremental spellcheck that skips the sphinx and cli setups
  Makefile
Labels: none

doc/incus-cli: Add CLI configuration file reference
  doc/client-config.md
  doc/client.md
Labels: Documentation

incusd/linux: Add ListenUnix helper
  internal/linux/socket.go
Labels: none

incusd/qemu: Handle long run paths for the migration socket
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/qemu: Handle long run paths for the console socket
  internal/server/instance/drivers/driver_qemu.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
