Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

api: authorization_config
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

tests: Update OpenFGA tests for authorization config keys
  test/includes/openfga.sh
  test/suites/clustering.sh
  test/suites/openfga.sh
Labels: none

api: network_allocations_network extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/api: add Network field to NetworkAllocations
  shared/api/network_allocation.go
Labels: API

incusd/network-allocations: populate network field
  cmd/incusd/network_allocations.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incus/network: add --summary flag to list-allocations
  cmd/incus/network_allocations.go
Labels: none

incusd/storage/ceph: Tolerate concurrently deleted RBD entities in zombie cleanup
  internal/server/storage/drivers/driver_ceph_utils.go
Labels: none

incusd/storage/ceph: Serialize volume deletion on the parent image
  internal/server/storage/drivers/driver_ceph_volumes.go
Labels: none

incusd/storage/ceph: Tolerate concurrent-deletion handling for non-image parents and renames
  internal/server/storage/drivers/driver_ceph_volumes.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd: Fix race between forkfile cleanup and respawn
  internal/server/instance/drivers/driver_lxc.go
  internal/server/storage/drivers/volume.go
Labels: none

incusd/events: Don't warn on double connection close
  cmd/incusd/dev_incus.go
  cmd/incusd/events.go
  internal/server/events/connections.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

incusd/apparmor: Fix alignment
  internal/server/apparmor/instance_qemu.profile.go
Labels: none

incusd/apparmor: Allow DRM render nodes for native-context GPU
  internal/server/apparmor/instance.go
  internal/server/apparmor/instance_qemu.profile.go
Labels: none

doc: Document the native-context GPU type
  doc/reference/devices_gpu.md
Labels: Documentation

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/linux: Add GrantPosixACLUser
  internal/linux/acl.go
Labels: none

incusd/device: Grant render node access to native-context GPUs
  internal/server/device/gpu_native_context.go
Labels: none

incusd/network/bridge: Don't NAT traffic between managed bridge networks
  doc/reference/network_bridge.md
  internal/server/firewall/drivers/drivers_consts.go
  internal/server/firewall/drivers/drivers_nftables.go
  internal/server/firewall/drivers/drivers_nftables_templates.go
  internal/server/firewall/firewall_interface.go
  internal/server/network/driver_bridge.go
Labels: Documentation

incusd/storage/zfs: Clear volume quota during optimized refresh
  internal/server/storage/backend.go
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

incusd/metrics: Add storage pool usage metric types
  internal/server/metrics/types.go
Labels: none

incusd/metrics: Collect storage pool usage
  cmd/incusd/api_metrics.go
Labels: none

doc: Document storage pool metrics
  doc/reference/provided_metrics.md
Labels: Documentation

incusd/storage/zfs: Restore volume quota on refresh error
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

api: Add instance_port_forward extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/api: Add InstancePortForwardPost
  shared/api/instance_port_forward.go
Labels: API

client: Add GetInstancePortForwardConn
  client/incus_instances.go
  client/incus_storage_volumes.go
  client/interfaces.go
Labels: none

incus-agent: Add port-forward API
  cmd/incus-agent/api_1.0.go
  cmd/incus-agent/port_forward.go
  doc/howto/instances_create.md
Labels: Documentation

incusd/forknet: Add connect command
  cmd/incusd/main_forknet.go
Labels: none

incusd/instance: Add PortForwardConn
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
Labels: none

incusd/auth: Add can_connect_tcp
  internal/server/auth/authorization_types.go
  internal/server/auth/driver_openfga_model.go
  internal/server/auth/driver_openfga_model.openfga
Labels: none

incusd/instances: Add port-forward API
  cmd/incusd/api_1.0.go
  cmd/incusd/instance_port_forward.go
  cmd/incusd/instances.go
Labels: none

incus: Add port-forward command
  cmd/incus/main.go
  cmd/incus/port_forward.go
Labels: none

tests: Add port forward tests
  test/main.sh
  test/suites/port_forward.sh
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

i18n: Update translation templates
  po/incus.pot
Labels: none

Translated using Weblate (Spanish)
  po/es.po
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
