Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/storage/lvm: Don't rely on udev paths
  internal/server/storage/drivers/driver_lvm.go
  internal/server/storage/drivers/driver_lvm_utils.go
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none

cmd/incus_agent: Replace gorilla/mux with http.ServeMux
  cmd/incus-agent/dev_incus.go
  cmd/incus-agent/operations.go
  cmd/incus-agent/server.go
Labels: none

client: Fixed non-constant format string in call to fmt.Errorf
  client/incus.go
Labels: none

incusd/instance/qmp/log: Don't crash on log Write calls after Close
  internal/server/instance/drivers/qmp/log.go
Labels: none

incusd: Cluster join, ensure server address
  cmd/incusd/api_cluster.go
Labels: none

incusd: Cluster join, check cluster.https_address
  cmd/incusd/api_cluster.go
Labels: none

cli/list: Add markdown format support
  go.mod
  go.sum
  internal/cmd/table.go
Labels: none

incusd: Centralize check for node specific network config
  cmd/incusd/api_cluster.go
  cmd/incusd/networks.go
  internal/server/db/networks.go
  internal/server/network/driver_common.go
Labels: none

incusd: Make network config keys node specific
  internal/server/db/networks.go
Labels: none

incusd/ip: All multicast needs to be configured after link creation
  internal/server/ip/link.go
  internal/server/ip/link_bridge.go
  internal/server/ip/link_dummy.go
  internal/server/ip/link_gretap.go
  internal/server/ip/link_macvlan.go
  internal/server/ip/link_macvtap.go
  internal/server/ip/link_veth.go
  internal/server/ip/link_vlan.go
  internal/server/ip/link_vxlan.go
Labels: none

doc: Pin a working version of the sphinx extensions
  doc/.sphinx/requirements.txt
Labels: Documentation

doc: Pin a working version of the sphinx extensions
  doc/.sphinx/requirements.txt
Labels: Documentation

cmd/list: Crude tablewriter error handling
  internal/cmd/table.go
Labels: none

incusd/instance/lxc: Fix usage reporting on relative disks
  internal/server/instance/drivers/driver_lxc.go
Labels: none

internal/instance: Introduce SplitVolumeSource
  internal/instance/device.go
Labels: none

incusd: Use SplitVolumeSource
  internal/server/device/disk.go
  internal/server/instance/drivers/driver_lxc.go
Labels: none

cmd/list: Fixed table display
  internal/cmd/table.go
Labels: none

cli/list: Add markdown format support
  go.mod
  go.sum
  internal/cmd/table.go
Labels: none

cmd/list: Crude tablewriter error handling
  internal/cmd/table.go
Labels: none

incus/project/get-current: Rely on server reported project
  cmd/incus/project.go
Labels: none

incus/remote: Support keepalive flag
  cmd/incus/remote.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

i18n: Manual translation update
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/auth/oidc/oidc: Add oidc.redirect_uri setting to allow custom redirect URIs (#1)
  cmd/incusd/api_1.0.go
  doc/api-extensions.md
  doc/config_options.txt
  internal/server/auth/oidc/oidc.go
  internal/server/cluster/config/config.go
  internal/server/metadata/configuration.json
Labels: API, Documentation

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

incusd/cluster/config: Update certificate also on change of acme.http.port
  cmd/incusd/api_1.0.go
Labels: none

incusd/instance_logs: Perform stricter path validation
  cmd/incusd/instance_logs.go
Labels: none

[lxd-import] lxd/daemon: Validate browser fetch metadata if supplied to reject non-same-origin requests
  cmd/incusd/daemon.go
Labels: none

[lxd-import] test/suites/serverconfig: Check fetch metadata header is validated
  test/suites/serverconfig.sh
Labels: none

incusd/dev_incus: Add extra validation for monitor
  cmd/incusd/dev_incus.go
Labels: none

incusd/storage/truenas: added initial truenas volume support
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: workaround issue with `get` in datasetExists
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
Labels: none

incusd/storage/truenas: add volume create/delete snapshot support
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: driver fixes and improvements
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: Added host name lookup before mounting NFS share
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: rework nfs dns lookup
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: add tnHasNfsDeleteByDataset
  internal/server/storage/drivers/driver_truenas.go
Labels: none

incusd/storage/truenas: add api-key, url and key-file support
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
Labels: none

incusd/storage/truenas: implement initial dataset creation/destruction
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
Labels: none

incusd/storage/truenas: refactor version handling, add tnHasUpdateShares
  internal/server/storage/drivers/driver_truenas.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
