Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

client: Add GetStoragePoolVolumeFileSFTPConn
  client/incus_storage_volumes.go
  client/interfaces.go
Labels: none

incus: Add incus storage volume file mount
  cmd/incus/storage_volume.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incus/remote: Add "get-client-certificate" and "get-client-token"
  cmd/incus/remote.go
Labels: none

incus-migrate: Add support for .OVA import
  cmd/incus-migrate/main_migrate.go
  cmd/incus-migrate/migrate_instance.go
  cmd/incus-migrate/migrate_ova.go
Labels: none

incus: Add add aliases to incus commands
  cmd/incus/config_template.go
  cmd/incus/image_alias.go
  cmd/incus/network.go
  cmd/incus/network_acl.go
  cmd/incus/network_forward.go
  cmd/incus/network_integration.go
  cmd/incus/network_load_balancer.go
  cmd/incus/network_peer.go
  cmd/incus/network_zone.go
  cmd/incus/project.go
  cmd/incus/snapshot.go
  cmd/incus/storage.go
  cmd/incus/storage_bucket.go
  cmd/incus/storage_volume.go
Labels: none

incus: Add create aliases to add commands
  cmd/incus/alias.go
  cmd/incus/cluster_role.go
  cmd/incus/config_device.go
  cmd/incus/network_acl.go
  cmd/incus/network_forward.go
  cmd/incus/network_load_balancer.go
  cmd/incus/network_zone.go
Labels: none

incus: Add delete and rm aliases to remove commands
  cmd/incus/alias.go
  cmd/incus/cluster.go
  cmd/incus/cluster_role.go
  cmd/incus/config_device.go
  cmd/incus/config_trust.go
  cmd/incus/network_acl.go
  cmd/incus/network_forward.go
  cmd/incus/network_load_balancer.go
  cmd/incus/network_zone.go
  cmd/incus/remote.go
Labels: none

incus: Add remove aliases to delete commands
  cmd/incus/config_template.go
  cmd/incus/file.go
  cmd/incus/image.go
  cmd/incus/image_alias.go
  cmd/incus/network.go
  cmd/incus/network_acl.go
  cmd/incus/network_forward.go
  cmd/incus/network_integration.go
  cmd/incus/network_load_balancer.go
  cmd/incus/network_peer.go
  cmd/incus/network_zone.go
  cmd/incus/operation.go
  cmd/incus/project.go
  cmd/incus/snapshot.go
  cmd/incus/storage.go
  cmd/incus/storage_bucket.go
  cmd/incus/storage_volume.go
  cmd/incus/warning.go
Labels: none

incus-agent: Skip /dev/incus on Windows
  cmd/incus-agent/api_1.0.go
  cmd/incus-agent/os_linux.go
  cmd/incus-agent/os_windows.go
Labels: none

incusd/instance/qemu: Don't block on Windows agent
  internal/server/instance/drivers/driver_qemu.go
Labels: none

internal/util: Add Incus OS detection
  internal/util/os.go
Labels: none

incusd: Use IsIncusOS
  cmd/incusd/api_os.go
Labels: none

incusd/metrics: Include OS metrics on Incus OS
  cmd/incusd/api_metrics.go
  internal/server/metrics/metrics.go
  internal/server/metrics/types.go
Labels: none

incusd/instance/lxc: Refactor inheritInitPidFd
  internal/server/instance/drivers/driver_lxc.go
Labels: none

Removed useless else in Makefile
  Makefile
Labels: none

incusd/storage/ceph: Fix parent tracking for VMs
  internal/server/storage/drivers/driver_ceph_utils.go
Labels: none

incusd/storage/ceph: Fix typo in parseParent
  internal/server/storage/drivers/driver_ceph_utils.go
Labels: none

tests: Switch clustering test subnet
  test/includes/clustering.sh
  test/suites/clustering.sh
Labels: none

internal/util: Simplify code by using modern constructs
  internal/util/network.go
Labels: none

internal/linux: Simplify code by using modern constructs
  internal/linux/kernel.go
Labels: none

internal/filter: Simplify code by using modern constructs
  internal/filter/value.go
Labels: none

generate-config: Simplify code by using modern constructs
  cmd/generate-config/incus_doc.go
Labels: none

generate-database: Simplify code by using modern constructs
  cmd/generate-database/db.go
  cmd/generate-database/db/parse.go
Labels: none

incus-agent: Simplify code by using modern constructs
  cmd/incus-agent/dev_incus.go
  cmd/incus-agent/events.go
  cmd/incus-agent/exec.go
  cmd/incus-agent/main_agent.go
  cmd/incus-agent/os_linux.go
Labels: none

incus-benchmark: Simplify code by using modern constructs
  cmd/incus-benchmark/benchmark_batch.go
Labels: none

incusd: Simplify code by using modern constructs
  cmd/incusd/api_cluster_evacuation.go
  cmd/incusd/api_internal.go
  cmd/incusd/api_metrics.go
  cmd/incusd/certificates.go
  cmd/incusd/daemon_config.go
  cmd/incusd/devices.go
  cmd/incusd/images.go
  cmd/incusd/instance_exec.go
  cmd/incusd/instance_post.go
  cmd/incusd/instance_test.go
  cmd/incusd/instances.go
  cmd/incusd/instances_get.go
  cmd/incusd/instances_post.go
  cmd/incusd/migrate_storage_volumes.go
  cmd/incusd/networks.go
  cmd/incusd/networks_utils.go
  cmd/incusd/storage_pools.go
Labels: none

lxc-to-incus: Simplify code by using modern constructs
  cmd/lxc-to-incus/config.go
Labels: none

incus: Simplify code by using modern constructs
  cmd/incus/admin_init_interactive.go
  cmd/incus/cluster.go
  cmd/incus/config.go
  cmd/incus/config_device.go
  cmd/incus/copy.go
  cmd/incus/create.go
  cmd/incus/file.go
  cmd/incus/list.go
  cmd/incus/list_test.go
  cmd/incus/main_aliases.go
  cmd/incus/move.go
  cmd/incus/network.go
  cmd/incus/network_acl.go
  cmd/incus/network_forward.go
  cmd/incus/network_integration.go
  cmd/incus/network_load_balancer.go
  cmd/incus/network_peer.go
  cmd/incus/network_zone.go
  cmd/incus/profile.go
  cmd/incus/project.go
  cmd/incus/storage.go
  cmd/incus/storage_bucket.go
  cmd/incus/storage_volume.go
  cmd/incus/utils.go
  cmd/incus/utils_properties.go
Labels: none

shared/api: Simplify code by using modern constructs
  shared/api/error.go
  shared/api/metadata.go
Labels: API

shared/cliconfig: Simplify code by using modern constructs
  shared/cliconfig/keepalive.go
  shared/cliconfig/remote.go
Labels: none

shared/idmap: Simplify code by using modern constructs
  shared/idmap/set.go
  shared/idmap/set_linux.go
Labels: none

shared/ioprogress: Simplify code by using modern constructs
  shared/ioprogress/tracker.go
Labels: none

shared/osarch: Simplify code by using modern constructs
  shared/osarch/architectures.go
Labels: none

shared/subprocess: Simplify code by using modern constructs
  shared/subprocess/run.go
Labels: none

incusd/instances: Tweak storage migration errors
  cmd/incusd/instance_post.go
Labels: none

test: Simplify code by using modern constructs
  test/mini-oidc/storage/storage.go
Labels: none

incusd/instances_post: Prevent pointless device overrides
  cmd/incusd/instances_post.go
Labels: none

incusd/instance: Fix incorrect cluster.Connect call
  internal/server/instance/drivers/util.go
Labels: none

incusd/instance/qemu: Enable invtsc CPU extension when not migratable
  internal/server/instance/drivers/driver_qemu.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
