Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/device/disk: Use virtiofsd uid/gid handling
  internal/server/device/device_utils_disk.go
Labels: none

generate-database: Add error mapping
  cmd/generate-database/db.go
  cmd/generate-database/db/constants.go
  cmd/generate-database/db/method.go
  cmd/generate-database/file/boilerplate/boilerplate.go
  cmd/generate-database/file/write.go
Labels: none

incusd/db: Use error mapping
  internal/server/db/cluster/stmt.go
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

incusd/db/cluster: Fix cluster group table
  internal/server/db/cluster/cluster_groups.go
Labels: none

incusd/db: Update generated files
  internal/server/db/cluster/certificate_projects.mapper.go
  internal/server/db/cluster/certificates.mapper.go
  internal/server/db/cluster/cluster_groups.mapper.go
  internal/server/db/cluster/config.mapper.go
  internal/server/db/cluster/devices.mapper.go
  internal/server/db/cluster/images.mapper.go
  internal/server/db/cluster/instance_profiles.mapper.go
  internal/server/db/cluster/instances.mapper.go
  internal/server/db/cluster/mapper_boilerplate.go
  internal/server/db/cluster/networks_integrations.mapper.go
  internal/server/db/cluster/nodes.mapper.go
  internal/server/db/cluster/nodes_cluster_groups.mapper.go
  internal/server/db/cluster/operations.mapper.go
  internal/server/db/cluster/profiles.mapper.go
  internal/server/db/cluster/projects.mapper.go
  internal/server/db/cluster/snapshots.mapper.go
  internal/server/db/cluster/warnings.mapper.go
Labels: none

generate-database: Make self-sufficient
  cmd/generate-database/README.md
  cmd/generate-database/db/constants.go
  cmd/generate-database/db/lex.go
  cmd/generate-database/db/method.go
  cmd/generate-database/file/boilerplate/boilerplate.go
  cmd/generate-database/file/boilerplate/boilerplate_test.go
Labels: none

incusd/db: Update generated code
  internal/server/db/cluster/certificate_projects.mapper.go
  internal/server/db/cluster/certificates.mapper.go
  internal/server/db/cluster/cluster_groups.mapper.go
  internal/server/db/cluster/config.mapper.go
  internal/server/db/cluster/devices.mapper.go
  internal/server/db/cluster/images.mapper.go
  internal/server/db/cluster/instance_profiles.mapper.go
  internal/server/db/cluster/instances.mapper.go
  internal/server/db/cluster/mapper_boilerplate.go
  internal/server/db/cluster/networks_integrations.mapper.go
  internal/server/db/cluster/nodes_cluster_groups.mapper.go
  internal/server/db/cluster/operations.mapper.go
  internal/server/db/cluster/profiles.mapper.go
  internal/server/db/cluster/projects.mapper.go
  internal/server/db/cluster/snapshots.mapper.go
  internal/server/db/cluster/stmt.go
  internal/server/db/cluster/warnings.mapper.go
Labels: none

generate-database: Improve case handling
  cmd/generate-database/db/lex.go
  cmd/generate-database/db/mapping.go
  cmd/generate-database/db/method.go
  cmd/generate-database/db/parse.go
  cmd/generate-database/db/stmt.go
  cmd/generate-database/file/write.go
  cmd/generate-database/lex/case.go
Labels: none

incus/list: Remove unused arguments and parameters
  cmd/incus/list.go
Labels: none

incus/top: Fix handling of all-projects
  cmd/incus/top.go
Labels: none

incusd/storage/drivers: Refactor ceph discovery
  internal/server/device/device_utils_disk.go
  internal/server/storage/drivers/driver_cephfs.go
  internal/server/storage/drivers/driver_cephfs_utils.go
  internal/server/storage/drivers/utils_ceph.go
Labels: none

incusd/instance/drivers: Let QEMU handle Ceph itself
  internal/server/device/device_utils_disk.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incus/file: Simplify sftpCreateFile
  cmd/incus/file.go
Labels: none

incus/file: Change recursiveFilePush to use SFTP
  cmd/incus/file.go
Labels: none

incus/file: Change recursiveMkdir to use SFTP
  cmd/incus/file.go
Labels: none

incus/file: Change recursivePullFile to use SFTP
  cmd/incus/file.go
Labels: none

incus/file: Re-use SFTP as much as possible
  cmd/incus/file.go
Labels: none

internal/filter: Handle multiple in-line structs
  internal/filter/value.go
Labels: none

api: api_filtering_extended
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd: Add filtering to /1.0/networks
  cmd/incusd/networks.go
Labels: none

incusd: Add filtering to /1.0/networks/{networkName}/forwards
  cmd/incusd/network_forwards.go
Labels: none

incusd: Add filtering to /1.0/networks/{networkName}/load-balancers
  cmd/incusd/network_load_balancers.go
Labels: none

incusd: Add filtering to /1.0/networks/{networkName}/peers
  cmd/incusd/network_peers.go
Labels: none

incusd: Add filtering to /1.0/network-acls
  cmd/incusd/network_acls.go
Labels: none

incusd: Add filtering to /1.0/network-integrations
  cmd/incusd/network_integrations.go
Labels: none

incusd: Add filtering to /1.0/network-zones
  cmd/incusd/network_zones.go
Labels: none

incusd: Add filtering to /1.0/network-zones/{zone}/records
  cmd/incusd/network_zones_records.go
Labels: none

incusd: Add filtering to /1.0/storage-pools
  cmd/incusd/storage_pools.go
Labels: none

incusd: Add filtering to /1.0/storage-pools/{poolName}/buckets
  cmd/incusd/storage_buckets.go
Labels: none

incusd: Add filtering to /1.0/certificates
  cmd/incusd/certificates.go
Labels: none

incusd: Add filtering to /1.0/profiles
  cmd/incusd/profiles.go
Labels: none

incusd: Add filtering to /1.0/projects
  cmd/incusd/api_project.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

tests: Test more API filters
  test/suites/filtering.sh
Labels: none

doc: Remove mention of limitations on filtering
  doc/rest-api.md
Labels: Documentation

api: acme_dns01
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/cluster/config: Add extra ACME config keys
  internal/server/cluster/config/config.go
Labels: none

incusd/acme: Add DNS-01 support
  cmd/incusd/acme.go
  internal/server/acme/acme.go
  internal/server/acme/dns-01-provider.go
  internal/server/acme/http-01-provider.go
  internal/server/acme/provider.go
Labels: none

doc: Add resolvers to wordlist
  doc/.wordlist.txt
Labels: Documentation
