Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incus-migrate: Allow running as non-root
  cmd/incus-migrate/main_migrate.go
  cmd/incus-migrate/migrate_instance.go
  cmd/incus-migrate/migrate_volume.go
  cmd/incus-migrate/utils.go
Labels: none

incus-migrate: Add URL imports
  cmd/incus-migrate/main_migrate.go
  cmd/incus-migrate/migrate_instance.go
Labels: none

doc: Ignore broken links on Alpine gitlab
  doc/conf.py
Labels: Documentation

doc: Ignore broken links on docbook website
  doc/conf.py
Labels: Documentation

github: Deal with new Github images
  .github/workflows/tests.yml
Labels: none

tests: Fix SR-IOV attached key test
  test/suites/container_devices_nic_sriov.sh
Labels: none

refactor: Node exporter naming and value representation to calc instance uptime
  cmd/incus-agent/metrics.go
  internal/server/metrics/api.go
  internal/server/metrics/metrics.go
  internal/server/metrics/types.go
Labels: none

incusd/device/nic_physical: Allow migration of managed devices
  internal/server/device/nic_physical.go
Labels: none

shared/cliconfig: Don't pass scheme to OCI creds helper
  shared/cliconfig/remote.go
Labels: none

incusd/cluster: Allow restoring a cluster without its instances
  cmd/incusd/api_cluster.go
  cmd/incusd/api_cluster_evacuation.go
Labels: none

incus/cluster: Add --action for restore
  cmd/incus/cluster.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

internal/instance; Correct doc for boot.autostart.priority
  internal/instance/config.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/cluster: Restrict join token to database servers
  cmd/incusd/api_cluster.go
Labels: none

incusd/storage/lvm: Prevent use of lvmcluster with loop files
  internal/server/storage/drivers/driver_lvm.go
Labels: none

incusd/operations: Prevent concurrent access to metadata
  internal/server/operations/operations.go
Labels: none

incusd/device: Retry MAC address setting on SR-IOV VF interfaces
  internal/server/device/device_utils_network.go
Labels: none

api: Add instance_snapshot_disk_only_restore API extension
  internal/version/api.go
Labels: none

doc: Add instance_snapshot_disk_only_restore api extension to documentation
  doc/api-extensions.md
Labels: API, Documentation

client: Check for diskOnly api extension when invoked
  client/incus_instances.go
Labels: none

incus/drivers: Implement disk-only restore logic in lxc driver
  internal/server/instance/drivers/driver_lxc.go
Labels: none

cmd/incus: Add disk only restore feature to incus cli
  cmd/incus/snapshot.go
Labels: none

shared/api: Add DiskOnly option in InstancePut
  shared/api/instance.go
Labels: API

incus/instance: Adjust interface for diskOnly parameter
  internal/server/instance/instance_interface.go
Labels: none

cmd/incusd: Add DiskOnly option and check for mismatching options
  cmd/incusd/instance_put.go
Labels: none

incus/drivers: Implement disk-only restore logic in qemu driver
  internal/server/instance/drivers/driver_qemu.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/storage/drivers: Load NBD module for lvmcluster
  internal/server/storage/drivers/driver_lvm.go
Labels: none

incusd/storage: Add support for renaming qcow2 volumes
  internal/server/storage/backend.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/utils_qcow2.go
Labels: none

incusd/instance/drivers: Pass information about whether migration is live
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/storage: Add support for qcow2 volume migration
  internal/server/storage/backend.go
  internal/server/storage/drivers/utils_qcow2.go
  internal/server/storage/utils.go
Labels: none

incusd/instancewriter: Make signature more generic
  internal/instancewriter/instance_raw_writer.go
Labels: none

client/instances: Add direct backup capability
  client/incus_instances.go
  client/interfaces.go
Labels: none

client/storage_volumes: Add direct backup capability
  client/incus_storage_volumes.go
  client/interfaces.go
Labels: none

client/storage_buckets: Add direct backup capability
  client/incus_storage_buckets.go
  client/interfaces.go
Labels: none

incusd/storage: Add snapshot mount paths parameter to the task function
  internal/server/storage/backend.go
  internal/server/storage/drivers/volume.go
Labels: none

incusd/device/nic_riov: Retry MAC setting logic
  internal/server/device/device_utils_network.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
