Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

shared/archive: remove unnecessary err check
  shared/archive/archive.go
Labels: none

incusd: refactor condition checks that are always true or false respectively
  cmd/incusd/instance_post.go
  internal/server/auth/driver_tls.go
  internal/server/device/device_utils_network.go
  internal/server/endpoints/cluster.go
  internal/server/endpoints/metrics.go
  internal/server/endpoints/network.go
  internal/server/firewall/firewall_load.go
  internal/server/instance/drivers/qmp/commands.go
  internal/server/network/driver_bridge.go
  internal/server/network/driver_ovn.go
Labels: none

cmd/incus: refactor unnecessary err condition checks
  cmd/incus/copy.go
  cmd/incus/file.go
Labels: none

internal/linux: refactor unnecessary err condition check
  internal/linux/filesystem.go
Labels: none

client: remove unnecessary err check and unused variable ioErr
  client/incus_images.go
Labels: none

incusd: refactor process kill error being ignored
  internal/server/network/driver_bridge.go
Labels: none

incusd/instance: fix device finding logic
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/instance/drivers: Make test ignore host-nodes order
  internal/server/instance/drivers/util_test.go
Labels: none

incus: refactor admin_init.go config initialization
  cmd/incus/admin_init.go
Labels: none

incusd/network/ovn: Wait up to 10s for OVN northd to allocate an IP
  internal/server/network/driver_ovn.go
Labels: none

incusd/dnsmasq: refactor DHCPValidIP condition checks
  internal/server/dnsmasq/dhcpalloc/dhcpalloc.go
  internal/server/dnsmasq/dhcpalloc/dhcpalloc_test.go
Labels: none

incusd: Prevent panic when VolumeSize is missing
  cmd/incusd/migrate_storage_volumes.go
Labels: none

incusd/migrate: Set write time limit for sendControl method
  cmd/incusd/migrate.go
Labels: none

client: Add CreateStoragePoolVolumeFromMigration
  client/incus_storage_volumes.go
  client/interfaces.go
Labels: none

incus-migrate: Prepare migration code for adding custom volume support
  cmd/incus-migrate/main_migrate.go
  cmd/incus-migrate/transfer.go
  cmd/incus-migrate/utils.go
Labels: none

incus-migrate: Support for uploading filesystems and disks as custom volumes
  cmd/incus-migrate/main_migrate.go
  cmd/incus-migrate/transfer.go
  cmd/incus-migrate/utils.go
Labels: none

incusd/network/bridge: Add missing line breaks
  internal/server/network/driver_bridge.go
Labels: none

client: Add GetProjectsWithFilter
  client/incus_projects.go
  client/interfaces.go
Labels: none

incus: Add filtering support for project list
  cmd/incus/project.go
Labels: none

incusd/network/ovn: Port to gendoc
  internal/server/network/driver_ovn.go
Labels: none

doc/reference/network_ovn: Port to gendoc
  doc/reference/network_ovn.md
Labels: Documentation

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/network/bridge: Add BGP keys to gendoc
  internal/server/network/driver_bridge.go
Labels: none

doc/reference/network_bridge: Add BGP configuration
  doc/reference/network_bridge.md
Labels: Documentation

incusd/network/physical: Port to gendoc
  internal/server/network/driver_physical.go
Labels: none

doc/reference/network_physical: Convert to gendoc
  doc/reference/network_physical.md
Labels: Documentation

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

Remove gopkg.in/tomb.v2 dependency
  go.mod
  go.sum
  internal/server/endpoints/endpoints.go
Labels: none

incusd/instance/qemu: Don't allow hotplug when at maxmem
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incusd/device/nic_routed: Fix spacing
  internal/server/device/nic_routed.go
Labels: none

incusd/network: Clear gofumpt
  internal/server/network/driver_ovn.go
  internal/server/network/driver_physical.go
Labels: none

api: instance_nic_routed_host_tables
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/server/device/nic_routed.go: Added host_tables
  internal/server/device/nic_routed.go
Labels: none

incusd/device/nic_routed: Deprecate ipv4.host_table and ipv6.host_table
  internal/server/device/nic_routed.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd: rename variable `mux` to `router` so it does not collide with the package of the same name
  cmd/incusd/api.go
  cmd/incusd/dev_incus.go
Labels: none

cmd/incus-agent: rename variable `mux` to `router` so it does not collide with the package of the same name
  cmd/incus-agent/dev_incus.go
  cmd/incus-agent/server.go
Labels: none

incusd: rename all instances of sha256.New() to hash256 so they dont collide with the package name
  cmd/incusd/daemon_images.go
  cmd/incusd/images.go
  internal/server/apparmor/apparmor.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/util/http.go
Labels: none

client: rename all instances of sha256.New() to hash256 so they dont collide with the package name
  client/incus_images.go
Labels: none

cmd/incus-migrate: add missing switch case with explicit comment
  cmd/incus-migrate/main_migrate.go
Labels: none
