Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

client: Fix image aliases in push mode
  client/incus_images.go
Labels: none

client: Fix image aliases in relay mode
  client/incus_images.go
Labels: none

incusd/cluster: Validate address on join too
  cmd/incusd/api_cluster.go
Labels: none

incusd/network: Remove duplicated logic
  internal/server/endpoints/endpoints.go
  internal/server/util/net.go
  internal/server/util/net_test.go
  internal/util/network_test.go
Labels: none

incusd/util: Cover DNS and wildcard coverage
  internal/util/network_test.go
Labels: none

incusd/storage: Add initial.* config options for storage volume
  internal/server/storage/utils.go
Labels: none

incusd/storage/drivers: Add ability to set the initial owner of a custom volume
  internal/server/storage/drivers/volume.go
Labels: none

tests: Add test for setting initial owner of a cutom volume
  test/suites/storage_volume_initial_config.sh
Labels: none

api: Add storage_initial_owner extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc/reference: Add initial.* config keys
  doc/reference/storage_btrfs.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_dir.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
Labels: Documentation

shared/cliconfig: Improve configuration loading
  shared/cliconfig/file.go
Labels: none

incus: Add aliases completion
  cmd/incus/main.go
Labels: none

incus: Simplify configuration loading
  cmd/incus/main.go
  cmd/incus/main_aliases.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
Labels: none

incusd/storage/drivers/lvm: Remove metadata info from space usage calculation
  internal/server/storage/drivers/driver_lvm_utils.go
Labels: none

incus/migration: Add StoragePool to VolumeTargetArgs and StorageMove to VolumeSourceArgs
  internal/server/migration/migration_volumes.go
Labels: none

incus/instance: Add StoragePool to MigrateArgs
  internal/server/instance/instance_interface.go
Labels: none

incus/drivers: Add support for local live-migration between storage pools
  internal/server/instance/drivers/driver_qemu.go
  internal/server/storage/drivers/driver_ceph_volumes.go
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none

incusd: Add support for local live-migration between storage pools
  cmd/incusd/instance_post.go
  cmd/incusd/instance_snapshot.go
  cmd/incusd/instances_post.go
  cmd/incusd/migrate.go
  cmd/incusd/migrate_instance.go
Labels: none

api: Add storage_live_migration extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

golangci: Add local prefixes for goimports
  .golangci.yml
Labels: none

client: invalidate simple streams cache
  client/simplestreams_images.go
  shared/simplestreams/simplestreams.go
  shared/util/net.go
Labels: none

incusd/instances_post: Fix cluster internal migrations
  cmd/incusd/instances_post.go
Labels: none

incusd/instances_post: Only update pool in DB if pool is expected to change
  cmd/incusd/instances_post.go
Labels: none

incusd/instances_post: Account for profiles when overriding pool in DB
  cmd/incusd/instances_post.go
Labels: none

incusd/main_forknet: Don't attach DHCP client to the container PID namespace
  cmd/incusd/main_forknet.go
Labels: none

incusd/instance/lxc: Cleanup DHCP client
  cmd/incusd/main_forknet.go
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/main_forknet: Tweak process title
  cmd/incusd/main_forknet.go
Labels: none

incus/image: Add reuse flag
  cmd/incus/image.go
  cmd/incus/utils.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
Labels: none

incus/publish: Use common helper function deleteImagesByAliases
  cmd/incus/publish.go
Labels: none

tests: Add a reuse flag test for the 'incus image import'
  test/main.sh
  test/suites/image.sh
Labels: none

incusd/instance/qemu: Set instance path ownership on startup
  internal/server/instance/drivers/driver_qemu.go
Labels: none

api: instance_console_screenshot
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/instance/qmp: Add Screendump command
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/response: Allow overrriding Content-Type in FileResponse
  internal/server/response/response.go
Labels: none

incusd/instance: Add ConsoleScreenshot to VM interface
  internal/server/instance/instance_interface.go
Labels: none

incusd/instance/qemu: Implement ConsoleScreenshot
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/instance_console: Add screenshot support to console API
  cmd/incusd/instance_console.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation
