Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

Fix linting issue
  cmd/incus/export.go
Labels: none

Linting to fix gci complaints
  cmd/incus/export.go
Labels: none

gci write linting fix
  cmd/incus/export.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

client: add device and config overrides on import backup
  client/incus_instances.go
  cmd/incusd/api_internal.go
  cmd/incusd/instances_post.go
Labels: none

incus/admin/os: Fix list commands
  cmd/incus/admin_os.go
Labels: none

incus/admin/os: Don't require remote name in debug
  cmd/incus/admin_os.go
Labels: none

incus/admin/os: Rename commands for consistency
  cmd/incus/admin_os.go
Labels: none

doc: Update third party tool URLs
  doc/third_party.md
Labels: Documentation

doc: Hashicorp web servers don't like Github Runners
  doc/conf.py
Labels: Documentation

incusd/api_os: Set X-IncusOS-Proxy prefix
  cmd/incusd/api_os.go
Labels: none

incus/export: Fail fast if target already exists
  cmd/incus/export.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

tests: Cleanup backup files after use
  test/suites/backup.sh
  test/suites/projects.sh
  test/suites/storage_driver_btrfs.sh
  test/suites/storage_driver_truenas.sh
  test/suites/storage_driver_zfs.sh
Labels: none

api: Add ConfigMap type to better support unmarshaling numbers and bools to map[string]string
  shared/api/config.go
  shared/api/config_test.go
Labels: API

api: Use ConfigMap type for map[string]string
  shared/api/cluster.go
  shared/api/instance.go
  shared/api/instance_snapshot.go
  shared/api/network.go
  shared/api/network_acl.go
  shared/api/network_address_set.go
  shared/api/network_forward.go
  shared/api/network_integration.go
  shared/api/network_load_balancer.go
  shared/api/network_peer.go
  shared/api/network_zone.go
  shared/api/profile.go
  shared/api/project.go
  shared/api/server.go
  shared/api/storage_pool.go
  shared/api/storage_pool_bucket.go
  shared/api/storage_pool_volume.go
  shared/api/storage_pool_volume_snapshot.go
Labels: API

docs: Clarify clustered storage pools
  doc/howto/storage_volumes.md
Labels: Documentation

api: instance_limits_oom
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/instance/validate: Add OOM priority validation
  shared/validate/validate.go
Labels: none

incusd/instance/config: Add limits.memory.oom_priority config key
  internal/instance/config.go
Labels: none

doc: Update metadata
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instance/driver_common: Add setOOMPriority shared method
  internal/server/instance/drivers/driver_common.go
Labels: none

incusd/instance/driver_lxc: Apply OOM priority to containers
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/instance/driver_qemu: Apply OOM priority to VMs
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/project/permissions: Forbid limits.memory.oom_priority in restricted projects
  internal/server/project/permissions.go
Labels: none

api: backup_override_config
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

client: Allow config/device override on backup import
  client/incus_instances.go
  client/interfaces.go
Labels: none

incus/import: Add override config and device
  cmd/incus/import.go
Labels: none

incusd/instances/import: Add device and config overrides
  cmd/incusd/api_internal.go
  cmd/incusd/instances_post.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

po: Manual import from weblate
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

internal/incusos: Introduce IncusOS API client
  internal/incusos/api_services.go
  internal/incusos/api_system.go
  internal/incusos/client.go
Labels: none

incusd/sys/os: Make use of IncusOS client
  internal/server/sys/os.go
Labels: none

incusd: Update for OS struct change
  cmd/incusd/api_metrics.go
  cmd/incusd/api_os.go
  cmd/incusd/networks.go
Labels: none

incusd/networks: Use IncusOS API client
  cmd/incusd/networks.go
Labels: none

incusd/network: Add IncusOS service checks
  internal/server/network/driver_bridge.go
  internal/server/network/driver_ovn.go
Labels: none

incusd/storage: Add IncusOS service checks
  internal/server/storage/drivers/driver_ceph.go
  internal/server/storage/drivers/driver_cephfs.go
  internal/server/storage/drivers/driver_cephobject.go
  internal/server/storage/drivers/driver_lvm.go
  internal/server/storage/drivers/driver_truenas.go
Labels: none

incusd/config: Prevent unsetting core.https_address on IncusOS
  cmd/incusd/api_1.0.go
Labels: none

incusd: Consistent spelling of IncusOS
  cmd/incusd/api_metrics.go
  cmd/incusd/api_os.go
Labels: none

incusd/certificates: Add check for IncusOS
  cmd/incusd/certificates.go
Labels: none
