Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

shared/uefi: Add various variable dissectors
  shared/uefi/dissector_devicepath.go
  shared/uefi/dissector_keyboard.go
  shared/uefi/dissectors.go
  shared/uefi/vars.go
Labels: none

incusd/instance: Add GetNVRAM
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
Labels: none

client: Add NVRAM getters
  client/incus_instances.go
  client/interfaces.go
Labels: none

incusd/instances: Add NVRAM API
  cmd/incusd/api_1.0.go
  cmd/incusd/instance_nvram.go
  cmd/incusd/instances.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incus/low-level: Add nvram subcommand
  cmd/incus/low_level.go
  cmd/incus/usage/usage.go
Labels: none

incusd/instance/qemu: Initialize NVRAM on first query
  internal/server/instance/drivers/driver_qemu.go
Labels: none

golangci: Ignore GUID names and comments
  .golangci.yml
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

shared/uefi: Add some OVMF dumping primitives
  shared/uefi/io.go
  shared/uefi/store.go
  shared/uefi/util.go
Labels: none

incusd/instance: Add SetNVRAM
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
Labels: none

client: Add NVRAM variable deletion
  client/incus_instances.go
  client/interfaces.go
Labels: none

incusd/instances: Add NVRAM variable deletion
  cmd/incusd/instance_nvram.go
  cmd/incusd/instances.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incus/low-level: Add nvram unset subcommand
  cmd/incus/low_level.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

api: Add disk_io_limits_combined extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/device: Allow combining byte/s and IOPS limits
  internal/server/device/disk.go
  internal/server/device/unix_common.go
Labels: none

doc/storage_volumes: Mention combined I/O limits
  doc/howto/storage_volumes.md
Labels: Documentation

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

Add storage note about loop devices on COW fs
  doc/explanation/storage.md
Labels: Documentation

incusd/instance/lxc: Use project-qualified CRIU restore name
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/instance/lxc: Clean devices after failed CRIU restore
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/instance/lxc: Fall back after CRIU pre-dump failure
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/instance/lxc: Retry final CRIU dump without parent
  internal/server/instance/drivers/driver_lxc.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

incusd/storage: Fix instance copy for non-block volumes
  internal/server/storage/backend.go
Labels: none

shared/ask: fix password prompt loop on Windows
  cmd/incus/main.go
  cmd/incus/remote.go
  shared/ask/ask.go
Labels: none

incusd/storage: Add support for '--refresh' for instances with dependent disks
  internal/server/storage/backend.go
Labels: none

shared/ask: Fix newlines after functional blocks
  shared/ask/ask.go
Labels: none

incusd/storage/drivers: Don't set received UUID on main btrfs volume
  internal/server/storage/drivers/driver_btrfs_volumes.go
Labels: none

incusd: Add cpus= argument to forkqemu
  cmd/incusd/main_forkqemu.go
Labels: none

incusd/instance/qemu: Confine QEMU startup to a single CPU type
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_machine.go
Labels: none

api: resources_cpu_cluster
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/api: Add Cluster to ResourcesCPUCore
  shared/api/resource.go
Labels: API

shared/resources: Fix CPU core grouping to handle core clusters
  shared/resources/cpu.go
Labels: none

incusd/instance/qemu: Make CPU topology validation cluster-aware
  internal/server/instance/drivers/driver_qemu_machine.go
Labels: none

incus/info: Show the CPU cluster of each core
  cmd/incus/info.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation
