Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

client: Detect dead event connections
  client/incus_events.go
Labels: none

incusd/events: Deliver events in order
  internal/server/events/common.go
  internal/server/events/dev_incus_events.go
  internal/server/events/events.go
Labels: none

incusd/projects: Send project-updated after the update
  cmd/incusd/api_project.go
Labels: none

client: Add EventListener.SetOrdered
  client/events.go
  client/incus_events.go
Labels: none

doc: Document event ordering
  doc/events.md
Labels: Documentation

client: Fix Disconnect not disconnecting
  client/incus.go
  client/incus_events.go
Labels: none

incusd/storage/lvm: Detect block type in ListVolumes
  internal/server/storage/drivers/driver_lvm_utils.go
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none

incusd/storage: Tolerate missing snapshot record on delete
  internal/server/storage/backend.go
Labels: none

incusd/storage: Repair snapshot records on refresh
  internal/server/storage/backend.go
Labels: none

incus/admin_sql: Fix integer rendering
  cmd/incus/admin_sql.go
Labels: none

api: image_locations
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

shared/api: Add Locations to Image
  shared/api/image.go
Labels: API

incusd/db/images: Fill in image locations
  internal/server/db/images.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd/storage: Add cleanupDependencies argument to DeleteInstanceSnapshot
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
  internal/server/storage/pool_interface.go
Labels: none

shared/api: Add DependentVolumesMove
  shared/api/instance.go
Labels: API

incusd/instance: Add DependentVolumesMove to MigrateSendArgs
  internal/server/instance/instance_interface.go
Labels: none

incusd: Add dependent disk support for in-cluster near-live migration
  cmd/incusd/instance_post.go
  cmd/incusd/instance_post_nearlive.go
  cmd/incusd/instance_snapshot.go
  cmd/incusd/instances_post.go
  cmd/incusd/migrate.go
  cmd/incusd/migrate_instance.go
Labels: none

incusd/instance/drivers: Add dependent disk support for in-cluster near-live migration
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

tests: Add near-live migration dependent disks tests
  test/suites/clustering_move.sh
Labels: none

api: instance_refresh_migration
  doc/api-extensions.md
Labels: API, Documentation

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

api: network_ovn_multicast
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/network/ovn: Add bridge.multicast_snooping and bridge.multicast_relay
  internal/server/network/driver_ovn.go
Labels: none

incusd/network/ovn: Add multicast helpers
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instance/qemu: Use temporary data-file when growing metadata image
  internal/server/instance/drivers/driver_qemu.go
Labels: none

Revert "client: Add EventListener.SetOrdered"
  client/events.go
  client/incus_events.go
Labels: none

shared/api: Hide additional sensitive config keys
  shared/api/server.go
Labels: API

incusd/instance/qmp: Bump query-migrate timeout
  internal/server/instance/drivers/qmp/qmp.go
Labels: none

incusd/db: Have NetworkNodeConfigs only consider the requested network
  internal/server/db/networks.go
Labels: none

incusd/network/ovn: Skip empty transactions in SetChassisGroupPriority
  internal/server/network/ovn/ovn_nb_actions.go
Labels: none

generate-database: Fix GetMany generation for entities without filters
  cmd/generate-database/db/method.go
Labels: none

incus/remote: Restrict proxy /1.0 cache to GET and invalidate on changes
  cmd/incus/remote_unix.go
  cmd/incus/webui_unix.go
Labels: none

incusd/endpoints: Fix proxy protocol handling
  internal/server/endpoints/listeners/fancytls.go
Labels: none

incusd/storage: Unmount leftover mounts in CleanupInstancePaths
  internal/server/storage/backend.go
Labels: none

incusd/device: Check interface isn't in use by host before passthrough
  internal/server/device/device_utils_network.go
  internal/server/device/nic_physical.go
  internal/server/device/pci.go
Labels: none

incusd/instance/lxc: Fix mount options of OCI /run tmpfs
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/instance/lxc: Skip OCI /run tmpfs when image populates /run
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/cluster: Stop instances in place when evacuation has no target
  cmd/incusd/api_cluster_evacuation.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
