Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

docs/storage/truenas: add current props docs
  doc/howto/storage_pools.md
Labels: Documentation

incusd/storage/truenas: replace shorthand flags with longhand versions
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: temp snapshot volume names now include ServerName
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: simplified Update(changedConfig)
  internal/server/storage/drivers/driver_truenas.go
Labels: none

api: add storage_driver_truenas extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/storage/truenas: remove nfs support code
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: disable --allow-shrink
  internal/server/storage/drivers/driver_truenas_utils.go
Labels: none

incusd/storage/truenas: retry deleting busy datasets
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

test/storage/truenas: re-enable project limits tests
  test/main.sh
Labels: none

incusd/storage/truenas: stripped block_mode=false support
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: add support for v0.6.1 `locate --create`
  internal/server/storage/drivers/driver_truenas_utils.go
Labels: none

incusd/storage/truenas: enable remote driver functionality
  internal/server/storage/drivers/driver_truenas.go
Labels: none

incusd/storage/truenas: fix passing lock by value
  internal/server/storage/drivers/driver_truenas.go
Labels: none

incusd/storage/truenas: add truenas.force_reuse property
  internal/server/storage/drivers/driver_truenas.go
Labels: none

incusd/storage: remove spurious cr
  shared/archive/archive.go
Labels: none

incusd/storage/truenas: removed truenas.block_mode
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: remove TODO
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: stripped DeleteVolumeSnapshotOld
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: replace zfs.* props with truenas.* props
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

test/storage/truenas: add stub truenas storage driver test
  test/main.sh
Labels: none

typo: TrueBAS -> TrueNAS
  test/backends/truenas.sh
Labels: none

incusd/storage/truenas: add --allow-shrink
  internal/server/storage/drivers/driver_truenas_utils.go
Labels: none

incusd/storage/truenas: remove needsRecursion
  internal/server/storage/drivers/driver_truenas_utils.go
Labels: none

test/storage/truenas: disabled flaky test
  test/main.sh
Labels: none

incusd/storage/truenas: remove SetVolumeQuotaOld
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: UnmountVolumeSnapshot now deletes and deactivates shares
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: pickup missed changes from merge
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
  shared/archive/archive.go
Labels: none

incusd/storage/truenas: refactor properties, add support for tool v0.6, --allow-shrinking
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: replace calls to fmt.Errorf with errors.New where possible
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: optimize snapshot name handling
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

test/truenas: fix lint
  test/backends/truenas.sh
Labels: none

test/truenas: restore main.sh to master
  test/main.sh
Labels: none

doc/truenas: lint Signed-off-by: Stuart Espey <stuart.espey@mactrix.com>
  doc/howto/storage_pools.md
Labels: Documentation

incusd/storage/truenas: de-lint
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

typo: fix typos from codespell.sh
  doc/howto/storage_pools.md
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: Documentation

lint: functional blocks are followed by newlines
  internal/server/storage/drivers/driver_truenas.go
  internal/server/storage/drivers/driver_truenas_utils.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

incusd/storage/truenas: fix import lint
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

tests/truenas: add main-tn.sh
  test/main-tn.sh
Labels: none

incusd/storage/truenas: update min version to 0.6.3
  internal/server/storage/drivers/driver_truenas_utils.go
Labels: none

incusd/storage/truenas: de-lint oneline assign & test
  internal/server/storage/drivers/driver_truenas_utils.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
