Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Indonesian)
  po/id.po
Labels: none

Translated using Weblate (Indonesian)
  po/id.po
Labels: none

Translated using Weblate (Japanese)
  po/ja.po
Labels: none

Translated using Weblate (Indonesian)
  po/id.po
Labels: none

Translated using Weblate (Japanese)
  po/ja.po
Labels: none

Translated using Weblate (Japanese)
  po/ja.po
Labels: none

Translated using Weblate (Japanese)
  po/ja.po
Labels: none

Translated using Weblate (Swedish)
  po/sv.po
Labels: none

Translated using Weblate (Swedish)
  po/sv.po
Labels: none

Translated using Weblate (Swedish)
  po/sv.po
Labels: none

Translated using Weblate (Japanese)
  po/ja.po
Labels: none

incusd/metrics: Rename incus_storage_pool_total_bytes to incus_storage_pool_size_bytes
  cmd/incusd/api_metrics.go
  doc/reference/provided_metrics.md
  internal/server/metrics/types.go
Labels: Documentation

Translated using Weblate (Japanese)
  po/ja.po
Labels: none

incusd/seccomp: Handle syscalls from non-leader threads
  internal/server/seccomp/seccomp.go
Labels: none

incusd/instance/lxc: Stop the DHCP client from the stop hook
  internal/server/instance/drivers/driver_lxc.go
Labels: none

shared/tls: Use first successful connection in RFC3493Dialer
  shared/tls/tls.go
Labels: none

incusd/instances/common: Fix typo
  internal/server/instance/drivers/driver_common.go
Labels: none

incusd/device: Handle CIDR values in NIC ipv4.address/ipv6.address
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
  internal/server/device/proxy.go
Labels: none

incusd/network: Handle CIDR values in NIC ipv4.address/ipv6.address
  internal/server/network/driver_bridge.go
  internal/server/network/driver_ovn.go
  internal/server/network/network_utils.go
Labels: none

client: Only retry TLS dial on certificate verification errors
  client/util.go
Labels: none

incusd/network/ovn: Tolerate stop failures during network deletion
  internal/server/network/driver_ovn.go
Labels: none

incusd/device/nic_ovn: Guard cleanup against unavailable network
  internal/server/device/nic_ovn.go
Labels: none

incusd/networks: Run driver deletion for locally pending networks
  cmd/incusd/networks.go
Labels: none

incusd: Honor target parameter in bitmap endpoints
  cmd/incusd/storage_volumes_bitmap.go
Labels: none

incusd/cluster: Resolve instance volumes by name in ConnectIfVolumeIsRemote
  internal/server/cluster/connect.go
Labels: none

incus/console: Escape spaces in SPICE console socket URI
  cmd/incus/console.go
Labels: none

incus: Don't persist INCUS_REMOTE as the default remote
  cmd/incus/remote.go
  shared/cliconfig/config.go
  shared/cliconfig/file.go
Labels: none

incusd/storage/s3: Support conditional writes
  internal/server/storage/s3/local/multipart.go
  internal/server/storage/s3/local/object.go
  internal/server/storage/s3/types.go
Labels: none

incusd/instance/qmp: Rework block job monitoring
  internal/server/instance/drivers/qmp/commands.go
  internal/server/instance/drivers/qmp/qmp.go
Labels: none

incusd/instance/qmp: Remove unused event channel logic
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

incusd/instance/qemu: Harden ephemeral snapshot teardown
  internal/server/instance/drivers/driver_qemu.go
Labels: none

client: Always set TLS ServerName on dial
  client/util.go
Labels: none

api: Add gpu_native_context extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/device: Add native-context GPU device type
  internal/server/device/device_load.go
  internal/server/device/gpu.go
  internal/server/device/gpu_native_context.go
Labels: none

incusd/instance/drivers: Support native-context GPU in QEMU
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incusd: Fix race between forkfile cleanup and respawn
  internal/server/instance/drivers/driver_lxc.go
  internal/server/storage/drivers/volume.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
