Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/network/ovn: Add support for child networks
  internal/server/device/nic_ovn.go
  internal/server/network/driver_ovn.go
Labels: none

incusd/instance/lxc: Use IsRootDiskDevice in diskState
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/seccomp: Retry pidfd_open with PIDFD_THREAD on ENOENT
  internal/server/seccomp/seccomp.go
Labels: none

incusd/network/ovn: Don't load a self-referencing parent
  internal/server/network/driver_ovn.go
Labels: none

incus/server/storage/driver/ceph: Flatten image in background during instance creation
  internal/server/storage/drivers/driver_ceph_utils.go
  internal/server/storage/drivers/driver_ceph_volumes.go
Labels: none

incusd/storage/ceph: Only flatten clones and wait for it before deleting
  internal/server/storage/drivers/driver_ceph_utils.go
  internal/server/storage/drivers/driver_ceph_volumes.go
Labels: none

incusd/storage/ceph: Release the source snapshot after flattening
  internal/server/storage/drivers/driver_ceph_utils.go
  internal/server/storage/drivers/driver_ceph_volumes.go
Labels: none

incusd/storage/ceph: Describe background flattening for ceph.rbd.clone_copy
  internal/server/storage/drivers/driver_ceph.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

tests: Cover ceph.rbd.clone_copy=false copies
  test/suites/migration.sh
Labels: none

incusd/db: Add network peer group membership functions
  internal/server/db/network_peer_groups.go
Labels: none

incus/network: Add peer-group command
  cmd/incus/network.go
  cmd/incus/network_peer_group.go
  cmd/incus/usage/usage.go
Labels: none

client: Add network peer group functions
  client/incus_network_peer_groups.go
  client/interfaces.go
Labels: none

incusd/db/cluster: Add network_peer_groups tables
  internal/server/db/cluster/schema.go
  internal/server/db/cluster/update.go
Labels: none

incusd/network: Add peer group support to network drivers
  internal/server/network/driver_common.go
  internal/server/network/driver_ovn.go
  internal/server/network/network_interface.go
Labels: none

shared/api: Add network peer groups
  shared/api/network_peer_group.go
Labels: API

incusd/db/cluster: Add generated DB code for network peer groups
  internal/server/db/cluster/network_peer_groups.go
  internal/server/db/cluster/network_peer_groups.interface.mapper.go
  internal/server/db/cluster/network_peer_groups.mapper.go
Labels: none

api: Add network_peer_groups extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/auth: Add network peer group functions
  cmd/incusd/daemon.go
  internal/server/auth/authorization.go
  internal/server/auth/authorization_objects.go
  internal/server/auth/authorization_types.go
  internal/server/auth/driver_common.go
  internal/server/auth/driver_openfga.go
  internal/server/auth/driver_openfga_model.go
  internal/server/auth/driver_openfga_model.openfga
  internal/server/auth/router.go
Labels: none

incusd: Add network peer group API
  cmd/incusd/api_1.0.go
  cmd/incusd/network_peer_groups.go
Labels: none

shared/api: Add lifecycle events for network peer groups
  shared/api/event_lifecycle.go
Labels: API

tests: Add network peer group tests
  test/main.sh
  test/suites/network_peer_groups.sh
Labels: none

doc: add network peer group documentation
  doc/howto/network_configure.md
  doc/howto/network_ovn_peer_groups.md
  doc/reference/network_ovn.md
  doc/rest-api.yaml
Labels: API, Documentation

incusd/lifecycle: Add network peer group events
  internal/server/lifecycle/network_peer_group.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

api: Add disk_initial_copy extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/storage: Add volatile.initial.copied volume key
  internal/server/storage/utils.go
Labels: none

incusd/device/disk: Add initial.copy for custom volumes
  internal/server/device/disk.go
  internal/server/device/disk_initial_copy.go
Labels: none

incusd/instance/lxc: Allow adding initial.copy disks to existing instances
  internal/server/instance/drivers/driver_lxc.go
Labels: none

tests: Add initial.copy disk test
  test/suites/container_devices_disk.sh
Labels: none

doc: Document initial.copy
  doc/reference/devices_disk.md
Labels: Documentation

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

client/oci: Expose OCI image labels as oci.* image properties
  client/oci_images.go
Labels: none

tests: Cover OCI image labels
  test/suites/container_oci.sh
Labels: none

incusd/profiles: Check project restrictions on profile creation
  cmd/incusd/profiles.go
  internal/server/project/permissions.go
  internal/server/project/permissions_test.go
Labels: none

incusd/network/ovn: Route child networks through the parent's peerings
  internal/server/network/driver_ovn.go
Labels: none

incusd/network/acl: Match the child networks of a peer
  internal/server/network/acl/acl_ovn.go
Labels: none

incusd/network/ovn: Allow NAT addresses on child networks
  internal/server/network/driver_ovn.go
Labels: none

tests: Cover peering and NAT addresses with OVN child networks
  test/suites/network_ovn.sh
Labels: none

doc: Document peering and NAT addresses on OVN child networks
  doc/howto/network_ovn_peers.md
  doc/reference/network_ovn.md
Labels: Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
