Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/patches: Regenerate OVN ACL rules for address set matching
  cmd/incusd/patches.go
Labels: none

incus/low-level: Add secureboot export subcommand
  cmd/incus/low_level.go
Labels: none

incus/low-level: Add bundle support in secureboot add
  cmd/incus/low_level.go
Labels: none

incus/low-level: Add secureboot import subcommand
  cmd/incus/low_level.go
Labels: none

tests: Improve low-level secureboot coverage
  test/suites/nvram_vm.sh
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/firewall/nftables: Allow EUI-64 link-local address with IPv6 filtering
  internal/server/firewall/drivers/drivers_nftables.go
Labels: none

tests: Check link-local handling with IPv6 filtering
  test/suites/container_devices_nic_bridged_filtering.sh
Labels: none

incusd/ip: Add QdiscGeneric
  internal/server/ip/qdisc_generic.go
Labels: none

incusd/instance: Add CPUUsage
  internal/server/instance/instance_utils.go
Labels: none

incusd/network: Add GetTXQueueCount
  internal/server/network/network_utils.go
Labels: none

api: device_queue_disc
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/device: Add support for nic queuing disciplines
  internal/server/device/device_utils_network.go
  internal/server/device/nic.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_p2p.go
  internal/server/device/nic_routed.go
  internal/server/device/qdisc_test.go
Labels: none

doc: Document queuing disciplines
  doc/reference/devices_nic.md
Labels: Documentation

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

tests: Add tests for nic queuing disciplines
  test/suites/container_devices_nic_bridged.sh
  test/suites/container_devices_nic_p2p.sh
Labels: none

shared/tls: Don't duplicate issuer certificates in ACME chain
  shared/tls/acme.go
Labels: none

incusd/network/ovn: Don't wait forever for database reconnection
  internal/server/network/ovn/client.go
  internal/server/network/ovn/ovn_icnb.go
  internal/server/network/ovn/ovn_icsb.go
  internal/server/network/ovn/ovn_nb.go
  internal/server/network/ovn/ovn_sb.go
Labels: none

shared/cmd: Modernize table look
  shared/cmd/table.go
Labels: none

shared/cmd: Prevent merging the last column
  shared/cmd/table.go
Labels: none

doc: Use new table layout
  doc/authentication.md
  doc/howto/cluster_manage.md
  doc/howto/disaster_recovery.md
  doc/howto/incus_alias.md
  doc/howto/network_ipam.md
  doc/howto/network_ovn_setup.md
  doc/howto/projects_work.md
  doc/reference/storage_linstor_internals.md
Labels: Documentation

tests: Reduce assumptions on list format
  test/includes/setup.sh
  test/suites/clustering.sh
  test/suites/image_auto_update.sh
  test/suites/image_prefer_cached.sh
  test/suites/image_profiles.sh
Labels: none

doc: Use new key=value syntax
  doc/faq.md
  doc/howto/cluster_manage.md
  doc/howto/instances_routed_nic_vm.md
  doc/howto/network_bridge_firewalld.md
  doc/howto/network_integrations.md
  doc/howto/storage_backup_volume.md
  doc/howto/storage_buckets.md
  doc/howto/storage_pools.md
  doc/howto/storage_volumes.md
  doc/metrics.md
Labels: Documentation

shared/uefi: Correctly handle padded VARS files
  shared/uefi/store.go
Labels: none

client: Add RawQueryWithHeaders
  client/incus.go
  client/interfaces.go
Labels: none

incus/query: Add --header flag
  cmd/incus/query.go
  cmd/incus/query_test.go
Labels: none

test: Add test for query --header
  test/suites/query.sh
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incus/oci: Don't URL-escape credentials in skopeo authfile
  client/oci_images.go
Labels: none

incusd/network: Switch to backoff/v7
  go.mod
  go.sum
  internal/server/network/ovn/ovn_icnb.go
  internal/server/network/ovn/ovn_icsb.go
  internal/server/network/ovn/ovn_nb.go
  internal/server/network/ovn/ovn_sb.go
  internal/server/network/ovs/ovs.go
Labels: none

incus: Switch to go-viper/mapstructure/v2
  cmd/incus/utils_properties.go
  go.mod
  go.sum
Labels: none

incusd/device: Switch to gopacket/gopacket
  go.mod
  go.sum
  internal/server/device/nic_bridged.go
Labels: none

Update gomod
  go.mod
  go.sum
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd/storage/zfs: Reset host-facing properties of delegated datasets
  internal/server/storage/drivers/driver_zfs_utils.go
  internal/server/storage/drivers/driver_zfs_volumes.go
Labels: none

tests: Check properties of delegated ZFS datasets
  test/suites/storage_driver_zfs.sh
Labels: none

doc/storage/zfs: Document dataset delegation
  doc/reference/storage_zfs.md
Labels: Documentation

incus-agent: Abstract exec process handling
  cmd/incus-agent/exec.go
  cmd/incus-agent/os_bsd.go
  cmd/incus-agent/os_linux.go
  cmd/incus-agent/os_windows.go
Labels: none

incus-agent: Report exit status of Windows exec sessions
  cmd/incus-agent/os_windows.go
Labels: none

incus-agent: Fix PATHEXT for Windows exec sessions
  cmd/incus-agent/os_windows.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
