Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incus/low-level: Add secureboot remove subcommand
  cmd/incus/low_level.go
Labels: none

incus/low-level: Add secureboot add subcommand
  cmd/incus/low_level.go
Labels: none

incus/low-level: Fix unmarshalling to nil pointer
  cmd/incus/low_level.go
Labels: none

incus/low-level: Simplify default NVRAM list cols
  cmd/incus/low_level.go
Labels: none

incus/low-level: Add column description for nvram list
  cmd/incus/low_level.go
Labels: none

incus/low-level: Fix repair autocomplete
  cmd/incus/low_level.go
Labels: none

incus/config_trust: Add full fingerprint column
  cmd/incus/config_trust.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/instance_post: Skip unchecked err
  cmd/incusd/instance_post.go
Labels: none

golangci: Tweak static-check
  .golangci.yml
Labels: none

generate-database: Fix test on Go 1.27
  cmd/generate-database/db/parse_test.go
Labels: none

incusd/device: Add support for disk burst limits
  internal/server/device/burst_limits_test.go
  internal/server/device/config/device_runconfig.go
  internal/server/device/disk.go
  internal/server/device/unix_block_limits.go
Labels: none

incusd/instance/drivers: Add support for disk burst limits
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/qmp/commands.go
Labels: none

tests: Add tests for disk burst limits
  test/suites/storage_disks_vm.sh
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

api: device_burst_limits
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc: Add documentation for disk burst limits
  doc/howto/storage_volumes.md
Labels: Documentation

incus/query: Add --data-file flag
  cmd/incus/query.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/device: Use network project for address set refresh on bridged NIC
  internal/server/device/nic_bridged.go
Labels: none

shared/uefi: Sort GUIDs by name
  shared/uefi/vars.go
Labels: none

shared/uefi: Implement PlatformConfig dissector
  shared/uefi/dissectors.go
  shared/uefi/guid.go
  shared/uefi/vars.go
Labels: none

shared/uefi: Keep non-NV_VARIABLE_STORE regions
  shared/uefi/store.go
Labels: none

shared/uefi: Refactor Boot#### variable name parsing
  shared/uefi/dissectors.go
  shared/uefi/util.go
  shared/uefi/vars.go
Labels: none

shared/uefi: Implement BootNext dissector
  shared/uefi/dissectors.go
  shared/uefi/vars.go
Labels: none

shared/uefi: Make Boot public
  shared/uefi/dissectors.go
Labels: none

incus/start: Add --override-boot flag
  cmd/incus/action.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

api: Add network_ipv6_ra extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/network/bridge: Add ipv6.ra config key
  internal/server/network/driver_bridge.go
Labels: none

incusd/network/ovn: Add ipv6.ra config key
  internal/server/network/driver_ovn.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/project: Add support for networks shared through restricted.networks.access
  internal/server/project/project.go
Labels: none

incusd: Handle networks shared through restricted.networks.access
  cmd/incusd/api_internal_recover.go
  cmd/incusd/daemon.go
  cmd/incusd/networks.go
Labels: none

incusd/device: Resolve shared networks for NIC devices
  internal/server/device/nic_ovn.go
  internal/server/device/nic_physical.go
  internal/server/device/nictype/nictype.go
Labels: none

incusd/network: Account for shared networks in usage checks
  internal/server/network/driver_bridge.go
  internal/server/network/driver_ovn.go
  internal/server/network/network_utils.go
Labels: none

incusd: Validate restricted.networks.access against project networks
  cmd/incusd/api_project.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

tests: Add coverage for shared networks in projects
  test/suites/network_ovn.sh
Labels: none

incusd/auth: Add network shares to the authorizer interface
  internal/server/auth/authorization.go
  internal/server/auth/authorization_types.go
  internal/server/auth/driver_common.go
  internal/server/auth/router.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
