Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/firewall: Add address set support
  internal/server/firewall/drivers/drivers_consts.go
  internal/server/firewall/drivers/drivers_nftables.go
  internal/server/firewall/drivers/drivers_xtables.go
  internal/server/firewall/firewall_interface.go
Labels: none

incusd/projects: Clear address sets on delete
  cmd/incusd/api_project.go
Labels: none

incusd/network/address-set: Add new API
  cmd/incusd/api_1.0.go
  cmd/incusd/network_address_sets.go
  internal/server/network/address-set/address_set_firewall.go
  internal/server/network/address-set/address_set_interface.go
  internal/server/network/address-set/address_set_load.go
  internal/server/network/address-set/address_set_ovn.go
  internal/server/network/address-set/address_set_validation.go
  internal/server/network/address-set/driver_common.go
Labels: none

incusd/device/nic/ovn: Handle address set when cleaing ACLs
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
  internal/server/network/driver_ovn.go
Labels: none

client: Add network address set functions
  client/incus_network_address_sets.go
  client/interfaces.go
Labels: none

incus: Add network address-set sub-command
  cmd/incus/completion.go
  cmd/incus/network.go
  cmd/incus/network_address_set.go
Labels: none

tests: Add tests for address sets
  test/main.sh
  test/suites/network_address_set.sh
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc/support: Update feature release version
  doc/support.md
Labels: Documentation

incusd/instance: Don't enforce device/config validation on snapshots
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

api: instance_oci_entrypoint
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

internal/instance: Add OCI entrypoint configuration
  internal/instance/config.go
Labels: none

incusd/instance/lxc: Add OCI entrypoint configuration
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/instance: Set instance OCI config from OCI data
  cmd/incusd/instance.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

Release Incus 6.11
  internal/version/flex.go
Labels: none

doc: Fix missing OCI section
  doc/reference/instance_options.md
Labels: Documentation

internal/instance: Tweak wording
  internal/instance/config.go
Labels: none

doc: Update config
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incus/utils: Added support for server-side filtering by instance name
  cmd/incus/utils.go
Labels: none

incus/list: Added support for server-side filtering by instance name
  cmd/incus/list.go
Labels: none

incus/image: Adjustments made after modifying getServerSupportedFilters
  cmd/incus/image.go
Labels: none

tests: Adjustments made after modifying getServerSupportedFilters
  cmd/incus/list_test.go
  cmd/incus/utils_test.go
Labels: none

doc: Fix config option reference on LINSTOR driver
  doc/reference/storage_linstor.md
Labels: Documentation

Updating globally address set load/unload functions
  internal/server/device/nic_ovn.go
  internal/server/network/acl/driver_common.go
  internal/server/network/address-set/address_set_load.go
  internal/server/network/address-set/address_set_ovn.go
  internal/server/network/driver_bridge.go
  internal/server/network/driver_ovn.go
Labels: none

incusd/instance/lxc: Fix max gid when in a privileged container
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/instance/qmp: Add MachineDefinition function
  internal/server/instance/drivers/qmp/commands.go
Labels: none

internal/instance: Add volatile.vm.definition
  internal/instance/config.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/instance/qemu: Use saved machine definition when restoring running VM
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incusd/instance/qemu: Handle firmware vars name matching internal one
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd: Switch MAC generation to Zabbly prefix
  internal/server/instance/instance_utils.go
  internal/server/network/network_utils.go
Labels: none

incusd: Switch to new MAC prefix
  internal/server/db/instances_test.go
  internal/server/endpoints/network_util_test.go
Labels: none

doc: Switch to new MAC prefix
  doc/howto/disaster_recovery.md
  doc/howto/network_ipam.md
  doc/howto/network_ovn_setup.md
  doc/howto/network_zones.md
  doc/howto/server_expose.md
  doc/howto/server_migrate_lxd.md
Labels: Documentation

incus: Switch to new MAC prefix
  cmd/incus/config.go
  cmd/incus/list.go
  cmd/incus/list_test.go
Labels: none

lxc-to-incus: Switch to new MAC prefix
  cmd/lxc-to-incus/main_migrate_test.go
Labels: none

shared/api: Switch to new MAC prefix
  shared/api/instance_state.go
  shared/api/network.go
Labels: API

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
