Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/instances: Use /tmp for temporary screenshot storage
  cmd/incusd/instance_console.go
  internal/server/apparmor/instance.go
  internal/server/apparmor/instance_qemu.profile.go
Labels: none

client/oci: Use SHA256 of combined layers as digest
  client/oci_images.go
Labels: none

shared/ioprogress: Cap download speed to file size
  internal/server/operations/util.go
  shared/archive/archive.go
  shared/ioprogress/tracker.go
Labels: none

incusd/network/acl: Only refresh bridge network rules if ACL is directly used
  internal/server/network/acl/driver_common.go
Labels: none

incusd/device/pci: Don't attempt to bind to current driver
  internal/server/device/pci/pci.go
Labels: none

incusd/instance/lxc: Tweak seccomp category
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

Release Incus 6.19
  internal/version/flex.go
Labels: none

api: More precise name for test
  shared/api/config_test.go
Labels: API

api: Add DevicesMap typ to better support unmarshaling
  shared/api/devices.go
  shared/api/devices_test.go
Labels: API

api: Use DevicesMap type for map[string]map[string]string
  shared/api/instance.go
  shared/api/instance_snapshot.go
  shared/api/profile.go
Labels: API

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

tests/storage/linstor: Use correct command to check on snapshots
  test/suites/storage_driver_linstor.sh
Labels: none

shared/archive: Fix crash on nil tracker
  shared/archive/archive.go
Labels: none

Release Incus 6.19.1
  internal/version/flex.go
Labels: none

Translated using Weblate (Portuguese)
  po/pt.po
Labels: none

agent-loader/install-linux.sh Fix SELinux issue with agent run path
  internal/server/instance/drivers/agent-loader/install-linux.sh
Labels: none

incusd/device/nic: Fix link to instances-limit-units
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
  internal/server/device/nic_p2p.go
  internal/server/device/nic_routed.go
Labels: none

doc: fix instances-limit-units reference links
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

Added default environment variables for the Windows agent.
  cmd/incus-agent/os_windows.go
Labels: none

instance/drivers/driver_common: Fix cat order bug in selinuxContext()
  internal/server/instance/drivers/driver_common.go
Labels: none

Added translation using Weblate (Swedish)
  po/sv.po
Labels: none

Translated using Weblate (Swedish)
  po/sv.po
Labels: none

Translated using Weblate (Swedish)
  po/sv.po
Labels: none

incusd/instance/lxc: Generate a stable MAC for managed physical bridged networks
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/storage/drivers: Add utils for qcow2 manipulation
  internal/server/storage/drivers/utils_qcow2.go
Labels: none

incusd/storage/drivers: Add 'block.type' config and additional validation checks
  internal/server/storage/drivers/driver_lvm.go
  internal/server/storage/drivers/driver_lvm_volumes.go
Labels: none

incusd/storage: Implement the creation of qcow2 formatted volumes when on lvmcluster
  internal/server/storage/backend.go
  internal/server/storage/drivers/driver_lvm.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/driver_types.go
  internal/server/storage/drivers/generic_vfs.go
  internal/server/storage/utils.go
Labels: none

incusd/instance/drivers/qmp: Add QueryNamedBlockNodes and ChangeBackingFile
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/storage/drivers: Add support for activating and deactivating qcow2-formatted volumes
  internal/server/storage/drivers/driver_lvm_utils.go
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Swedish)
  po/sv.po
Labels: none

Added new Windows environment variable 'SystemDrive'
  cmd/incus-agent/os_windows.go
Labels: none

incus/create: Allow reading Ephemeral flag from stdin
  cmd/incus/create.go
Labels: none

incusd/device/nic_physical: Fix VLAN for VMs
  internal/server/device/nic_physical.go
Labels: none

tests/incremental_copy: Disable under Linstor
  test/suites/incremental_copy.sh
Labels: none

incusd/storage/drivers: Add support for the qcow2 config filesystem snapshots
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/volume.go
Labels: none

incusd/storage: Add 'BackingPath' to track backing chain for qcow2 volumes
  internal/server/storage/pool_interface.go
Labels: none

incusd/instance: Add support for creating qcow2 snapshots while instance is running
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
Labels: none

incusd/instance/drivers: Add support for running instances from a backing chain
  internal/server/instance/drivers/driver_qemu.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
