Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/device/gpu: Added gendoc comments
  internal/server/device/gpu_mdev.go
  internal/server/device/gpu_mig.go
  internal/server/device/gpu_physical.go
  internal/server/device/gpu_sriov.go
Labels: none

doc: Updated configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Use gendoc for gpu
  doc/reference/devices_gpu.md
Labels: Documentation

incusd/device/nic_bridged: Port to gendoc
  internal/server/device/nic_bridged.go
Labels: none

incusd/device/nic_macvlan: Port to gendoc
  internal/server/device/nic_macvlan.go
Labels: none

incusd/device/nic_sriov: Port to gendoc
  internal/server/device/nic_sriov.go
Labels: none

incusd/device/nic_ovn: Port to gendoc
  internal/server/device/nic_ovn.go
Labels: none

incusd/device/nic_physical: Port to gendoc
  internal/server/device/nic_physical.go
Labels: none

incusd/device/nic_ipvlan: Port to gendoc
  internal/server/device/nic_ipvlan.go
Labels: none

incusd/device/nic_p2p: Port to gendoc
  internal/server/device/nic_p2p.go
Labels: none

incusd/device/nic_routed: Port to gendoc
  internal/server/device/nic_routed.go
Labels: none

doc/devices_nic: Update to use gendoc
  doc/reference/devices_nic.md
Labels: Documentation

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

incusd/device: Replace j-keck/arping with mdlayher/arp
  internal/server/device/device_utils_network.go
Labels: none

Makefile: Hold back go-jose
  Makefile
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

incusd/sys: Remove gocapability dependency
  internal/server/sys/apparmor.go
  internal/server/sys/apparmor_test.go
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

incusd/server/device/infiniband: Added gendoc for parent, mtu, hwaddr
  internal/server/device/infiniband_physical.go
Labels: none

incusd/device/device_load.go: Added gendoc for nicType
  internal/server/device/device_load.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Use gendoc for infiniband
  doc/reference/devices_infiniband.md
Labels: Documentation

shared/validate: Move to adhocore/gronx
  shared/validate/validate.go
Labels: none

incusd: Move to adhocore/gronx
  cmd/incusd/snapshot_common.go
  cmd/incusd/snapshot_common_test.go
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

incus/storage: Correct help messsage for `incus storage list`
  cmd/incus/storage.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
Labels: none

api/scriptlet: Add yaml struct tags
  shared/api/scriptlet/instance.go
Labels: API

incusd/storage/migration: Check instance size during migration
  internal/server/storage/backend.go
Labels: none

incusd/device/disk: Fix registration of custom volumes
  internal/server/device/disk.go
Labels: none

client: Add server-side filtering for profiles
  client/incus_profiles.go
  client/interfaces.go
Labels: none

incus/profile: Use server-side filtering
  cmd/incus/profile.go
Labels: none

Fix reference passing when yaml unmarshal
  cmd/incus-agent/templates.go
  internal/server/instance/drivers/driver_qemu.go
  shared/cliconfig/file.go
Labels: none

Limit new() calls
  cmd/incus-agent/templates.go
  cmd/incus/utils_properties_test.go
  cmd/incus/utils_test.go
  cmd/incusd/api_cluster_evacuation.go
  cmd/incusd/instance_test.go
  cmd/incusd/snapshot_common_test.go
  internal/cmd/sort_test.go
  internal/instancewriter/instance_tar_writer.go
  internal/server/auth/authorization_objects_test.go
  internal/server/db/db_internal_test.go
  internal/server/dns/handler.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/version/version_test.go
  shared/osarch/release_test.go
  shared/util/struct.go
Labels: none

incusd/network/bridge: Fix children interface delete issue
  internal/server/network/driver_bridge.go
Labels: none

doc/reference/instance: Clarify VM memory behavior
  doc/reference/instance_options.md
Labels: Documentation

incus/admin/init: Allow passing a file to --preseed
  cmd/incus/admin_init.go
  cmd/incus/admin_init_preseed.go
Labels: none

incusd/network/ovn: Notify whole cluster on uplink changes
  internal/server/network/driver_ovn.go
Labels: none

incus: Use a random image in first use message
  cmd/incus/main.go
Labels: none

incus-benchmark: Replace default distro
  cmd/incus-benchmark/main_init.go
  cmd/incus-benchmark/main_launch.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
