Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

incusd/storage/drivers: Handle 4k sector sizes
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/drivers/driver_lvm_utils.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/utils.go
Labels: none

incusd/dnsmasq: Don't put the project name in the DNS record
  internal/server/dnsmasq/dnsmasq.go
Labels: none

incusd/device/disk: disable 9p if idmap requested
  internal/server/device/disk.go
Labels: none

incusd/scriptlet/qemu: Add QEMU configuration getters
  internal/server/instance/drivers/driver_qemu.go
  internal/server/scriptlet/load/load.go
  internal/server/scriptlet/qemu.go
Labels: none

incusd/scriptlet/qemu: Add QEMU configuration setters
  internal/server/scriptlet/load/load.go
  internal/server/scriptlet/qemu.go
Labels: none

api: qemu_scriptlet_config
  doc/api-extensions.md
Labels: API, Documentation

doc/ref/instance_options: Update QEMU scriptlet documentation
  doc/reference/instance_options.md
Labels: Documentation

incusd/instance: Update unit test
  internal/server/instance/drivers/driver_qemu_config_test.go
Labels: none

incusd/instance/drivers: Introduce ReloadDevice
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
Labels: none

api: network_bridge_acl_devices
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/device/nic: ACL support for bridge NIC device
  internal/server/device/nic_bridged.go
Labels: none

incusd/server/firewall: ACL for bridge NIC device
  internal/server/firewall/drivers/drivers_nftables.go
  internal/server/firewall/drivers/drivers_nftables_templates.go
  internal/server/firewall/drivers/drivers_xtables.go
  internal/server/firewall/firewall_interface.go
  internal/server/network/acl/acl_bridge.go
  internal/server/network/acl/acl_firewall.go
  internal/server/network/acl/acl_load.go
  internal/server/network/acl/driver_common.go
Labels: none

doc/device/nic: Add ACL support to bridge NICs
  doc/reference/devices_nic.md
Labels: Documentation

doc/network_acl: Document usage with bridged NICs
  doc/howto/network_acls.md
Labels: Documentation

tests: nftable test with ACL rules
  test/suites/container_devices_nic_bridged_filtering.sh
Labels: none

github: Switch to Github's hosted arm64 runners
  .github/actions/testsuite/action.yml
  .github/workflows/tests.yml
Labels: none

doc: typo
  doc/config_options.txt
  internal/instance/config.go
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Updated storage_zfs.md
  doc/reference/storage_zfs.md
Labels: Documentation

incusd/device/disk: Update correct mount options
  internal/server/device/disk.go
Labels: none

incus/file/pull: Port to SFTP
  cmd/incus/file.go
Labels: none

api: instance_debug_memory
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/instances/qemu: Add vmcoreinfo device
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incusd/instances/qemu: Add dump-guset-memory implementation for instance memory debugging
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/qmp/commands.go
  internal/server/instance/instance_interface.go
Labels: none

incusd: Add GET /1.0/instances/NAME/debug/memory
  cmd/incusd/api_1.0.go
  cmd/incusd/instance_debug.go
  cmd/incusd/instances.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

client: Add API implementation for instance memory debugging
  client/incus_instances.go
  client/interfaces.go
Labels: none

incus: Add "debug dump-memory" command
  cmd/incus/debug.go
  cmd/incus/main.go
Labels: none

doc: Force white background for swagger API
  doc/.sphinx/_static/swagger-override.css
Labels: Documentation

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
Labels: none

gomod: Update dependencies
  go.mod
  go.sum
Labels: none

client: Add storage volume initialization
  client/incus_server.go
Labels: none

shared/api: Add storage volume initialization
  shared/api/init.go
Labels: API

doc: Include storage initialization example
  doc/howto/initialize.md
Labels: Documentation

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

tests: Include storage volume to init test
  test/suites/init_preseed.sh
Labels: none

incusd/instance/qemu: Fix device_id warning on 9.2.x
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incus: Fix example description for debug dump-memory command
  cmd/incus/debug.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/instance/drivers/qmp: Handle missing log directory
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

Release Incus 6.9
  internal/version/flex.go
Labels: none
