Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/network/bridge: Fix deletion of tunnels and dummy devices
  internal/server/device/nic_macvlan.go
  internal/server/ip/link.go
  internal/server/network/driver_bridge.go
Labels: none

incusd/storage/linstor: Linstor client setup
  go.mod
  go.sum
  internal/server/storage/linstor/linstor.go
Labels: none

incusd/storage/linstor: Remove mount path for filesystem volumes
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incus/storage: implement the Filler function for Linstor volumes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Add common volume config validation
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Linstor driver documentation
  doc/.wordlist.txt
  doc/explanation/storage.md
  doc/reference/storage_ceph.md
  doc/reference/storage_drivers.md
  doc/reference/storage_linstor.md
Labels: Documentation

incusd/storage/linstor: Add mount and unmount support for volumes
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/state: Add Linstor client to server state
  internal/server/state/state.go
Labels: none

cmd/incusd: Trigger Linstor client setup on server config changes
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
Labels: none

incus/storage/linstor: Remove the filesystem volume when deleting a VM
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Volume creation and deletion
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
Labels: none

incusd/storage/linstor: Storage pool creation and deletion
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/load.go
Labels: none

incusd/instance/drivers: Improve NUMA balancing
  internal/server/instance/drivers/driver_common.go
Labels: none

incus/network/info (ovn): Fix object not found.
  internal/server/network/driver_ovn.go
Labels: none

incusd/device/disk: Allow virtiofsd on non-x86
  internal/server/device/device_utils_disk.go
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

incusd/instance/drivers/qemu: Add IOMMU device
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: none

incus/file: Remove unused function
  cmd/incus/file.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incus/network/info (ovn): Fix object not found.
  internal/server/network/driver_ovn.go
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

incusd/instance/drivers: Improve NUMA balancing
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incus/file: Move from path to filepath
  cmd/incus/file.go
Labels: none

github: Add linux-modules-extra (for vrf)
  .github/workflows/tests.yml
Labels: none

shared/archive: Added LZ4 support
  shared/archive/detect.go
Labels: none

api: instance_nic_routed_host_address
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incus/server/ip: Add `Master` parameter for veth and tuntap
  internal/server/ip/link_veth.go
  internal/server/ip/tuntap.go
Labels: none

incus/server/ip: Add VRF parameter for IP Route
  internal/server/ip/route.go
Labels: none

incus/server/device: Add vrf parameter for routed NIC devices
  internal/server/device/device_utils_network.go
  internal/server/device/nic_routed.go
Labels: none

tests: Add test for routed NIC with VRF
  test/suites/container_devices_nic_routed.sh
Labels: none

doc: Add description for routed-nic VRF parameter
  doc/.wordlist.txt
  doc/reference/devices_nic.md
Labels: Documentation

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

Translated using Weblate (Chinese (Simplified Han script))
  po/zh_Hans.po
Labels: none

generate-database: Move into cmd package
  Makefile
  cmd/generate-database/README.md
  cmd/generate-database/db.go
  cmd/generate-database/db/constants.go
  cmd/generate-database/db/lex.go
  cmd/generate-database/db/mapping.go
  cmd/generate-database/db/method.go
  cmd/generate-database/db/parse.go
  cmd/generate-database/db/parse_test.go
  cmd/generate-database/db/schema.go
  cmd/generate-database/db/stmt.go
  cmd/generate-database/file/buffer.go
  cmd/generate-database/file/doc.go
  cmd/generate-database/file/snippet.go
  cmd/generate-database/file/write.go
  cmd/generate-database/lex/case.go
  cmd/generate-database/lex/config.go
  cmd/generate-database/lex/form.go
  cmd/generate-database/lex/lang.go
  cmd/generate-database/lex/parse.go
  cmd/generate-database/lex/parse_test.go
  cmd/generate-database/main.go
  cmd/generate-database/root.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
