Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*

Update gomod
  go.mod
  go.sum
Labels: none

incusd: Use partial device validation when recovering instances
  cmd/incusd/api_internal_recover.go
Labels: none

incusd/network/ovn: Don't require an active chassis when updating tunnels
  internal/server/network/driver_ovn.go
Labels: none

incusd/network: Clean up stale OVS ports on startup
  cmd/incusd/networks.go
  internal/server/network/ovs/ovs_actions.go
Labels: none

incusd/cluster: Honor cluster group during evacuation
  cmd/incusd/api_cluster_evacuation.go
Labels: none

incusd/cluster: Honor restricted cluster groups during evacuation
  cmd/incusd/api_cluster_evacuation.go
Labels: none

incusd/cluster: Improve evacuation and restoration progress reporting
  cmd/incusd/api_cluster_evacuation.go
  cmd/incusd/instance_post.go
Labels: none

Update go.mod
  go.mod
  go.sum
Labels: none

api: instance_nbd
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

client: Add GetInstanceNBDConn
  client/incus_instances.go
  client/interfaces.go
Labels: none

incusd/instances: Add NBD API
  cmd/incusd/api_1.0.go
  cmd/incusd/instance_nbd.go
  cmd/incusd/instances.go
Labels: none

incusd/storage: Implement all-disks NBD function
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
  internal/server/storage/pool_interface.go
Labels: none

incusd/instance/qmp: Add block snapshot transaction and node size helpers
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/instance: Implement ConnectNBDAllDisks
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
Labels: none

incusd/instance/qemu: Use empty NBD export name for single-disk exports
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/qmp/commands.go
Labels: none

incusd/instance/qemu: Report disk usage on stopped instances
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incus/debug: Add NBD command
  cmd/incus/debug.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

incusd/instance/drivers/qmp: Add locking around event handlers
  internal/server/instance/drivers/qmp/monitor.go
Labels: none

incusd/instance/qemu: Fully cleanup the old monitor
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/storage/drivers: Handle sgdisk return codes
  internal/server/storage/drivers/driver_common.go
Labels: none

incusd/auth/oidc: Refactor cookie setting logic
  internal/server/auth/oidc/oidc.go
Labels: none

shared/api: Add Server.Filtered()
  shared/api/server.go
Labels: API

incus/info: Add --show-sensitive
  cmd/incus/info.go
Labels: none

i18n: Update translation templates
  po/de.po
  po/el.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/ka.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: none

incusd/auth/oidc: Set expiration on authentication cookies
  internal/server/auth/oidc/oidc.go
Labels: none

incusd/auth/oidc: Clear cookies on terminal refresh failure
  internal/server/auth/oidc/oidc.go
Labels: none

shared/logger: Add WarnOnError helper
  shared/logger/util.go
Labels: none

incusd/instancewriter: Log deferred errors with WarnOnError
  internal/instancewriter/instance_tar_writer.go
Labels: none

incus: Log deferred errors with WarnOnError
  cmd/incus/console.go
  cmd/incus/exec.go
  cmd/incus/exec_unix.go
  cmd/incus/export.go
  cmd/incus/file.go
  cmd/incus/image.go
  cmd/incus/import.go
  cmd/incus/remote.go
  cmd/incus/storage_bucket.go
  cmd/incus/storage_volume.go
  cmd/incus/storage_volume_file.go
  cmd/incus/utils.go
  cmd/incus/utils_sftp.go
Labels: none

incus-agent: Log deferred errors with WarnOnError
  cmd/incus-agent/events.go
  cmd/incus-agent/main_agent.go
  cmd/incus-agent/os_windows.go
  cmd/incus-agent/sftp.go
  cmd/incus-agent/templates.go
Labels: none

internal/incusos: Log deferred errors with WarnOnError
  internal/incusos/client.go
Labels: none

internal/linux: Log deferred errors with WarnOnError
  internal/linux/discard.go
  internal/linux/filesystem.go
  internal/linux/memory.go
  internal/linux/userns.go
Labels: none

incusd/migration: Log deferred errors with WarnOnError
  internal/migration/wsproto.go
Labels: none

internal/netutils: Log deferred errors with WarnOnError
  internal/netutils/network_linux_cgo.go
Labels: none

internal/rsync: Log deferred errors with WarnOnError
  internal/rsync/rsync.go
Labels: none

incusd/backup: Log deferred errors with WarnOnError
  internal/server/backup/backup_config_utils.go
  internal/server/backup/backup_utils.go
Labels: none

incusd/cgroup: Log deferred errors with WarnOnError
  internal/server/cgroup/init.go
Labels: none

incusd/cluster: Log deferred errors with WarnOnError
  internal/server/cluster/gateway.go
  internal/server/cluster/heartbeat.go
  internal/server/cluster/membership.go
  internal/server/cluster/recover.go
  internal/server/cluster/upgrade.go
Labels: none
