Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

incusd/device: Use tagged switch statements (staticcheck:QF1003)
  internal/server/device/device_utils_unix.go
  internal/server/device/disk.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
  internal/server/device/unix_common.go
  internal/server/device/unix_hotplug.go
  internal/server/device/usb.go
Labels: none

internal/linux: Return error last from GetErrno (revive:error-return)
  cmd/incusd/instance_console.go
  cmd/incusd/main_forkproxy.go
  internal/eagain/file_linux.go
  internal/linux/error.go
  internal/server/device/device_utils_unix.go
Labels: none

internal/linux: Rename devpts_fd parameter (revive:var-naming)
  internal/linux/pty.go
Labels: none

internal/linux: Drop redundant = nil from err declaration (revive:var-declaration)
  internal/linux/socket_linux_cgo.go
Labels: none

internal/linux: Add missing doc comments on exported symbols (revive:exported)
  internal/linux/poll.go
  internal/linux/socket_linux_cgo.go
  internal/linux/userns.go
Labels: none

incusd/apparmor: Add doc comment on nullWriteCloser.Close (revive:exported)
  internal/server/apparmor/qemuimg.go
Labels: none

incusd/apparmor: Omit inferred type from strings.Builder declarations (staticcheck:ST1023)
  internal/server/apparmor/archive.go
  internal/server/apparmor/instance.go
  internal/server/apparmor/instance_forkproxy.go
  internal/server/apparmor/network_dnsmasq.go
  internal/server/apparmor/qemuimg.go
  internal/server/apparmor/rsync.go
Labels: none

incusd/backup: Rename locals that shadow state import (revive:import-shadowing)
  internal/server/backup/backup_config_utils.go
  internal/server/backup/backup_volume.go
Labels: none

incusd/seccomp: Simplify setxattr whiteout check with early return (revive:early-return)
  internal/server/seccomp/seccomp.go
Labels: none

incusd/fsmonitor: Rename local that shadows logger import (revive:import-shadowing)
  internal/server/fsmonitor/load.go
Labels: none

incusd/fsmonitor/drivers: Rename locals that shadow logger import (revive:import-shadowing)
  internal/server/fsmonitor/drivers/common.go
  internal/server/fsmonitor/drivers/interface.go
  internal/server/fsmonitor/drivers/load.go
Labels: none

incusd/fsmonitor/drivers: Add doc comments on exported Name methods (revive:exported)
  internal/server/fsmonitor/drivers/driver_fanotify.go
  internal/server/fsmonitor/drivers/driver_inotify.go
Labels: none

incusd: Add newline after block before switch case (newline-after-block)
  cmd/incusd/main_callhook.go
  cmd/incusd/storage_volumes.go
Labels: none

incusd/device: Add newline after block before switch case (newline-after-block)
  internal/server/device/nic_ovn.go
  internal/server/device/unix_common.go
  internal/server/device/usb.go
Labels: none

incusd/instance/drivers: Add newline after block before switch case (newline-after-block)
  internal/server/instance/drivers/driver_qemu.go
Labels: none

incusd/storage/drivers: Add newline after block before switch case (newline-after-block)
  internal/server/storage/drivers/driver_lvm.go
Labels: none

incus: Add newline after block before switch case (newline-after-block)
  cmd/incus/utils_sftp.go
Labels: none

incus: Inline reflect.Ptr as reflect.Pointer (govet:inline)
  cmd/incus/utils_properties.go
Labels: none

incusd/operations: Inline reflect.Ptr as reflect.Pointer (govet:inline)
  internal/server/operations/util.go
Labels: none

incusd: Omit redundant error type from sentinel var declaration (revive:var-declaration)
  cmd/incusd/instances_post.go
Labels: none

incusd/cluster: Omit redundant error type from sentinel var declaration (revive:var-declaration)
  internal/server/cluster/gateway.go
Labels: none

incusd/dnsmasq/dhcpalloc: Omit redundant error type from sentinel var declaration (revive:var-declaration)
  internal/server/dnsmasq/dhcpalloc/dhcpalloc.go
Labels: none

incusd/instance/operationlock: Omit redundant error type from sentinel var declaration (revive:var-declaration)
  internal/server/instance/operationlock/operationlock.go
Labels: none

test/lint: Run full golangci-lint instead of only new changes
  test/lint/golangci.sh
Labels: none

api: storage_volumes_rebuild
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

incusd/storage: Add RebuildCustomVolume to pool backend
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
  internal/server/storage/pool_interface.go
Labels: none

shared/api: Add StorageVolumeRebuildPost
  shared/api/storage_pool_volume.go
Labels: API

incusd/storage: Add storage volume rebuild API endpoint
  cmd/incusd/api_1.0.go
  cmd/incusd/storage_volumes_rebuild.go
  internal/server/db/operationtype/operation_type.go
Labels: none

doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: API, Documentation

client: Add RebuildStoragePoolVolume
  client/incus_storage_volumes.go
  client/interfaces.go
Labels: none

incus/storage_volume: Add rebuild command
  cmd/incus/storage_volume.go
Labels: none

tests: Add storage volume rebuild test
  test/main.sh
  test/suites/storage_volume_rebuild.sh
Labels: none

incusd/network/ovn: Correctly set VLAN on uplink veth
  internal/server/network/driver_ovn.go
Labels: none

incusd/network/physical: Skip VLAN interface on filtered bridges
  internal/server/network/driver_physical.go
Labels: none

incusd: Rename dqlite references to cowsql
  cmd/incusd/api_cluster.go
  cmd/incusd/daemon.go
  cmd/incusd/daemon_integration_test.go
  cmd/incusd/main.go
  cmd/incusd/main_activateifneeded.go
  cmd/incusd/main_cluster.go
  internal/server/cluster/gateway.go
  internal/server/cluster/gateway_test.go
  internal/server/cluster/heartbeat.go
  internal/server/cluster/info.go
  internal/server/cluster/membership.go
  internal/server/cluster/membership_test.go
  internal/server/cluster/options.go
  internal/server/cluster/recover.go
  internal/server/cluster/tls.go
  internal/server/cluster/upgrade.go
  internal/server/db/cluster/open.go
  internal/server/db/cluster/open_test.go
  internal/server/db/db.go
  internal/server/db/instances.go
  internal/server/db/node/update.go
  internal/server/db/raft.go
  internal/server/db/storage_buckets.go
  internal/server/db/testing.go
  internal/server/db/transaction.go
  internal/server/sys/fs.go
  test/suites/clustering.sh
Labels: none

global: Use sync.WaitGroup.Go for goroutine management
  cmd/incus-agent/exec.go
  cmd/incus-agent/main_agent.go
  cmd/incus-migrate/main_netcat.go
  cmd/incus/list.go
  cmd/incusd/daemon.go
  cmd/incusd/instance_exec.go
  cmd/incusd/instances_get.go
  cmd/incusd/main_netcat.go
  internal/server/cluster/membership.go
  internal/server/cluster/upgrade_test.go
  internal/server/endpoints/endpoints.go
  internal/server/response/response.go
Labels: none

global: Use maps.Copy instead of manual copy loops
  cmd/incusd/instances_post.go
  internal/server/instance/drivers/driver_common.go
  internal/server/operations/operations.go
  internal/server/storage/drivers/driver_truenas_volumes.go
Labels: none

global: Use range-over-int loops
  cmd/incusd/main_forkproxy.go
  internal/server/network/network_utils.go
  internal/server/storage/drivers/driver_truenas.go
Labels: none

global: Use reflect.TypeFor
  cmd/incus/network.go
  cmd/incus/network_acl.go
  cmd/incus/utils_properties.go
  cmd/incus/utils_properties_test.go
  cmd/incus/utils_test.go
Labels: none

global: Use t.Context in tests
  internal/server/storage/memorypipe/memory_pipe_test.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
