Repository lxc/incus, changes with the labels that .github/labeler.yml gives for each.
All labels: API, Documentation

doc/wordlist: Update wordlist
  doc/.wordlist.txt
Labels: Documentation

test: Add tests for systemd keys
  test/main.sh
  test/suites/systemd.sh
Labels: none

incusd/cluster: Disable proxy during cluster join
  cmd/incusd/api_cluster.go
Labels: none

gomod: Add gopsutil
  go.mod
  go.sum
Labels: none

agent/darwin: Initial darwin agent implementation
  cmd/incus-agent/os_darwin.go
Labels: none

mount sys as read-only
  cmd/incusd/main_forknet.go
  internal/server/apparmor/instance_lxc.profile.go
  internal/server/instance/drivers/driver_lxc.go
Labels: none

incusd/network: Check if target_address in forward is a broadcast address of the networks subnet
  internal/server/network/driver_common.go
  internal/server/network/network_utils.go
Labels: none

incusd/network: Check if target_address in forward is the networkID of the networks subnet
  internal/server/network/driver_common.go
  internal/server/network/network_utils.go
Labels: none

doc: Kubernetes and ClusterAPI integration
  doc/third_party.md
Labels: Documentation

doc: Add API to wordlist
  doc/.wordlist.txt
Labels: Documentation

incusd/network: Add doc comment to function; Rename variable to avoid shadowing
  internal/server/network/network_utils.go
Labels: none

github: Re-enable LINSTOR tests
  .github/workflows/tests.yml
Labels: none

Revert "github: Disable Linstor tests for now"
  .github/workflows/tests.yml
Labels: none

incusd/network: Make linter happy
  internal/server/network/network_utils.go
Labels: none

internal/server/network: Update libovsdb import path
  internal/server/network/driver_ovn.go
  internal/server/network/ovn/errors.go
  internal/server/network/ovn/events.go
  internal/server/network/ovn/ovn_icnb.go
  internal/server/network/ovn/ovn_icnb_actions.go
  internal/server/network/ovn/ovn_icsb.go
  internal/server/network/ovn/ovn_nb.go
  internal/server/network/ovn/ovn_nb_actions.go
  internal/server/network/ovn/ovn_sb.go
  internal/server/network/ovn/schema/ovn-ic-nb/model.go
  internal/server/network/ovn/schema/ovn-ic-sb/model.go
  internal/server/network/ovn/schema/ovn-nb/model.go
  internal/server/network/ovn/schema/ovn-sb/model.go
  internal/server/network/ovs/errors.go
  internal/server/network/ovs/ovs.go
  internal/server/network/ovs/ovs_actions.go
  internal/server/network/ovs/schema/ovs/model.go
Labels: none

Makefile: Update libovsdb command URL
  Makefile
Labels: none

go.mod: Update libovsdb import path
  go.mod
  go.sum
Labels: none

incusd/main_forkbpf: Create forkbpf helper for bpf token delegation.
  cmd/incusd/main.go
  cmd/incusd/main_forkbpf.go
  cmd/incusd/main_nsexec.go
  shared/cgo/incus.h
Labels: none

incusd/instance: Add bpf token delegation feature.
  internal/instance/config.go
  internal/server/instance/drivers/driver_lxc.go
Labels: none

api: Add bpf_token_delegation extension
  doc/api-extensions.md
  internal/version/api.go
Labels: API, Documentation

doc: Update configs
  doc/config_options.txt
  internal/server/metadata/configuration.json
Labels: Documentation

doc: Add documentation for bpf token delegation
  doc/explanation/bpf-tokens.md
  doc/security.md
Labels: Documentation

doc: Update wordlist
  doc/.wordlist.txt
Labels: Documentation

incusd/project: Require lowlevel access for bpffs options
  internal/server/project/permissions.go
Labels: none

tests: Add test for bpf token delegation
  .github/workflows/tests.yml
  test/main.sh
  test/suites/container_bpf_tokens.sh
Labels: none

codespell: Allow attachs (bpffs mount option)
  .codespell-ignore
Labels: none

incus-agent/darwin: Split non-darwin-specific logic
  cmd/incus-agent/os_common.go
  cmd/incus-agent/os_darwin.go
Labels: none

incus-agent/windows: Feature parity with Darwin
  cmd/incus-agent/os_common.go
  cmd/incus-agent/os_windows.go
Labels: none

test/mini-oidc: Clarify usage in README.md
  test/mini-oidc/README.md
Labels: none

test/mini-oidc: Extract logic from main
  test/mini-oidc/main.go
  test/mini-oidc/minioidc/minioidc.go
Labels: none

test/mini-oidc: Add RunTest for usage in tests
  test/mini-oidc/minioidc/minioidc.go
Labels: none

test/mini-oidc: Move user file to global var
  test/mini-oidc/main.go
  test/mini-oidc/minioidc/minioidc.go
Labels: none

test/mini-oidc: Make linter happy
  test/mini-oidc/minioidc/minioidc.go
Labels: none

test/mini-oidc: Make poll interval configurable in tests
  test/mini-oidc/minioidc/minioidc.go
Labels: none

test/mini-oidc: Allow setting expiration for tokens
  test/mini-oidc/README.md
  test/mini-oidc/minioidc/minioidc.go
  test/mini-oidc/storage/storage.go
Labels: none

test/mini-oidc: Make linter happy
  .golangci.yml
  test/mini-oidc/storage/oidc.go
  test/mini-oidc/storage/storage.go
  test/mini-oidc/storage/storage_dynamic.go
Labels: none

test/mini-oidc: Fix missing support for device control flow
  test/mini-oidc/storage/storage.go
Labels: none

incus/admin/os: Add system list command
  cmd/incus/admin_os.go
Labels: none

shared/cmd: Move from internal/cmd
  shared/cmd/cancel.go
  shared/cmd/format.go
  shared/cmd/progress.go
  shared/cmd/sort.go
  shared/cmd/sort_test.go
  shared/cmd/table.go
Labels: none

incus: Use cli.CheckArgs
  cmd/incus/main.go
Labels: none

.github/labeler.yml:

API:
- changed-files:
  - any-glob-to-any-file:
    - doc/api-extensions.md
    - doc/rest-api.yaml
    - shared/api/**/*
Documentation:
- changed-files:
  - any-glob-to-any-file:
    - doc/**/*
