Repository lxc/incus, pull requests merged in 2023-08, with the labels that each got.

#20 Remove deprecated functions, structs and fields from the client and API package
  client/incus_containers.go
  client/incus_instances.go
  client/incus_profiles.go
  client/incus_projects.go
  client/incus_storage_volumes.go
  client/interfaces.go
  client/interfaces_legacy.go
  doc/rest-api.yaml
  inc/export.go
  incus-agent/exec.go
  incus-benchmark/benchmark/benchmark.go
  incus-benchmark/benchmark/operation.go
  incus-benchmark/main.go
  incus/backup/backup_instance.go
  incus/instance_backup.go
  incus/instance_post.go
  incus/instances_post.go
  lxc-to-incus/main_migrate.go
  lxc-to-incus/utils.go
  shared/api/container.go
  shared/api/container_backup.go
  shared/api/container_console.go
  shared/api/container_exec.go
  shared/api/container_snapshot.go
  shared/api/container_state.go
  shared/api/instance.go
  shared/api/instance_backup.go
Labels: documentation, API

#24 Move more commands to cmd/
  Makefile
  cmd/incus-agent/api.go
  cmd/incus-agent/api_1.0.go
  cmd/incus-agent/daemon.go
  cmd/incus-agent/dev_incus.go
  cmd/incus-agent/events.go
  cmd/incus-agent/exec.go
  cmd/incus-agent/main.go
  cmd/incus-agent/main_agent.go
  cmd/incus-agent/metrics.go
  cmd/incus-agent/network.go
  cmd/incus-agent/operations.go
  cmd/incus-agent/response.go
  cmd/incus-agent/server.go
  cmd/incus-agent/sftp.go
  cmd/incus-agent/state.go
  cmd/incus-agent/templates.go
  cmd/incus-benchmark/benchmark.go
  cmd/incus-benchmark/benchmark_batch.go
  cmd/incus-benchmark/benchmark_operation.go
  cmd/incus-benchmark/benchmark_report.go
  cmd/incus-benchmark/benchmark_util.go
  cmd/incus-benchmark/main.go
  cmd/incus-benchmark/main_delete.go
  cmd/incus-benchmark/main_init.go
  cmd/incus-benchmark/main_launch.go
  cmd/incus-benchmark/main_start.go
  cmd/incus-benchmark/main_stop.go
  incus/instance/drivers/driver_qemu.go
  shared/api/agent/api.go
Labels: API

#31 Drop RBAC
  cmd/incus-migrate/main_migrate.go
  doc/api-extensions.md
  doc/authentication.md
  doc/explanation/projects.md
  doc/howto/projects_confine.md
  doc/server.md
  incusd/api_1.0.go
  incusd/api_cluster.go
  incusd/api_metrics.go
  incusd/api_project.go
  incusd/auth/auth.go
  incusd/certificates.go
  incusd/cluster/config/config.go
  incusd/daemon.go
  incusd/db/operationtype/operation_type.go
  incusd/events.go
  incusd/images.go
  incusd/instance_logs.go
  incusd/instance_post.go
  incusd/instances.go
  incusd/instances_get.go
  incusd/network_acls.go
  incusd/network_allocations.go
  incusd/network_forwards.go
  incusd/network_load_balancers.go
  incusd/network_peer.go
  incusd/network_zones.go
  incusd/network_zones_records.go
  incusd/networks.go
  incusd/operations.go
  incusd/operations/operations.go
  incusd/profiles.go
  incusd/project/permissions.go
  incusd/rbac/server.go
  incusd/storage_buckets.go
  incusd/storage_pools.go
  incusd/storage_volumes.go
  incusd/storage_volumes_backup.go
  incusd/storage_volumes_snapshot.go
  incusd/storage_volumes_state.go
  scripts/bash/incus
  shared/version/api.go
Labels: documentation, API

#43 Remove MAAS
  doc/.sphinx/.wordlist.txt
  doc/api-extensions.md
  doc/config_options_cheat_sheet.md
  doc/howto/cluster_form.md
  doc/howto/initialize.md
  doc/reference/devices_nic.md
  doc/reference/network_bridge.md
  doc/reference/network_macvlan.md
  doc/reference/network_physical.md
  doc/reference/network_sriov.md
  doc/server.md
  go.mod
  go.sum
  incusd/api_1.0.go
  incusd/api_cluster.go
  incusd/cluster/config/config.go
  incusd/daemon.go
  incusd/db/migration.go
  incusd/db/migration_test.go
  incusd/db/warningtype/warning_type.go
  incusd/device/nic.go
  incusd/device/nic_bridged.go
  incusd/device/nic_macvlan.go
  incusd/device/nic_physical.go
  incusd/device/nic_sriov.go
  incusd/instance/drivers/driver_common.go
  incusd/instance/drivers/driver_lxc.go
  incusd/instance/drivers/driver_qemu.go
  incusd/maas/controller.go
  incusd/main_init_interactive.go
  incusd/network/driver_bridge.go
  incusd/network/driver_macvlan.go
  incusd/network/driver_physical.go
  incusd/network/driver_sriov.go
  incusd/node/config.go
  incusd/state/state.go
  scripts/bash/incus
  shared/version/api.go
  test/suites/container_devices_nic_bridged.sh
  test/suites/init_interactive.sh
Labels: documentation, API

#45 More renaming
  cmd/incus-agent/api_1.0.go
  cmd/incus-agent/daemon.go
  cmd/incus-agent/dev_incus.go
  cmd/incus-agent/main_agent.go
  cmd/incus/main.go
  incusd/api.go
  incusd/apparmor/instance_lxc.go
  incusd/apparmor/instance_qemu.go
  incusd/daemon.go
  incusd/db/db.go
  incusd/dev_incus.go
  incusd/dev_incus_test.go
  incusd/endpoints/dev_incus.go
  incusd/endpoints/dev_incus_test.go
  incusd/endpoints/endpoints.go
  incusd/endpoints/endpoints_exported_test.go
  incusd/endpoints/endpoints_test.go
  incusd/endpoints/notlinux.go
  incusd/events/dev_incus_events.go
  incusd/images.go
  incusd/instance/drivers/driver_lxc.go
  incusd/instance/drivers/driver_qemu.go
  incusd/metrics/types.go
  incusd/response/response.go
  incusd/state/state.go
  incusd/sys/fs.go
  incusd/sys/os.go
  shared/api/agent/api.go
  shared/api/guest/dev_incus.go
  shared/util.go
Labels: API

#58 Remove INCUS_UNPRIVILEGED_ONLY
  doc/environment.md
  incusd/instance/instance_utils.go
  test/suites/security.sh
Labels: documentation
