Repository lxc/incus, pull requests merged in 2023-10, with the labels that each got.

#112 Remaining LXD backlog
  .github/workflows/tests.yml
  Makefile
  README.md
  client/incus_images.go
  client/incus_instances.go
  cmd/incus/admin_init.go
  cmd/incus/admin_init_auto.go
  cmd/incus/network_allocations.go
  cmd/incusd/api_project.go
  cmd/incusd/images.go
  cmd/incusd/instances_post.go
  cmd/incusd/patches.go
  doc/.sphinx/_static/github_issue_links.js
  doc/.sphinx/requirements.txt
  doc/.wordlist.txt
  doc/api-extensions.md
  doc/conf.py
  doc/config_options.txt
  doc/explanation/projects.md
  doc/getting_started.md
  doc/howto/images_create.md
  doc/howto/network_forwards.md
  doc/howto/network_load_balancers.md
  doc/howto/network_zones.md
  doc/instances.md
  doc/reference/devices_disk.md
  doc/reference/devices_nic.md
  doc/reference/projects.md
  internal/instance/config.go
  internal/server/cgroup/init.go
  internal/server/device/config/devices.go
  internal/server/device/device_utils_network.go
  internal/server/device/disk.go
  internal/server/device/nic.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
  internal/server/device/nic_p2p.go
  internal/server/device/nic_routed.go
  internal/server/firewall/drivers/drivers_nftables.go
  internal/server/firewall/drivers/drivers_nftables_templates.go
  internal/server/firewall/drivers/drivers_xtables.go
  internal/server/firewall/firewall_interface.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/lifecycle/instance.go
  internal/server/loki/loki.go
  internal/server/metadata/configuration.json
  internal/server/resources/network.go
  internal/server/resources/utils.go
  internal/server/storage/backend.go
  internal/server/storage/drivers/driver_common.go
  internal/version/api.go
  shared/api/event.go
  shared/util/string.go
  test/main.sh
  test/suites/container_devices_nic_bridged.sh
  test/suites/network.sh
  test/suites/storage_volume_initial_config.sh
Labels: documentation, API

#116 instance: Remove limits.network.priority
  cmd/incusd/devices.go
  cmd/incusd/networks_utils.go
  doc/config_options.txt
  internal/instance/config.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/metadata/configuration.json
  scripts/bash/incus
  test/suites/storage_volume_initial_config.sh
Labels: documentation

#121 Import LXD changes
  .github/workflows/commits.yml
  cmd/incus/storage.go
  cmd/incus/storage_volume.go
  cmd/incusd/api_cluster.go
  cmd/incusd/patches.go
  doc/reference/devices_nic.md
  test/suites/storage_local_volume_handling.sh
Labels: documentation

#123 Rename EventTypeOVN to EventTypeNetworkACL
  cmd/incusd/events.go
  doc/config_options.txt
  doc/howto/network_ovn_setup.md
  internal/server/cluster/config/config.go
  internal/server/events/internalListener.go
  internal/server/loki/loki.go
  internal/server/metadata/configuration.json
  internal/server/syslog/listener.go
  shared/api/event.go
  test/suites/syslog.sh
Labels: documentation, API

#127 doc: change Incus_DIR to upper case INCUS_DIR
  doc/contributing.md
Labels: documentation

#131 doc: Add start-after to include CONTRIBUTING.md from contributing.md
  doc/contributing.md
Labels: documentation

#134 Makefile: Build doc in production mode
  Makefile
  doc/conf.py
Labels: documentation

#141 doc: Add "Then run the following command:"
  doc/howto/instances_access_files.md
Labels: documentation

#144 doc: Remove "Configure a network section" in howto/network_create
  doc/howto/network_create.md
Labels: documentation

#148 doc: Make Incus_INSECURE_TLS uppercase
  doc/authentication.md
Labels: documentation

#149 doc: Remove all mentions of trust passwords
  doc/authentication.md
  doc/howto/cluster_form.md
  doc/howto/images_remote.md
  doc/howto/initialize.md
  doc/howto/projects_confine.md
Labels: Documentation

#150 doc: Update Grafana screenshots
  doc/images/grafana_dashboard_id.png
  doc/images/grafana_dashboard_select_datasource.png
  doc/images/grafana_instances.png
  doc/images/grafana_resources.png
Labels: Documentation

#160 doc: Remove UI tabs
  doc/howto/instances_configure.md
  doc/howto/instances_manage.md
Labels: Documentation

#164 Backport LXD changes
  cmd/incus-agent/api_1.0.go
  cmd/incus-agent/operations.go
  cmd/incusd/api_cluster.go
  cmd/incusd/certificates.go
  cmd/incusd/daemon.go
  cmd/incusd/patches.go
  doc/.sphinx/.markdownlint/doc-lint.sh
  doc/howto/projects_create.md
  doc/howto/projects_work.md
  internal/server/certificate/cache.go
  internal/server/certificate/type.go
  internal/server/cluster/gateway.go
  internal/server/cluster/gateway_test.go
  internal/server/cluster/heartbeat_test.go
  internal/server/cluster/membership.go
  internal/server/cluster/membership_test.go
  internal/server/cluster/tls.go
  internal/server/cluster/upgrade_test.go
  internal/server/config/generate/incus_doc_test.go
  internal/server/db/certificates.go
  internal/server/db/cluster/certificates.go
  internal/server/db/cluster/certificates.interface.mapper.go
  internal/server/db/cluster/certificates.mapper.go
  internal/server/resources/storage.go
  internal/server/storage/drivers/driver_zfs_volumes.go
  internal/server/storage/storage.go
  scripts/bash/incus
Labels: Documentation

#168 doc: Cleanup old LXD references
  doc/authentication.md
  doc/explanation/clustering.md
  doc/rest-api.md
Labels: Documentation

#172 Import LXD changes
  .github/workflows/tests.yml
  client/incus_instances.go
  cmd/incus-agent/exec.go
  cmd/incus-migrate/transfer.go
  cmd/incusd/api_metrics.go
  cmd/incusd/daemon_images.go
  cmd/incusd/images.go
  cmd/incusd/instance.go
  cmd/incusd/instance_console.go
  cmd/incusd/instance_exec.go
  cmd/incusd/instance_patch.go
  cmd/incusd/instance_put.go
  cmd/incusd/patches.go
  cmd/lxc-to-incus/transfer.go
  cmd/lxd-to-incus/go.mod
  cmd/lxd-to-incus/go.sum
  doc/api-extensions.md
  go.mod
  go.sum
  internal/linux/poll.go
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/locking/lock.go
  internal/server/network/driver_ovn.go
  internal/server/storage/backend.go
  internal/server/storage/drivers/driver_btrfs_volumes.go
  internal/server/storage/drivers/driver_ceph_volumes.go
  internal/server/storage/drivers/driver_cephfs_volumes.go
  internal/server/storage/drivers/driver_dir_volumes.go
  internal/server/storage/drivers/driver_lvm_utils.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/driver_zfs_volumes.go
  internal/server/storage/drivers/volume.go
  internal/server/storage/s3/miniod/miniod.go
  internal/version/api.go
  shared/ws/mirror.go
  test/suites/backup.sh
Labels: Documentation, API

#176 doc: Add packaging instructions
  doc/internals.md
  doc/packaging.md
Labels: Documentation

#182 Introduce requirements.privileged
  doc/api-extensions.md
  doc/image-handling.md
  internal/server/instance/drivers/driver_lxc.go
  internal/version/api.go
Labels: Documentation, API

#181 Import LXD changes
  .github/workflows/tests.yml
  client/incus_operations.go
  cmd/incus-agent/api_1.0.go
  cmd/incus-agent/daemon.go
  cmd/incus-agent/main_agent.go
  cmd/incus/delete.go
  cmd/incus/storage_volume.go
  cmd/incusd/daemon.go
  cmd/incusd/patches.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/network/driver_bridge.go
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
  internal/server/storage/pool_interface.go
  internal/server/vsock/vsock.go
  shared/api/url.go
  shared/api/url_test.go
  test/main.sh
  test/suites/backup.sh
  test/suites/basic.sh
  test/suites/clustering.sh
Labels: API

#191 Import LXD changes
  .golangci.yml
  Makefile
  cmd/incusd/api.go
  cmd/incusd/api_cluster.go
  cmd/incusd/dev_incus.go
  cmd/incusd/patches.go
  cmd/incusd/storage_pools.go
  doc/howto/instances_create.md
  doc/installing.md
  internal/server/auth/oidc/oidc.go
  internal/server/firewall/drivers/drivers_nftables_templates.go
  internal/server/instance/drivers/driver_lxc.go
  staticcheck.conf
Labels: Documentation

#195 Add NVME disk support
  doc/api-extensions.md
  doc/reference/devices_disk.md
  internal/server/device/disk.go
  internal/server/instance/drivers/driver_qemu.go
  internal/version/api.go
Labels: Documentation, API

#199 Add migration documentation
  README.md
  doc/howto/server_migrate_lxd.md
  doc/server.md
Labels: Documentation

#202 Add direct links to binaries
  doc/howto/import_machines_to_instances.md
  doc/installing.md
Labels: Documentation

#205 doc: Link to migration guide from getting started
  doc/tutorial/first_steps.md
Labels: Documentation

#208 Import LXD changes
  .github/workflows/tests.yml
  Makefile
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
  cmd/incusd/patches.go
  cmd/lxd-to-incus/go.mod
  cmd/lxd-to-incus/go.sum
  doc/.wordlist.txt
  doc/authentication.md
  doc/authorization.md
  doc/config_options.txt
  doc/security.md
  doc/server_config.md
  go.mod
  go.sum
  internal/server/auth/authorization.go
  internal/server/auth/authorization_types.go
  internal/server/auth/driver_openfga.go
  internal/server/auth/driver_openfga_model.go
  internal/server/auth/driver_openfga_model.openfga
  internal/server/cluster/config/config.go
  internal/server/db/storage_volumes.go
  internal/server/metadata/configuration.json
  test/includes/certificates.sh
  test/includes/openfga.sh
  test/lint/openfga-up-to-date.sh
  test/main.sh
  test/suites/clustering.sh
  test/suites/openfga.sh
  test/suites/operations.sh
Labels: Documentation
