Repository lxc/incus, pull requests merged in 2024-09, with the labels that each got.

#1172 Better handle cluster group validation
  cmd/incusd/api_project.go
  doc/howto/cluster_groups.md
  internal/server/db/node.go
Labels: Documentation

#1173 Implement LVM metadatasize configuration
  doc/api-extensions.md
  doc/reference/storage_lvm.md
  internal/server/storage/drivers/driver_lvm.go
  internal/version/api.go
Labels: Documentation, API

#1189 OVN small additions and fixes
  doc/api-extensions.md
  doc/reference/devices_nic.md
  internal/server/device/config/devices.go
  internal/server/device/nic.go
  internal/server/device/nic_ovn.go
  internal/server/network/driver_common.go
  internal/server/network/driver_ovn.go
  internal/server/network/ovn/ovn_nb_actions.go
  internal/version/api.go
Labels: Documentation, API

#1198 Various fixes
  doc/config_options.txt
  doc/howto/network_load_balancers.md
  internal/server/apparmor/instance_qemu.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/qmp/commands.go
  internal/server/metadata/configuration.json
  internal/server/network/driver_common.go
Labels: Documentation

#1199 doc: Fix limits.memory default value unit
  doc/config_options.txt
Labels: Documentation

#1213 doc/installing: Add Rocky Linux 9
  doc/.wordlist.txt
  doc/installing.md
Labels: Documentation

#1214 Add qcow2 and vmdk support to incus-migrate
  cmd/incus-migrate/main_migrate.go
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/howto/import_machines_to_instances.md
  shared/archive/detect.go
Labels: Documentation

#1227 doc/installing: Add link to Arch Wiki for Incus
  doc/installing.md
Labels: Documentation

#1236 Various bugfixes
  cmd/incus-user/server.go
  cmd/incusd/api_project.go
  cmd/incusd/networks.go
  cmd/incusd/operations.go
  cmd/incusd/storage_volumes_utils.go
  doc/config_options.txt
  internal/instance/config.go
  internal/server/auth/driver_tls.go
  internal/server/metadata/configuration.json
  internal/server/storage/drivers/utils.go
  shared/validate/validate.go
Labels: Documentation

#1232 doc: add note for Nvidia usage when building from source in OpenSUSE
  doc/installing.md
Labels: Documentation, Incomplete

#1234 Add operating system details to instance state
  cmd/incus-agent/state.go
  cmd/incus/info.go
  doc/api-extensions.md
  doc/rest-api.yaml
  internal/version/api.go
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
  shared/api/instance_state.go
Labels: Documentation, API

#1233 doc: add prerequisites section for building documentation
  doc/contributing.md
Labels: Documentation, Incomplete

#1251 Add OVN load balancer state API
  client/incus_network_load_balancers.go
  client/interfaces.go
  cmd/incus/network_load_balancer.go
  cmd/incusd/api_1.0.go
  cmd/incusd/network_load_balancers.go
  doc/api-extensions.md
  doc/rest-api.yaml
  internal/server/network/driver_common.go
  internal/server/network/driver_ovn.go
  internal/server/network/network_interface.go
  internal/server/network/ovn/ovn_sb_actions.go
  internal/version/api.go
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
  shared/api/network_load_balancer.go
Labels: Documentation, API

#1258 Added ability for user to specify the macvlan mode using the mode key…
  doc/api-extensions.md
  doc/reference/devices_nic.md
  internal/server/device/nic.go
  internal/server/device/nic_macvlan.go
  internal/version/api.go
Labels: Documentation, API
