Repository lxc/incus, pull requests merged in 2024-11, with the labels that each got.

#1353 doc/idmap: Clarify subuid/subgid configuration
  doc/userns-idmap.md
Labels: Documentation

#1369 Automatic live-migration to balance load on cluster
  cmd/incus/monitor.go
  cmd/incusd/api_cluster_rebalance.go
  cmd/incusd/api_internal.go
  cmd/incusd/daemon.go
  doc/api-extensions.md
  doc/config_options.txt
  doc/howto/cluster_manage.md
  internal/instance/config.go
  internal/server/cluster/config/config.go
  internal/server/instance/instance_utils.go
  internal/server/metadata/configuration.json
  internal/server/scriptlet/instance_placement.go
  internal/version/api.go
Labels: Documentation, API

#1365 Add refresh-exclude-older flag to only transfer new snapshots during instance/volume refresh
  client/incus_instances.go
  client/incus_storage_volumes.go
  client/interfaces.go
  cmd/incus/copy.go
  cmd/incus/storage_volume.go
  cmd/incusd/instance.go
  cmd/incusd/instances_post.go
  cmd/incusd/migrate.go
  cmd/incusd/migrate_instance.go
  cmd/incusd/migrate_storage_volumes.go
  cmd/incusd/storage_volumes.go
  doc/api-extensions.md
  doc/rest-api.yaml
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
  internal/server/migration/migration_volumes.go
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
  internal/server/storage/pool_interface.go
  internal/server/storage/utils.go
  internal/version/api.go
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
  shared/api/instance.go
  shared/api/storage_pool_volume.go
Labels: Documentation, API

#1404 instance/config: Mark user keys as live updatable
  doc/config_options.txt
  internal/instance/config.go
  internal/server/metadata/configuration.json
Labels: Documentation

#1415 Add ability to set the initial owner of a custom volume
  doc/api-extensions.md
  doc/reference/storage_btrfs.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_dir.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
  internal/server/storage/drivers/volume.go
  internal/server/storage/utils.go
  internal/version/api.go
  test/suites/storage_volume_initial_config.sh
Labels: Documentation, API

#1410 Allow local live-migration between storage pools
  cmd/incusd/instance_post.go
  cmd/incusd/instance_snapshot.go
  cmd/incusd/instances_post.go
  cmd/incusd/migrate.go
  cmd/incusd/migrate_instance.go
  doc/api-extensions.md
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
  internal/server/migration/migration_volumes.go
  internal/server/storage/drivers/driver_ceph_volumes.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/version/api.go
Labels: Documentation, API

#1401 golangci: Add local prefixes for goimports
  .golangci.yml
Labels: Incomplete

#1431 Add support for VGA console screenshots
  cmd/incusd/instance_console.go
  doc/api-extensions.md
  doc/rest-api.yaml
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/qmp/commands.go
  internal/server/instance/instance_interface.go
  internal/server/response/response.go
  internal/version/api.go
Labels: Documentation, API

#1434 Allow setting aliases during raw image upload
  client/incus_images.go
  cmd/incusd/images.go
  doc/api-extensions.md
  doc/rest-api.yaml
  internal/version/api.go
Labels: Documentation, API

#1435 Openfga improvements
  Makefile
  cmd/incusd/api_1.0.go
  cmd/incusd/patches.go
  doc/authorization.md
  internal/server/auth/authorization.go
  internal/server/auth/authorization_types.go
  internal/server/auth/driver_common.go
  internal/server/auth/driver_openfga.go
  internal/server/auth/driver_openfga_model.go
  internal/server/auth/driver_openfga_model.openfga
  internal/server/auth/driver_tls.go
  test/suites/openfga.sh
Labels: Documentation

#1439 doc/instance/properties: Add missing instance properties
  doc/reference/instance_properties.md
Labels: Documentation

#1443 Tweak rendering of manpage in doc
  doc/.sphinx/requirements.txt
  doc/conf.py
Labels: Documentation
