Repository lxc/incus, pull requests merged in 2024-08, with the labels that each got.

#1058 doc: add colima instructions
  doc/.wordlist.txt
  doc/installing.md
Labels: Documentation

#1061 doc: Update incus_alias.md
  doc/howto/incus_alias.md
Labels: Documentation

#1067 doc/instances: Cover incus agent installation
  doc/howto/instances_create.md
Labels: Documentation

#1071 Various bugfixes
  cmd/incusd/api_1.0.go
  cmd/incusd/networks.go
  doc/rest-api.yaml
  doc/server_config.md
  internal/server/auth/oidc/oidc.go
  internal/server/network/ovn/ovn_nb_actions.go
  shared/api/server.go
Labels: Documentation, API

#1072 doc/storage_volume: Fix snapshot command
  doc/howto/storage_backup_volume.md
Labels: Documentation

#1073 Improve lifecycle events on evacuation
  cmd/incusd/api_cluster_evacuation.go
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/operationlock/operationlock.go
  internal/server/lifecycle/cluster_member.go
  internal/server/lifecycle/instance.go
  internal/server/request/request.go
  shared/api/event_lifecycle.go
Labels: API

#1075 doc/clustering: Better document healing
  doc/.wordlist.txt
  doc/howto/cluster_manage.md
Labels: Documentation

#1079 doc/clustering: Add howto on cluster access
  doc/.wordlist.txt
  doc/clustering.md
  doc/howto/cluster_access.md
Labels: Documentation

#1088 Allow per cluster group CPU definitions
  cmd/incusd/api_cluster_group.go
  doc/api-extensions.md
  doc/config_options.txt
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/util.go
  internal/server/metadata/configuration.json
  internal/version/api.go
Labels: Documentation, API

#1092 incusd/device/disk: Allow relative paths within custom volumes
  doc/api-extensions.md
  doc/reference/devices_disk.md
  internal/server/device/disk.go
  internal/version/api.go
  test/suites/container_devices_disk.sh
Labels: Documentation, API

#1098 Add per storage pool project limits
  cmd/incus/project.go
  cmd/incusd/api_project.go
  cmd/incusd/storage_pools.go
  cmd/incusd/storage_volumes.go
  doc/api-extensions.md
  doc/config_options.txt
  internal/server/metadata/configuration.json
  internal/server/project/permissions.go
  internal/server/project/project.go
  internal/server/project/state.go
  internal/server/storage/backend.go
  internal/version/api.go
  test/suites/projects.sh
Labels: Documentation, API

#1070 Allow creating isolated OVN networks (no uplink)
  cmd/incusd/networks.go
  doc/api-extensions.md
  doc/reference/network_ovn.md
  internal/server/device/nic_ovn.go
  internal/server/network/driver_ovn.go
  internal/version/api.go
Labels: Documentation, API

#1116 doc/firewalld: Update Docker link
  doc/howto/network_bridge_firewalld.md
Labels: Documentation

#1115 Add support for manual QMP configuration
  doc/.wordlist.txt
  doc/api-extensions.md
  doc/config_options.txt
  internal/instance/config.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/qmp/monitor.go
  internal/server/metadata/configuration.json
  internal/server/project/permissions.go
  internal/version/api.go
Labels: Documentation, API

#1124 doc: Update incus_alias.md
  doc/howto/incus_alias.md
Labels: Documentation

#1127 Add OVN load-balancer health checks
  doc/api-extensions.md
  doc/config_options.txt
  doc/howto/network_load_balancers.md
  internal/server/metadata/configuration.json
  internal/server/network/driver_common.go
  internal/server/network/driver_ovn.go
  internal/server/network/ovn/ovn_nb_actions.go
  internal/version/api.go
Labels: Documentation, API

#1112 incusd: allow custom oidc scope
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
  doc/api-extensions.md
  doc/config_options.txt
  internal/server/auth/oidc/oidc.go
  internal/server/cluster/config/config.go
  internal/server/metadata/configuration.json
  internal/version/api.go
Labels: Documentation, API

#1142 Improvements to OVN interconnect
  cmd/incusd/network_integrations.go
  doc/api-extensions.md
  doc/config_options.txt
  internal/server/metadata/configuration.json
  internal/server/network/driver_ovn.go
  internal/version/api.go
Labels: Documentation, API

#1155 doc: Update Cloud-Init User Example
  doc/cloud-init.md
Labels: Documentation

#1156 Fix backup struct naming and swagger metadata
  client/incus_storage_volumes.go
  client/interfaces.go
  cmd/incus/storage_volume.go
  cmd/incusd/storage_buckets_backup.go
  cmd/incusd/storage_volumes_backup.go
  doc/rest-api.yaml
  internal/server/backup/backup_volume.go
  shared/api/storage_pool_volume_backup.go
Labels: Documentation, API

#1159 Make OVS path configurable
  cmd/incusd/api_1.0.go
  cmd/incusd/api_cluster.go
  cmd/incusd/daemon.go
  cmd/incusd/networks.go
  doc/config_options.txt
  doc/howto/network_ovn_setup.md
  internal/server/cluster/config/config.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ovn.go
  internal/server/instance/drivers/agent-loader/install.sh
  internal/server/metadata/configuration.json
  internal/server/network/driver_bridge.go
  internal/server/network/driver_ovn.go
  internal/server/network/network_utils_bridge.go
  internal/server/network/network_utils_sriov.go
  internal/server/network/ovs/ovs.go
  internal/server/network/ovs/ovs_actions.go
  internal/server/node/config.go
  internal/server/state/state.go
  internal/server/syslog/listener.go
Labels: Documentation

#1162 Add startup scriptlets
  doc/api-extensions.md
  doc/config_options.txt
  internal/instance/config.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_metrics.go
  internal/server/instance/drivers/qemudefault/default.go
  internal/server/metadata/configuration.json
  internal/server/project/permissions.go
  internal/server/scriptlet/instance_placement.go
  internal/server/scriptlet/load/load.go
  internal/server/scriptlet/logger.go
  internal/server/scriptlet/qemu.go
  internal/server/scriptlet/starlark.go
  internal/version/api.go
Labels: Documentation, API

#1165 Bump minimum Go to 1.22
  Makefile
  doc/requirements.md
  go.mod
  go.sum
Labels: Documentation

#1167 Implement boot.autorestart
  doc/api-extensions.md
  doc/config_options.txt
  internal/instance/config.go
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/metadata/configuration.json
  internal/version/api.go
  test/suites/basic.sh
Labels: Documentation, API
