Repository lxc/incus, pull requests merged in 2024-02, with the labels that each got.

#469 Add support for template file uid/gid/mode
  cmd/incus-agent/templates.go
  doc/api-extensions.md
  doc/reference/image_format.md
  doc/rest-api.yaml
  internal/server/instance/drivers/driver_lxc.go
  internal/version/api.go
  shared/api/image.go
Labels: Documentation, API

#471 Bump minimum Go version to 1.21
  .github/workflows/tests.yml
  Makefile
  doc/requirements.md
  go.mod
  go.sum
  test/mini-oidc/go.mod
  test/mini-oidc/go.sum
Labels: Documentation

#468 Improve and document support for encrypted keys
  doc/.wordlist.txt
  doc/authentication.md
  doc/remotes.md
  shared/cliconfig/remote.go
  test/godeps.list
Labels: Documentation

#400 Add support for all-projects to incus image list and API
  client/incus_images.go
  client/interfaces.go
  client/simplestreams_images.go
  cmd/incus/image.go
  cmd/incusd/images.go
  doc/api-extensions.md
  doc/rest-api.yaml
  internal/server/db/images.go
  internal/version/api.go
  po/de.po
  po/es.po
  po/fr.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
  shared/api/image.go
Labels: Documentation, API

#496 doc/faq: Add mention of the -mtu network interfaces
  doc/faq.md
Labels: Documentation

#500 Make lvm.vg.force_reuse server-specific
  cmd/incus/completion.go
  cmd/incusd/patches.go
  doc/reference/storage_lvm.md
  internal/server/db/storage_pools.go
Labels: Documentation

#365 Add storage bucket backup
  client/incus_storage_buckets.go
  client/interfaces.go
  cmd/incus-agent/network.go
  cmd/incus/storage_bucket.go
  cmd/incusd/api_1.0.go
  cmd/incusd/backup.go
  cmd/incusd/storage_buckets.go
  cmd/incusd/storage_buckets_backup.go
  doc/api-extensions.md
  doc/rest-api.yaml
  internal/server/backup/backup_bucket.go
  internal/server/backup/backup_info.go
  internal/server/backup/config/backup_config.go
  internal/server/db/backups.go
  internal/server/db/cluster/schema.go
  internal/server/db/cluster/update.go
  internal/server/db/operationtype/operation_type.go
  internal/server/db/storage_buckets.go
  internal/server/lifecycle/storage_bucket_backup.go
  internal/server/project/project.go
  internal/server/storage/backend.go
  internal/server/storage/backend_mock.go
  internal/server/storage/pool_interface.go
  internal/server/storage/s3/transfer_manager.go
  internal/server/storage/utils.go
  internal/version/api.go
  po/de.po
  po/es.po
  po/fr.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
  shared/api/event_lifecycle.go
  shared/api/storage_pool_bucket_backup.go
  test/main.sh
  test/suites/storage_buckets.sh
Labels: Documentation, API, Incomplete

#512 Introduce clustered LVM (shared block storage)
  cmd/incus/admin_init_interactive.go
  cmd/lxd-to-incus/validate.go
  doc/api-extensions.md
  doc/explanation/storage.md
  doc/howto/disaster_recovery.md
  doc/howto/storage_volumes.md
  doc/reference/storage_lvm.md
  doc/rest-api.yaml
  internal/server/storage/drivers/driver_lvm.go
  internal/server/storage/drivers/driver_lvm_utils.go
  internal/server/storage/drivers/driver_lvm_volumes.go
  internal/server/storage/drivers/load.go
  internal/version/api.go
  po/de.po
  po/es.po
  po/fr.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
  shared/api/storage_pool.go
Labels: Documentation, API

#467 Prevent custom storage volumes of type block to be used more than once
  doc/api-extensions.md
  doc/reference/storage_btrfs.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_dir.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
  internal/server/device/config/devices.go
  internal/server/device/disk.go
  internal/server/storage/backend.go
  internal/server/storage/drivers/driver_common.go
  internal/server/storage/utils.go
  internal/version/api.go
Labels: Documentation, API

#519 Fix volatile key definitions
  doc/config_options.txt
  internal/instance/config.go
  internal/server/metadata/configuration.json
Labels: Documentation

#547 Assorted fixes and cleanups
  client/incus_network_peers.go
  cmd/incusd/network_peers.go
  internal/server/auth/authorization_objects.go
  internal/server/auth/authorization_types.go
  internal/server/db/generate/db/method.go
  internal/server/db/network_peers.go
  shared/api/network_allocation.go
Labels: API
