Repository lxc/incus, pull requests merged in 2024-01, with the labels that each got.

#354 Update architectures documentation
  doc/.wordlist.txt
  doc/architectures.md
Labels: Documentation

#355 doc/migrate_lxd: Add mention of CLI configuration
  doc/howto/server_migrate_lxd.md
Labels: Documentation

#384 Add virtio-blk support for virtual machines
  doc/api-extensions.md
  doc/reference/devices_disk.md
  internal/server/device/disk.go
  internal/server/instance/drivers/driver_qemu.go
  internal/version/api.go
  shared/idmap/set.go
Labels: Documentation, API

#403 Add support for `loki.instance`
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
  doc/api-extensions.md
  doc/config_options.txt
  grafana/incus.json
  internal/server/cluster/config/config.go
  internal/server/loki/loki.go
  internal/server/metadata/configuration.json
  internal/version/api.go
Labels: Documentation, API

#410 Add support for starting instances on creation
  cmd/incus/create.go
  cmd/incus/launch.go
  cmd/incusd/instances_post.go
  doc/api-extensions.md
  doc/rest-api.yaml
  internal/version/api.go
  po/de.po
  po/es.po
  po/fr.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
  shared/api/instance.go
Labels: Documentation, API

#407 Docs windows install update
  doc/.wordlist.txt
  doc/installing.md
Labels: Documentation, Incomplete

#408 Add `incus file create` subcommand
  cmd/incus/file.go
  po/de.po
  po/es.po
  po/fr.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
  test/suites/filemanip.sh
Labels: Incomplete

#416 Add note about scrape_interval and update examples
  doc/metrics.md
Labels: Documentation

#426 Introduce a runtime directory
  cmd/incusd/daemon.go
  cmd/incusd/instance_logs.go
  cmd/incusd/patches.go
  doc/reference/instance_options.md
  doc/rest-api.yaml
  internal/server/apparmor/instance.go
  internal/server/apparmor/instance_qemu.go
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
  internal/server/instance/instance_utils.go
  internal/server/seccomp/seccomp.go
  internal/server/sys/fs.go
  internal/server/sys/os.go
  internal/server/sys/testing.go
  internal/util/paths.go
Labels: Documentation, API

#428 Improve installation instructions
  doc/installing.md
  doc/tutorial/first_steps.md
Labels: Documentation

#427 Add support for multiple agent binaries
  doc/environment.md
  doc/packaging.md
  internal/server/apparmor/instance.go
  internal/server/apparmor/instance_qemu.go
  internal/server/instance/drivers/agent-loader/incus-agent
  internal/server/instance/drivers/agent-loader/incus-agent-setup
  internal/server/instance/drivers/agent-loader/install.sh
  internal/server/instance/drivers/agent-loader/systemd/incus-agent.rules
  internal/server/instance/drivers/agent-loader/systemd/incus-agent.service
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_config_test.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: Documentation

#433 Add more evacuate/shutdown options
  cmd/incusd/api_cluster.go
  cmd/incusd/instances.go
  doc/api-extensions.md
  doc/config_options.txt
  internal/instance/config.go
  internal/server/instance/drivers/driver_common.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/instance_interface.go
  internal/server/metadata/configuration.json
  internal/server/project/permissions.go
  internal/version/api.go
  scripts/bash/incus
Labels: Documentation, API

#432 doc/installing: Add Void Linux
  doc/installing.md
Labels: Documentation

#441 Cgroup controller detection tweaks
  doc/requirements.md
  internal/server/cgroup/abstraction.go
  internal/server/cgroup/init.go
  internal/server/db/warningtype/warning_type.go
Labels: Documentation

#443 doc/installing.md: add a gentoo-wiki link under Gentoo section
  doc/installing.md
Labels: Documentation

#446 Add support for an agent drive (ISO)
  doc/api-extensions.md
  doc/reference/devices_disk.md
  internal/server/device/disk.go
  internal/server/instance/drivers/agent-loader/incus-agent-setup
  internal/server/instance/drivers/qmp/commands.go
  internal/server/instance/drivers/qmp/monitor.go
  internal/server/project/permissions.go
  internal/version/api.go
Labels: Documentation, API

#456 Expose OVN logic router name in state API
  cmd/incus/network.go
  doc/api-extensions.md
  doc/rest-api.yaml
  internal/server/network/driver_ovn.go
  internal/version/api.go
  po/de.po
  po/es.po
  po/fr.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/zh_Hans.po
  shared/api/network.go
Labels: Documentation, API
