Repository lxc/incus, pull requests merged in 2025-04, with the labels that each got.

#1892 Update list of compresors
  cmd/incusd/api_project.go
  doc/config_options.txt
  internal/server/cluster/config/config.go
  internal/server/metadata/configuration.json
Labels: Documentation

#1896 docs: mDNS setup for cluster HA
  doc/.wordlist.txt
  doc/howto/cluster_access.md
Labels: Documentation

#1920 Add generated documentation for network bridge
  doc/config_options.txt
  doc/reference/network_bridge.md
  internal/server/metadata/configuration.json
  internal/server/network/driver_bridge.go
Labels: Documentation

#1922 doc: Use `$USER` instead of YOUR-USERNAME
  doc/tutorial/first_steps.md
Labels: Documentation

#1924 doc: Ignore link that's blocking Azure
  doc/conf.py
Labels: Documentation

#1926 Add generated documentation for network forwards
  doc/config_options.txt
  doc/howto/network_forwards.md
  internal/server/metadata/configuration.json
  internal/server/network/driver_common.go
Labels: Documentation

#1903 Add support for configurable logging targets
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
  doc/api-extensions.md
  doc/config_options.txt
  doc/howto/network_ovn_setup.md
  doc/metrics.md
  doc/server_config.md
  internal/server/cluster/config/config.go
  internal/server/config/logging.go
  internal/server/config/map.go
  internal/server/config/validators.go
  internal/server/events/internalListener.go
  internal/server/logging/common.go
  internal/server/logging/controller.go
  internal/server/logging/driver_loki.go
  internal/server/logging/driver_loki_batch.go
  internal/server/logging/driver_loki_types.go
  internal/server/logging/driver_syslog.go
  internal/server/logging/util.go
  internal/server/metadata/configuration.json
  internal/version/api.go
Labels: Documentation, API

#1929 Port tpm device documentation to gendoc
  doc/config_options.txt
  doc/reference/devices_tpm.md
  internal/server/device/tpm.go
  internal/server/metadata/configuration.json
Labels: Documentation

#1935 Implement SNAT as part of network forwards
  doc/.wordlist.txt
  doc/api-extensions.md
  doc/howto/network_forwards.md
  doc/rest-api.yaml
  internal/server/firewall/drivers/drivers_consts.go
  internal/server/firewall/drivers/drivers_nftables.go
  internal/server/firewall/drivers/drivers_nftables_templates.go
  internal/server/firewall/drivers/drivers_xtables.go
  internal/server/network/driver_bridge.go
  internal/server/network/driver_common.go
  internal/version/api.go
  shared/api/network_forward.go
Labels: Documentation, API

#1945 Memory hotplug support for VMs
  doc/api-extensions.md
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_config_test.go
  internal/server/instance/drivers/driver_qemu_templates.go
  internal/server/instance/drivers/qmp/commands.go
  internal/server/instance/drivers/util.go
  internal/server/instance/drivers/util_test.go
  internal/version/api.go
Labels: Documentation, API

#1953 Port `proxy` device documentation to `gendoc`
  doc/config_options.txt
  doc/reference/devices_proxy.md
  internal/server/device/proxy.go
  internal/server/metadata/configuration.json
Labels: Documentation

#1954 Port gpu device documentation to gendoc
  doc/config_options.txt
  doc/reference/devices_gpu.md
  internal/server/device/gpu_mdev.go
  internal/server/device/gpu_mig.go
  internal/server/device/gpu_physical.go
  internal/server/device/gpu_sriov.go
  internal/server/metadata/configuration.json
  shared/tls/cert.go
Labels: Documentation

#1956 Port nic device documentation to gendoc
  doc/config_options.txt
  doc/reference/devices_nic.md
  internal/server/device/nic_bridged.go
  internal/server/device/nic_ipvlan.go
  internal/server/device/nic_macvlan.go
  internal/server/device/nic_ovn.go
  internal/server/device/nic_p2p.go
  internal/server/device/nic_physical.go
  internal/server/device/nic_routed.go
  internal/server/device/nic_sriov.go
  internal/server/metadata/configuration.json
Labels: Documentation

#1962 Infiniband Device Documentation Ported to GenDoc
  doc/config_options.txt
  doc/reference/devices_infiniband.md
  internal/server/device/device_load.go
  internal/server/device/infiniband_physical.go
  internal/server/metadata/configuration.json
Labels: Documentation

#1973 shared/api/scriptlet: Add yaml struct tags
  shared/api/scriptlet/instance.go
Labels: API

#1983 Various fixes
  cmd/incus-benchmark/main_init.go
  cmd/incus-benchmark/main_launch.go
  cmd/incus/admin_init.go
  cmd/incus/admin_init_preseed.go
  cmd/incus/create.go
  cmd/incus/launch.go
  cmd/incus/main.go
  doc/cloud-init.md
  doc/howto/benchmark_performance.md
  doc/howto/cluster_groups.md
  doc/howto/cluster_manage_instance.md
  doc/howto/images_manage.md
  doc/howto/images_remote.md
  doc/howto/incus_alias.md
  doc/howto/instances_create.md
  doc/howto/instances_manage.md
  doc/howto/instances_routed_nic_vm.md
  doc/howto/network_ovn_setup.md
  doc/howto/projects_work.md
  doc/howto/server_migrate_lxd.md
  doc/howto/storage_linstor_setup.md
  doc/instance-exec.md
  doc/reference/image_format.md
  doc/reference/instance_options.md
  doc/requirements.md
  doc/tutorial/first_steps.md
  internal/server/network/driver_bridge.go
  internal/server/network/driver_ovn.go
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: Documentation

#1991 doc: Fix default value of ipv4.dhcp.gateway to IPv4 address
  doc/config_options.txt
  internal/server/metadata/configuration.json
  internal/server/network/driver_bridge.go
Labels: Documentation

#1992 doc: Fix default value of ipv6.routes network_bridge
  doc/config_options.txt
  internal/server/metadata/configuration.json
  internal/server/network/driver_bridge.go
Labels: Documentation

#1993 doc: Fix Debian 12 nickname
  doc/howto/instances_routed_nic_vm.md
Labels: Documentation

#1996 Port pci to gendoc
  doc/config_options.txt
  doc/reference/devices_infiniband.md
  doc/reference/devices_pci.md
  doc/reference/devices_tpm.md
  internal/server/device/device_load.go
  internal/server/device/infiniband_physical.go
  internal/server/device/pci.go
  internal/server/device/tpm.go
  internal/server/metadata/configuration.json
Labels: Documentation

#2004 Unify receiver types
  cmd/generate-database/db/mapping.go
  cmd/generate-database/db/stmt.go
  internal/server/dns/handler.go
  internal/server/storage/drivers/driver_zfs.go
  shared/api/instance.go
Labels: API

#2027 Port ovn network documentation to gendoc
  doc/config_options.txt
  doc/reference/network_ovn.md
  internal/server/metadata/configuration.json
  internal/server/network/driver_ovn.go
Labels: Documentation

#2030 Update gendoc for network_physical and network_bridge
  doc/config_options.txt
  doc/reference/network_bridge.md
  doc/reference/network_physical.md
  internal/server/metadata/configuration.json
  internal/server/network/driver_bridge.go
  internal/server/network/driver_physical.go
Labels: Documentation

#2009 incusd/server/device/nic_routed: Added host_tables
  doc/api-extensions.md
  doc/config_options.txt
  internal/server/device/nic_routed.go
  internal/server/metadata/configuration.json
  internal/server/network/driver_ovn.go
  internal/server/network/driver_physical.go
  internal/version/api.go
Labels: Documentation, API
