Repository lxc/incus, pull requests merged in 2025-03, with the labels that each got.

#1715 Move IOMMU handling under configuration option
  doc/.wordlist.txt
  doc/api-extensions.md
  doc/config_options.txt
  internal/instance/config.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_templates.go
  internal/server/metadata/configuration.json
  internal/version/api.go
Labels: Documentation, API

#1718 doc: Clarify virtiofsd requirements
  doc/requirements.md
Labels: Documentation

#1726 Fixed incus edk2 path overwrite issue
  internal/server/apparmor/instance.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/edk2/driver_edk2.go
  internal/server/instance/drivers/edk2/driver_edk2_test.go
Labels: Incomplete

#1732 Do not download instance types if cache loadable
  cmd/incusd/instance_instance_types.go
  doc/environment.md
Labels: Documentation

#1740 Clarify security.secureboot setting
  doc/config_options.txt
  internal/instance/config.go
  internal/server/metadata/configuration.json
Labels: Documentation

#1734 Allow announcing extra routes through DHCPv4
  .github/workflows/tests.yml
  cmd/incusd/main_forknet.go
  doc/.wordlist.txt
  doc/api-extensions.md
  doc/reference/network_bridge.md
  doc/reference/network_ovn.md
  internal/server/network/driver_bridge.go
  internal/server/network/driver_ovn.go
  internal/server/network/ovn/ovn_nb_actions.go
  internal/version/api.go
  shared/validate/validate.go
  test/main.sh
  test/suites/network_dhcp_routes.sh
Labels: Documentation, API

#1771 incusd/network/ovn: Keep getting router name when network none
  cmd/incus/network.go
  doc/api-extensions.md
  doc/rest-api.yaml
  internal/server/network/driver_ovn.go
  internal/server/resources/network.go
  internal/version/api.go
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/network.go
Labels: Documentation, API

#1767 incusd/instance/qemu: rtc base localtime for windows
  doc/.wordlist.txt
  doc/howto/instances_create.md
  internal/server/instance/drivers/driver_qemu.go
Labels: Documentation

#1739 Add option to configure DNS server for bridge and OVN networks
  doc/.wordlist.txt
  doc/api-extensions.md
  doc/reference/network_bridge.md
  doc/reference/network_ovn.md
  internal/server/network/driver_bridge.go
  internal/server/network/driver_ovn.go
  internal/server/network/ovn/ovn_nb_actions.go
  internal/version/api.go
Labels: Documentation, API

#1770 Use lego binary for http 01 challenge
  cmd/incusd/api_acme.go
  cmd/incusd/daemon.go
  doc/api-extensions.md
  doc/config_options.txt
  go.mod
  go.sum
  internal/ports/ports.go
  internal/server/acme/acme.go
  internal/server/acme/http-01-provider.go
  internal/server/acme/provider.go
  internal/server/acme/user.go
  internal/server/cluster/config/config.go
  internal/server/metadata/configuration.json
  internal/version/api.go
Labels: Documentation, API

#1775 Handle live migration between QEMU versions
  doc/config_options.txt
  internal/instance/config.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/instance/drivers/driver_qemu_templates.go
  internal/server/instance/drivers/qmp/commands.go
  internal/server/metadata/configuration.json
Labels: Documentation

#1776 Switch to new MAC address prefix
  cmd/incus/config.go
  cmd/incus/list.go
  cmd/incus/list_test.go
  cmd/lxc-to-incus/main_migrate_test.go
  doc/howto/disaster_recovery.md
  doc/howto/network_ipam.md
  doc/howto/network_ovn_setup.md
  doc/howto/network_zones.md
  doc/howto/server_expose.md
  doc/howto/server_migrate_lxd.md
  doc/rest-api.yaml
  internal/server/db/instances_test.go
  internal/server/endpoints/network_util_test.go
  internal/server/instance/instance_utils.go
  internal/server/network/network_utils.go
  po/de.po
  po/es.po
  po/fr.po
  po/id.po
  po/incus.pot
  po/it.po
  po/ja.po
  po/nb_NO.po
  po/nl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/ta.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/instance_state.go
  shared/api/network.go
  test/suites/container_devices_nic_bridged_filtering.sh
  test/suites/container_devices_nic_bridged_vlan.sh
Labels: Documentation, API

#1781 Add ipv4.dhcp.expiry option for ovn networks
  doc/api-extensions.md
  doc/reference/network_ovn.md
  internal/server/network/driver_ovn.go
  internal/version/api.go
Labels: Documentation, API

#1807 Add allocated CPU time to instance state
  doc/api-extensions.md
  doc/rest-api.yaml
  internal/server/cgroup/abstraction.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/instance/drivers/driver_qemu.go
  internal/version/api.go
  shared/api/instance_state.go
  test/suites/basic.sh
Labels: Documentation, API

#1820 incusd/instance/qemu enable s4 by default
  doc/reference/instance_options.md
  internal/server/instance/drivers/driver_qemu_config_test.go
  internal/server/instance/drivers/driver_qemu_templates.go
Labels: Documentation

#1814 Add support for USB NICs
  doc/api-extensions.md
  doc/reference/devices_nic.md
  internal/server/device/config/device_runconfig.go
  internal/server/device/nic.go
  internal/server/device/nic_bridged.go
  internal/server/device/nic_macvlan.go
  internal/server/device/nic_p2p.go
  internal/server/device/nic_routed.go
  internal/server/instance/drivers/driver_qemu.go
  internal/version/api.go
Labels: Documentation, API

#1830 Update Debian installation documentation
  doc/installing.md
Labels: Documentation

#1831 Various fixes from address set PR
  cmd/incusd/daemon.go
  doc/howto/network_integrations.md
  internal/server/auth/authorization.go
  internal/server/auth/driver_openfga.go
  internal/server/db/cluster/entities.go
Labels: Documentation

#1835 Add `io.bus=usb` for disks
  doc/api-extensions.md
  doc/config_options.txt
  internal/server/device/disk.go
  internal/server/instance/drivers/driver_qemu.go
  internal/server/metadata/configuration.json
  internal/version/api.go
Labels: Documentation, API

#1846 Fixes from Linstor branch
  doc/reference/storage_ceph.md
  test/suites/clustering.sh
  test/suites/incremental_copy.sh
  test/suites/projects.sh
  test/suites/storage.sh
Labels: Documentation

#1621 Add `linstor` storage driver
  .github/workflows/tests.yml
  cmd/incusd/api_1.0.go
  cmd/incusd/daemon.go
  doc/.wordlist.txt
  doc/api-extensions.md
  doc/config_options.txt
  doc/explanation/storage.md
  doc/howto/storage_linstor_setup.md
  doc/reference/storage_drivers.md
  doc/reference/storage_linstor.md
  doc/reference/storage_linstor_internals.md
  go.mod
  go.sum
  internal/migration/migrate.pb.go
  internal/migration/migrate.proto
  internal/server/cluster/config/config.go
  internal/server/metadata/configuration.json
  internal/server/node/config.go
  internal/server/state/state.go
  internal/server/storage/drivers/driver_linstor.go
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
  internal/server/storage/drivers/load.go
  internal/server/storage/linstor/linstor.go
  internal/version/api.go
  test/backends/linstor.sh
  test/includes/clustering.sh
  test/includes/incusd.sh
  test/includes/storage.sh
  test/main.sh
  test/suites/backup.sh
  test/suites/basic.sh
  test/suites/clustering.sh
  test/suites/container_move.sh
  test/suites/migration.sh
  test/suites/snapshots.sh
  test/suites/storage.sh
  test/suites/storage_buckets.sh
  test/suites/storage_driver_linstor.sh
  test/suites/storage_local_volume_handling.sh
  test/suites/storage_snapshots.sh
Labels: Documentation, API

#1848 Add `linstor.remove_snapshots` config option
  doc/reference/storage_linstor.md
  internal/server/storage/drivers/driver_linstor_utils.go
  internal/server/storage/drivers/driver_linstor_volumes.go
  test/suites/storage_driver_linstor.sh
Labels: Documentation

#1845 OCI entrypoint configuration
  cmd/incusd/instance.go
  doc/api-extensions.md
  doc/config_options.txt
  internal/instance/config.go
  internal/server/instance/drivers/driver_lxc.go
  internal/server/metadata/configuration.json
  internal/version/api.go
Labels: Documentation, API

#1857 doc: Fix config option reference on LINSTOR driver
  doc/reference/storage_linstor.md
Labels: Documentation

#1862 Docs: correct restriction on `path` option
  doc/config_options.txt
  internal/server/device/disk.go
  internal/server/metadata/configuration.json
Labels: Documentation

#1868 doc: Tweak ACME documentation
  doc/authentication.md
Labels: Documentation
